demo:-my-first-ai-agent-in-n8n-enm2XyBQRJCwZIrM.json
{"createdAt":"2025-07-23T02:26:38.102Z","updatedAt":"2025-08-11T17:20:22.207Z","id":"enm2XyBQRJCwZIrM","name":"Demo: My first AI Agent in n8n","active":false,"isArchived":true,"nodes":[{"parameters":{"options":{}},"id":"b24b05a7-d802-4413-bfb1-23e1e76f6203","name":"When chat message received","type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.1,"position":[-80,48],"webhookId":"a889d2ae-2159-402f-b326-5f61e90f602e"},{"parameters":{"content":"## Start by saying 'hi'\n![Button](https://i.imgur.com/PrIBJI6.png)","height":149,"width":150},"id":"5592c045-6718-4c4e-9961-ce67a251b6df","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[192,-48]},{"parameters":{"modelId":{"__rl":true,"value":"models/gemini-2.0-flash","mode":"list","cachedResultName":"models/gemini-2.0-flash"},"messages":{"values":[{"content":"={{ $json.chatInput }}"},{"content":"lấy city trong câu hỏi, dùng tool lấy dữ liệu để trả lời"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.googleGemini","typeVersion":1,"position":[384,96],"id":"439ac9f1-7dd2-4e3e-a2e1-7146eaeb3dbe","name":"Message a model","credentials":{"googlePalmApi":{"id":"BmSJpQbzqh1rnp4z","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"cityName":"={{ $fromAI('City') }}"},"type":"n8n-nodes-base.openWeatherMapTool","typeVersion":1,"position":[544,272],"id":"688126c7-787c-4b2b-9274-bbbc5af8f2cd","name":"OpenWeatherMap","credentials":{"openWeatherMapApi":{"id":"ZzrQ55ZwPKAD8C4E","name":"OpenWeatherMap account"}}},{"parameters":{},"type":"n8n-nodes-zalo-tools.zaloMessageTrigger","typeVersion":1,"position":[704,256],"id":"f914db3c-5961-46aa-98b8-f0c2f0fe1132","name":"Zalo Message Trigger","webhookId":"6f3dfd26-5c07-4c1d-8773-88044afa1f0a","credentials":{"zaloApi":{"id":"lhSbaenOEqGYhEZg","name":"Zalo API Credentials"}}},{"parameters":{"resource":"image","operation":"analyze","modelId":{"__rl":true,"value":"models/gemini-2.5-flash","mode":"list","cachedResultName":"models/gemini-2.5-flash"},"text":"Có gì trong ảnh này\nnếu là phương tiện di chuyển thì phản hồi xe loại gì (ô tô hay xe máy), biển số xe bao nhiêu","imageUrls":"={{ $json.message.data.content.href }}","options":{}},"type":"@n8n/n8n-nodes-langchain.googleGemini","typeVersion":1,"position":[1088,224],"id":"f97941b3-2f2b-4374-b170-6ae246a37cea","name":"Analyze image","credentials":{"googlePalmApi":{"id":"BmSJpQbzqh1rnp4z","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"resource":"image","modelId":{"__rl":true,"value":"models/gemini-2.0-flash-exp-image-generation","mode":"list","cachedResultName":"models/gemini-2.0-flash-exp-image-generation"},"prompt":"tạo hình ảnh 3d một chú mèo dễ thương đang vui chơi ở bãi biển","options":{}},"type":"@n8n/n8n-nodes-langchain.googleGemini","typeVersion":1,"position":[1138,224],"id":"b94a1752-fc5d-423c-8a6b-b9234fa9bfe0","name":"Generate an image","credentials":{"googlePalmApi":{"id":"BmSJpQbzqh1rnp4z","name":"Google Gemini(PaLM) Api account"}}}],"connections":{"When chat message received":{"main":[[]]},"OpenWeatherMap":{"ai_tool":[[{"node":"Message a model","type":"ai_tool","index":0}]]},"Zalo Message Trigger":{"main":[[{"node":"Analyze image","type":"main","index":0}]]},"Analyze image":{"main":[[{"node":"Generate an image","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateId":"self-building-ai-agent","templateCredsSetupCompleted":true},"pinData":{},"versionId":"517685cb-9cf5-4532-a530-ad8dec304bb1","triggerCount":0,"shared":[{"createdAt":"2025-07-23T02:26:38.102Z","updatedAt":"2025-07-23T02:26:38.102Z","role":"workflow:owner","workflowId":"enm2XyBQRJCwZIrM","projectId":"Bsx4kBdHQHZGGC5J"}],"tags":[]}