dowload-yfYmRquBuFeP916Z.json
{"createdAt":"2025-08-03T13:08:25.255Z","updatedAt":"2025-08-25T17:58:30.547Z","id":"yfYmRquBuFeP916Z","name":"Dowload","active":false,"isArchived":false,"nodes":[{"parameters":{"workflowInputs":{"values":[{"name":"idfile","type":"any"},{"name":"idzalo","type":"any"}]}},"id":"61148462-31b4-41a0-8a2b-d5ef5e2721a6","typeVersion":1.1,"name":"Start","type":"n8n-nodes-base.executeWorkflowTrigger","position":[-96,0]},{"parameters":{"jsCode":"// Lấy key của binary data (thường là \"data\")\nconst binaryPropertyName = Object.keys($input.item.binary)[0];\n\n// Lấy thông tin metadata của binary data\nconst binaryData = $input.item.binary[binaryPropertyName];\n\n// Lấy tên file từ metadata\nconst fileName = binaryData.fileName || \"unknown-file\";\nconst fileExtension = binaryData.fileExtension || \"\";\nconst mimeType = binaryData.mimeType;\n\n// Tạo ngày tháng với định dạng DD-MM-YYYY\nconst now = new Date();\nconst day = String(now.getDate()).padStart(2, '0');\nconst month = String(now.getMonth() + 1).padStart(2, '0');\nconst year = now.getFullYear();\nconst formattedDate = `${day}-${month}-${year}`;\n\n// Tạo tên file với định dạng ngày tháng mới\nconst fullFileName = `${formattedDate}-${fileName}`;\n\n// Trả về kết quả\nreturn {\n  json: {\n    originalFileName: fileName,\n    extension: fileExtension,\n    mimeType: mimeType,\n    fullFileName: fullFileName,\n    savePath: `/config/n8n/${fullFileName}`\n  },\n  // Quan trọng: Giữ nguyên binary data để chuyển đến node tiếp theo\n  binary: $input.item.binary\n}\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[368,0],"id":"7b128d4d-f5de-4587-86b5-d531219a01ae","name":"Code"},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"={{ $json.idfile }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[160,0],"id":"2ce2316f-bd6d-4138-8a68-018c5576cc15","name":"get file","credentials":{"googleDriveOAuth2Api":{"id":"LqceacVZayCNzphl","name":"nguyenvanviet"}}},{"parameters":{"operation":"write","fileName":"={{ $json.savePath }}","options":{}},"type":"n8n-nodes-base.readWriteFile","typeVersion":1,"position":[560,0],"id":"12f04a9f-d272-4fd4-8953-9d27f5bd38b8","name":"save file"},{"parameters":{"resource":"service","operation":"call","domain":"zalo_bot","service":"send_file","serviceAttributes":{"attributes":[{"name":"thread_id","value":"={{ $('Start').item.json.idzalo }}"},{"name":"account_selection","value":"+84947762285"},{"name":"type","value":"1"},{"name":"file_path_or_url","value":"={{ $json.savePath }}"}]}},"type":"n8n-nodes-base.homeAssistant","typeVersion":1,"position":[768,-16],"id":"dc71bf4c-e8ce-4421-acb9-faf0599a730d","name":"sent file","credentials":{"homeAssistantApi":{"id":"1lV5PEu2rtjuQlDB","name":"Home Assistant account"}}}],"connections":{"Start":{"main":[[{"node":"get file","type":"main","index":0}]]},"Code":{"main":[[{"node":"save file","type":"main","index":0}]]},"get file":{"main":[[{"node":"Code","type":"main","index":0}]]},"save file":{"main":[[{"node":"sent file","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"94afb7c9-f560-4112-9d84-5295a6df582d","triggerCount":0,"shared":[{"createdAt":"2025-08-03T13:08:25.255Z","updatedAt":"2025-08-03T13:08:25.255Z","role":"workflow:owner","workflowId":"yfYmRquBuFeP916Z","projectId":"Bsx4kBdHQHZGGC5J"}],"tags":[]}