facebook3-DAOB8ZYPK5fJZCXH.json
{"createdAt":"2025-08-11T17:40:39.223Z","updatedAt":"2025-08-28T17:08:02.180Z","id":"DAOB8ZYPK5fJZCXH","name":"facebook3","active":false,"isArchived":true,"nodes":[{"parameters":{"rule":{"interval":[{"field":"minutes","minutesInterval":30}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-2064,1120],"id":"2afb2296-2a8e-48bc-90d2-9063a6dcfb97","name":"Schedule Trigger"},{"parameters":{"authentication":"oAuth2","resource":"folder","operation":"list","path":"/SIEU VIET MS/Sản phẩm/Đăng bài tự động","returnAll":true,"filters":{"recursive":true}},"type":"n8n-nodes-base.dropbox","typeVersion":1,"position":[-1696,960],"id":"a2ec8471-eaaa-4f51-832b-362abc392f3a","name":"Dropbox"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-1776,1168],"id":"6ec4bdad-10ba-4cda-a2bb-b1d8792ea19f","name":"Loop Over Items"},{"parameters":{"authentication":"serviceAccount","documentId":"REDACTED","sheetName":"REDACTED","options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[-1664,784],"id":"a9d58a7e-dcb7-42ec-a737-b952456f6ff9","name":"Google Sheets"},{"parameters":{"assignments":{"assignments":[{"id":"REDACTED","name":"name","value":"={{ $json['Tên thư mục Dropbox'] }}","type":"string"},{"id":"REDACTED","name":"Nội dung đăng","value":"={{ $json['Nội dung đăng'] }}","type":"string"},{"id":"REDACTED","name":"Loại máy","value":"={{ $json['Loại máy'] }}","type":"string"},{"id":"REDACTED","name":"Page","value":"={{ $json.Page }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1264,784],"id":"a07abe60-6560-465c-9fd1-a255dd41e021","name":"Edit Fields"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"REDACTED","leftValue":"={{ $json.type }}","rightValue":"folder","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1488,960],"id":"7dec859b-343b-427e-8f8c-6f64b36c3552","name":"If is a folder"},{"parameters":{"jsCode":"// n8n Code node – lọc & tách dữ liệu từ tên thư mục\n\nconst TZ_OFFSET = '+07:00';          // đổi nếu server không ở VN\n\nconst regex = /^(\\d{4})\\.(\\d{2})\\.(\\d{2})\\s+(\\d{1,2})h(\\d{2})\\s*-\\s*(.+)$/;\nconst filtered = [];\n\nfor (const item of items) {\n\tconst name = item.json.name || '';\n\tconst m = name.match(regex);\n\tif (!m) continue;                 // sai định dạng → bỏ\n\n\tconst [\n\t\t, year, month, day,\n\t\thRaw, minute, machineTypeRaw,\n\t] = m;\n\n\tconst hour = hRaw.padStart(2, '0');\n\tconst postingDate   = `${day}/${month}/${year}`;             // 26/05/2025\n\tconst postingTime   = `${hour}:${minute}`;                   // 18:00\n\tconst isoSchedule   = `${year}-${month}-${day}T${hour}:${minute}:00${TZ_OFFSET}`;\n\tconst unixSchedule  = Math.floor(new Date(isoSchedule).getTime() / 1000);\n\n\tfiltered.push({\n\t\tjson: {\n\t\t\t...item.json,                 // giữ lại thông tin gốc (id, path…)\n\t\t\tpostingDate,\n\t\t\tpostingTime,\n\t\t\tmachineType: machineTypeRaw.trim(),\n\t\t\tisoSchedule,\n\t\t\tunixSchedule,\n\t\t},\n\t});\n}\n\nreturn filtered;          // chỉ những folder đạt chuẩn mới đi tiếp\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1184,944],"id":"68f4b288-4698-4a9d-9544-bf89f9658166","name":"Phân tích folder name"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.caseType }}","rightValue":"FEED_VID","operator":{"type":"string","operation":"equals"},"id":"REDACTED"}],"combinator":"and"},"renameOutput":true,"outputKey":"Có Video"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"REDACTED","leftValue":"={{ $json.caseType }}","rightValue":"FEED_IMG","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Chỉ Ảnh"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-464,1168],"id":"6143fed2-3abe-42fc-b8dd-d1a4241cbac0","name":"Switch"},{"parameters":{"mode":"combine","combineBy":"combineAll","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[-160,1904],"id":"943c8878-dad1-44d5-b979-b709caf1422d","name":"Merge1"},{"parameters":{"fieldToSplitOut":"Page Name","include":"allOtherFields","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-720,1520],"id":"107796d2-c608-4870-8b3b-36d00b23fed8","name":"Split Out"},{"parameters":{"mode":"combine","fieldsToMatchString":"name","joinMode":"keepNonMatches","outputDataFrom":"input2","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[-944,944],"id":"acecb5e9-1fa2-4491-a0c5-373cc641855f","name":"Kiểm tra folder đã đăng"},{"parameters":{"authentication":"oAuth2","resource":"folder","operation":"list","path":"={{ $json.pathDisplay }}","returnAll":true,"filters":{"recursive":true}},"type":"n8n-nodes-base.dropbox","typeVersion":1,"position":[-1568,1248],"id":"d03d8960-ff9f-4761-8e2d-37b152a53417","name":"Dropbox1"},{"parameters":{"jsCode":"/************  CẤU HÌNH  ************/\nconst CAPTION_TXT = 'nội dung.txt';\nconst FOLDER_RE   = /(\\d{4})\\.(\\d{2})\\.(\\d{2})\\s+(\\d{1,2})h(\\d{2})/i;\nconst VIDEO_EXT   = ['mp4','mov','mkv','avi'];\nconst IMAGE_EXT   = ['jpg','jpeg','png','gif','webp'];\n/************************************/\nconst norm  = s => s.trim().toLowerCase().normalize('NFC');\nconst extOf = n => n.split('.').pop().toLowerCase();\nconst isVid = e => VIDEO_EXT.includes(e);\nconst isImg = e => IMAGE_EXT.includes(e);\n\n/* ---------- 1. Gom dữ liệu từ Dropbox ---------- */\nconst raw = $input.all();\nif (raw.length === 0) return [];\n\nconst folderPathDisplay = raw[0].json.pathDisplay || raw[0].json.path_display || '';\nconst folderName = decodeURIComponent(folderPathDisplay.split('/').pop() || '');\n\nlet captionFile = null;\nconst files = [];\n\nfor (const it of raw){\n  const n = norm(it.json.name || '');\n  const e = extOf(it.json.name || '');\n  if (n === norm(CAPTION_TXT)) captionFile = it;\n  else if (isVid(e) || isImg(e)){\n    files.push({\n      name       : it.json.name,\n      dropboxPath: it.json.pathLower,\n      type       : isVid(e) ? 'video' : 'image',\n    });\n  }\n}\n\n/* ---------- 2. Parse thời gian ---------- */\nconst m = folderName.match(FOLDER_RE);\nif (!m) throw new Error(`Folder name sai định dạng: «${folderName}»`);\nconst [ , y, M, D, h, i ] = m;\n\nconst postDateRaw = `${y}-${M}-${D}T${h.padStart(2,'0')}:${i}:00+07:00`;\nconst scheduledAt = Math.floor(new Date(postDateRaw).getTime()/1000);\nconst ngay_dang   = `${D}/${M}/${y}`;\nconst gio_dang    = `${h.padStart(2,'0')}h${i}`;\n\n/* ---------- 3. Xác định loại media ---------- */\nconst hasVideo = files.some(f => f.type === 'video');\nconst hasImage = files.some(f => f.type === 'image');\nconst caseType = hasVideo ? 'FEED_VID' : 'FEED_IMG';\nconst finalFiles = hasVideo ? files.filter(f => f.type === 'video') : files;\n\n/* ---------- 4. Lấy machineType ---------- */\nconst machineType =\n      $json.machineType                         // nếu node trước đã có\n      || folderName.split(' - ').slice(1).join(' - ').trim();  // phần sau dấu “-”\n\n/* ---------- 5. Trả kết quả ---------- */\nreturn [{\n  json: {\n    ...$json,                      // giữ lại ID Page, Token, caption, …\n    folderName,\n    captionFound : !!captionFile,\n    captionPath  : captionFile ? captionFile.json.pathLower : null,\n    files        : finalFiles,\n    hasImage, hasVideo, caseType,\n    postDateRaw, scheduledAt,\n    ngay_dang, gio_dang,\n    machineType                    // luôn có\n  }\n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1344,1248],"id":"15454f33-0e51-4918-b2dd-29d2920f92fe","name":"Code"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"REDACTED","leftValue":"={{ $json.captionFound }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1120,1248],"id":"84cf6a16-ee1b-4028-b05b-f08e76352948","name":"If"},{"parameters":{"authentication":"oAuth2","operation":"download","path":"={{ $json.captionPath }}"},"type":"n8n-nodes-base.dropbox","typeVersion":1,"position":[-880,1232],"id":"2c9cd9f0-a3de-4047-a087-f476d3955555","name":"Dropbox2"},{"parameters":{"operation":"text","destinationKey":"noidung","options":{"keepSource":"json"}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[-656,1232],"id":"12595b40-bd24-4bf3-80ed-5441e6dbd8de","name":"Extract from File"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[288,2368],"id":"c59d5aa6-55de-4f80-ae6b-63e4fff0c583","name":"Loop Over Items1"},{"parameters":{"fieldToSplitOut":"files","include":"allOtherFields","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[544,2384],"id":"200c5057-c53d-4f9f-8aa4-177dfb1cca25","name":"Split Out1"},{"parameters":{"authentication":"oAuth2","operation":"download","path":"={{ $json.files.dropboxPath }}"},"type":"n8n-nodes-base.dropbox","typeVersion":1,"position":[768,2384],"id":"055a1352-e6db-4c31-9218-e1562845847d","name":"Download ảnh"},{"parameters":{"method":"POST","url":"=https://graph.facebook.com/v23.0/{{ $json['ID Page'] }}/photos","sendQuery":true,"queryParameters":{"parameters":[{"name":"access_token","value":"={{ $json['Access Token'] }}"},{"name":"published","value":"false"}]},"sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"parameterType":"formBinaryData","name":"source","inputDataFieldName":"data"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[960,2384],"id":"51d9a7b3-ec7e-42b0-b184-67206f252976","name":"UploadToPhotos"},{"parameters":{"jsCode":"return [{\n  json: {\n    attached_media: $input.all().map(item => ({\n      media_fbid: item.json.id || item.json.media_fbid\n    }))\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1264,2384],"id":"92645873-5c83-430a-8c26-3a1ece86f6d3","name":"Merge Photo Ids"},{"parameters":{"method":"POST","url":"=https://graph.facebook.com/v23.0/{{ $json['ID Page'] }}/feed","sendQuery":true,"queryParameters":{"parameters":[{"name":"access_token","value":"={{ $json['Access Token'] }}"},{"name":"message","value":"={{ $json.noidung }}"},{"name":"attached_media","value":"={{ JSON.stringify($json.attached_media) }}"},{"name":"published","value":"false"},{"name":"REDACTED","value":"={{ $json.scheduledAt }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1840,2400],"id":"d1fd691d-f658-400d-a877-81c92ac5f922","name":"Post Feed"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[528,2528],"id":"ba96aa96-5058-44ca-bf66-5f7cb80fb7fd","name":"No Operation, do nothing"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[1168,2528],"id":"0b7cc39b-ddb3-457d-8ebb-035d154df69c","name":"No Operation, do nothing1"},{"parameters":{"mode":"combine","combineBy":"combineAll","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[1584,2400],"id":"3f5091f0-a2ca-4cb9-8f11-d1ccb4995b5c","name":"Merge"},{"parameters":{"url":"=https://graph.facebook.com/v23.0/{{$node[\"Post Feed\"].json[\"id\"]}}","sendQuery":true,"queryParameters":{"parameters":[{"name":"fields","value":"permalink_url,is_published,created_time"},{"name":"access_token","value":"={{ $('Merge').item.json['Access Token'] }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2080,2400],"id":"ff3b6d00-1562-4367-ad7c-e46051e59a0c","name":"GetPermalink"},{"parameters":{"workflowId":{"__rl":true,"value":"A85aJgO0FrkD0lL2","mode":"list","cachedResultName":"Sub-workflow  Post Story"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{"waitForSubWorkflow":false}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[640,2144],"id":"3e87211f-0810-4a17-9709-e8beab43ab29","name":"Execute Workflow"},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[2832,2432],"id":"e2d9b184-6d06-4fd6-a5d8-1255a490e149","name":"Merge3"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"REDACTED","leftValue":"={{ $json.row_number }}","rightValue":"","operator":{"type":"number","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[3424,2480],"id":"52a25e9c-e912-4a97-93ab-f89c5c58c0a5","name":"If1"},{"parameters":{"jsCode":"/**\n * ChooseEmptySlot – n8n v1.97\n *   ▸ Gán slot (1/2/3) cho từng bài post dựa trên dòng đã có trong Sheet\n *   ▸ Nếu đầy 3 slot → trả [] để nhánh sau dừng\n */\n\nconst items = $input.all();                          // ① tất cả item\n\n// ② item chứa row_number (kết quả lookup)\nconst existing = items.find(i => i.json.row_number !== undefined);\nconst rowData  = existing ? existing.json : {};\nconst rowNum   = existing?.json.row_number;          // undefined ↔ Append\n\n// ③ hàm rỗng (null, undefined, '', '   ')\nconst isEmpty = v => v == null || String(v).trim() === '';\n\n// ④ tìm slot còn trống (Page & Link đều rỗng)\nconst emptySlots = [];\nif (isEmpty(rowData['Page 1']) && isEmpty(rowData['Link 1'])) emptySlots.push(1);\nif (isEmpty(rowData['Page 2']) && isEmpty(rowData['Link 2'])) emptySlots.push(2);\nif (isEmpty(rowData['Page 3']) && isEmpty(rowData['Link 3'])) emptySlots.push(3);\n\n// ⑤ hết chỗ → dừng nhánh\nif (emptySlots.length === 0) return [];\n\n// ⑥ gán slot lần lượt cho các bài post\nlet i = 0;\nreturn items\n  .filter(it => it.json.permalink_url)               // chỉ giữ bài post\n  .map(it => ({\n    json: {\n      ...it.json,\n      slot: emptySlots[i++],                          // 1 → 2 → 3\n      row_number: rowNum                              // undefined | số\n    }\n  }));\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[3072,2320],"id":"4d3f5f28-86a5-40a8-85d1-32c8007cfa7f","name":"ChooseEmptySlot"},{"parameters":{"authentication":"serviceAccount","documentId":"REDACTED","sheetName":"REDACTED","filtersUI":{"values":[{"lookupColumn":"Tên thư mục Dropbox","lookupValue":"={{ $json.folderName.trim() }}"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[2592,2512],"id":"6ca2e791-f606-44e6-972e-f5abbbe01cb7","name":"Kiểm tra google sheets"},{"parameters":{"authentication":"serviceAccount","operation":"append","documentId":"REDACTED","sheetName":"REDACTED","columns":{"mappingMode":"defineBelow","value":{"Ngày đăng":"={{ $json.ngay_dang }}","Giờ đăng":"={{ $json.gio_dang }}","Tên thư mục Dropbox":"={{ $json.folderName }}","Nội dung đăng":"={{ $json.noidung }}","STT":"==ROW()-1","Loại máy":"={{ $json.machineType }}","Link Dropbox":"={{ $json.pathDisplay }}","Page 1":"={{ $json.pagename }}","Link 1":"={{ $json.permalink_url }}","Story":"={{ $json.Dadangstory }}"},"matchingColumns":[],"schema":[{"id":"REDACTED","displayName":"STT","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"REDACTED","displayName":"Ngày đăng","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"REDACTED","displayName":"Giờ đăng","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"REDACTED","displayName":"Tên thư mục Dropbox","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"REDACTED","displayName":"Nội dung đăng","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"REDACTED","displayName":"Loại máy","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"REDACTED","displayName":"Page 1","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"REDACTED","displayName":"Link 1","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"REDACTED","displayName":"Page 2","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"REDACTED","displayName":"Link 2","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"REDACTED","displayName":"Page 3","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"REDACTED","displayName":"Link 3","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"REDACTED","displayName":"Story","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"REDACTED","displayName":"Link Dropbox","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[3744,2512],"id":"a3b46cb9-071e-4383-ab0e-7803c5b02350","name":"Thêm dòng"},{"parameters":{"authentication":"serviceAccount","operation":"update","documentId":"REDACTED","sheetName":"REDACTED","columns":{"mappingMode":"autoMapInputData","value":{"Tên thư mục Dropbox":"={{ $json[\"Tên thư mục Dropbox\"] }}"},"matchingColumns":["Tên thư mục Dropbox"],"schema":[{"id":"REDACTED","displayName":"STT","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"REDACTED","displayName":"Ngày đăng","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"REDACTED","displayName":"Giờ đăng","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"REDACTED","displayName":"Tên thư mục Dropbox","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"REDACTED","displayName":"Nội dung đăng","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"REDACTED","displayName":"Loại máy","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"REDACTED","displayName":"Page 1","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"REDACTED","displayName":"Link 1","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"REDACTED","displayName":"Page 2","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"REDACTED","displayName":"Link 2","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"REDACTED","displayName":"Page 3","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"REDACTED","displayName":"Link 3","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"REDACTED","displayName":"Link Dropbox","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"REDACTED","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[3888,2320],"id":"b6afe79f-b5ff-4aa7-a09d-9da989f07f77","name":"Cập nhật link","alwaysOutputData":true},{"parameters":{"numberInputs":3},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[4064,2640],"id":"45bf6126-f53e-4b2b-bb89-6a816d5b372f","name":"Kết loop"},{"parameters":{"authentication":"serviceAccount","documentId":"REDACTED","sheetName":"REDACTED","options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[-1840,1520],"id":"0e98bdc9-ec3b-4b13-8e90-3bd52ec33597","name":"Lấy access token"},{"parameters":{"assignments":{"assignments":[{"id":"REDACTED","name":"Tên thư mục Dropbox","value":"={{ $json.folderName }}","type":"string"},{"id":"REDACTED","name":"Page 1","value":"={{ $json.slot === 1 ? $json.pagename : undefined }}","type":"string"},{"id":"REDACTED","name":"Link 1","value":"={{ $json.slot === 1 ? $json.permalink_url : undefined }}","type":"string"},{"id":"REDACTED","name":"Page 2","value":"={{ $json.slot === 2 ? $json.pagename : undefined }}","type":"string"},{"id":"REDACTED","name":"Link 2","value":"={{ $json.slot === 2 ? $json.permalink_url : undefined }}","type":"string"},{"id":"REDACTED","name":"Page 3","value":"={{ $json.slot === 3 ? $json.pagename : undefined }}","type":"string"},{"id":"REDACTED","name":"Link 3","value":"={{ $json.slot === 3 ? $json.permalink_url : undefined }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[3664,2320],"id":"7d1c2e6a-9ee0-452c-8346-6fb8c7e3fbb5","name":"Edit Fields2"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[224,1168],"id":"2e96c17e-659e-426f-8aeb-8d1b7b33fe94","name":"Loop Over Items2"},{"parameters":{"method":"POST","url":"https://api.dropboxapi.REDACTED","authentication":"REDACTED","sendBody":true,"bodyParameters":{"parameters":[{"name":"path","value":"={{ $json.files[0].dropboxPath }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-224,32],"id":"fefdcb12-4f7c-4f28-930c-76f63389c4a5","name":"GetTempLink"},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[3744,1504],"id":"314b38f3-37ce-438e-8d6d-2152644becb3","name":"Merge5"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"REDACTED","leftValue":"={{ $json.row_number }}","rightValue":"","operator":{"type":"number","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[4192,1472],"id":"d362021e-8be3-4cfb-a25e-b51a7b5e4628","name":"If2"},{"parameters":{"jsCode":"/**\n * ChooseEmptySlot – n8n v1.97\n *   ▸ Gán slot (1/2/3) cho từng bài post dựa trên dòng đã có trong Sheet\n *   ▸ Nếu đầy 3 slot → trả [] để nhánh sau dừng\n */\n\nconst items = $input.all();                          // ① tất cả item\n\n// ② item chứa row_number (kết quả lookup)\nconst existing = items.find(i => i.json.row_number !== undefined);\nconst rowData  = existing ? existing.json : {};\nconst rowNum   = existing?.json.row_number;          // undefined ↔ Append\n\n// ③ hàm rỗng (null, undefined, '', '   ')\nconst isEmpty = v => v == null || String(v).trim() === '';\n\n// ④ tìm slot còn trống (Page & Link đều rỗng)\nconst emptySlots = [];\nif (isEmpty(rowData['Page 1']) && isEmpty(rowData['Link 1'])) emptySlots.push(1);\nif (isEmpty(rowData['Page 2']) && isEmpty(rowData['Link 2'])) emptySlots.push(2);\nif (isEmpty(rowData['Page 3']) && isEmpty(rowData['Link 3'])) emptySlots.push(3);\n\n// ⑤ hết chỗ → dừng nhánh\nif (emptySlots.length === 0) return [];\n\n// ⑥ gán slot lần lượt cho các bài post\nlet i = 0;\nreturn items\n  .filter(it => it.json.permalink_url)               // chỉ giữ bài post\n  .map(it => ({\n    json: {\n      ...it.json,\n      slot: emptySlots[i++],                          // 1 → 2 → 3\n      row_number: rowNum                              // undefined | số\n    }\n  }));\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[3984,1472],"id":"e742086d-7934-432e-97fb-95e111adc199","name":"ChooseEmptySlot1"},{"parameters":{"authentication":"serviceAccount","documentId":"REDACTED","sheetName":"REDACTED","filtersUI":{"values":[{"lookupColumn":"Tên thư mục Dropbox","lookupValue":"={{ $json.folderName.trim() }}"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[3584,1584],"id":"d1aed615-8db5-4cef-96c0-a5370487576f","name":"Kiểm tra google sheets1"},{"parameters":{"authentication":"serviceAccount","operation":"append","documentId":"REDACTED","sheetName":"REDACTED","columns":{"mappingMode":"defineBelow","value":{"Ngày đăng":"={{ $json.ngay_dang }}","Giờ đăng":"={{ $json.gio_dang }}","Tên thư mục Dropbox":"={{ $json.folderName }}","Nội dung đăng":"={{ $json.noidung }}","STT":"==ROW()-1","Loại máy":"={{ $json.machineType }}","Link Dropbox":"={{ $json.pathDisplay }}","Page 1":"={{ $json.pagename }}","Link 1":"={{ $json.permalink_url }}"},"matchingColumns":[],"schema":[{"id":"REDACTED","displayName":"STT","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"REDACTED","displayName":"Ngày đăng","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"REDACTED","displayName":"Giờ đăng","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"REDACTED","displayName":"Tên thư mục Dropbox","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"REDACTED","displayName":"Nội dung đăng","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"REDACTED","displayName":"Loại máy","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"REDACTED","displayName":"Page 1","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"REDACTED","displayName":"Link 1","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"REDACTED","displayName":"Page 2","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"REDACTED","displayName":"Link 2","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"REDACTED","displayName":"Page 3","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"REDACTED","displayName":"Link 3","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"REDACTED","displayName":"Story","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"REDACTED","displayName":"Link Dropbox","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[4432,1520],"id":"afdf33f3-a543-4483-9eb2-082e30ba5119","name":"Thêm dòng1"},{"parameters":{"authentication":"serviceAccount","operation":"update","documentId":"REDACTED","sheetName":"REDACTED","columns":{"mappingMode":"autoMapInputData","value":{"Tên thư mục Dropbox":"={{ $json[\"Tên thư mục Dropbox\"] }}"},"matchingColumns":["Tên thư mục Dropbox"],"schema":[{"id":"REDACTED","displayName":"STT","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"REDACTED","displayName":"Ngày đăng","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"REDACTED","displayName":"Giờ đăng","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"REDACTED","displayName":"Tên thư mục Dropbox","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"REDACTED","displayName":"Nội dung đăng","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"REDACTED","displayName":"Loại máy","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"REDACTED","displayName":"Page 1","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"REDACTED","displayName":"Link 1","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"REDACTED","displayName":"Page 2","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"REDACTED","displayName":"Link 2","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"REDACTED","displayName":"Page 3","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"REDACTED","displayName":"Link 3","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"REDACTED","displayName":"Link Dropbox","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"REDACTED","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[4560,1392],"id":"6ec5626f-939f-44d9-8787-456d31426de3","name":"Cập nhật link1","alwaysOutputData":true},{"parameters":{"numberInputs":3},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[4848,1760],"id":"640629d5-f0c4-42e0-8581-532eb6de359d","name":"Kết loop1"},{"parameters":{"assignments":{"assignments":[{"id":"REDACTED","name":"Tên thư mục Dropbox","value":"={{ $json.folderName }}","type":"string"},{"id":"REDACTED","name":"Page 1","value":"={{ $json.slot === 1 ? $json.pagename : undefined }}","type":"string"},{"id":"REDACTED","name":"Link 1","value":"={{ $json.slot === 1 ? $json.permalink_url : undefined }}","type":"string"},{"id":"REDACTED","name":"Page 2","value":"={{ $json.slot === 2 ? $json.pagename : undefined }}","type":"string"},{"id":"REDACTED","name":"Link 2","value":"={{ $json.slot === 2 ? $json.permalink_url : undefined }}","type":"string"},{"id":"REDACTED","name":"Page 3","value":"={{ $json.slot === 3 ? $json.pagename : undefined }}","type":"string"},{"id":"REDACTED","name":"Link 3","value":"={{ $json.slot === 3 ? $json.permalink_url : undefined }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[4384,1392],"id":"0a31ad36-4d9f-43e5-868e-a64f03297079","name":"Edit Fields4"},{"parameters":{"mode":"combine","combineBy":"combineAll","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[-16,1168],"id":"030398e2-827c-4d88-bdab-f464fa320c7a","name":"Merge6"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[0,0],"id":"81f8089d-de60-4064-99a0-6d2496765e19","name":"No Operation, do nothing3"},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[208,0],"id":"7834518e-90b5-4a19-ae52-09cca810d54e","name":"Merge4"},{"parameters":{"assignments":{"assignments":[{"id":"REDACTED","name":"permalink_url","value":"=https://facebook.com{{ $json.permalink_url }}","type":"string"},{"id":"REDACTED","name":"folderName","value":"={{ $('Merge12').item.json.folderName }}","type":"string"},{"id":"REDACTED","name":"pathDisplay","value":"={{ $('Merge12').item.json.pathDisplay }}","type":"string"},{"id":"REDACTED","name":"ngay_dang","value":"={{ $('Merge12').item.json.ngay_dang }}","type":"string"},{"id":"REDACTED","name":"gio_dang","value":"={{ $('Merge12').item.json.gio_dang }}","type":"string"},{"id":"REDACTED","name":"machineType","value":"={{ $('Merge12').item.json.machineType }}","type":"string"},{"id":"REDACTED","name":"noidung","value":"={{ $('Merge12').item.json.noidung }}","type":"string"},{"id":"REDACTED","name":"pagename","value":"={{ $('Merge12').item.json[\"Page Name\"] }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[3424,1488],"id":"351eb948-fbf9-47de-ba5a-b7a97cd1d88c","name":"Set all parameters"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[1968,1760],"id":"2de58cb1-0652-4cd4-a4ea-2cdb6f2c2c70","name":"No Operation, do nothing4"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[2544,1760],"id":"9ef61153-2c74-4714-8859-a9e03724d3d1","name":"No Operation, do nothing5"},{"parameters":{"url":"=https://graph.facebook.com/v23.0/{{$('Merge7').item.json.id }}","sendQuery":true,"queryParameters":{"parameters":[{"name":"fields","value":"status,permalink_url"},{"name":"access_token","value":"={{$('Merge7').item.json['Access Token']}}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2192,1504],"id":"f368acf6-bec6-4d5a-803d-727aeb1a82ac","name":"CheckStatus1","retryOnFail":false,"waitBetweenTries":5000,"maxTries":5,"alwaysOutputData":false,"onError":"REDACTED"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"REDACTED","leftValue":"={{ $json.status.video_status }}","rightValue":"ready","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[2384,1504],"id":"3f4dbe66-bc84-43e9-b96a-8bb4b8570ef0","name":"If4"},{"parameters":{"amount":60},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[2544,1568],"id":"1f90de06-b3f0-40d1-b5c8-07bd21f322f5","name":"Wait1","webhookId":"REDACTED"},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[1760,1504],"id":"21b908fe-fca0-4ac4-a9ed-446ac368c835","name":"Merge7"},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[2992,1504],"id":"747dceb5-5f4e-4f85-b052-93360c88fa8d","name":"Merge8"},{"parameters":{"assignments":{"assignments":[{"id":"REDACTED","name":"FolderID","value":"={{ $json.id }}","type":"string"}]},"includeOtherFields":true,"include":"selected","includeFields":"link, name, pathDisplay, folderName, hasVideo, scheduledAt, ngay_dang, gio_dang, machineType, noidung, row_number, ['ID Page'], ['Page Name'], ['Access Token']","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1472,1520],"id":"5114468a-fe12-4060-810d-3e857c4f7c7f","name":"Edit Fields5"},{"parameters":{"amount":1,"unit":"minutes"},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1968,1504],"id":"cfb562ff-926b-48de-8bd2-b52063805431","name":"Wait2","webhookId":"REDACTED"},{"parameters":{"method":"POST","url":"=https://graph-video.facebook.com/v23.0/{{ $json['ID Page'] }}/videos","sendQuery":true,"queryParameters":{"parameters":[{"name":"access_token","value":"={{ $json['Access Token'] }}"}]},"sendBody":true,"contentType":"form-urlencoded","bodyParameters":{"parameters":[{"name":"file_url","value":"={{ $json.link }}?dl=1"},{"name":"title","value":"={{ $json.machineType }}"},{"name":"description","value":"={{ $json.noidung }}"},{"name":"published","value":"false"},{"name":"REDACTED","value":"={{ $json.scheduledAt }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1472,1344],"id":"a988a667-5e94-4c72-85d7-81682d04f3c8","name":"Post Video"},{"parameters":{"method":"POST","url":"https://api.dropboxapi.REDACTED","authentication":"REDACTED","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"path\": \"{{ $json.files[0].dropboxPath }}\",\n  \"include_media_info\": true\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[512,1184],"id":"bc01b011-3977-49ec-a829-cc17c014a89e","name":"Take video length"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"REDACTED","leftValue":"={{ $json.hasStory }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1232,880],"id":"0386085e-f80e-4ae3-a829-03946d99d306","name":"If Story Video"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"REDACTED","leftValue":"={{ $json.hasReel }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1120,1328],"id":"f1763ab0-5bb1-4fbc-abd8-8cbd2a454515","name":"If Reel Video"},{"parameters":{"assignments":{"assignments":[{"id":"REDACTED","name":"page_id","value":"={{ $json[\"ID Page\"] }}","type":"string"},{"id":"REDACTED","name":"page_token","value":"={{ $json[\"Access Token\"] }}","type":"string"},{"id":"REDACTED","name":"file_url","value":"={{ $json.link }}","type":"string"},{"id":"REDACTED","name":"title","value":"={{ $json.machineType }}","type":"string"},{"id":"REDACTED","name":"noidung","value":"={{$json.noidung}}","type":"string"},{"id":"REDACTED","name":"scheduledAt","value":"={{$json.scheduledAt}}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1328,1040],"id":"383704f0-15e6-4bc3-9f8d-136b0ef18ca0","name":"Set Video Reel"},{"parameters":{"method":"POST","url":"=https://graph.facebook.com/v23.0/{{$json.page_id}}/video_reels","sendBody":true,"contentType":"form-urlencoded","bodyParameters":{"parameters":[{"name":"upload_phase","value":"start"},{"name":"access_token","value":"={{ $json.page_token }}"},{"name":"file_url","value":"={{ $json.file_url }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1552,1040],"id":"9f9d925d-fd1b-4a75-9a24-6ca06be6e92f","name":"Start Reel"},{"parameters":{"method":"POST","url":"=https://graph.facebook.com/v23.0/{{ $node[\"Set Video Reel\"].json.page_id }}/video_reels","sendBody":true,"contentType":"form-urlencoded","bodyParameters":{"parameters":[{"name":"upload_phase","value":"finish"},{"name":"video_id","value":"={{ $node[\"Start Reel\"].json.video_id }}"},{"name":"access_token","value":"={{ $node[\"Set Video Reel\"].json.page_token }}"},{"name":"description","value":"={{ $node[\"Set Video Reel\"].json.noidung }}"},{"name":"title","value":"={{ $node[\"Set Video Reel\"].json.title }}"},{"name":"video_state","value":"SCHEDULED"},{"name":"REDACTED","value":"={{$node[\"Set Video Reel\"].json.scheduledAt}}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1952,1040],"id":"c0aed356-4e93-41c7-af75-bb021083a9e7","name":"Finish Reel"},{"parameters":{"method":"POST","url":"={{ $json.upload_url }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"authorization","value":"=OAuth {{$node[\"Set Video Reel\"].json.page_token}}"},{"name":"file_url","value":"={{$node[\"Set Video Reel\"].json.file_url}}"},{"name":"offset","value":"0"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1744,1040],"id":"2d75dc43-ed50-467d-911c-e55b6a0a8c62","name":"Upload Reel"},{"parameters":{"method":"POST","url":"=https://graph.facebook.com/v23.0/{{$node[\"Start Reel\"].json.video_id}}","sendQuery":true,"queryParameters":{"parameters":[{"name":"fields","value":"status,permalink_url"},{"name":"access_token","value":"={{$node[\"Set Video Reel\"].json.page_token}}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2368,1040],"id":"65f5c9bc-eb7b-4b97-a9ca-292f62ebe8eb","name":"Check status reel"},{"parameters":{"mode":"combine","combineBy":"combineByPosition","numberInputs":3,"options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[880,1280],"id":"cd069d67-8a4d-4890-a119-251848d55e86","name":"Merge10"},{"parameters":{"amount":30},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[2144,1040],"id":"634d3c0c-18ed-4306-b075-025bfbf02ab9","name":"Wait3","webhookId":"REDACTED"},{"parameters":{"mode":"runOnceForEachItem","jsCode":"// ----- lấy thông tin từ metadata Dropbox -----\nconst meta = item.json.media_info?.metadata ?? {};\nconst dims = meta.dimensions ?? {};\n\nconst durMs = meta.duration ?? 0;        // thời lượng (ms)\n\n// ----- xác định cờ -----\nitem.json.hasReel  = durMs <= 90_000;    // Reels ≤ 90 s\nitem.json.hasStory = durMs <= 60_000;    // Story  ≤ 60 s\n\n// ----- trả lại item đã chỉnh -----\nreturn item;\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[688,1184],"id":"0d171983-aa3f-4abd-a08f-67355fa7fce6","name":"Reel&Story"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[560,1520],"id":"0b82c6f7-f374-45f7-b649-660a0c5417e6","name":"No Operation, do nothing2"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[2752,1328],"id":"f1f7a01e-6bb3-4b72-b227-e6339c287c4c","name":"No Operation, do nothing6"},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[2960,1120],"id":"da4812dc-e5c7-48f2-9ed5-b7cccd1e5d13","name":"Merge11"},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{"includeUnpaired":true}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[3232,1488],"id":"d1789c81-6f22-447a-90a6-5fd52adbc0ca","name":"Merge12"},{"parameters":{"workflowId":{"__rl":true,"value":"A85aJgO0FrkD0lL2","mode":"list","cachedResultName":"Sub-workflow  Post Story"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"mode":"each","options":{"waitForSubWorkflow":false}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[1472,864],"id":"3d449963-b921-4914-b579-e50ddbfdd687","name":"Execute Workflow1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"REDACTED","leftValue":"={{ $json.status.video_status }}","rightValue":"ready","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"REDACTED","leftValue":"={{ $json.status.REDACTED.status }}","rightValue":"complete","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[2544,1040],"id":"f6dfd7fd-feda-4255-90ea-19c7129057ba","name":"If5"},{"parameters":{"amount":15},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[2704,1120],"id":"4effc932-14ed-435d-b975-e9151b996325","name":"Wait","webhookId":"REDACTED"},{"parameters":{"assignments":{"assignments":[{"id":"REDACTED","name":"permalink_url","value":"={{ $json.permalink_url }}","type":"string"},{"id":"REDACTED","name":"folderName","value":"={{ $('Merge').item.json.folderName }}","type":"string"},{"id":"REDACTED","name":"pathDisplay","value":"={{ $('Merge').item.json.pathDisplay }}","type":"string"},{"id":"REDACTED","name":"ngay_dang","value":"={{ $('Merge').item.json.ngay_dang }}","type":"string"},{"id":"REDACTED","name":"gio_dang","value":"={{ $('Merge').item.json.gio_dang }}","type":"string"},{"id":"REDACTED","name":"machineType","value":"={{ $('Merge').item.json.machineType }}","type":"string"},{"id":"REDACTED","name":"noidung","value":"={{ $('Merge').item.json.noidung }}","type":"string"},{"id":"REDACTED","name":"pagename","value":"={{ $('Merge').item.json[\"Page Name\"] }}","type":"string"},{"id":"REDACTED","name":"Dadangstory","value":"Đã đăng","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2368,2400],"id":"6df46621-bc99-4fe9-824e-18d85a78bc01","name":"Set for sheet"},{"parameters":{"method":"POST","url":"https://api.dropboxapi.REDACTED","authentication":"REDACTED","sendBody":true,"bodyParameters":{"parameters":[{"name":"path","value":"={{ $json.files[0].dropboxPath }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[592,1344],"id":"6117cf46-23cd-401d-93ca-dddf576da0cf","name":"GetTempLink1"}],"connections":{"Schedule Trigger":{"main":[[{"node":"Dropbox","type":"main","index":0},{"node":"Google Sheets","type":"main","index":0},{"node":"Lấy access token","type":"main","index":0}]]},"Dropbox":{"main":[[{"node":"If is a folder","type":"main","index":0}]]},"Loop Over Items":{"main":[[{"node":"Switch","type":"main","index":0}],[{"node":"Dropbox1","type":"main","index":0}]]},"Google Sheets":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Kiểm tra folder đã đăng","type":"main","index":0}]]},"If is a folder":{"main":[[{"node":"Phân tích folder name","type":"main","index":0}]]},"Phân tích folder name":{"main":[[{"node":"Kiểm tra folder đã đăng","type":"main","index":1}]]},"Switch":{"main":[[{"node":"Merge6","type":"main","index":0}],[{"node":"Merge1","type":"main","index":0}]]},"Merge1":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Merge1","type":"main","index":1},{"node":"Merge6","type":"main","index":1}]]},"Kiểm tra folder đã đăng":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Dropbox1":{"main":[[{"node":"Code","type":"main","index":0}]]},"Code":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"Dropbox2","type":"main","index":0}]]},"Dropbox2":{"main":[[{"node":"Extract from File","type":"main","index":0}]]},"Extract from File":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items1":{"main":[[],[{"node":"Execute Workflow","type":"main","index":0},{"node":"Split Out1","type":"main","index":0},{"node":"No Operation, do nothing","type":"main","index":0}]]},"Split Out1":{"main":[[{"node":"Download ảnh","type":"main","index":0}]]},"Download ảnh":{"main":[[{"node":"UploadToPhotos","type":"main","index":0}]]},"UploadToPhotos":{"main":[[{"node":"Merge Photo Ids","type":"main","index":0}]]},"Merge Photo Ids":{"main":[[{"node":"Merge","type":"main","index":0}]]},"No Operation, do nothing":{"main":[[{"node":"No Operation, do nothing1","type":"main","index":0}]]},"No Operation, do nothing1":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Merge":{"main":[[{"node":"Post Feed","type":"main","index":0}]]},"Post Feed":{"main":[[{"node":"GetPermalink","type":"main","index":0}]]},"GetPermalink":{"main":[[{"node":"Set for sheet","type":"main","index":0}]]},"Merge3":{"main":[[{"node":"Kết loop","type":"main","index":2},{"node":"ChooseEmptySlot","type":"main","index":0}]]},"If1":{"main":[[{"node":"Edit Fields2","type":"main","index":0}],[{"node":"Thêm dòng","type":"main","index":0}]]},"ChooseEmptySlot":{"main":[[{"node":"If1","type":"main","index":0}]]},"Kiểm tra google sheets":{"main":[[{"node":"Merge3","type":"main","index":1}]]},"Thêm dòng":{"main":[[{"node":"Kết loop","type":"main","index":1}]]},"Cập nhật link":{"main":[[{"node":"Kết loop","type":"main","index":0}]]},"Kết loop":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"Lấy access token":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"Edit Fields2":{"main":[[{"node":"Cập nhật link","type":"main","index":0}]]},"Loop Over Items2":{"main":[[],[{"node":"Take video length","type":"main","index":0},{"node":"No Operation, do nothing2","type":"main","index":0},{"node":"GetTempLink1","type":"main","index":0}]]},"Merge5":{"main":[[{"node":"Kết loop1","type":"main","index":2},{"node":"ChooseEmptySlot1","type":"main","index":0}]]},"If2":{"main":[[{"node":"Edit Fields4","type":"main","index":0}],[{"node":"Thêm dòng1","type":"main","index":0}]]},"ChooseEmptySlot1":{"main":[[{"node":"If2","type":"main","index":0}]]},"Kiểm tra google sheets1":{"main":[[{"node":"Merge5","type":"main","index":1}]]},"Thêm dòng1":{"main":[[{"node":"Kết loop1","type":"main","index":1}]]},"Cập nhật link1":{"main":[[{"node":"Kết loop1","type":"main","index":0}]]},"Edit Fields4":{"main":[[{"node":"Cập nhật link1","type":"main","index":0}]]},"Kết loop1":{"main":[[{"node":"Loop Over Items2","type":"main","index":0}]]},"Merge6":{"main":[[{"node":"Loop Over Items2","type":"main","index":0}]]},"Set all parameters":{"main":[[{"node":"Merge5","type":"main","index":0},{"node":"Kiểm tra google sheets1","type":"main","index":0}]]},"No Operation, do nothing4":{"main":[[{"node":"No Operation, do nothing5","type":"main","index":0}]]},"No Operation, do nothing5":{"main":[[{"node":"Merge8","type":"main","index":1}]]},"CheckStatus1":{"main":[[{"node":"If4","type":"main","index":0}]]},"If4":{"main":[[{"node":"Merge8","type":"main","index":0}],[{"node":"Wait1","type":"main","index":0}]]},"Wait1":{"main":[[{"node":"CheckStatus1","type":"main","index":0}]]},"Merge7":{"main":[[{"node":"Wait2","type":"main","index":0},{"node":"No Operation, do nothing4","type":"main","index":0}]]},"Merge8":{"main":[[{"node":"Merge12","type":"main","index":1}]]},"Edit Fields5":{"main":[[{"node":"Merge7","type":"main","index":1}]]},"Wait2":{"main":[[{"node":"CheckStatus1","type":"main","index":0}]]},"Post Video":{"main":[[{"node":"Merge7","type":"main","index":0}]]},"Take video length":{"main":[[{"node":"Reel&Story","type":"main","index":0}]]},"If Story Video":{"main":[[{"node":"Execute Workflow1","type":"main","index":0}]]},"If Reel Video":{"main":[[{"node":"Set Video Reel","type":"main","index":0},{"node":"No Operation, do nothing6","type":"main","index":0}],[{"node":"Post Video","type":"main","index":0},{"node":"Edit Fields5","type":"main","index":0}]]},"Set Video Reel":{"main":[[{"node":"Start Reel","type":"main","index":0}]]},"Start Reel":{"main":[[{"node":"Upload Reel","type":"main","index":0}]]},"Finish Reel":{"main":[[{"node":"Wait3","type":"main","index":0}]]},"Upload Reel":{"main":[[{"node":"Finish Reel","type":"main","index":0}]]},"Merge10":{"main":[[{"node":"If Story Video","type":"main","index":0},{"node":"If Reel Video","type":"main","index":0}]]},"Wait3":{"main":[[{"node":"Check status reel","type":"main","index":0}]]},"Reel&Story":{"main":[[{"node":"Merge10","type":"main","index":0}]]},"No Operation, do nothing2":{"main":[[{"node":"Merge10","type":"main","index":2}]]},"Check status reel":{"main":[[{"node":"If5","type":"main","index":0}]]},"No Operation, do nothing6":{"main":[[{"node":"Merge11","type":"main","index":1}]]},"Merge11":{"main":[[{"node":"Merge12","type":"main","index":0}]]},"Merge12":{"main":[[{"node":"Set all parameters","type":"main","index":0}]]},"If5":{"main":[[{"node":"Merge11","type":"main","index":0}],[{"node":"Wait","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Check status reel","type":"main","index":0}]]},"Set for sheet":{"main":[[{"node":"Kiểm tra google sheets","type":"main","index":0},{"node":"Merge3","type":"main","index":0}]]},"GetTempLink1":{"main":[[{"node":"Merge10","type":"main","index":1}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"9f8f8789-8d35-4311-b99c-1e260b463468","triggerCount":0,"shared":[{"createdAt":"2025-08-11T17:40:39.223Z","updatedAt":"2025-08-11T17:40:39.223Z","role":"workflow:owner","workflowId":"DAOB8ZYPK5fJZCXH","projectId":"Bsx4kBdHQHZGGC5J"}],"tags":[]}