facebook-mnZNaecCOCLOgoCn.json
{"createdAt":"2025-08-11T17:26:43.444Z","updatedAt":"2025-08-28T17:08:14.863Z","id":"mnZNaecCOCLOgoCn","name":"facebook","active":false,"isArchived":true,"nodes":[{"parameters":{"jsCode":"return [{\n  json: {\n    attached_media: $input.all().map(item => ({\n      media_fbid: item.json.id // Giữ danh sách media_fbid từ các item trước\n    })),\n  }\n}];\n\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2336,480],"id":"68188849-7ac4-4f9c-b2d7-7de794c62ded","name":"Merge Photo Ids"},{"parameters":{"mode":"combine","combineBy":"combineAll","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3,"position":[2704,560],"id":"8d4fde1e-ce8f-413d-b612-d6cb5b60d24a","name":"Merge","executeOnce":true},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json['Loại bài viết'] }}","rightValue":"Nhiều Ảnh","operator":{"type":"string","operation":"equals"},"id":"9dd48146-7a45-40dc-b767-b2e2912c9222"}],"combinator":"and"},"renameOutput":true,"outputKey":"Đăng Nhiều Ảnh"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"6218b7a5-0a35-47e5-a238-3d47391ca197","leftValue":"={{ $json['Loại bài viết'] }}","rightValue":"Một Ảnh","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Đăng Một Ảnh"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"729dd07c-e848-4bd6-a674-45493004bded","leftValue":"={{ $json['Loại bài viết'] }}","rightValue":"Không Ảnh","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Đăng không ảnh"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"490bd794-3110-4c68-b341-184c245bee34","leftValue":"={{ $json['Loại bài viết'] }}","rightValue":"Reels","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Đăng Reels"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"9e8d0dc7-959a-40ff-adaf-a915188e85f3","leftValue":"={{ $json['Loại bài viết'] }}","rightValue":"Video","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Đăng Video"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"1f12d000-7084-431d-8126-45067694db0f","leftValue":"={{ $json[\"Loại bài viết\"] }}","rightValue":"Story_Images","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Đăng Story Ảnh"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"033e0992-0069-4854-85c3-8b959a5595b4","leftValue":"={{ $json['Loại bài viết'] }}","rightValue":"Story_Video","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Đăng Story Video"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[944,1600],"id":"c387af07-45ef-45c0-a261-f052cd9ba90c","name":"Switch"},{"parameters":{"fieldToSplitOut":"Link","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[1696,480],"id":"559163e4-4f6b-4a6f-a95f-7e28f3adc85a","name":"Split Out"},{"parameters":{"method":"POST","url":"=https://graph.facebook.com/v22.0/{{ $('ReadContent').item.json[\"ID Trang\"] }}/feed","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $('ReadContent').item.json.accessToken }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"attached_media","value":"={{ $json.attached_media }}"},{"name":"message","value":"={{ $('ReadContent').item.json.title }}\n\n{{ $('ReadContent').item.json.content }}\n{{ $('ReadContent').item.json['Nội dung bắt buộc'] }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2976,560],"id":"c0df2642-e05e-486d-b056-69562d332e20","name":"PostFeed"},{"parameters":{"method":"POST","url":"=https://graph.facebook.com/v22.0/{{ $('ReadContent').item.json[\"ID Trang\"] }}/photos","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $('ReadContent').item.json.accessToken }}"}]},"sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"parameterType":"formBinaryData","name":"data","inputDataFieldName":"data"},{"name":"message","value":"={{ $('ReadContent').item.json.title }}\n\n{{ $('ReadContent').item.json.content }}\n{{ $('ReadContent').item.json['Nội dung bắt buộc'] }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2976,768],"id":"67af4605-a700-40a6-a855-52ea3c74149d","name":"PostSinglePhoto"},{"parameters":{"method":"POST","url":"=https://graph.facebook.com/v22.0/{{ $('ReadContent').item.json[\"ID Trang\"] }}/feed","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $('ReadContent').item.json.accessToken }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"attached_media","value":"={{ $json.attached_media }}"},{"name":"message","value":"={{ $('ReadContent').item.json.title }}\n\n{{ $('ReadContent').item.json.content }}\n{{ $('ReadContent').item.json['Nội dung bắt buộc'] }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2976,928],"id":"658d1b80-2c16-4d0b-abd8-fe899b19e7d4","name":"PostFeedText"},{"parameters":{"method":"POST","url":"={{ $json.upload_url }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=OAuth {{ $('ReadContent').last().json.accessToken }}"},{"name":"file_url","value":"=https://dxunek.datadex.vn/webhook/0ec0835a-b7f5-4d30-a3aa-f87d0e93e766?url={{ $('Switch').item.json['Link Video'] }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1872,1120],"id":"b8a3f4fc-55e6-4214-aa0f-c0c73659d603","name":"Upload a Local File"},{"parameters":{"method":"POST","url":"=https://graph.facebook.com/v22.0/{{ $('ReadContent').item.json[\"ID Trang\"] }}/video_reels","sendQuery":true,"queryParameters":{"parameters":[{"name":"upload_phase","value":"start"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $('ReadContent').item.json.accessToken }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1536,1120],"id":"8fe8eae2-693b-4870-b353-fb57ac2a41d6","name":"CreateSessionUpload"},{"parameters":{"method":"POST","url":"=https://graph.facebook.com/v22.0/{{ $('ReadContent').item.json['ID Trang'] }}/video_reels","sendQuery":true,"queryParameters":{"parameters":[{"name":"access_token","value":"={{ $('ReadContent').item.json.accessToken }}"},{"name":"video_id","value":"={{ $('CreateSessionUpload').item.json.video_id }}"},{"name":"upload_phase","value":"FINISH"},{"name":"video_state","value":"PUBLISHED"},{"name":"description","value":"={{ $('ReadContent').item.json.title }}\n\n{{ $('ReadContent').item.json.content }}\n{{ $('ReadContent').item.json['Nội dung bắt buộc'] }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1536,1392],"id":"44d65c1e-520d-43cc-b32e-1cd389d0fb54","name":"Manual Publish"},{"parameters":{"amount":15},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1712,1392],"id":"a2dc6c9f-5aa5-4274-953e-62bd9adaab76","name":"Wait","webhookId":"924656cc-bd66-4587-b976-8aae149f8ea8"},{"parameters":{"method":"POST","url":"=https://graph.facebook.com/v22.0/{{ $('ReadContent').item.json[\"ID Trang\"] }}/videos","sendQuery":true,"queryParameters":{"parameters":[{"name":"file_url","value":"=http://dxunek:5678/webhook/0ec0835a-b7f5-4d30-a3aa-f87d0e93e766?url={{ $json['Link Video'] }}"},{"name":"description","value":"={{ $('ReadContent').item.json.content }}\n{{ $('ReadContent').item.json['Nội dung bắt buộc'] }}"},{"name":"access_token","value":"={{ $('ReadContent').item.json.accessToken }}"},{"name":"title","value":"={{ $('ReadContent').item.json.title }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2976,1824],"id":"6ab72d7b-2e59-4eb9-b7a6-09ba13a10e9f","name":"UploadVideo"},{"parameters":{"method":"POST","url":"=https://graph.facebook.com/v22.0/{{ $('ReadContent').item.json[\"ID Trang\"] }}/video_stories","sendQuery":true,"queryParameters":{"parameters":[{"name":"upload_phase","value":"start"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $('ReadContent').item.json.accessToken }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1536,2272],"id":"928af9ae-1dcf-404c-8bd5-e243c11e8d07","name":"CreateSessionUploadVideoStory"},{"parameters":{"method":"POST","url":"={{ $json.upload_url }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=OAuth {{ $('ReadContent').last().json.accessToken }}"},{"name":"file_url","value":"=https://dxunek.datadex.vn/webhook/0ec0835a-b7f5-4d30-a3aa-f87d0e93e766?url={{ $('Switch').item.json['Link Video'] }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1872,2272],"id":"1fecb78f-8130-43df-9446-466b8cea5881","name":"Upload Video Story"},{"parameters":{"method":"POST","url":"=https://graph.facebook.com/v22.0/{{ $('ReadContent').item.json['ID Trang'] }}/video_stories","sendQuery":true,"queryParameters":{"parameters":[{"name":"access_token","value":"={{ $('ReadContent').item.json.accessToken }}"},{"name":"video_id","value":"={{ $('CreateSessionUploadVideoStory').item.json.video_id }}"},{"name":"upload_phase","value":"finish"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2976,2272],"id":"31d580b9-b160-4992-a40d-623c32029e9a","name":"Pushlish Story"},{"parameters":{"url":"=https://graph.facebook.com/v23.0/{{ $('CreateSessionUploadVideoStory').item.json.video_id }}","sendQuery":true,"queryParameters":{"parameters":[{"name":"access_token","value":"={{ $('ReadContent').item.json.accessToken }}"},{"name":"fields","value":"status"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2096,2272],"id":"96efe4df-b62c-4bca-80ba-9c5652db1f34","name":"GetStatusVideoStory"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"8733b520-ea60-4703-b922-2a6d80d6588d","leftValue":"={{ $json.status.processing_phase?.error }}","rightValue":"","operator":{"type":"object","operation":"notExists","singleValue":true}},{"id":"94c680be-93b6-4eb5-b6ff-705839287627","leftValue":"={{ $json.status.copyright_check_status.status }}","rightValue":"complete","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[2320,2272],"id":"e997a9d8-1375-4280-9dab-ee6854178539","name":"If"},{"parameters":{"amount":10},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[2704,2448],"id":"bc2c5714-6487-4490-a9de-30044c3b880e","name":"Wait1","webhookId":"68f8668e-01ac-45b0-b65c-f51625c9918c"},{"parameters":{"method":"POST","url":"=https://graph.facebook.com/v22.0/{{ $('ReadContent').last().json[\"ID Trang\"] }}/photos","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $('ReadContent').item.json.accessToken }}"}]},"sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"parameterType":"formBinaryData","name":"data","inputDataFieldName":"data"},{"name":"published","value":"false"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1872,2048],"id":"20b14986-7267-4417-8e57-9c5d2ebe2215","name":"UploadImage"},{"parameters":{"method":"POST","url":"=https://graph.facebook.com/v22.0/{{ $('ReadContent').item.json['ID Trang'] }}/photo_stories","sendQuery":true,"queryParameters":{"parameters":[{"name":"access_token","value":"={{ $('ReadContent').item.json.accessToken }}"},{"name":"photo_id","value":"={{ $json.id }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2976,2048],"id":"3f8653c9-c06a-4abe-99f3-fc4149e20e04","name":"PostStory"},{"parameters":{"assignments":{"assignments":[{"id":"59bdf330-df02-451e-91dd-cfb37bdc414a","name":"id","value":"=stories/{{ $json.post_id }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[3152,2144],"id":"928de06e-7b92-4999-b72f-c2541c823912","name":"SetIdStory"},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"={{ $json.Link }}","mode":"url"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[1904,480],"id":"099d6d39-dbf6-4f51-bcec-ad8a3b342e1d","name":"DownloadImage"},{"parameters":{"method":"POST","url":"=https://graph.facebook.com/v22.0/{{ $('ReadContent').last().json[\"ID Trang\"] }}/photos","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $('ReadContent').item.json.accessToken }}"}]},"sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"parameterType":"formBinaryData","name":"data","inputDataFieldName":"data"},{"name":"published","value":"false"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2112,480],"id":"5150e2c9-d7de-41e3-9fe0-cbc9281502f9","name":"UploadToPhotos"},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"={{ $('ReadContent').last().json.Link[0] }}","mode":"url"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[1536,768],"id":"22978e9f-74eb-4406-96f9-19549866286e","name":"DownloadImage2"},{"parameters":{"assignments":{"assignments":[{"id":"d20c173b-3b4a-4555-817b-3ab3ac699d30","name":"content","value":"={{ $json[\"Nội dung chính\"] }}","type":"string"},{"id":"37814ce7-fb97-4fc8-8181-6dbe545c2464","name":"title","value":"={{ $json[\"Chủ đề\"] }}","type":"string"}]},"includeOtherFields":true,"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[224,1824],"id":"75582628-2836-46f0-829a-c882540aebbb","name":"Edit Fields"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"d9188620-4c52-42d1-91dd-a71c5367b1bd","leftValue":"={{ $json[\"AI Agent\"] }}","rightValue":"Có","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[192,1472],"id":"cb4a07d8-55aa-404c-a902-09217a95861b","name":"IfUseAIAgent"},{"parameters":{"jsCode":"const list = [];\nfor(const item of $('Data').all()) {\n  list.push({\n    ... item.json,\n    accessToken: $('FindPage').first().json[\"Access Token\"],\n    Link: \n      [item.json[\"Ảnh 1(Đại diện)\"],\n      item.json['Ảnh 2'],\n      item.json['Ảnh 4'],\n      item.json['Ảnh 5'],\n      item.json['Ảnh 6'],\n      item.json['Ảnh 7'],\n      item.json['Ảnh 8'],\n      item.json['Ảnh 9'],\n      item.json['Ảnh 10']\n    ].filter(x => !!x),\n    content: $input.last().json.content,\n    title: $input.last().json.title,\n  })\n}\nreturn list;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[736,1824],"id":"dc779de1-5709-4091-9ee2-24546d69494e","name":"ReadContent"},{"parameters":{"rule":{"interval":[{"field":"minutes","minutesInterval":1}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-80,432],"id":"1205fce2-8afa-4d58-9119-62e713a902e5","name":"Schedule Trigger"},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"https://docs.google.com/spreadsheets/d/1jCxlzftqpCiycOcHqe7FZmR0IBTF0L6BJCb_CDXzhZ8/edit?gid=0#gid=0","mode":"url"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Content","cachedResultUrl":"https://docs.google.com/spreadsheets/d/11SWC5VyspWd23SSZOnkxIzkB1FbunIyu_DcQ4Fx0l5k/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"STT":"={{ $('ReadContent').last().json.STT }}","Link bài đăng":"=http://facebook.com/{{ $json.id }}","Trạng thái":"Thành Công"},"matchingColumns":["STT"],"schema":[{"id":"STT","displayName":"STT","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Trang","displayName":"Trang","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"ID Trang","displayName":"ID Trang","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Trạng thái","displayName":"Trạng thái","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Chủ đề","displayName":"Chủ đề","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Nội dung chính","displayName":"Nội dung chính","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Nội dung bắt buộc","displayName":"Nội dung bắt buộc","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Thời gian đăng","displayName":"Thời gian đăng","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Link bài đăng","displayName":"Link bài đăng","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Ảnh 1(Đại diện)","displayName":"Ảnh 1(Đại diện)","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Ảnh 2","displayName":"Ảnh 2","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Ảnh 3","displayName":"Ảnh 3","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Ảnh 4","displayName":"Ảnh 4","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Ảnh 5","displayName":"Ảnh 5","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Ảnh 6","displayName":"Ảnh 6","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Ảnh 7","displayName":"Ảnh 7","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Ảnh 8","displayName":"Ảnh 8","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Ảnh 9","displayName":"Ảnh 9","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Ảnh 10","displayName":"Ảnh 10","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[3376,928],"id":"5c618280-575d-408c-a3f6-ba18dbb7240e","name":"UpdateStatusSuccess"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[1536,592],"id":"325455b3-3df7-4567-b59a-1d78d429cfbb","name":"Next"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[1696,640],"id":"d1a658e5-b46f-4e9d-a90d-845fd87a658f","name":"Next1"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[2336,640],"id":"a7bce947-7f3a-4d8b-9248-609cce26e31e","name":"Next2"},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"={{ $json.Link[0] }}","mode":"url"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[1536,2048],"id":"c7ff5870-8f51-408b-9eef-24ae8d0e11c0","name":"DownloadImageStory"},{"parameters":{"documentId":{"__rl":true,"value":"https://docs.google.com/spreadsheets/d/1jCxlzftqpCiycOcHqe7FZmR0IBTF0L6BJCb_CDXzhZ8/edit?gid=0#gid=0","mode":"url"},"sheetName":{"__rl":true,"value":1902888278,"mode":"list","cachedResultName":"Page","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1jCxlzftqpCiycOcHqe7FZmR0IBTF0L6BJCb_CDXzhZ8/edit#gid=1902888278"},"filtersUI":{"values":[{"lookupColumn":"ID trang","lookupValue":"={{ $json[\"ID Trang\"] }}"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[192,1200],"id":"7fe4b3e1-d614-4a6b-bc3c-502ebd9b9628","name":"FindPage"},{"parameters":{"jsCode":"return $('Loop Over Items').all();"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[464,1200],"id":"721cdf4c-bcc6-44c5-9e16-badfee125246","name":"Data"},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[3792,2448],"id":"0613b064-065b-4f1f-9e11-685db745fa85","name":"WaitContinueStep","webhookId":"68f8668e-01ac-45b0-b65c-f51625c9918c"},{"parameters":{"assignments":{"assignments":[{"id":"6ee6f2e0-7f8f-432c-9a5e-2d8ca6a30b07","name":"title","value":"={{ $json.output.title }}","type":"string"},{"id":"9e0fdd15-51c3-414f-84b2-2c7d361e8d09","name":"content","value":"={{ $json.output.content }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[720,1472],"id":"ab4b3221-b8f6-4343-bb26-e970afa6909d","name":"Output"},{"parameters":{"jsonSchemaExample":"{\n\t\"title\": \"The headline for the social meadia post\",\n\t\"content\": \"The formatted social media post\" \n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[560,1680],"id":"6586a318-7058-4e3a-9a34-d38755c4bb11","name":"Structured Output Parser"},{"parameters":{"model":"gpt-4o","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[352,1680],"id":"2d275ab2-f3fc-4e7a-8782-9d0e4f63c795","name":"OpenAI Chat Model2"},{"parameters":{"promptType":"define","text":"=Chủ đề: {{ $json['Chủ đề'] }}\nNội dung chính: {{ $json['Nội dung chính'] }}","hasOutputParser":true,"options":{"systemMessage":"=Bạn là 1 chuyên gia về Lĩnh vực sức khỏe Đông y. Bạn viết nội dung chia sẻ kiến thức về sức khỏe và cộng đồng, và đăng tải trên 1 trang Facebook. Bạn hãy viết cho tôi 1 Status Facebook chia sẻ về chủ đề và bao gồm các nội dung chính của người dùng. lấy thêm cho tôi 5 hastag phổ biến về chủ đề.\n\nOutput Format:\n- Trả kết quả bằng tiếng việt.\n- Xuống dòng ở tiêu đề.\n- Status sẽ viết bằng định dạng văn bản, không có format in đậm, in nghiêng, ...\n- Luôn luôn sử dụng SerpAPI để tìm ra keyword SEO tốt nhất.\n- Sử dụng biểu tượng cảm xúc (emoji) ở đầu dòng để làm nổi bật các ý chính, ví dụ: ♥️, 🍀, 🏵️, ⭐… không chèn vào cuối câu, cuối đoạn.\n- Giữ nội dung ngắn gọn, thu hút, không dịch từng từ mà đảm bảo ý nghĩa trôi chảy, dễ đọc\n- Tránh các câu quá dài, giữ bài viết dễ hiểu, giọng điệu tự nhiên\n- Đảm bảo đúng chính tả, ngữ pháp tiếng Việt, tuyệt đối không dùng ký hiệu * hoặc ** trong bài viết."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[384,1472],"id":"53a5049a-36c2-427f-aac9-87c371e41c76","name":"Think","onError":"continueErrorOutput"},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"https://docs.google.com/spreadsheets/d/1jCxlzftqpCiycOcHqe7FZmR0IBTF0L6BJCb_CDXzhZ8/edit?gid=0#gid=0","mode":"url"},"sheetName":{"__rl":true,"value":1203419718,"mode":"list","cachedResultName":"Kết quả","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1jCxlzftqpCiycOcHqe7FZmR0IBTF0L6BJCb_CDXzhZ8/edit#gid=1203419718"},"columns":{"mappingMode":"defineBelow","value":{"Link bài đăng":"={{ $json[\"Link bài đăng\"] }}","Thời gian đăng":"={{ $now.toISO() }}","Trạng thái":"={{ $json[\"Trạng thái\"] }}","STT":"={{ $('ReadContent').item.json.STT }}","ID Trang":"={{ $('ReadContent').item.json[\"ID Trang\"] }}","Trang":"={{ $('ReadContent').item.json.Trang }}","AI Agent":"={{ $('ReadContent').item.json[\"AI Agent\"] }}","Loại bài viết":"={{ $('ReadContent').item.json[\"Loại bài viết\"] }}","Chủ đề":"={{ $('ReadContent').item.json.title }}","Nội dung chính":"={{ $('ReadContent').item.json.content }}","Nội dung bắt buộc":"={{ $('ReadContent').item.json[\"Nội dung bắt buộc\"] }}"},"matchingColumns":["STT"],"schema":[{"id":"STT","displayName":"STT","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Trang","displayName":"Trang","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"ID Trang","displayName":"ID Trang","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Trạng thái","displayName":"Trạng thái","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Loại bài viết","displayName":"Loại bài viết","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"AI Agent","displayName":"AI Agent","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Thời gian đăng","displayName":"Thời gian đăng","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Chủ đề","displayName":"Chủ đề","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Nội dung chính","displayName":"Nội dung chính","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Nội dung bắt buộc","displayName":"Nội dung bắt buộc","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Link bài đăng","displayName":"Link bài đăng","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[3600,928],"id":"c89d47b8-fb5e-4fe7-94d8-77c8a9932b8e","name":"UpdateResult"},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"https://docs.google.com/spreadsheets/d/1jCxlzftqpCiycOcHqe7FZmR0IBTF0L6BJCb_CDXzhZ8/edit?gid=1203419718#gid=1203419718","mode":"url"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Content","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1jCxlzftqpCiycOcHqe7FZmR0IBTF0L6BJCb_CDXzhZ8/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"STT":"={{ $json.STT }}","Trạng thái":"Queue"},"matchingColumns":["STT"],"schema":[{"id":"STT","displayName":"STT","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Trang","displayName":"Trang","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"ID Trang","displayName":"ID Trang","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Trạng thái","displayName":"Trạng thái","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Loại bài viết","displayName":"Loại bài viết","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"AI Agent","displayName":"AI Agent","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Thời gian đăng","displayName":"Thời gian đăng","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Chủ đề","displayName":"Chủ đề","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Nội dung chính","displayName":"Nội dung chính","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Nội dung bắt buộc","displayName":"Nội dung bắt buộc","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Link bài đăng","displayName":"Link bài đăng","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Link Video","displayName":"Link Video","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Ảnh 1(Đại diện)","displayName":"Ảnh 1(Đại diện)","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Ảnh 2","displayName":"Ảnh 2","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Ảnh 3","displayName":"Ảnh 3","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Ảnh 4","displayName":"Ảnh 4","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Ảnh 5","displayName":"Ảnh 5","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Ảnh 6","displayName":"Ảnh 6","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Ảnh 7","displayName":"Ảnh 7","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Ảnh 8","displayName":"Ảnh 8","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Ảnh 9","displayName":"Ảnh 9","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Ảnh 10","displayName":"Ảnh 10","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[480,928],"id":"c917de2e-d6a8-4839-b191-5f33cd54caa1","name":"UpdateToQueue"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-96,1200],"id":"6df5d616-e64a-4030-9a2c-6833dc309244","name":"Loop Over Items"},{"parameters":{"content":"## Đăng bài Fanpage all in one và nội dung tự động bằng Open Ai\nTừng bước cấu hình trong các node, lưu ý bỏ ghim ở node google sheet khi chạy\n![](https://datadex.vn/storage/2025/06/0610-Cover.jpg)\n## **[Video Hướng dẫn](https://youtu.be/sBio7opyo_0)","height":580,"width":640},"type":"n8n-nodes-base.stickyNote","position":[480,0],"typeVersion":1,"id":"e74eb13b-07cf-4eef-b743-1777d2693b9f","name":"Sticky Note"},{"parameters":{"documentId":{"__rl":true,"value":"https://docs.google.com/spreadsheets/d/1jCxlzftqpCiycOcHqe7FZmR0IBTF0L6BJCb_CDXzhZ8/edit?gid=1203419718#gid=1203419718","mode":"url"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Content","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1jCxlzftqpCiycOcHqe7FZmR0IBTF0L6BJCb_CDXzhZ8/edit#gid=0"},"filtersUI":{"values":[{"lookupColumn":"Trạng thái","lookupValue":"Chờ Đăng"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[224,432],"id":"66325f4f-766d-4ef8-813e-9de83feff9a2","name":"GetAllPending","alwaysOutputData":false},{"parameters":{"content":"## Cứ 1 phút sẽ kiểm tra sheet 1 lần.\n- Lấy ra toàn bộ nội dung chờ đăng","height":260,"width":580},"type":"n8n-nodes-base.stickyNote","position":[-128,320],"typeVersion":1,"id":"9075b000-5d1c-405a-bc8e-0f559ea9d3d0","name":"Sticky Note1"},{"parameters":{"conditions":{"options":{"caseSensitive":false,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"5db2a872-9357-4312-b8a9-b3f7e3fb3943","leftValue":"={{ $json[\"Thời gian đăng\"] }}","rightValue":"={{ $now.toISO() }}","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"looseTypeValidation":true,"options":{"ignoreCase":true}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-80,720],"id":"4b542300-6674-48ad-813b-81f6251192bd","name":"IfTimeExists"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"5db2a872-9357-4312-b8a9-b3f7e3fb3943","leftValue":"={{ $json.formattedDate }}","rightValue":"={{ $now.toISO() }}","operator":{"type":"dateTime","operation":"before"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[480,720],"id":"078b9bbd-7c65-4efc-afcf-9f0ecb87b712","name":"IfTimeIsPresent"},{"parameters":{"content":"## Kiểm tra cài đặt thời gian đăng và thời gian đăng này có hợp lệ hay không","height":200,"width":1000},"type":"n8n-nodes-base.stickyNote","position":[-128,640],"typeVersion":1,"id":"83b58164-bbaf-4903-98d8-3dd487e178a8","name":"Sticky Note2"},{"parameters":{"content":"## Đưa toàn bộ bài đăng hợp lệ vào Queue\n- Và lấy ra các bài đăng hợp lệ","height":180,"width":700},"type":"n8n-nodes-base.stickyNote","position":[176,880],"typeVersion":1,"id":"da2a4b71-0a44-498a-a3a7-273507ec0ef0","name":"Sticky Note3"},{"parameters":{"operation":"formatDate","date":"={{ $json[\"Thời gian đăng\"] }}","format":"custom","customFormat":"yyyy-MM-dd'T'HH:mm:ss.000+07:00","options":{"includeInputFields":true,"fromFormat":"d/MM/yyyy HH:mm:ss","timezone":true}},"type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[192,720],"id":"77db8ac9-97f1-4989-abea-567d0aed3a9a","name":"FormatTime"},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.1,"position":[-80,928],"id":"17aa96e7-68f7-4d71-b7ae-7069046bff59","name":"MergeContent"},{"parameters":{"jsCode":"return $('MergeContent').all();"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[720,928],"id":"24a70eb4-4c1f-4004-849d-2b536246850c","name":"AllContent","executeOnce":true},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[720,720],"id":"3890cb50-187c-405b-9d29-04e6ccac540b","name":"Bài đăng chưa tới giờ"},{"parameters":{"content":"## Lấy Access Token và Prompt\n","height":240,"width":700},"type":"n8n-nodes-base.stickyNote","position":[176,1120],"typeVersion":1,"id":"7b544994-d371-4b29-b781-4e4a2ad455e6","name":"Sticky Note4"},{"parameters":{"content":"## AI AGENT\nNếu yêu cầu AI Tạo nội dung, Thì sẽ đưa vào luồng AI Agent. Không thì đưa trực tiếp vào đăng bài\n","height":580,"width":700},"type":"n8n-nodes-base.stickyNote","position":[176,1392],"typeVersion":1,"id":"49658c40-d32e-4eea-89f1-0da5b626fa74","name":"Sticky Note5"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[1536,928],"id":"2811e871-42e3-41e9-aa92-5b0b52efa86e","name":"No Operation"},{"parameters":{"content":"## Tạo ra 1 luồng mới để upload hình ảnh\n- Upload toàn bộ hình ảnh lên photos facebook ở chế nó published = false","height":220,"width":560},"type":"n8n-nodes-base.stickyNote","position":[1680,400],"typeVersion":1,"id":"1c3fac0c-ad38-4afc-938a-b45eadf36666","name":"Sticky Note6"},{"parameters":{"content":"## Gom các photo id lại thành 1 mảng","height":220,"width":260},"type":"n8n-nodes-base.stickyNote","position":[2256,400],"typeVersion":1,"id":"47e12689-cbbe-47cb-9795-2bf876882e6e","name":"Sticky Note7"},{"parameters":{"content":"## Đăng bài\nĐăng nội dung kèm theo toàn bộ ID photo","height":240,"width":320},"type":"n8n-nodes-base.stickyNote","position":[2576,464],"typeVersion":1,"id":"fcbb1321-b969-442e-867e-064ea4a6d757","name":"Sticky Note8"},{"parameters":{"content":"## Cập nhật trạng thái\n- Cập nhật trạng thái của nội dung và add bài đã đang vào phần kết quả","height":240,"width":380},"type":"n8n-nodes-base.stickyNote","position":[3120,832],"typeVersion":1,"id":"fb57684a-549e-43cd-9033-86e93a519208","name":"Sticky Note9"},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"https://docs.google.com/spreadsheets/d/1jCxlzftqpCiycOcHqe7FZmR0IBTF0L6BJCb_CDXzhZ8/edit?gid=0#gid=0","mode":"url"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Content","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1jCxlzftqpCiycOcHqe7FZmR0IBTF0L6BJCb_CDXzhZ8/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"STT":"={{ $('Data').item.json.STT }}","Trạng thái":"Chờ Đăng"},"matchingColumns":["STT"],"schema":[{"id":"STT","displayName":"STT","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Trang","displayName":"Trang","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"ID Trang","displayName":"ID Trang","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Trạng thái","displayName":"Trạng thái","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Loại bài viết","displayName":"Loại bài viết","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"AI Agent","displayName":"AI Agent","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Thời gian đăng","displayName":"Thời gian đăng","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Chủ đề","displayName":"Chủ đề","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Nội dung chính","displayName":"Nội dung chính","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Nội dung bắt buộc","displayName":"Nội dung bắt buộc","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Link bài đăng","displayName":"Link bài đăng","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Link Video","displayName":"Link Video","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Ảnh 1(Đại diện)","displayName":"Ảnh 1(Đại diện)","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Ảnh 2","displayName":"Ảnh 2","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Ảnh 3","displayName":"Ảnh 3","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Ảnh 4","displayName":"Ảnh 4","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Ảnh 5","displayName":"Ảnh 5","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Ảnh 6","displayName":"Ảnh 6","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Ảnh 7","displayName":"Ảnh 7","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Ảnh 8","displayName":"Ảnh 8","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Ảnh 9","displayName":"Ảnh 9","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Ảnh 10","displayName":"Ảnh 10","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[-48,1472],"id":"5dff5a44-8b2f-483b-be21-89d013eac9da","name":"Google Sheets"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"ae3abbae-7427-4ec2-bf47-5c8ba7551459","leftValue":"={{ $json.status.uploading_phase.status }}","rightValue":"complete","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"complete"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"dde63ce1-c7bc-4638-b71d-4167bf26b0af","leftValue":"={{ $json.status.uploading_phase.status }}","rightValue":"error","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"error"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[2240,1120],"id":"05540a63-22c7-4977-811f-c33b704b2c4e","name":"Switch1"},{"parameters":{"assignments":{"assignments":[{"id":"ea21460e-aa4f-42d2-953a-6330106850a1","name":"id","value":"={{ $json.id }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2976,1104],"id":"19bb9655-00a7-4ba0-9635-e0abd8a0e1eb","name":"Edit Fields1"},{"parameters":{"path":"0ec0835a-b7f5-4d30-a3aa-f87d0e93e766","responseMode":"lastNode","responseData":"firstEntryBinary","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[64,112],"id":"51214e96-9ca9-4bfd-bb7b-3ceebe052d79","name":"Webhook1","webhookId":"0ec0835a-b7f5-4d30-a3aa-f87d0e93e766"},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"={{ $json.query.url }}","mode":"url"},"options":{"binaryPropertyName":"data"}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[240,112],"id":"5c6aa702-f306-4321-9ba4-d14d2bdff6ce","name":"Google Drive"},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"https://docs.google.com/spreadsheets/d/1jCxlzftqpCiycOcHqe7FZmR0IBTF0L6BJCb_CDXzhZ8/edit?gid=0#gid=0","mode":"url"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Content","cachedResultUrl":"https://docs.google.com/spreadsheets/d/11SWC5VyspWd23SSZOnkxIzkB1FbunIyu_DcQ4Fx0l5k/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"STT":"={{ $('ReadContent').last().json.STT }}","Trạng thái":"Lỗi","Ghi chú":"={{ $json.note }}"},"matchingColumns":["STT"],"schema":[{"id":"STT","displayName":"STT","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Trang","displayName":"Trang","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"ID Trang","displayName":"ID Trang","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Trạng thái","displayName":"Trạng thái","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Loại bài viết","displayName":"Loại bài viết","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"AI Agent","displayName":"AI Agent","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Thời gian đăng","displayName":"Thời gian đăng","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Chủ đề","displayName":"Chủ đề","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Nội dung chính","displayName":"Nội dung chính","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Nội dung bắt buộc","displayName":"Nội dung bắt buộc","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Ghi chú","displayName":"Ghi chú","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Link bài đăng","displayName":"Link bài đăng","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Link Video","displayName":"Link Video","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Ảnh 1(Đại diện)","displayName":"Ảnh 1(Đại diện)","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Ảnh 2","displayName":"Ảnh 2","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Ảnh 3","displayName":"Ảnh 3","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Ảnh 4","displayName":"Ảnh 4","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Ảnh 5","displayName":"Ảnh 5","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Ảnh 6","displayName":"Ảnh 6","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Ảnh 7","displayName":"Ảnh 7","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Ảnh 8","displayName":"Ảnh 8","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Ảnh 9","displayName":"Ảnh 9","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Ảnh 10","displayName":"Ảnh 10","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[3600,1248],"id":"ca758682-3dc5-407b-9db6-dd68df692780","name":"UpdateStatusSuccess1"},{"parameters":{"assignments":{"assignments":[{"id":"e61dffca-fd3c-477f-9110-ad7ca2fe519f","name":"note","value":"Lỗi bản quyền, có thể nhạc hoặc video dính bản quyền","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2976,1568],"id":"d86102e4-bbf3-4dbd-b53d-6c30b65e71a4","name":"Edit Fields2"},{"parameters":{"assignments":{"assignments":[{"id":"2f914544-2470-4a15-b0db-53705336054b","name":"note","value":"={{ $json.status.processing_phase.errors[0].message }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2976,1392],"id":"df9a54a6-851a-4bde-af31-19862ed245ff","name":"Edit Fields3"},{"parameters":{"url":"=https://graph.facebook.com/v22.0/{{ $('CreateSessionUpload').item.json.video_id }}","sendQuery":true,"queryParameters":{"parameters":[{"name":"fields","value":"status "},{"name":"access_token","value":"={{ $('ReadContent').item.json.accessToken }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2064,1120],"id":"cdb62003-43bc-4303-b147-a6d88b49104a","name":"CheckUpload"},{"parameters":{"url":"=https://graph.facebook.com/v22.0/{{ $('CreateSessionUpload').item.json.video_id }}","sendQuery":true,"queryParameters":{"parameters":[{"name":"fields","value":"status "},{"name":"access_token","value":"={{ $('ReadContent').item.json.accessToken }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1872,1392],"id":"ec9ece8e-1e14-4eed-a9bb-2db435bd2cbf","name":"CheckPublishStatus"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"ae3abbae-7427-4ec2-bf47-5c8ba7551459","leftValue":"={{ $json.status.uploading_phase.status }}","rightValue":"complete","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"complete"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"dde63ce1-c7bc-4638-b71d-4167bf26b0af","leftValue":"={{ $json.status.uploading_phase.status }}","rightValue":"error","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"error"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"e1e29840-9e7a-4e4e-b381-f2e4decc8052","leftValue":"={{ $json.status.copyright_check_status.matches_found }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"copyright_check_status"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[2064,1392],"id":"4c94d0c3-35ac-4df3-937b-a8c4fba4ff3f","name":"Switch3"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"5efa5182-fe6d-4023-b4a4-76bfb093029c","leftValue":"={{ $json.status.publishing_phase.status }}","rightValue":"complete","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[2192,1568],"id":"3043628e-a662-4a61-adf0-e537f55e5fe4","name":"If1"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[1536,1824],"id":"390cd72b-f92b-4743-8027-07622988c8ce","name":"NextUploadVideo"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[2704,1392],"id":"d4498752-2463-48d3-aaaa-dce25e3deb74","name":"NextShowErrror"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[2704,1104],"id":"abbc070e-6ed0-415a-bf48-a7405b2f394a","name":"Success"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[2704,1568],"id":"56b42812-e722-4e6a-bf90-fb136c154de0","name":"Lỗi bản quyền"},{"parameters":{"content":"## Tạo 1 http link video\nĐể facebook có thể tải video lên trực tiếp qua url","height":280,"width":468},"type":"n8n-nodes-base.stickyNote","position":[-16,0],"typeVersion":1,"id":"423e1602-4e28-4154-ad5b-264dc5812196","name":"Sticky Note10"}],"connections":{"DownloadImage2":{"main":[[{"node":"PostSinglePhoto","type":"main","index":0}]]},"UploadToPhotos":{"main":[[{"node":"Merge Photo Ids","type":"main","index":0}]]},"UpdateToQueue":{"main":[[{"node":"AllContent","type":"main","index":0}]]},"Next":{"main":[[{"node":"Split Out","type":"main","index":0},{"node":"Next1","type":"main","index":0}]]},"ReadContent":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Next2":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Merge Photo Ids":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Merge":{"main":[[{"node":"PostFeed","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Next","type":"main","index":0}],[{"node":"DownloadImage2","type":"main","index":0}],[{"node":"No Operation","type":"main","index":0}],[{"node":"CreateSessionUpload","type":"main","index":0}],[{"node":"NextUploadVideo","type":"main","index":0}],[{"node":"DownloadImageStory","type":"main","index":0}],[{"node":"CreateSessionUploadVideoStory","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"DownloadImage","type":"main","index":0}]]},"PostFeed":{"main":[[{"node":"UpdateStatusSuccess","type":"main","index":0}]]},"PostSinglePhoto":{"main":[[{"node":"UpdateStatusSuccess","type":"main","index":0}]]},"PostFeedText":{"main":[[{"node":"UpdateStatusSuccess","type":"main","index":0}]]},"Upload a Local File":{"main":[[{"node":"CheckUpload","type":"main","index":0}]]},"CreateSessionUpload":{"main":[[{"node":"Upload a Local File","type":"main","index":0}]]},"Manual Publish":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Wait":{"main":[[{"node":"CheckPublishStatus","type":"main","index":0}]]},"UploadVideo":{"main":[[{"node":"UpdateStatusSuccess","type":"main","index":0}]]},"CreateSessionUploadVideoStory":{"main":[[{"node":"Upload Video Story","type":"main","index":0}]]},"Upload Video Story":{"main":[[{"node":"GetStatusVideoStory","type":"main","index":0}]]},"Pushlish Story":{"main":[[{"node":"SetIdStory","type":"main","index":0}]]},"GetStatusVideoStory":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"Pushlish Story","type":"main","index":0}],[{"node":"Wait1","type":"main","index":0}]]},"Wait1":{"main":[[{"node":"GetStatusVideoStory","type":"main","index":0}]]},"UploadImage":{"main":[[{"node":"PostStory","type":"main","index":0}]]},"PostStory":{"main":[[{"node":"SetIdStory","type":"main","index":0}]]},"SetIdStory":{"main":[[{"node":"UpdateStatusSuccess","type":"main","index":0}]]},"DownloadImage":{"main":[[{"node":"UploadToPhotos","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"ReadContent","type":"main","index":0}]]},"IfUseAIAgent":{"main":[[{"node":"Think","type":"main","index":0}],[{"node":"Edit Fields","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"GetAllPending","type":"main","index":0}]]},"UpdateStatusSuccess":{"main":[[{"node":"UpdateResult","type":"main","index":0}]]},"Next1":{"main":[[{"node":"Next2","type":"main","index":0}]]},"DownloadImageStory":{"main":[[{"node":"UploadImage","type":"main","index":0}]]},"FindPage":{"main":[[{"node":"Data","type":"main","index":0}]]},"Data":{"main":[[{"node":"IfUseAIAgent","type":"main","index":0}]]},"WaitContinueStep":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Output":{"main":[[{"node":"ReadContent","type":"main","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"Think","type":"ai_outputParser","index":0}]]},"OpenAI Chat Model2":{"ai_languageModel":[[{"node":"Think","type":"ai_languageModel","index":0}]]},"Think":{"main":[[{"node":"Output","type":"main","index":0}],[{"node":"Google Sheets","type":"main","index":0}]]},"UpdateResult":{"main":[[{"node":"WaitContinueStep","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"FindPage","type":"main","index":0}]]},"GetAllPending":{"main":[[{"node":"IfTimeExists","type":"main","index":0}]]},"IfTimeExists":{"main":[[{"node":"FormatTime","type":"main","index":0}],[{"node":"MergeContent","type":"main","index":1}]]},"IfTimeIsPresent":{"main":[[{"node":"MergeContent","type":"main","index":0}],[{"node":"Bài đăng chưa tới giờ","type":"main","index":0}]]},"FormatTime":{"main":[[{"node":"IfTimeIsPresent","type":"main","index":0}]]},"MergeContent":{"main":[[{"node":"UpdateToQueue","type":"main","index":0}]]},"AllContent":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"No Operation":{"main":[[{"node":"PostFeedText","type":"main","index":0}]]},"Google Sheets":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Switch1":{"main":[[{"node":"Manual Publish","type":"main","index":0}],[{"node":"NextShowErrror","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"UpdateStatusSuccess","type":"main","index":0}]]},"Webhook1":{"main":[[{"node":"Google Drive","type":"main","index":0}]]},"UpdateStatusSuccess1":{"main":[[{"node":"WaitContinueStep","type":"main","index":0}]]},"Edit Fields2":{"main":[[{"node":"UpdateStatusSuccess1","type":"main","index":0}]]},"Edit Fields3":{"main":[[{"node":"UpdateStatusSuccess1","type":"main","index":0}]]},"CheckUpload":{"main":[[{"node":"Switch1","type":"main","index":0}]]},"CheckPublishStatus":{"main":[[{"node":"Switch3","type":"main","index":0}]]},"Switch3":{"main":[[{"node":"If1","type":"main","index":0}],[{"node":"NextShowErrror","type":"main","index":0}],[{"node":"Lỗi bản quyền","type":"main","index":0}]]},"If1":{"main":[[{"node":"Success","type":"main","index":0}],[{"node":"Wait","type":"main","index":0}]]},"NextUploadVideo":{"main":[[{"node":"UploadVideo","type":"main","index":0}]]},"NextShowErrror":{"main":[[{"node":"Edit Fields3","type":"main","index":0}]]},"Success":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]},"Lỗi bản quyền":{"main":[[{"node":"Edit Fields2","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"ffd85dd3-948d-4f9b-9df8-c62c28bf8d41","triggerCount":0,"shared":[{"createdAt":"2025-08-11T17:26:43.444Z","updatedAt":"2025-08-11T17:26:43.444Z","role":"workflow:owner","workflowId":"mnZNaecCOCLOgoCn","projectId":"Bsx4kBdHQHZGGC5J"}],"tags":[]}