facebook2-nQfftEQAIFpE1U8y.json
{"createdAt":"2025-08-11T17:31:40.708Z","updatedAt":"2025-08-28T17:08:07.274Z","id":"nQfftEQAIFpE1U8y","name":"facebook2","active":false,"isArchived":true,"nodes":[{"parameters":{"assignments":{"assignments":[{"id":"995f4bef-e899-42b5-a30f-f8d85aa76221","name":"access_token","value":"","type":"string"},{"id":"60a401d9-57f2-4f41-8739-e262367288a4","name":"page_id","value":"","type":"string"},{"id":"22e7fe25-0fef-4419-b2c4-8af581403ba6","name":"text_format_preset_id","value":"248623902401250","type":"string"},{"id":"2bd7fe90-dd38-478a-bff8-a4d19b4c5089","name":"url_drive","value":"","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-48,928],"id":"6fb80803-109d-47c5-96a4-63f8ce134b3d","name":"Set Var"},{"parameters":{"method":"POST","url":"=https://graph.facebook.com/v22.0/{{ $json.page_id }}/feed","sendQuery":true,"queryParameters":{"parameters":[{"name":"message","value":"=Xin chào, post test"},{"name":"access_token","value":"={{ $json.access_token }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[128,16],"id":"ffce4e78-ce0a-4cd1-aa4a-91b462623626","name":"Feed Post Text Only"},{"parameters":{"method":"POST","url":"=https://graph.facebook.com/v22.0/{{ $json.page_id }}/feed","sendQuery":true,"queryParameters":{"parameters":[{"name":"message","value":"=Xin chào, post test"},{"name":"access_token","value":"={{ $json.access_token }}"},{"name":"text_format_preset_id","value":"={{ $json.text_format_preset_id }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[128,240],"id":"15dee939-e736-480c-914e-0b1aace4ec7a","name":"Feed With Background"},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"={{ $json.url_drive }}","mode":"url"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[128,464],"id":"4dce143c-320f-4328-b5bf-113c86aad22d","name":"Dowload Single Photo"},{"parameters":{"assignments":{"assignments":[{"id":"e9ed794d-54ad-4e59-a021-649dee1c7d82","name":"urls","value":"={{ $json.url_drive.split(\"\\n\") }}","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[320,688],"id":"4c6f1eb2-0198-433e-8e0a-e584ff7086af","name":"Convert Array"},{"parameters":{"fieldToSplitOut":"urls","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[512,688],"id":"ff6b129f-a6ff-46af-9337-1efb18ae8b1a","name":"Split Out"},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"={{ $json.urls }}","mode":"url"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[736,688],"id":"a0a057d2-1d6e-4aa0-851f-90b4aa4cd542","name":"Dowload Lần Lượt"},{"parameters":{"assignments":{"assignments":[{"id":"b9565927-0581-4d8e-9c31-1e3e2c1c8ebc","name":"media_fbid","value":"={{ $json.id }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1168,688],"id":"a203f23a-0e5d-4736-aa19-ba2a7a531d5a","name":"Get Media FBID"},{"parameters":{"aggregate":"aggregateAllItemData","destinationFieldName":"=all","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[1376,688],"id":"c170e581-06eb-49b3-ac53-556185c70459","name":"Aggregate"},{"parameters":{"httpRequestMethod":"POST","graphApiVersion":"v22.0","node":"={{ $json.page_id }}","edge":"photos","sendBinaryData":true,"binaryPropertyName":"data","options":{"queryParameters":{"parameter":[{"name":"message","value":"Xin Chào Việt Nam"}]}}},"type":"n8n-nodes-base.facebookGraphApi","typeVersion":1,"position":[576,464],"id":"d1884721-3163-422e-b5d5-eb3a86b330c7","name":"Single Post Graph API"},{"parameters":{"httpRequestMethod":"POST","graphApiVersion":"v22.0","node":"={{ $('Set Var').item.json.page_id }}","edge":"photos","sendBinaryData":true,"binaryPropertyName":"data","options":{"queryParameters":{"parameter":[{"name":"published","value":"false"}]}}},"type":"n8n-nodes-base.facebookGraphApi","typeVersion":1,"position":[1808,688],"id":"d6d01def-ed1a-478f-8dac-526ad4cba789","name":"Post Get ID - Not Public"},{"parameters":{"httpRequestMethod":"POST","graphApiVersion":"v22.0","node":"={{ $('Set Var').item.json.page_id }}","edge":"feed","options":{"queryParameters":{"parameter":[{"name":"message","value":"Đây là post nhiều ảnh"},{"name":"published","value":"true"},{"name":"attached_media","value":"={{ $json.attached_media }}"}]}}},"type":"n8n-nodes-base.facebookGraphApi","typeVersion":1,"position":[2032,688],"id":"0a2ce71b-ed2a-4f2e-a2d0-7a321ef22eba","name":"Public Post & All Img"},{"parameters":{"method":"POST","url":"=https://graph.facebook.com/v22.0/{{ $('Set Var6').item.json.page_id }}/photos","sendQuery":true,"queryParameters":{"parameters":[{"name":"access_token","value":"={{ $('Set Var6').item.json.access_token }}"}]},"sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"parameterType":"formBinaryData","name":"=data","inputDataFieldName":"data"},{"name":"published","value":"false"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[960,688],"id":"48358018-beaa-462d-8b83-2471f8036efb","name":"HTTP Post Img Not Public"},{"parameters":{"method":"POST","url":"=https://graph.facebook.com/v22.0/{{ $('Set Var6').item.json.page_id }}/feed","sendQuery":true,"queryParameters":{"parameters":[{"name":"access_token","value":"={{ $('Set Var6').item.json.access_token }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"published","value":"true"},{"name":"=message","value":"=Xin chào\n\nTest nhiều hình"},{"name":"=attached_media","value":"={{ $json.all }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1600,688],"id":"0fed18ff-07de-4dce-8cbe-6371be2a46e8","name":"HTTP Public Post Imgs"},{"parameters":{"method":"POST","url":"=https://graph.facebook.com/{{ $('Set Var').item.json.page_id }}/videos","sendQuery":true,"queryParameters":{"parameters":[{"name":"=access_token","value":"={{ $('Set Var').item.json.access_token }}"}]},"sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"parameterType":"formBinaryData","name":"=source","inputDataFieldName":"=data"},{"name":"description","value":"=Tiêu đề video hôm nay"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[448,928],"id":"a42d6439-188f-46b2-b61f-b5ec1489f6f8","name":"Public Video"},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"={{ $('Set Var').item.json.url_drive }}","mode":"url"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[176,928],"id":"58ff0b22-4ef0-4c3d-abce-bbdd2be4812c","name":"Dowload Video","retryOnFail":true},{"parameters":{"method":"POST","url":"=https://graph.facebook.com/v22.0/{{ $('Set Var5').item.json.page_id }}/photos","sendQuery":true,"queryParameters":{"parameters":[{"name":"access_token","value":"={{ $json.access_token }}"}]},"sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"parameterType":"formBinaryData","name":"=data","inputDataFieldName":"data"},{"parameterType":"=formData","name":"=message","value":"Hello"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[336,464],"id":"8ae54b67-fc34-4942-803b-8ab4ad920aa4","name":"Single Img HTTP"},{"parameters":{"rule":{"interval":[{}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-272,1168],"id":"d1326cff-c241-4df8-9de9-ae9903f8ae5e","name":"Schedule Trigger"},{"parameters":{"assignments":{"assignments":[{"id":"995f4bef-e899-42b5-a30f-f8d85aa76221","name":"access_token","value":"","type":"string"},{"id":"60a401d9-57f2-4f41-8739-e262367288a4","name":"page_id","value":"","type":"string"},{"id":"22e7fe25-0fef-4419-b2c4-8af581403ba6","name":"text_format_preset_id","value":"248623902401250","type":"string"},{"id":"2bd7fe90-dd38-478a-bff8-a4d19b4c5089","name":"url_drive","value":"","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-48,1168],"id":"59091074-3db4-4ceb-a1eb-6ccfd87d9dbf","name":"Set Var1"},{"parameters":{"method":"POST","url":"=https://graph.facebook.com/v22.0/{{ $json.page_id }}/video_reels","sendQuery":true,"queryParameters":{"parameters":[{"name":"access_token","value":"={{ $json.access_token }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"upload_phase","value":"start"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[160,1168],"id":"1e1ac6eb-017f-4f45-b563-00857e06bce5","name":"Initial"},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"={{ $('Set Var1').item.json.url_drive }}","mode":"url"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[368,1168],"id":"fcfb5096-679b-4eb5-9301-7e710969f0de","name":"Dowload Reel"},{"parameters":{"method":"POST","url":"={{ $('Initial').item.json.upload_url }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=OAuth {{ $('Set Var1').item.json.access_token }}"},{"name":"offset","value":"0"},{"name":"file_size","value":"={{ parseInt($('Dowload Reel').item.binary.data.fileSize.split(\" \")[0]*100000,10) }}"}]},"sendBody":true,"contentType":"binaryData","inputDataFieldName":"data","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[592,1168],"id":"f03ce16a-9395-4dea-968e-b85ff8b7a3d8","name":"Upload Local"},{"parameters":{"url":"=https://graph.facebook.com/v22.0/{{ $('Initial').item.json.video_id }}","sendQuery":true,"queryParameters":{"parameters":[{"name":"fields","value":"status"},{"name":"access_token","value":"={{ $('Set Var1').item.json.access_token }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[816,1168],"id":"53c7f197-6c95-47ab-9e72-505fa7af7799","name":"Get Status Reel"},{"parameters":{"amount":10},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1280,1264],"id":"b97c64a8-4b4b-4e49-acc2-811c88988ff0","name":"Wait","webhookId":"106b7021-878a-4bf4-b8ed-3beec48f6513"},{"parameters":{"method":"POST","url":"=https://graph.facebook.com/v22.0/{{ $('Set Var1').item.json.page_id }}/video_reels","sendQuery":true,"queryParameters":{"parameters":[{"name":"access_token","value":"={{ $('Set Var1').item.json.access_token }}"},{"name":"=video_id","value":"={{ $('Initial').item.json.video_id }}"},{"name":"upload_phase","value":"finish"},{"name":"video_state","value":"PUBLISHED"},{"name":"description","value":"What a beautiful day! #sunnyand72"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1408,1136],"id":"b2d0edd3-0f45-43a0-a4a0-0bfa23967e94","name":"Public"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"667fa6d2-9f2f-40a0-ac1c-5821650b74d5","leftValue":"={{ $json.status.video_status }}","rightValue":"upload_complete","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1040,1168],"id":"036f5dd4-0775-4af0-837c-0f38c1269657","name":"If"},{"parameters":{"rule":{"interval":[{}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-272,688],"id":"4ddd0dcc-0932-4353-ab85-8bfa41c24630","name":"Schedule Trigger1"},{"parameters":{"rule":{"interval":[{}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-272,928],"id":"43dc9c7b-7e02-4217-b5ad-9a18e5eaa8fa","name":"Schedule Trigger2"},{"parameters":{"rule":{"interval":[{}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-272,464],"id":"bf6450fa-a64a-498b-881c-5d6387f61cf1","name":"Schedule Trigger3"},{"parameters":{"rule":{"interval":[{}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-272,240],"id":"aaee080e-6306-48c6-9574-23f167e09cf6","name":"Schedule Trigger4"},{"parameters":{"rule":{"interval":[{}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-272,16],"id":"26deb842-4a91-4248-b669-6e6d13e4e117","name":"Schedule Trigger5"},{"parameters":{"assignments":{"assignments":[{"id":"995f4bef-e899-42b5-a30f-f8d85aa76221","name":"access_token","value":"","type":"string"},{"id":"60a401d9-57f2-4f41-8739-e262367288a4","name":"page_id","value":"","type":"string"},{"id":"22e7fe25-0fef-4419-b2c4-8af581403ba6","name":"text_format_preset_id","value":"248623902401250","type":"string"},{"id":"2bd7fe90-dd38-478a-bff8-a4d19b4c5089","name":"url_drive","value":"","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-48,16],"id":"6d76211f-2f45-47f1-a438-6e6750927cfc","name":"Set Var3"},{"parameters":{"assignments":{"assignments":[{"id":"995f4bef-e899-42b5-a30f-f8d85aa76221","name":"access_token","value":"","type":"string"},{"id":"60a401d9-57f2-4f41-8739-e262367288a4","name":"page_id","value":"","type":"string"},{"id":"22e7fe25-0fef-4419-b2c4-8af581403ba6","name":"text_format_preset_id","value":"248623902401250","type":"string"},{"id":"2bd7fe90-dd38-478a-bff8-a4d19b4c5089","name":"url_drive","value":"","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-48,240],"id":"e65a12d3-1e25-47fd-847b-14d7925fd48a","name":"Set Var4"},{"parameters":{"assignments":{"assignments":[{"id":"995f4bef-e899-42b5-a30f-f8d85aa76221","name":"access_token","value":"","type":"string"},{"id":"60a401d9-57f2-4f41-8739-e262367288a4","name":"page_id","value":"","type":"string"},{"id":"22e7fe25-0fef-4419-b2c4-8af581403ba6","name":"text_format_preset_id","value":"248623902401250","type":"string"},{"id":"2bd7fe90-dd38-478a-bff8-a4d19b4c5089","name":"url_drive","value":"","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-48,464],"id":"459fc94f-f16c-4b75-9bfd-e946a95ba395","name":"Set Var5"},{"parameters":{"assignments":{"assignments":[{"id":"995f4bef-e899-42b5-a30f-f8d85aa76221","name":"access_token","value":"","type":"string"},{"id":"60a401d9-57f2-4f41-8739-e262367288a4","name":"page_id","value":"","type":"string"},{"id":"22e7fe25-0fef-4419-b2c4-8af581403ba6","name":"text_format_preset_id","value":"248623902401250","type":"string"},{"id":"2bd7fe90-dd38-478a-bff8-a4d19b4c5089","name":"url_drive","value":"=https://drive.google.com/file/d/a\nhttps://drive.google.com/file/d/b\nhttps://drive.google.com/file/d/c","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-48,688],"id":"4575b260-f14a-42ee-8d22-380914e53151","name":"Set Var6"},{"parameters":{"content":"### Chỉ post status","height":80,"width":150},"type":"n8n-nodes-base.stickyNote","position":[352,16],"typeVersion":1,"id":"e410d4b0-1fb0-4964-bfcb-a1d50a424770","name":"Sticky Note"},{"parameters":{"content":"### Post text + background","height":80,"width":150},"type":"n8n-nodes-base.stickyNote","position":[352,256],"typeVersion":1,"id":"5f75957f-c102-4a1d-94c1-fe06a8d46a03","name":"Sticky Note1"},{"parameters":{"content":"### Post ảnh đơn","height":80,"width":150},"type":"n8n-nodes-base.stickyNote","position":[800,464],"typeVersion":1,"id":"c5dc515b-7547-4b01-aef4-f50d4682af1e","name":"Sticky Note2"},{"parameters":{"content":"### Post nhiều ảnh","height":80,"width":150},"type":"n8n-nodes-base.stickyNote","position":[2256,704],"typeVersion":1,"id":"347a3ea5-ab0c-4867-adda-b1350245e64b","name":"Sticky Note3"},{"parameters":{"content":"### Post video","height":80,"width":150},"type":"n8n-nodes-base.stickyNote","position":[816,944],"typeVersion":1,"id":"d78c36a3-cf56-4de8-bc92-0199ad4a13f1","name":"Sticky Note4"},{"parameters":{"content":"### Post reels","height":80,"width":150},"type":"n8n-nodes-base.stickyNote","position":[1632,1168],"typeVersion":1,"id":"77979349-b9c4-45a6-93b6-199a304df22a","name":"Sticky Note5"},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"={{ $json.url_drive }}","mode":"url"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[128,1440],"id":"9a081918-d7c2-4468-ab96-2353b95358b3","name":"Dowload Single Photo1"},{"parameters":{"rule":{"interval":[{}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-272,1440],"id":"17a1037c-51da-4117-975d-ce1df364aac5","name":"Schedule Trigger6"},{"parameters":{"assignments":{"assignments":[{"id":"995f4bef-e899-42b5-a30f-f8d85aa76221","name":"access_token","value":"","type":"string"},{"id":"60a401d9-57f2-4f41-8739-e262367288a4","name":"page_id","value":"","type":"string"},{"id":"22e7fe25-0fef-4419-b2c4-8af581403ba6","name":"text_format_preset_id","value":"248623902401250","type":"string"},{"id":"2bd7fe90-dd38-478a-bff8-a4d19b4c5089","name":"url_drive","value":"","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-80,1440],"id":"a895bf67-fff9-4fd8-88aa-8b297353f5e4","name":"Set Var7"},{"parameters":{"method":"POST","url":"=https://graph.facebook.com/v22.0/{{ $('Set Var7').item.json.page_id }}/photos","sendQuery":true,"queryParameters":{"parameters":[{"name":"access_token","value":"={{ $('Set Var7').item.json.access_token }}"}]},"sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"parameterType":"formBinaryData","name":"=data","inputDataFieldName":"data"},{"name":"published","value":"false"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[352,1440],"id":"b8c310e6-a7d5-4196-8c08-cf5780344f35","name":"HTTP Post Img Not Public1"},{"parameters":{"method":"POST","url":"=https://graph.facebook.com/v22.0/{{ $('Dowload Single Photo1').item.json.page_id }}/photo_stories","sendQuery":true,"queryParameters":{"parameters":[{"name":"access_token","value":"={{ $('Set Var7').item.json.access_token }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"photo_id","value":"={{ $json.id }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[576,1440],"id":"13f401dc-f70a-4d27-86bc-c2005c21aed9","name":"Public Story Img"},{"parameters":{"content":"### Post story img","height":80,"width":150},"type":"n8n-nodes-base.stickyNote","position":[848,1488],"typeVersion":1,"id":"dbd7c140-35bc-4f31-ab92-32ea0dd391c5","name":"Sticky Note6"},{"parameters":{"assignments":{"assignments":[{"id":"995f4bef-e899-42b5-a30f-f8d85aa76221","name":"access_token","value":"","type":"string"},{"id":"60a401d9-57f2-4f41-8739-e262367288a4","name":"page_id","value":"","type":"string"},{"id":"22e7fe25-0fef-4419-b2c4-8af581403ba6","name":"text_format_preset_id","value":"248623902401250","type":"string"},{"id":"2bd7fe90-dd38-478a-bff8-a4d19b4c5089","name":"url_drive","value":"","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-80,1664],"id":"ffbc1719-f7c1-4681-a376-8dc999d2a6b5","name":"Set Var8"},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"={{ $('Set Var8').item.json.url_drive }}","mode":"url"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[368,1664],"id":"06ab40fd-0c4b-45bc-9c9e-35ca47005e42","name":"Dowload Video2","retryOnFail":true},{"parameters":{"method":"POST","url":"=https://graph.facebook.com/v22.0/{{ $json.page_id }}/video_stories","sendQuery":true,"queryParameters":{"parameters":[{"name":"=upload_phase","value":"=start"},{"name":"access_token","value":"={{ $json.access_token }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[128,1664],"id":"3c224cf2-2a1a-4957-981f-8ef620131e60","name":"Khởi tạo phiên2"},{"parameters":{"rule":{"interval":[{}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-288,1664],"id":"3ba12ba9-18e0-467e-b24d-28b05ef2bd12","name":"Schedule Trigger7"},{"parameters":{"content":"### Post story video","height":80,"width":150},"type":"n8n-nodes-base.stickyNote","position":[1648,1648],"typeVersion":1,"id":"06847f0f-1c7c-4254-84b3-485128826121","name":"Sticky Note7"},{"parameters":{"method":"POST","url":"=https://rupload.facebook.com/video-upload/v22.0/{{ $('Khởi tạo phiên2').item.json.video_id }}","sendQuery":true,"queryParameters":{"parameters":[{"name":"access_token","value":"={{ $('Set Var8').item.json.access_token }}"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"offset","value":"0"},{"name":"file_size","value":"={{ parseInt($('Dowload Video2').item.binary.data.fileSize.split(\" \")[0]*100000) }}"}]},"sendBody":true,"contentType":"binaryData","inputDataFieldName":"=data","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[592,1664],"id":"a6b97307-42b5-4361-832a-04f989ffaa5c","name":"Upload Video Story"},{"parameters":{"url":"=https://graph.facebook.com/v22.0/{{ $('Khởi tạo phiên2').item.json.video_id }}","sendQuery":true,"queryParameters":{"parameters":[{"name":"access_token","value":"={{ $('Set Var8').item.json.access_token }}"},{"name":"fields","value":"status"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[816,1664],"id":"482e7a79-019b-42df-8155-3a8c75e8baa6","name":"Get Status Video Story"},{"parameters":{"amount":10},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1296,1760],"id":"16c0f6e0-6d4f-4e8f-8750-a139f05093f2","name":"Wait1","webhookId":"b8636840-6294-43f7-89d3-4315997342fa"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"667fa6d2-9f2f-40a0-ac1c-5821650b74d5","leftValue":"={{ $json.status.video_status }}","rightValue":"upload_complete","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1056,1664],"id":"4103763d-7f13-4d4a-ad97-7b6d130e945a","name":"If1"},{"parameters":{"method":"POST","url":"=https://graph.facebook.com/v22.0/{{ $('Set Var8').item.json.page_id }}/video_stories","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $('Set Var8').item.json.access_token }}"}]},"sendBody":true,"contentType":"form-urlencoded","bodyParameters":{"parameters":[{"name":"upload_phase","value":"finish"},{"name":"video_id","value":"={{ $('Dowload Video2').item.json.video_id }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1440,1648],"id":"fd5c22ca-9340-411f-bf65-589a6dd7847b","name":"Public Video Story"}],"connections":{"Set Var":{"main":[[{"node":"Dowload Video","type":"main","index":0}]]},"Dowload Single Photo":{"main":[[{"node":"Single Img HTTP","type":"main","index":0}]]},"Convert Array":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Dowload Lần Lượt","type":"main","index":0}]]},"Dowload Lần Lượt":{"main":[[{"node":"HTTP Post Img Not Public","type":"main","index":0}]]},"Get Media FBID":{"main":[[{"node":"Aggregate","type":"main","index":0}]]},"Aggregate":{"main":[[{"node":"HTTP Public Post Imgs","type":"main","index":0}]]},"HTTP Post Img Not Public":{"main":[[{"node":"Get Media FBID","type":"main","index":0}]]},"Dowload Video":{"main":[[{"node":"Public Video","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Set Var1","type":"main","index":0}]]},"Set Var1":{"main":[[{"node":"Initial","type":"main","index":0}]]},"Initial":{"main":[[{"node":"Dowload Reel","type":"main","index":0}]]},"Dowload Reel":{"main":[[{"node":"Upload Local","type":"main","index":0}]]},"Upload Local":{"main":[[{"node":"Get Status Reel","type":"main","index":0}]]},"Get Status Reel":{"main":[[{"node":"If","type":"main","index":0}]]},"Wait":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"Public","type":"main","index":0}],[{"node":"Wait","type":"main","index":0}]]},"Schedule Trigger1":{"main":[[{"node":"Set Var6","type":"main","index":0}]]},"Schedule Trigger2":{"main":[[{"node":"Set Var","type":"main","index":0}]]},"Schedule Trigger3":{"main":[[{"node":"Set Var5","type":"main","index":0}]]},"Schedule Trigger4":{"main":[[{"node":"Set Var4","type":"main","index":0}]]},"Schedule Trigger5":{"main":[[{"node":"Set Var3","type":"main","index":0}]]},"Set Var3":{"main":[[{"node":"Feed Post Text Only","type":"main","index":0}]]},"Set Var4":{"main":[[{"node":"Feed With Background","type":"main","index":0}]]},"Set Var5":{"main":[[{"node":"Dowload Single Photo","type":"main","index":0}]]},"Set Var6":{"main":[[{"node":"Convert Array","type":"main","index":0}]]},"Schedule Trigger6":{"main":[[{"node":"Set Var7","type":"main","index":0}]]},"Set Var7":{"main":[[{"node":"Dowload Single Photo1","type":"main","index":0}]]},"Dowload Single Photo1":{"main":[[{"node":"HTTP Post Img Not Public1","type":"main","index":0}]]},"HTTP Post Img Not Public1":{"main":[[{"node":"Public Story Img","type":"main","index":0}]]},"Set Var8":{"main":[[{"node":"Khởi tạo phiên2","type":"main","index":0}]]},"Khởi tạo phiên2":{"main":[[{"node":"Dowload Video2","type":"main","index":0}]]},"Schedule Trigger7":{"main":[[{"node":"Set Var8","type":"main","index":0}]]},"Dowload Video2":{"main":[[{"node":"Upload Video Story","type":"main","index":0}]]},"Upload Video Story":{"main":[[{"node":"Get Status Video Story","type":"main","index":0}]]},"Wait1":{"main":[[{"node":"If1","type":"main","index":0}]]},"If1":{"main":[[{"node":"Public Video Story","type":"main","index":0}],[{"node":"Wait1","type":"main","index":0}]]},"Get Status Video Story":{"main":[[{"node":"If1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{"Schedule Trigger7":[{"json":{"timestamp":"2025-05-06T11:58:21.370-04:00","Readable date":"May 6th 2025, 11:58:21 am","Readable time":"11:58:21 am","Day of week":"Tuesday","Year":"2025","Month":"May","Day of month":"06","Hour":"11","Minute":"58","Second":"21","Timezone":"America/New_York (UTC-04:00)"}}]},"versionId":"f31e4648-7467-406e-9f6d-7b5ce6efb70d","triggerCount":0,"shared":[{"createdAt":"2025-08-11T17:31:40.708Z","updatedAt":"2025-08-11T17:31:40.708Z","role":"workflow:owner","workflowId":"nQfftEQAIFpE1U8y","projectId":"Bsx4kBdHQHZGGC5J"}],"tags":[]}