ha-bot-qYVTtfFuRwiTPUCh.json
{"createdAt":"2025-08-28T17:34:25.019Z","updatedAt":"2025-09-14T16:15:45.426Z","id":"qYVTtfFuRwiTPUCh","name":"ha-bot","active":true,"isArchived":false,"nodes":[{"parameters":{"jsCode":"return items.map(item => {\n  const text = item.json.content.parts?.[0]?.text || '';\n  return {\n    json: {\n      content: text\n    }\n  };\n});\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1680,880],"id":"3ba9d215-9275-4d11-a88d-3bfeccb6b7d1","name":"Code"},{"parameters":{"resource":"audio","modelId":{"__rl":true,"value":"models/gemini-2.0-flash","mode":"list","cachedResultName":"models/gemini-2.0-flash"},"audioUrls":"={{ $json.content.href }}","options":{}},"type":"@n8n/n8n-nodes-langchain.googleGemini","typeVersion":1,"position":[-1840,880],"id":"cd77f8df-07ae-4929-826f-fa3262c7f669","name":"stt","credentials":{"googlePalmApi":{"id":"Noq5n0k4rwmKdMBk","name":"tritue"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.3,"position":[-1200,80],"id":"ac4ec08e-1a77-4a97-aec3-8371e943cfa9","name":"When chat message received","webhookId":"37e464be-d1a0-4011-abd1-539c54c1dbdd"},{"parameters":{"jsCode":"// Lấy dữ liệu từ webhook\nconst webhookData = $input.item.json;\n\n// Lấy chuỗi message\nconst messageString = webhookData.originalMessage || webhookData.body.message;\n\n// Parse chuỗi message thành object\nlet messageData;\ntry {\n  // Xử lý các giá trị Python không tương thích với JSON\n  let jsonCompatible = messageString\n    .replace(/'/g, '\"')          // Thay thế dấu nháy đơn bằng dấu nháy kép\n    .replace(/False/g, 'false')  // Thay thế False của Python thành false của JSON\n    .replace(/True/g, 'true')    // Thay thế True của Python thành true của JSON\n    .replace(/None/g, 'null');   // Thay thế None của Python thành null của JSON\n  \n  // Xử lý các chuỗi JSON lồng nhau đã được escape\n  jsonCompatible = jsonCompatible.replace(/\"{/g, '{').replace(/}\"/g, '}');\n  \n  // Parse chuỗi thành object\n  messageData = JSON.parse(jsonCompatible);\n} catch (error) {\n  // Nếu vẫn không parse được, thử cách khác\n  try {\n    // Đôi khi chuỗi có thể chứa các ký tự escape không hợp lệ\n    const evalString = messageString\n      .replace(/'/g, '\"')\n      .replace(/False/g, 'false')\n      .replace(/True/g, 'true')\n      .replace(/None/g, 'null');\n    \n    // Sử dụng eval một cách an toàn để parse chuỗi\n    messageData = JSON.parse(evalString);\n  } catch (err) {\n    // Nếu không parse được, trả về lỗi chi tiết\n    return {\n      json: {\n        error: \"Không thể parse dữ liệu message\",\n        originalMessage: messageString,\n        errorDetails: error.message,\n        secondAttemptError: err.message\n      }\n    };\n  }\n}\n\n// Tạo object kết quả với các trường chính\nconst result = {\n  // Thông tin chung\n  type: messageData.type,\n  isSelf: messageData.isSelf,\n  threadId: messageData.threadId,\n  accountId: messageData._accountId,\n  \n  // Thông tin tin nhắn\n  actionId: messageData.data?.actionId,\n  msgId: messageData.data?.msgId,\n  cliMsgId: messageData.data?.cliMsgId,\n  msgType: messageData.data?.msgType,\n  \n  // Thông tin người gửi/nhận\n  uidFrom: messageData.data?.uidFrom,\n  idTo: messageData.data?.idTo,\n  dName: messageData.data?.dName,\n  \n  // Nội dung tin nhắn\n  content: messageData.data?.content,\n  timestamp: messageData.data?.ts,\n  status: messageData.data?.status,\n  \n  // Thông tin trích dẫn nếu có\n  quote: messageData.data?.quote ? {\n    ownerId: messageData.data.quote.ownerId,\n    message: messageData.data.quote.msg,\n    timestamp: messageData.data.quote.ts,\n    fromName: messageData.data.quote.fromD\n  } : null,\n  \n  // Thông tin mentions nếu có\n  mentions: messageData.data?.mentions || [],\n  \n  // Dữ liệu gốc để tham khảo\n  rawData: messageData\n};\n\n// Trả về kết quả\nreturn {\n  json: result\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-2512,752],"id":"f65880ee-0805-416f-ab20-d463fbe253b5","name":"to json"},{"parameters":{"assignments":{"assignments":[{"id":"626261bb-ae79-4fac-a875-cb37dbce9f75","name":"thời tiết","value":"=thời tiết {{ $json.content.description }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1808,592],"id":"70e80e01-7d69-499f-a380-5e0fc06ef111","name":"Edit Fields"},{"parameters":{"resource":"image","operation":"analyze","modelId":{"__rl":true,"value":"models/gemini-2.5-flash","mode":"list","cachedResultName":"models/gemini-2.5-flash"},"text":"Chỉ trích xuất đúng và đầy đủ thông tin theo một trong ba nhóm sau (không thêm dữ liệu ngoài yêu cầu):\n\nThông tin phương tiện:\nLoại xe: ô tô, xe máy hoặc xe điện\nBiển số xe\n\nThông tin vé số:\nKhu vực (miền Bắc, miền Trung, miền Nam hoặc tên tỉnh/thành)\nDãy số vé\nNgày mở thưởng\nThông tin tem kiểm định:\nMã/Thông tin tem kiểm định\nNếu không có thông tin khớp với các thông tin trên thì mô tả 1-2 câu về bức ảnh","imageUrls":"={{ $json.content.href }}","options":{}},"type":"@n8n/n8n-nodes-langchain.googleGemini","typeVersion":1,"position":[-1680,176],"id":"2cfccd55-c121-45c3-aa01-21ecf89bb06e","name":"Analyze image","credentials":{"googlePalmApi":{"id":"BmSJpQbzqh1rnp4z","name":"NguyenViet"}}},{"parameters":{"promptType":"define","text":"=Thời gian hiện tại: {{ $now }}. \nSếp Ben Bắp hỏi: \n{{ $json.rawData.body.message.text }}\n{{ $json.content }}\n{{ $json.text }}","needsFallback":true,"options":{"systemMessage":"# SMART AI ASSISTANT - OPERATION GUIDE\n## Role and Process\nYou are an intelligent AI assistant serving Boss Ben Bap. When a user asks a question, prioritize the use of tools and follow the following process for each request:\n1. **ANALYZE REQUEST**: Carefully analyze the user's request\n2. **EVALUATE TOOL**: Determine the most suitable tool\n3. **CHECK DATA**: Check if the input data is sufficient\n4. **IMPLEMENT**: Use the selected tool and process the results\n5. **RESPOND**: Create a response according to the format instructions below\n## Response Rules\n- Always respond in the same language as the question. If in Vietnamese, respond in Vietnamese; If in English, respond in English. - State the source of the information\n- Focus on the main issues, keep the content short, clear and easy to read\n- Add the label [AI Reasoning] when not using the tool\n- Do not respond to questions related to politics, religion, race, region, gender, sexuality (except for image creation, management search)\n- For questions about the origin of AI, respond with \"Boss Ben Bap\"\n- Incorporate current trends and humor to keep the conversation light but not detract from the content\n- Maintain a friendly, fun and concise tone, appealing to a younger audience\n- Do not respond with URL tags or markdown because the user's device only supports plain text and emojis\n- After each answer, ask if the user needs anything else, unless they explicitly state that they do not have any other requests; In such cases, do not ask again. Always put this question at the end of the sentence, ending with a question mark, and do not add any text after it.\n## Instructions for Processing by Request Type\n### Traffic Fines\n- If you are requesting a traffic fine lookup, use the tool to search for results by vehicle type and license plate number.\n### News\n- If requesting information or news, query 15 articles from the database table named vnnew, including columns:\n- title (article name)\n- link (article URL)\n- excerpt (article summary)\n- date (timestamp, e.g. 2025-07-13T13:12:00.000Z)\n### Weather\n- **Current Weather**: look up weather by province or district and province location → only respond with temperature, feeling, humidity, wind, UV, air quality, current weather description.\n- **Weather Forecast**: look up weather forecast by province or district and province location → only respond with forecast for the next 3 hours and next 3 days.\n### Perpetual Calendar\n- **Perpetual Calendar Lookup**: lunar calendar (from solar calendar to lunar calendar) or solar calendar (from lunar calendar to solar calendar), use the tool to look up the results\n### Look up information or create images\n- **Look up information**: Search for information according to the search keyword request\n- **Create images**: Create images according to the image creation request\n### Home Device Control and Status Check\n- **ALWAYS use homeassistant tool** for ANY device-related requests including:\n - Device control commands (turn on/off, adjust settings, change modes)\n - Device status inquiries (checking if devices are on/off, current states)\n - Smart home automation requests\n - Questions about lights, fans, air conditioner, TV, switches, sensors, cameras, etc.\n- **MANDATORY**: Use homeassistant tool for ALL device questions, even simple status checks like \"is the light on?\""}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.1,"position":[-1056,432],"id":"25701117-63b2-447e-8d70-081f0fcfc232","name":"AI agent","retryOnFail":true,"onError":"continueRegularOutput"},{"parameters":{"url":"={{ $json.content.params.hd }}","options":{"response":{"response":{"responseFormat":"file"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1808,400],"id":"163e3206-63dc-40e3-af8d-79909f58dea4","name":"HTTP Request3"},{"parameters":{"method":"POST","url":"http://192.168.1.220:8000/analyze","sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"name":"prompt","value":"mô tả bức ảnh này"},{"parameterType":"formBinaryData","name":"file","inputDataFieldName":"data"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1600,400],"id":"21b16b12-86f2-4819-8a15-06073713d182","name":"HTTP Request7"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatDeepSeek","typeVersion":1,"position":[-1040,752],"id":"76e9abde-b00e-4242-b2d2-cbd716d2e752","name":"DeepSeek","credentials":{"deepSeekApi":{"id":"nnHcWmUyC0Gmswgh","name":"DeepSeek account"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[-1232,736],"id":"cf95ce1d-e390-447f-8a0b-be7a1a3882ed","name":"mit_bap","credentials":{"googlePalmApi":{"id":"Iu2pwTGpG2LSxJWb","name":"Mitbap"}}},{"parameters":{"endpointUrl":"http://192.168.1.220:5678/mcp/tracuu","options":{}},"type":"@n8n/n8n-nodes-langchain.mcpClientTool","typeVersion":1.1,"position":[-720,752],"id":"dafbd6c6-f4c8-4fff-b50b-6094ecad7e12","name":"Tra_cuu"},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('to json').first().json.threadId }}\n","tableName":"n8n_zalo_histories"},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[-896,752],"id":"f7d07302-f314-4460-9db2-2c0998ca91d4","name":"zalo","credentials":{"postgres":{"id":"vDBK6XLC0TBpoMww","name":"Postgres account"}}},{"parameters":{"jsCode":"// Lấy text dài từ node trước (ví dụ trường output)\nconst raw = $json.output || '';\nconst MAX = 1800; // an toàn dưới 2000\nconst blocks = raw.split(/\\n{2,}/);\nconst parts = [];\nlet buf = '';\n\n// Bỏ ký tự Markdown nhưng giữ nguyên xuống dòng\nfunction stripMarkdown(text) {\n  return text\n    .replace(/[*_~`>#\\[\\](){}.!\\\\-]/g, '')\n    .replace(/[ \\t]{2,}/g, ' '); // Chỉ replace space/tab liên tiếp, không touch \\n\n}\n\nfor (const b of blocks) {\n  const piece = b.trim();\n  if (!piece) continue;\n  \n  if ((buf ? buf + '\\n\\n' + piece : piece).length <= MAX) {\n    buf = buf ? buf + '\\n\\n' + piece : piece;\n    continue;\n  }\n  \n  if (buf) {\n    parts.push(buf);\n    buf = '';\n  }\n  \n  if (piece.length > MAX) {\n    for (let i = 0; i < piece.length; i += MAX) {\n      parts.push(piece.slice(i, i + MAX));\n    }\n  } else {\n    parts.push(piece);\n  }\n}\n\nif (buf) parts.push(buf);\n\nconst total = parts.length;\n\nreturn parts.map((t, i) => ({\n  json: {\n    text: stripMarkdown(t) // Bỏ stripMarkdown khỏi template literal để giữ nguyên format\n  }\n}));"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-624,432],"id":"1b1fa485-360e-4e51-9ce1-9a01f8d45cf4","name":"maxLen1"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.msgType }}","rightValue":"share.file","operator":{"type":"string","operation":"equals"},"id":"d0874486-aa6b-4091-beba-d36ac56d0fe1"}],"combinator":"and"},"renameOutput":true,"outputKey":"share file"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"cdfe12b1-0f25-4288-84dc-e583a38b8087","leftValue":"={{ $json.msgType }}","rightValue":"chat.photo","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"anh"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"c25d5f8e-8b66-47a0-9dee-879031056307","leftValue":"={{ $json.msgType }}","rightValue":"chat.location.new","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"vị trí"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"c9d4d867-8db3-4cfe-ba02-7104a231fafc","leftValue":"={{ $json.msgType }}","rightValue":"webchat","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"text"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"b92b849d-04d5-4804-a239-02a4dff4efe1","leftValue":"={{ $json.msgType }}","rightValue":"chat.voice","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"voice"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-2304,704],"id":"1320162c-e407-4ca7-8e02-c489dea4384e","name":"Switch1"},{"parameters":{"httpMethod":"POST","path":"hass-zalo-bot","responseMode":"lastNode","options":{}},"name":"ha_bot","id":"29e117f0-a23d-421f-a904-98c218b65f5b","typeVersion":1,"position":[-2736,752],"type":"n8n-nodes-base.webhook","webhookId":"a0bd7c12-569b-42dc-8baa-19f74b9de7ca"},{"parameters":{"method":"POST","url":"https://bot-api.zapps.me/bot1946930502372117579:cJDeOScVAdEKDVSvoUEFVNEmGCEBtvQNCeQbZxIJsbyrZnUwCJNLUMuNGnnlnMjf/deleteWebhook","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-96,80],"id":"3b08f30d-99ff-422b-8926-61fb94ae4697","name":"HTTP Request"},{"parameters":{"method":"POST","url":"https://bot-api.zapps.me/bot3502200276161491057:pHBAXOPZITPobBuYjCxzkOnlwNzsgePgkoZXtBwSZOWhqhdcxDkXMSpttcGpKHaS/setWebhook","sendBody":true,"bodyParameters":{"parameters":[{"name":"url","value":"https://n8n.vhtatn.io.vn/webhook/zalo-bot"},{"name":"secret_token","value":"mykey-AnhNhi0610"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[160,48],"id":"85b11f2d-b730-4ab0-bbc3-0f86423cc715","name":"HTTP Request2"},{"parameters":{"assignments":{"assignments":[{"id":"2d192c63-bf8f-490d-a51d-7c5aeb148dd1","name":"","value":"={{ $json.text }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-4000,720],"id":"25d8fd0f-0165-462d-a16e-e5eae6e32623","name":"Edit Fields2"},{"parameters":{"resource":"service","operation":"call","domain":"zalo_bot","service":"send_message","serviceAttributes":{"attributes":[{"name":"type","value":"1"},{"name":"ttl","value":60000},{"name":"message","value":"={{ $json.text }}"},{"name":"thread_id","value":"={{ $('to json').item.json.rawData.threadId }}"},{"name":"account_selection","value":"+84947762285"}]}},"type":"n8n-nodes-base.homeAssistant","typeVersion":1,"position":[-384,416],"id":"9cd21def-8a8a-4f4a-9816-a100a696d6d7","name":"Call a service3","credentials":{"homeAssistantApi":{"id":"1lV5PEu2rtjuQlDB","name":"Home Assistant account"}}},{"parameters":{"resource":"service","operation":"call","domain":"zalo_bot","service":"send_message","serviceAttributes":{"attributes":[{"name":"type","value":"0"},{"name":"ttl","value":60000},{"name":"message","value":"=Xin chào"},{"name":"thread_id","value":"=6643404425553198601"},{"name":"account_selection","value":"+84947762285"}]}},"type":"n8n-nodes-base.homeAssistant","typeVersion":1,"position":[-384,816],"id":"1fe501e5-773a-402b-92ab-bf24c682a3f9","name":"Call a service","alwaysOutputData":true,"credentials":{"homeAssistantApi":{"id":"1lV5PEu2rtjuQlDB","name":"Home Assistant account"}}}],"connections":{"Code":{"main":[[{"node":"AI agent","type":"main","index":0}]]},"stt":{"main":[[{"node":"Code","type":"main","index":0}]]},"When chat message received":{"main":[[{"node":"AI agent","type":"main","index":0}]]},"to json":{"main":[[{"node":"Switch1","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"AI agent","type":"main","index":0}]]},"AI agent":{"main":[[{"node":"maxLen1","type":"main","index":0}]]},"HTTP Request3":{"main":[[{"node":"HTTP Request7","type":"main","index":0}]]},"HTTP Request7":{"main":[[{"node":"AI agent","type":"main","index":0}]]},"DeepSeek":{"ai_languageModel":[[{"node":"AI agent","type":"ai_languageModel","index":1}]]},"mit_bap":{"ai_languageModel":[[{"node":"AI agent","type":"ai_languageModel","index":0}]]},"Tra_cuu":{"ai_tool":[[{"node":"AI agent","type":"ai_tool","index":0}]]},"zalo":{"ai_memory":[[{"node":"AI agent","type":"ai_memory","index":0}]]},"maxLen1":{"main":[[{"node":"Call a service3","type":"main","index":0}]]},"Switch1":{"main":[[{"node":"HTTP Request3","type":"main","index":0}],[{"node":"HTTP Request3","type":"main","index":0}],[{"node":"Edit Fields","type":"main","index":0}],[{"node":"AI agent","type":"main","index":0}],[{"node":"stt","type":"main","index":0}]]},"ha_bot":{"main":[[{"node":"to json","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"1ef17f8b-076a-4e4d-8050-32e83cb04a1f","triggerCount":2,"shared":[{"createdAt":"2025-08-28T17:34:25.019Z","updatedAt":"2025-08-28T17:34:25.019Z","role":"workflow:owner","workflowId":"qYVTtfFuRwiTPUCh","projectId":"Bsx4kBdHQHZGGC5J"}],"tags":[]}