lịch-vạn-niên-C4LlOyeO1AXflv4i.json
{"createdAt":"2025-08-25T16:44:29.202Z","updatedAt":"2025-08-26T04:11:26.143Z","id":"C4LlOyeO1AXflv4i","name":"lịch vạn niên","active":false,"isArchived":false,"nodes":[{"parameters":{"workflowInputs":{"values":[{"name":"chitiet","type":"any"},{"name":"type","type":"any"},{"name":"date","type":"any"}]}},"id":"933dcd5a-9b03-427e-be32-c69cf46b8312","typeVersion":1.1,"name":"Start","type":"n8n-nodes-base.executeWorkflowTrigger","position":[816,1856]},{"parameters":{"url":"=https://lichngaytot.com/Ajax/DoiNgayAmDuongAjax?Date={{ $json.date.split('-')[0] }}&Month={{ $json.date.split('-')[1] }}&Year={{ $json.date.split('-')[2] }}&Type={{ $('Start').item.json.type }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"User-Agent","value":"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/138.0.0.0 Safari/537.36"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1248,1856],"id":"9050ac8e-4faf-4f6a-9941-8b41275c6118","name":"vannien"},{"parameters":{"jsCode":"function decodeHtmlEntities(str) {\n  if (!str) return '';\n  // Giải mã số thập phân trước rồi mới đến thập lục phân\n  str = str.replace(/&#(\\d+);/g, (_, code) => String.fromCharCode(parseInt(code, 10)));\n  str = str.replace(/&#x([0-9a-fA-F]+);/g, (_, code) => String.fromCharCode(parseInt(code, 16)));\n  const map = { '&nbsp;': ' ', '&amp;': '&', '&lt;': '<', '&gt;': '>', '&quot;': '\"', '&apos;': \"'\" };\n  return str.replace(/&[a-zA-Z]+;/g, m => map[m] || m);\n}\n\nfunction stripTags(str) {\n  return decodeHtmlEntities(String(str || '')\n    .replace(/<br\\s*\\/?>/gi, '\\n')\n    .replace(/<[^>]+>/g, '')) // sửa [^>]* thành [^>]+ để không match quá rộng\n    .replace(/\\u00A0/g, ' ')\n    .trim();\n}\n\nfunction firstTable1(html) {\n  const m = html.match(/<table[^>]*class=\"[^\"]*\\btable1\\b[^\"]*\"[^>]*>[\\s\\S]*?<\\/table>/i);\n  return m ? m[0] : '';\n}\n\nfunction textAfter(label, htmlScope) {\n  if (!htmlScope) return '';\n  // Không dùng \\s* trong </td> để tránh match sai, dùng \\s* trong <td[^>]*> vẫn ổn\n  const re = new RegExp(\n    `<tr>\\\\s*<td[^>]*>\\\\s*${label}\\\\s*<\\\\/td>\\\\s*<td[^>]*>([\\\\s\\\\S]*?)<\\\\/td>\\\\s*<\\\\/tr>`,\n    'i'\n  );\n  const m = htmlScope.match(re);\n  return m ? stripTags(m[1]) : '';\n}\n\nfunction extractTableByTitle(html, titleRegex) {\n  if (!html) return '';\n  // Tìm tiêu đề (h2 hoặc h3) theo titleRegex\n  const titleRe = new RegExp(`<h[23][^>]*>\\\\s*${titleRegex.source}\\\\s*<\\\\/h[23]>`, 'i');\n  const titleMatch = html.match(titleRe);\n  if (!titleMatch) return '';\n  const startIndex = titleMatch.index + titleMatch[0].length;\n  const subHtml = html.slice(startIndex);\n  const tblMatch = subHtml.match(/<table[^>]*class=\"[^\"]*\\btable1\\b[^\"]*\"[^>]*>[\\s\\S]*?<\\/table>/i);\n  return tblMatch ? tblMatch[0] : '';\n}\n\nfunction extractRows3cols(tableHtml) {\n  if (!tableHtml) return [];\n  const rows = [];\n  const trRe = /<tr>([\\s\\S]*?)<\\/tr>/gi;\n  let m;\n  while ((m = trRe.exec(tableHtml))) {\n    const tds = Array.from(m[1].matchAll(/<td[^>]*>([\\s\\S]*?)<\\/td>/gi)).map(x => stripTags(x[1]));\n    if (tds.length === 3) rows.push({ c1: tds[0], c2: tds[1], c3: tds[2] });\n  }\n  return rows;\n}\n\nfunction extractSectionByH3Title(html, blockTitle) {\n  if (!html) return '';\n  const re = new RegExp(\n    `<table[^>]*class=\"[^\"]*table1[^\"]*\"[^>]*>[\\\\s\\\\S]*?<h3[^>]*>\\\\s*${blockTitle}\\\\s*<\\\\/h3>[\\\\s\\\\S]*?<\\\\/table>`,\n    'i'\n  );\n  const m = html.match(re);\n  return m ? m[0] : '';\n}\n\nfunction extractGioBlock(html, blockTitle) {\n  const tbl = extractSectionByH3Title(html, blockTitle);\n  const rows = extractRows3cols(tbl);\n  return rows.map(r => ({ time: r.c1, diaChi: r.c2, sao: r.c3 }));\n}\n\nfunction extractTuoiXungKhac(html) {\n  const sec = extractTableByTitle(html, /Tuổi xung khắc/i);\n  if (!sec) return { xungNgay: [], xungThang: [] };\n  const body = stripTags(sec);\n  const xungNgay = (body.match(/Xung ngày:\\s*([^\\n]+)/i)?.[1] || '').split(/,\\s*/).filter(Boolean);\n  const xungThang = (body.match(/Xung tháng:\\s*([^\\n]+)/i)?.[1] || '').split(/,\\s*/).filter(Boolean);\n  return { xungNgay, xungThang };\n}\n\nfunction extractNgocHap(html) {\n  const goodTbl = extractTableByTitle(html, /Ngày tốt xấu theo ngọc hạp thông thư[\\s\\S]*?Sao tốt/i);\n  const good = [];\n  if (goodTbl) {\n    const trRe = /<tr>\\s*<td[^>]*>([\\s\\S]*?)<\\/td>\\s*<td[^>]*>([\\s\\S]*?)<\\/td>\\s*<\\/tr>/gi;\n    let m;\n    while ((m = trRe.exec(goodTbl))) {\n      const left = stripTags(m[1]);\n      const right = stripTags(m[2]);\n      if (/Sao tốt|Việc nên làm/i.test(left)) continue;\n      if (left && right) good.push({ sao: left, note: right });\n    }\n  }\n  const badTbl = extractTableByTitle(html, /Sao xấu/i);\n  const bad = [];\n  if (badTbl) {\n    const trRe2 = /<tr>\\s*<td[^>]*>([\\s\\S]*?)<\\/td>\\s*<td[^>]*>([\\s\\S]*?)<\\/td>\\s*<\\/tr>/gi;\n    let m2;\n    while ((m2 = trRe2.exec(badTbl))) {\n      const left = stripTags(m2[1]);\n      const right = stripTags(m2[2]);\n      if (/Sao xấu|Việc nên kỵ/i.test(left)) continue;\n      if (left && right) bad.push({ sao: left, note: right });\n    }\n  }\n  return { good, bad };\n}\n\nfunction extractXuatHanh(html) {\n  const tbl = extractTableByTitle(html, /Ngày, giờ, hướng xuất hành/i);\n  if (!tbl) return { hy: '', tai: '' };\n  const text = stripTags(tbl);\n  const hy = (text.match(/Hỷ thần[^:]*:\\s*Hướng\\s*([^\\n]+)/i)?.[1] || '').trim();\n  const tai = (text.match(/Tài thần[^:]*:\\s*Hướng\\s*([^\\n]+)/i)?.[1] || '').trim();\n  return { hy, tai };\n}\n\nfunction extractKhongMinh(html) {\n  const tbl = extractTableByTitle(html, /Ngày xuất hành[^<]*theo Khổng Minh/i);\n  if (!tbl) return { ten: '', danhGia: '', moTa: '' };\n  const body = stripTags(tbl);\n  const m = body.match(/([^\\n]+?)\\s*\\((TỐT|Tốt|XẤU|Xấu)\\)\\s*([^\\n]+)/i);\n  if (m) return { ten: m[1].trim(), danhGia: m[2].toUpperCase(), moTa: m[3].trim() };\n  return { ten: '', danhGia: '', moTa: '' };\n}\n\nfunction extractLyThuanPhong(html) {\n  const all = [];\n  const secRe = /<div class=\"nam-xua-item-1s\">([\\s\\S]*?)<\\/div>\\s*<\\/div>/gi;\n  let m;\n  while ((m = secRe.exec(html))) {\n    const block = m[1];\n    const leftRaw = block.match(/<div[^>]*left-nam-xua[^>]*>[\\s\\S]*?<span[^>]*>([\\s\\S]*?)<\\/span>/i)?.[1] || '';\n    const right = block.match(/<div[^>]*right-nam-xua[^>]*>[\\s\\S]*?<\\/div>/i)?.[0] || '';\n    const times = stripTags(leftRaw).split(/\\s*\\n\\s*/).map(s => s.trim()).filter(Boolean);\n    const nhan = (right.match(/>\\s*([^:<]+):\\s*<span/i)?.[1] || '').trim();\n    const danhGia = (right.match(/(TỐT|XẤU)/i)?.[1] || '').toUpperCase();\n    all.push({ nhan, danhGia, times });\n  }\n  const tot = [];\n  const xau = [];\n  for (const it of all) {\n    if (it.danhGia === 'TỐT') tot.push(`${it.nhan} (${it.times.join(', ')})`);\n    else if (it.danhGia === 'XẤU') xau.push(`${it.nhan} (${it.times.join(', ')})`);\n  }\n  return { tot, xau };\n}\n\nfunction extractNguHanhTrachNhat(html) {\n  const tbl = extractTableByTitle(html, /Ngũ hành[^<]*\\(trạch nhật\\)/i);\n  if (!tbl) return { nienMenh: '', ngayCat: '', kyTuoi: [], hopXungLine: '', tamSat: '' };\n  const body = stripTags(tbl);\n  const nienMenh = (body.match(/Ngũ hành niên mệnh:\\s*([^\\n]+)/i)?.[1] || '').trim();\n  const ngayCat = body.match(/ngày cát|\\(bảo nhật\\)/i) ? 'Ngày cát (bảo nhật)' : '';\n  const kyTuoiLine = (body.match(/kị tuổi:\\s*([^\\n]+)/i)?.[1] || '').trim();\n  const kyTuoi = kyTuoiLine ? kyTuoiLine.split(/,\\s*/).filter(Boolean) : [];\n  const hopXungLine = (body.match(/Hợp & xung:\\s*([^\\n]+)/i)?.[1] || '').trim();\n  const tamSat = (body.match(/Tam Sát kị mệnh tuổi\\s*:\\s*([^\\n]+)/i)?.[1] || '').trim();\n  return { nienMenh, ngayCat, kyTuoi, hopXungLine, tamSat };\n}\n\n// ---------- BẮT ĐẦU ----------\n// Function node dùng \"items\"\nconst html = String(items?.[0]?.json?.data || '');\n\n// Lấy bảng đầu (thông tin ngày tháng…)\nconst infoTable = firstTable1(html);\n\n// Các trường trong bảng đầu\nconst duongLich = textAfter('Dương lịch', infoTable);\nconst amLich = textAfter('Âm lịch', infoTable).replace(/\\s+/g, ' ').trim();\nconst canChi = textAfter('Can chi', infoTable);\nconst nguHanh = textAfter('Ngũ hành', infoTable);\nconst loaiNgay = textAfter('Ngày', infoTable);\nconst tietKhi = stripTags(\n  (infoTable.match(/Tiết Khí[\\s\\S]*?<td[^>]*>([\\s\\S]*?)<\\/td>/i)?.[1]) || ''\n);\n\n// Giờ hoàng đạo / hắc đạo\nconst hoangDao = extractGioBlock(html, 'Giờ Hoàng đạo');\nconst hacDao = extractGioBlock(html, 'Giờ Hắc đạo');\n\n// Ngũ hành trạch nhật\nconst nh = extractNguHanhTrachNhat(html);\n\n// Trực ngày\nconst trucTbl = extractTableByTitle(html, /Xem ngày tốt xấu theo trực/i);\nconst trucNgay = stripTags(trucTbl).replace(/Xem ngày tốt xấu theo trực/i, '').trim();\n\n// Tuổi xung khắc\nconst { xungNgay, xungThang } = extractTuoiXungKhac(html);\n\n// Ngọc hạp\nconst nhap = extractNgocHap(html);\n\n// Xuất hành\nconst { hy, tai } = extractXuatHanh(html);\n\n// Khổng Minh\nconst km = extractKhongMinh(html);\n\n// Lý Thuần Phong\nconst ltp = extractLyThuanPhong(html);\n\n// ---------- KẾT QUẢ THEO BỐ CỤC ----------\nconst text =\n`\n\n⏰ Giờ hoàng đạo – hắc đạo\n\nGiờ Hoàng đạo (tốt):\n${hoangDao.length ? hoangDao.map(x => `${x.time} (${x.diaChi} – ${x.sao})`).join('\\n') : 'Không có dữ liệu'}\n\nGiờ Hắc đạo (xấu):\n${hacDao.length ? hacDao.map(x => `${x.time} (${x.diaChi} – ${x.sao})`).join('\\n') : 'Không có dữ liệu'}\n\n📜 Ngũ hành (trạch nhật)\n\nNiên mệnh: ${nh.nienMenh || ''}\n${nh.ngayCat ? (nh.ngayCat[0].toUpperCase() + nh.ngayCat.slice(1)) : ''}\nKỵ tuổi: ${nh.kyTuoi.length ? nh.kyTuoi.join(', ') : ''}\nHợp & xung: ${nh.hopXungLine || ''}\n${nh.tamSat ? `Tam Sát kị mệnh tuổi: ${nh.tamSat}` : ''}\n\n📅 Trực ngày\n\n${trucNgay || 'Không có dữ liệu'}\n\n⚖ Tuổi xung khắc\n\nXung ngày: ${xungNgay.length ? xungNgay.join(', ') : 'Không có dữ liệu'}\nXung tháng: ${xungThang.length ? xungThang.join(', ') : 'Không có dữ liệu'}\n\n💠 Ngọc hạp thông thư\n\nSao tốt:\n${nhap.good.length ? nhap.good.map(g => `${g.sao}: ${g.note}`).join('\\n') : 'Không có dữ liệu'}\n\nSao xấu:\n${nhap.bad.length ? nhap.bad.map(b => `${b.sao}: ${b.note}`).join('\\n') : 'Không có dữ liệu'}\n\n🧭 Xuất hành\n\nHỷ thần: ${hy ? `${hy} (tốt)` : 'Không có dữ liệu'}\nTài thần: ${tai ? `${tai} (tốt)` : 'Không có dữ liệu'}\n\nNgày xuất hành theo Khổng Minh:\n${km.ten ? `${km.ten} (${km.danhGia === 'TỐT' ? 'Tốt' : 'Xấu'}) – ${km.moTa}` : 'Không có dữ liệu'}\n\n⏳ Giờ xuất hành theo Lý Thuần Phong\n\nXấu: ${ltp.xau.length ? ltp.xau.join(', ') : 'Không có dữ liệu'}\nTốt: ${ltp.tot.length ? ltp.tot.join(', ') : 'Không có dữ liệu'}\n`.replace(/[ \\t]+\\n/g, '\\n').trim();\n\nreturn [{ json: { text } }];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1936,1744],"id":"711baddc-034e-4d22-b891-77ebcdf304ec","name":"chitiet"},{"parameters":{"jsCode":"function decodeHtmlEntities(str) {\n  if (!str) return '';\n  str = str.replace(/&#(\\d+);/g, (_, code) => String.fromCharCode(parseInt(code, 10)));\n  str = str.replace(/&#x([0-9a-fA-F]+);/g, (_, code) => String.fromCharCode(parseInt(code, 16)));\n  const map = { '&nbsp;': ' ', '&amp;': '&', '&lt;': '<', '&gt;': '>', '&quot;': '\"', '&apos;': \"'\" };\n  return str.replace(/&[a-zA-Z]+;/g, m => map[m] || m);\n}\n\nfunction stripTags(str) {\n  return decodeHtmlEntities(String(str || '')\n    .replace(/<br\\s*\\/?>/gi, '\\n')\n    .replace(/<[^>]*>/g, ''))\n    .replace(/\\u00A0/g, ' ')\n    .trim();\n}\n\n// Lấy bảng <table class=\"table1\"> đầu tiên trong HTML\nfunction firstTable1(html) {\n  const m = html.match(/<table[^>]*class=\"[^\"]*\\btable1\\b[^\"]*\"[^>]*>[\\s\\S]*?<\\/\\s*table\\s*>/i);\n  return m ? m[0] : '';\n}\n\n// Bắt giá trị theo nhãn bên trái trong cùng một <tr>\nfunction textAfter(label, htmlScope) {\n  const re = new RegExp(\n    `<tr>\\\\s*<td[^>]*>\\\\s*${label}\\\\s*<\\\\/\\\\s*td\\\\s*>\\\\s*<td[^>]*>([\\\\s\\\\S]*?)<\\\\/\\\\s*td\\\\s*>\\\\s*<\\\\/\\\\s*tr\\\\s*>`,\n    'i'\n  );\n  const m = htmlScope.match(re);\n  return m ? stripTags(m[1]) : '';\n}\n\n// ---------- BẮT ĐẦU ----------\n\nconst html = String(items?.[0]?.json?.data || '');\n\n// Lấy bảng đầu (thông tin ngày tháng…)\nconst infoTable = firstTable1(html);\n\n// Các trường trong bảng đầu\nconst duongLich = textAfter('Dương lịch', infoTable);\nconst amLich    = textAfter('Âm lịch', infoTable).replace(/\\s+/g, ' ').trim();\nconst canChi    = textAfter('Can chi', infoTable);\nconst nguHanh   = textAfter('Ngũ hành', infoTable);\nconst loaiNgay  = textAfter('Ngày', infoTable);\nconst tietKhi   = stripTags(\n  (infoTable.match(/Tiết Khí[\\s\\S]*?<td[^>]*>([\\s\\S]*?)<\\/\\s*td\\s*>/i)?.[1]) || ''\n);\n\n// ---------- KẾT QUẢ ----------\nconst text =\n`\n• Dương lịch: ${duongLich || ''}\n• Âm lịch: ${amLich || ''}\n• Can chi: ${canChi || ''}\n• Ngũ hành: ${nguHanh || ''}\n• Ngày: ${loaiNgay || ''}\n• Tiết khí: ${tietKhi || ''}\nCác mục chi tiết: Giờ hoàng đạo / hắc đạo, Ngũ hành (trạch nhật), Trực ngày, Tuổi xung khắc, Ngọc hạp thông thư (sao tốt, sao xấu), Xuất hành, Xuất hành theo Khổng Minh, Giờ xuất hành theo Lý Thuần Phong\n`.replace(/[ \\t]+\\n/g, '\\n').trim();\n\nreturn [{ json: { text } }];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1904,1936],"id":"a4b6c27e-70b5-476d-86c6-38aa8bc9a2e3","name":"ngaythang"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"75e7b36f-3fc3-459d-a807-1e83af718c98","leftValue":"={{ $('Start').item.json.chitiet }}","rightValue":"0","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1472,1600],"id":"66e65f5f-eadf-4fcb-b5dc-ceb125ad6097","name":"If4"},{"parameters":{"jsCode":"// Chuẩn hóa ngày về DD-MM-YYYY (mặc định múi giờ local của máy chạy n8n)\nfunction formatDate(date) {\n  const dd = String(date.getDate()).padStart(2, '0');\n  const mm = String(date.getMonth() + 1).padStart(2, '0');\n  const yyyy = date.getFullYear();\n  return `${dd}-${mm}-${yyyy}`;\n}\n\nfunction isValidDate(d) {\n  return d instanceof Date && !isNaN(d.getTime());\n}\n\nfunction parseDate(input) {\n  if (input === null || input === undefined) return 'Invalid date';\n  let raw = String(input).trim();\n\n  if (!raw) return 'Invalid date';\n\n  // Một số từ khóa tiếng Việt/Anh\n  const lower = raw.toLowerCase();\n  const now = new Date();\n  if (['today', 'hom nay', 'hôm nay'].includes(lower)) {\n    return formatDate(now);\n  }\n  if (['yesterday', 'hom qua', 'hôm qua'].includes(lower)) {\n    const y = new Date(now.getFullYear(), now.getMonth(), now.getDate() - 1);\n    return formatDate(y);\n  }\n\n  // Nếu là số: epoch seconds/ms\n  if (/^\\d+$/.test(raw)) {\n    const n = Number(raw);\n    const ms = n < 1e12 ? n * 1000 : n; // < 10^12 coi là seconds\n    const d = new Date(ms);\n    return isValidDate(d) ? formatDate(d) : 'Invalid date';\n  }\n\n  // Thử chuẩn ISO (YYYY-MM-DD, YYYY/MM/DD, YYYY.MM.DD)\n  let m = raw.match(/^(\\d{4})[\\/\\-.](\\d{1,2})[\\/\\-.](\\d{1,2})$/);\n  if (m) {\n    let [, y, mo, da] = m.map(Number);\n    const d = new Date(y, mo - 1, da);\n    return isValidDate(d) && d.getFullYear() === y && (d.getMonth() + 1) === mo && d.getDate() === da\n      ? formatDate(d)\n      : 'Invalid date';\n  }\n\n  // Thử định dạng D-M-Y hoặc D/M/Y (2 hoặc 4 chữ số năm)\n  m = raw.match(/^(\\d{1,2})[\\/\\-.](\\d{1,2})[\\/\\-.](\\d{2}|\\d{4})$/);\n  if (m) {\n    let da = Number(m[1]);\n    let mo = Number(m[2]);\n    let y = Number(m[3]);\n    if (y < 100) y += 2000; // 2 chữ số → giả định 20xx\n    const d = new Date(y, mo - 1, da);\n    return isValidDate(d) && d.getFullYear() === y && (d.getMonth() + 1) === mo && d.getDate() === da\n      ? formatDate(d)\n      : 'Invalid date';\n  }\n\n  // Cố gắng để JS tự parse (các chuỗi như \"2025-08-26T12:34:56Z\")\n  const auto = new Date(raw);\n  if (isValidDate(auto)) return formatDate(auto);\n\n  return 'Invalid date';\n}\n\n// Map qua các items và ghi đè trường date (hoặc đổi tên nếu muốn)\nreturn items.map(item => {\n  const raw = item.json.date ?? ''; // đổi 'date' thành tên field bạn dùng\n  const formatted = parseDate(raw);\n  return {\n    json: {\n      ...item.json,\n      date: formatted,          // ghi đè vào \"date\"\n      // date_formatted: formatted, // hoặc dùng field mới, tùy bạn\n      // original_date: raw,        // nếu muốn giữ giá trị gốc để debug\n    }\n  };\n});"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1008,1872],"id":"1e4441c2-df5d-44dc-9b19-89365ac2a0dd","name":"Code14"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $('Start').item.json.chitiet }}","rightValue":"yes","operator":{"type":"string","operation":"equals"},"id":"3a24a101-af1a-4846-9fbd-4d810e1e0b1c"}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"0f322065-c211-4e8f-9695-05e9f6fb275f","leftValue":"={{ $('Start').item.json.chitiet }}","rightValue":"yes","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"}}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[1456,1856],"id":"bb8ce607-709d-4537-873f-1c5eb47fa620","name":"Switch"}],"connections":{"vannien":{"main":[[{"node":"Switch","type":"main","index":0}]]},"If4":{"main":[[],[]]},"Code14":{"main":[[{"node":"vannien","type":"main","index":0}]]},"Start":{"main":[[{"node":"Code14","type":"main","index":0}]]},"Switch":{"main":[[{"node":"chitiet","type":"main","index":0}],[{"node":"ngaythang","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{"Start":[{"json":{"chitiet":"yes","type":"0","date":"02-09-2025"}}]},"versionId":"d778b108-d74f-484b-b5b9-21e68fd4ddfa","triggerCount":0,"shared":[{"createdAt":"2025-08-25T16:44:29.202Z","updatedAt":"2025-08-25T16:44:29.202Z","role":"workflow:owner","workflowId":"C4LlOyeO1AXflv4i","projectId":"Bsx4kBdHQHZGGC5J"}],"tags":[]}