mail-cong-ty-9xToEx6aN1YSPU8s.json
{"createdAt":"2025-08-08T09:05:36.403Z","updatedAt":"2025-09-04T13:47:24.898Z","id":"9xToEx6aN1YSPU8s","name":"mail cong ty","active":true,"isArchived":false,"nodes":[{"parameters":{"downloadAttachments":true,"options":{}},"type":"n8n-nodes-base.emailReadImap","typeVersion":2.1,"position":[-1168,240],"id":"4340de9d-f7ef-48fe-93c8-009ef1dbabdf","name":"Email Trigger (IMAP)","credentials":{"imap":{"id":"tNWzLxyejeF7WbmV","name":"visaho"}}},{"parameters":{"modelName":"models/gemini-2.0-flash","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[-64,256],"id":"9c271296-2617-4740-a5e6-0c7f4cfbea44","name":"Google Gemini Chat Model1","credentials":{"googlePalmApi":{"id":"BmSJpQbzqh1rnp4z","name":"NguyenViet"}}},{"parameters":{"promptType":"define","text":"={{ $json.output_all }}","needsFallback":true,"options":{"systemMessage":"=Bạn là AI chuyên tóm tắt email tiếng Việt.\nNhiệm vụ của bạn:\n\nHợp nhất toàn bộ thông tin từ nội dung email và các phần trích xuất từ file đính kèm (PDF, ảnh, văn bản, v.v.) thành một bản tóm tắt duy nhất.\n\nLoại bỏ trùng lặp: Nếu có câu hoặc thông tin trùng ý, chỉ giữ lại câu rõ ràng và đầy đủ nhất.\n\nGiữ nguyên các thông tin quan trọng như: tiêu đề, số quyết định/văn bản, tên người/đơn vị, ngày tháng, chức danh, địa điểm, thời hạn, yêu cầu hành động.\n\nViết mạch lạc, rõ ràng, ngắn gọn (5–7 câu), giọng trung tính, đúng ngữ cảnh.\n\nKhông thêm thông tin không có trong email/đính kèm.\n\nTrả kết quả ở dạng văn bản thuần (plain text).\n\nDữ liệu email:\n{{ $json.output_all }}"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[912,384],"id":"c69d7db0-668c-4d00-b92e-60d88fc6158e","name":"AI Agent2"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[752,608],"id":"f79a39b1-1d2e-40ff-b43b-b2bc916e735a","name":"Google Gemini Chat Model3","credentials":{"googlePalmApi":{"id":"BmSJpQbzqh1rnp4z","name":"NguyenViet"}}},{"parameters":{"resource":"service","operation":"call","domain":"zalo_bot","service":"send_message","serviceAttributes":{"attributes":[{"name":"message","value":"={{ $json.output }}"},{"name":"thread_id","value":"=6643404425553198601"},{"name":"account_selection","value":"=+84947762285"},{"name":"type","value":"0"}]}},"type":"n8n-nodes-base.homeAssistant","typeVersion":1,"position":[2016,336],"id":"a2a6ddbe-e13f-42a9-95c5-91f5ffe1e3ee","name":"Call a service","credentials":{"homeAssistantApi":{"id":"1lV5PEu2rtjuQlDB","name":"Home Assistant account"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatDeepSeek","typeVersion":1,"position":[912,592],"id":"7b15974c-9d42-4911-b98f-7a280370bfae","name":"DeepSeek Chat Model1","credentials":{"deepSeekApi":{"id":"nnHcWmUyC0Gmswgh","name":"DeepSeek account"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatDeepSeek","typeVersion":1,"position":[48,256],"id":"90f74d69-6d80-4309-83c9-b6cf736559bf","name":"DeepSeek Chat Model2","credentials":{"deepSeekApi":{"id":"nnHcWmUyC0Gmswgh","name":"DeepSeek account"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[-1024,592],"id":"7f91f62d-e3d5-46ea-a42c-e37e965883c4","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"BmSJpQbzqh1rnp4z","name":"NguyenViet"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatDeepSeek","typeVersion":1,"position":[-880,592],"id":"8598e797-48b1-4cde-8ee4-75b42f9c95b5","name":"DeepSeek Chat Model3","credentials":{"deepSeekApi":{"id":"nnHcWmUyC0Gmswgh","name":"DeepSeek account"}}},{"parameters":{"jsCode":"// === Helpers ===\nfunction decodeRFC2047(str = '') {\n  // decode =?charset?B|Q?encoded?=\n  return str.replace(/=\\?([^?]+)\\?([bBqQ])\\?([^?]+)\\?=/g, (_, cs, enc, txt) => {\n    try {\n      if (/b/i.test(enc)) {\n        return Buffer.from(txt, 'base64').toString('utf8');\n      } else {\n        // Q-encoding: _ => space, =HH => byte\n        let s = txt.replace(/_/g, ' ');\n        return s.replace(/=([0-9A-Fa-f]{2})/g, (_, h) =>\n          String.fromCharCode(parseInt(h, 16))\n        );\n      }\n    } catch {\n      return txt;\n    }\n  });\n}\n\nfunction sanitizeName(name) {\n  // loại ký tự cấm, cắt độ dài vừa phải\n  name = name.replace(/[\\\\/:*?\"<>|]/g, '-').trim();\n  if (name.length > 180) name = name.slice(0, 180);\n  // tránh tên trống\n  if (!name) name = 'attachment';\n  return name;\n}\n\nfunction extFromMime(mime = '') {\n  if (!mime) return '';\n  const map = {\n    'application/pdf': 'pdf',\n    'image/jpeg': 'jpg',\n    'image/jpg': 'jpg',\n    'image/png': 'png',\n    'image/gif': 'gif',\n    'image/webp': 'webp',\n    'image/tiff': 'tif',\n    'text/plain': 'txt',\n    'text/csv': 'csv',\n    'application/json': 'json',\n    'application/zip': 'zip',\n    'application/x-7z-compressed': '7z',\n    'application/x-rar-compressed': 'rar',\n    'application/vnd.ms-excel': 'xls',\n    'application/vnd.ms-powerpoint': 'ppt',\n    'application/msword': 'doc',\n    'application/vnd.openxmlformats-officedocument.wordprocessingml.document': 'docx',\n    'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet': 'xlsx',\n    'application/vnd.openxmlformats-officedocument.presentationml.presentation': 'pptx',\n  };\n  if (map[mime]) return map[mime];\n\n  // fallback chung\n  const parts = mime.split('/');\n  if (parts.length === 2) {\n    if (parts[0] === 'application' && parts[1].startsWith('vnd.')) {\n      // đoán Office OOXML theo từ khoá\n      if (parts[1].includes('word')) return 'docx';\n      if (parts[1].includes('excel')) return 'xlsx';\n      if (parts[1].includes('powerpoint')) return 'pptx';\n    }\n    return parts[1].replace('x-','').replace('octet-stream','');\n  }\n  return '';\n}\n\nfunction ensureExt(name, mime, fallbackExt) {\n  // nếu name đã có .ext hợp lý thì giữ; nếu chưa, thêm từ mime hoặc fallback\n  const hasDot = /\\.[a-zA-Z0-9]{1,5}$/.test(name);\n  if (hasDot) return name;\n  const ext = extFromMime(mime) || (fallbackExt || '').replace(/^\\./,'');\n  return ext ? `${name}.${ext}` : name;\n}\n\n// === Main ===\nconst out = [];\n\nfor (const item of $input.all()) {\n  const from = item.json?.from || '';\n  const subject = item.json?.subject || '';\n  const date = item.json?.date || '';\n\n  const binaries = item.binary || {};\n  for (const [key, bin] of Object.entries(binaries)) {\n    // Bắt các prefix phổ biến từ IMAP node\n    if (!(key.startsWith('attachment_') || key.startsWith('att_'))) continue;\n\n    const rawName = bin.fileName || key;\n    const decodedBase = sanitizeName(\n      decodeRFC2047(rawName)\n        .replace(/\\s*=\\.$/, '') // dọn tàn dư \"=. \"\n        .replace(/\\.+$/, '')     // bỏ dấu . cuối\n    );\n\n    // ưu tiên ext từ fileName nếu đã có; nếu không, lấy từ mime hoặc fileExtension\n    const candidateExt = bin.fileExtension || '';\n    let finalName = ensureExt(decodedBase, bin.mimeType || '', candidateExt);\n\n    // Tránh trùng tên (tuỳ chọn): thêm timestamp nếu cần\n    // const stamp = new Date().toISOString().replace(/[:.]/g, '-');\n    // finalName = `${stamp}-${finalName}`;\n\n    out.push({\n      json: {\n        fileName: finalName,\n        mimeType: bin.mimeType || 'application/octet-stream',\n        size: bin.fileSize || null,\n        from, subject, date,\n      },\n      binary: { data: bin } // chuẩn hoá để node Upload đọc \"data\"\n    });\n  }\n}\n\n// Không có đính kèm -> trả item thông báo nhẹ (không lỗi)\nif (out.length === 0) {\n  return [{ json: { info: 'Email không có file đính kèm.' } }];\n}\n\nreturn out;\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-800,160],"id":"2e4ee615-ec0f-449e-b6d1-7719a8e6a809","name":"Code","alwaysOutputData":true},{"parameters":{"name":"={{ $json.fileName }}","driveId":{"__rl":true,"value":"My Drive","mode":"list","cachedResultName":"My Drive","cachedResultUrl":"https://drive.google.com/drive/my-drive"},"folderId":{"__rl":true,"value":"1MMDc6_RuBAWTi3IEjhWfcV8mXgDJBatA","mode":"list","cachedResultName":"n8n","cachedResultUrl":"https://drive.google.com/drive/folders/1MMDc6_RuBAWTi3IEjhWfcV8mXgDJBatA"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-624,144],"id":"95bd1cab-86a4-483d-8f5f-db0054606dea","name":"Upload file","credentials":{"googleDriveOAuth2Api":{"id":"LqceacVZayCNzphl","name":"nguyenvanviet"}}},{"parameters":{"operation":"Convert from PDF","url":"=https://drive.google.com/uc?export=download&id={{ $json.id }}","advancedOptions":{"lang":"vie"}},"type":"n8n-nodes-pdfco.PDFco Api","typeVersion":1,"position":[-448,144],"id":"9f53fd04-d414-4d1c-9e8c-7981efb9c5ac","name":"PDFco Api","credentials":{"pdfcoApi":{"id":"SUfNXCeahOZDA4XR","name":"PDF.co account"}}},{"parameters":{"url":"={{ $json.url }}","options":{"response":{"response":{}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-240,144],"id":"7139d039-b46e-47d1-9535-24371cf6374f","name":"HTTP Request"},{"parameters":{"jsCode":"const norm = s => String(s||'').normalize('NFC').trim();\nconst normKey = s => norm(s).toLowerCase();\n\nconst inputData = $input.all();\n\nconst seen = new Set();\nconst unique = [];\n\nfor (const item of inputData) {\n  const value = item.json.output || item.json.content;\n  if (!value) continue;\n\n  const k = normKey(value);\n  if (!seen.has(k)) {\n    seen.add(k);\n    unique.push(norm(value));\n  }\n}\n\nreturn [\n  {\n    json: {\n      output_all: unique.join('\\n\\n')\n    }\n  }\n];\n"},"id":"fe4aabf0-a202-4a81-b818-1a5d481639b9","name":"Parsing","type":"n8n-nodes-base.code","position":[624,384],"typeVersion":2},{"parameters":{"promptType":"define","text":"={{ $json.data }}","needsFallback":true,"options":{"systemMessage":"Bạn là AI chuyên tóm tắt tài liệu PDF.  \nNhiệm vụ: tạo bản tóm tắt ngắn gọn, chính xác, giữ nguyên ý chính và thông tin quan trọng.  \n\nQuy tắc tóm tắt:  \n- Xác định chủ đề và mục đích chính của tài liệu  \n- Rút các ý chính, số liệu, ngày tháng, kết luận quan trọng  \n- Duy trì trình tự logic và ngữ cảnh gốc  \n- Sử dụng ngôn ngữ rõ ràng, trực tiếp, mạch lạc  \n- Chỉ giữ thông tin cần thiết, loại bỏ chi tiết phụ, lặp lại, ví dụ không cần thiết  \n- Không thêm ý kiến hoặc suy luận ngoài nội dung gốc  \n\nYêu cầu xuất:  \n- Viết hoàn toàn bằng tiếng Việt  \n- Trình bày dạng văn bản thường, không định dạng đặc biệt  \n- Bắt đầu bằng tóm lược ngắn về chủ đề và mục đích  \n- Tiếp theo là nội dung tóm tắt theo trình tự hợp lý  \n\n{{ $json.text }}\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[0,0],"id":"9ad7eeae-2b3f-4f61-9f8c-fbfe45d30d42","name":"PDF"},{"parameters":{"promptType":"define","text":"={{ $json.textPlain }}\n{{ $json.snippet }}{{ $json.From }}","needsFallback":true,"options":{"systemMessage":"=Bạn là AI chuyên tóm tắt email.\nPhân tích nội dung email và tạo bản tóm tắt 5–10 câu, rõ ràng, mạch lạc, bao gồm:\n- Chủ đề và mục đích chính\n- Các điểm quan trọng, yêu cầu, hạn chót, hành động cần làm\n- Thông tin quan trọng như ngày, giờ, địa điểm, người gửi\n\n- Giữ nguyên mức độ khẩn cấp và ý định gốc\n\n- Loại bỏ lời chào, chữ ký, thông tin lặp, chi tiết không ảnh hưởng đến nội dung chính.\nViết plain text, hoàn toàn tiếng Việt, theo thứ tự từ quan trọng nhất đến ít quan trọng hơn.\nKhông thêm suy luận ngoài nội dung email.\n\nNội dung email:\n {{ $json.textPlain }}"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[-896,336],"id":"7cbaa961-a97f-423e-9f2d-a4fb03484250","name":"TEXT"},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[464,352],"id":"0c39467a-ee23-442a-a303-774c228521e2","name":"Merge"},{"parameters":{"resource":"service","operation":"call","domain":"zalo_bot","service":"send_message","serviceAttributes":{"attributes":[{"name":"type","value":"0"},{"name":"ttl","value":"1800000"},{"name":"message","value":"={{ $json.output }}"},{"name":"thread_id","value":"=6643404425553198601"},{"name":"account_selection","value":"+84947762285"}]}},"type":"n8n-nodes-base.homeAssistant","typeVersion":1,"position":[1280,336],"id":"f4fe0cbe-4bb6-4fb9-829c-fd17b099dec9","name":"Call a service3","credentials":{"homeAssistantApi":{"id":"1lV5PEu2rtjuQlDB","name":"Home Assistant account"}}}],"connections":{"Email Trigger (IMAP)":{"main":[[{"node":"TEXT","type":"main","index":0},{"node":"Code","type":"main","index":0}]]},"Google Gemini Chat Model1":{"ai_languageModel":[[{"node":"PDF","type":"ai_languageModel","index":0}]]},"AI Agent2":{"main":[[{"node":"Call a service3","type":"main","index":0}]]},"Google Gemini Chat Model3":{"ai_languageModel":[[{"node":"AI Agent2","type":"ai_languageModel","index":0}]]},"DeepSeek Chat Model1":{"ai_languageModel":[[{"node":"AI Agent2","type":"ai_languageModel","index":1}]]},"DeepSeek Chat Model2":{"ai_languageModel":[[{"node":"PDF","type":"ai_languageModel","index":1}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"TEXT","type":"ai_languageModel","index":0}]]},"DeepSeek Chat Model3":{"ai_languageModel":[[{"node":"TEXT","type":"ai_languageModel","index":1}]]},"Code":{"main":[[{"node":"Upload file","type":"main","index":0}]]},"Upload file":{"main":[[{"node":"PDFco Api","type":"main","index":0}]]},"PDFco Api":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"PDF","type":"main","index":0}]]},"Parsing":{"main":[[{"node":"AI Agent2","type":"main","index":0}]]},"PDF":{"main":[[{"node":"Merge","type":"main","index":0}]]},"TEXT":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Merge":{"main":[[{"node":"Parsing","type":"main","index":0}]]},"Call a service":{"main":[[]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Email Trigger (IMAP)":{"lastMessageUid":583},"node:Gmail Trigger":{"Gmail Trigger":{"lastTimeChecked":1755309646,"possibleDuplicates":["198ae5d20bcde669"]}},"node:Gmail Trigger1":{"Gmail Trigger1":{"lastTimeChecked":1755309176,"possibleDuplicates":["198b0947988c11c8"]}}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"1036b96d-8d7c-4954-bc5c-810d86fad613","triggerCount":1,"shared":[{"createdAt":"2025-08-08T09:05:36.403Z","updatedAt":"2025-08-08T09:05:36.403Z","role":"workflow:owner","workflowId":"9xToEx6aN1YSPU8s","projectId":"Bsx4kBdHQHZGGC5J"}],"tags":[]}