mcp-zi25DISjqxJE1mDS.json
{"createdAt":"2025-08-03T13:07:19.281Z","updatedAt":"2025-09-10T16:10:45.729Z","id":"zi25DISjqxJE1mDS","name":"MCP","active":true,"isArchived":false,"nodes":[{"parameters":{"descriptionType":"manual","toolDescription":"📧 SEND EMAIL: Send a new email via Gmail. Required fields:\n\nExample: To: john@example.com, Subject: Meeting Tomorrow, Message: Hi John, Just confirming our meeting tomorrow at 2pm.","sendTo":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('To', `- To: Recipient email address(es), separate multiple with commas (example: user@example.com)`, 'string') }}","subject":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Subject', `- Subject: Email subject line`, 'string') }}","message":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message', `- Message: Full email content/body`, 'string') }}","options":{}},"name":"send-mail","id":"3a34c8c5-4bc0-4edc-8c2b-8743fe98a0d2","typeVersion":2.1,"position":[-800,208],"type":"n8n-nodes-base.gmailTool","webhookId":"2d84bf11-2acf-4480-a058-81109e03596a","credentials":{"gmailOAuth2":{"id":"RgYFdPUJ820D4HyQ","name":"nguyenvanviet"}}},{"parameters":{"descriptionType":"manual","toolDescription":"📨 SEARCH EMAILS: Find emails in Gmail using filters. Optional fields:\n\nExample: Label_ID_Names_or_IDs: INBOX, Received_After: 2025-07-01T00:00:00.00+07:00, Received_Before: 2025-07-01T23:59:00.00+07:00","resource":"thread","filters":{"labelIds":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Label_ID_Names_or_IDs', `- Label_ID_Names_or_IDs: Filter by label (INBOX, UNREAD, IMPORTANT, etc)`, 'string') }}"}},"name":"get-mail","id":"3a384ce8-0aa7-4e3f-be15-bc6334638f42","typeVersion":2.1,"position":[-672,208],"type":"n8n-nodes-base.gmailTool","webhookId":"b13c3727-fa07-4cca-bcc1-e178171f44f6","credentials":{"gmailOAuth2":{"id":"RgYFdPUJ820D4HyQ","name":"nguyenvanviet"}}},{"parameters":{"descriptionType":"manual","toolDescription":"📬 MARK AS READ: Mark an email as read. Required field:\n\nExample: Message_ID: 18d7a8c9e3b2a1","operation":"markAsRead","messageId":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message_ID', `- Message_ID: ID of the email (get this from search results)`, 'string') }}"},"name":"mark-read-mail","id":"81896283-ef7c-4ad0-a07d-7c40ba5421b2","typeVersion":2.1,"position":[-544,208],"type":"n8n-nodes-base.gmailTool","webhookId":"180d467f-e29d-4042-a3f8-10479a6a38dc","credentials":{"gmailOAuth2":{"id":"RgYFdPUJ820D4HyQ","name":"nguyenvanviet"}}},{"parameters":{"descriptionType":"manual","toolDescription":"↩️ REPLY TO EMAIL: Reply to an existing email. Required fields:\n\nExample: Message_ID: 18d7a8c9e3b2a1, Message: Thanks for your email. I'll get back to you soon.","operation":"reply","messageId":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message_ID', `- Message_ID: ID of the email to reply to (get this from search results)`, 'string') }}","message":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message', `- Message: Your reply content`, 'string') }}","options":{}},"name":"reply-mail","id":"621f92a7-96e7-490c-9ae0-45a496ba55a4","typeVersion":2.1,"position":[-416,208],"type":"n8n-nodes-base.gmailTool","webhookId":"644965fa-8039-4612-8eef-9f7f1ac7c6f6","credentials":{"gmailOAuth2":{"id":"RgYFdPUJ820D4HyQ","name":"nguyenvanviet"}}},{"parameters":{"descriptionType":"manual","toolDescription":"🗑️ DELETE EMAIL: Permanently delete an email. Required field:\n\nExample: Message_ID: 18d7a8c9e3b2a1","operation":"delete","messageId":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message_ID', `- Message_ID: ID of the email to delete (get this from search results)`, 'string') }}"},"name":"delete-mail","id":"83461009-6238-46ea-8b01-9c9c2da55cc2","typeVersion":2.1,"position":[-288,208],"type":"n8n-nodes-base.gmailTool","webhookId":"cd2d73be-40f9-4d93-a608-a435d791153e","credentials":{"gmailOAuth2":{"id":"RgYFdPUJ820D4HyQ","name":"nguyenvanviet"}}},{"parameters":{"descriptionType":"manual","toolDescription":"📝 CREATE CALENDAR EVENT: Add a new event to your calendar. Required fields:\n","calendar":{"__rl":true,"value":"nguyenvanviet210290@gmail.com","mode":"list","cachedResultName":"nguyenvanviet210290@gmail.com"},"start":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', `- Start: Start date/time (format: YYYY-MM-DDTHH:MM:SS.00+07:00)`, 'string') }}","end":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', `- End: End date/time (format: YYYY-MM-DDTHH:MM:SS.00+07:00)`, 'string') }}","useDefaultReminders":false,"additionalFields":{"color":"1","description":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Description', `- Description: Event details`, 'string') }}","summary":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Summary', `- Summary: Event title`, 'string') }}"},"remindersUi":{"remindersValues":[{"method":"popup","minutes":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('remindersValues0_Minutes_Before', `- remindersValues0_Minutes_Before: Minutes before event to send reminder (optional)`, 'number') }}"}]}},"name":"create-event-calendar","id":"a91884fc-7667-4a82-81dd-c6daaf7136e9","typeVersion":1.3,"position":[-160,208],"type":"n8n-nodes-base.googleCalendarTool","credentials":{"googleCalendarOAuth2Api":{"id":"uB3VCk9MRHtpLNFo","name":"Google Calendar account"}}},{"parameters":{"descriptionType":"manual","toolDescription":"✏️ UPDATE CALENDAR EVENT: Edit an existing event. Required fields:","operation":"update","calendar":{"__rl":true,"value":"nguyenvanviet210290@gmail.com","mode":"list","cachedResultName":"nguyenvanviet210290@gmail.com"},"eventId":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Event_ID', `- Event_ID: ID of the event to update (get this from search results)`, 'string') }}","useDefaultReminders":false,"updateFields":{"description":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Description', `- Description: New event details`, 'string') }}","end":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', `- End: New end date/time (format: YYYY-MM-DDTHH:MM:SS.00+07:00)`, 'string') }}","start":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', `- Start: New start date/time (format: YYYY-MM-DDTHH:MM:SS.00+07:00)`, 'string') }}","summary":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Summary', `- Summary: New event title`, 'string') }}"},"remindersUi":{"remindersValues":[{"method":"popup","minutes":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('remindersValues0_Minutes_Before', `- remindersValues0_Minutes_Before: Minutes before event to send reminder (optional)`, 'number') }}"}]}},"name":"update-event-calendar","id":"0ed9646d-642c-4747-b4e6-592b72b445af","typeVersion":1.3,"position":[-32,208],"type":"n8n-nodes-base.googleCalendarTool","credentials":{"googleCalendarOAuth2Api":{"id":"uB3VCk9MRHtpLNFo","name":"Google Calendar account"}}},{"parameters":{"descriptionType":"manual","toolDescription":"❌ DELETE CALENDAR EVENT: Remove an event from your calendar. Required field:\n","operation":"delete","calendar":{"__rl":true,"value":"nguyenvanviet210290@gmail.com","mode":"list","cachedResultName":"nguyenvanviet210290@gmail.com"},"eventId":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Event_ID', `- Event_ID: ID of the event to delete (get this from search results)`, 'string') }}","options":{}},"name":"delete-event-calendar","id":"601d006b-f781-4b44-8c3a-391eaaaf9f62","typeVersion":1.3,"position":[96,208],"type":"n8n-nodes-base.googleCalendarTool","credentials":{"googleCalendarOAuth2Api":{"id":"uB3VCk9MRHtpLNFo","name":"Google Calendar account"}}},{"parameters":{"descriptionType":"manual","toolDescription":"📄 CREATE DOCUMENT: Create a new Google Doc. Required field:\n","folderId":"default","title":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Title', `- Title: Name of the new document`, 'string') }}"},"name":"create-document","id":"2ec424f3-0a4c-4d09-92b9-814f99751ea3","typeVersion":2,"position":[224,208],"type":"n8n-nodes-base.googleDocsTool","credentials":{"googleDocsOAuth2Api":{"id":"96Qp7nI5JTzZCUJp","name":"nguyenviet"}}},{"parameters":{"descriptionType":"manual","toolDescription":"🔍 SEARCH DOCUMENTS: Find files in Google Drive. Required field:\n\nExample: Query_String: name contains 'budget' (finds files with 'budget' in the name)\nExample: Query_String: name contains 'report' and mimeType='application/vnd.google-apps.document' (finds Google Docs with 'report' in the name)\n\nReply with ID if available","resource":"fileFolder","searchMethod":"query","queryString":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Query_String', `- Query_String: Search using format \"name contains 'keyword'\" where keyword is what you're looking for`, 'string') }}","limit":100,"filter":{},"options":{}},"name":"search-docs","id":"a6ec9b67-431a-425d-b091-c93bb0d3ea8c","typeVersion":3,"position":[352,208],"type":"n8n-nodes-base.googleDriveTool","credentials":{"googleDriveOAuth2Api":{"id":"LqceacVZayCNzphl","name":"nguyenvanviet"}}},{"parameters":{"descriptionType":"manual","toolDescription":"📖 GET DOCUMENT: Retrieve content of a Google Doc. Required field:\n","operation":"get","documentURL":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Doc_ID_or_URL', `- Doc_ID_or_URL: Document ID or full URL (example: '1AbCdEfGhIjK' or 'https://docs.google.com/document/d/1AbCdEfGhIjK/edit')`, 'string') }}"},"name":"get-docs","id":"7b86fb89-6347-4058-8a9f-26d45cce0a1d","typeVersion":2,"position":[480,208],"type":"n8n-nodes-base.googleDocsTool","credentials":{"googleDocsOAuth2Api":{"id":"96Qp7nI5JTzZCUJp","name":"nguyenviet"}}},{"parameters":{"descriptionType":"manual","toolDescription":"✏️ UPDATE DOCUMENT: Add content to a Google Doc. Required fields:\n","operation":"update","documentURL":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Doc_ID_or_URL', `- Doc_ID_or_URL: Document ID or full URL`, 'string') }}","actionsUi":{"actionFields":[{"action":"insert","text":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('actionFields0_Text', `- actionFields0_Text: Text to add to the document`, 'string') }}"}]}},"name":"update-docs","id":"a9b8e3e1-aaf3-419a-9dce-624ed52fa2af","typeVersion":2,"position":[608,208],"type":"n8n-nodes-base.googleDocsTool","credentials":{"googleDocsOAuth2Api":{"id":"96Qp7nI5JTzZCUJp","name":"nguyenviet"}}},{"parameters":{"descriptionType":"manual","toolDescription":"🗑️ DELETE DOCUMENT: Permanently remove a file from Google Drive. Required field:\n","operation":"deleteFile","fileId":{"__rl":true,"value":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('File', `- File: ID of the file to delete (get this from search results)`, 'string') }}","mode":"id"},"options":{}},"name":"delete-docs","id":"f0008da7-89ce-47a5-b957-033f9d64d383","typeVersion":3,"position":[736,208],"type":"n8n-nodes-base.googleDriveTool","credentials":{"googleDriveOAuth2Api":{"id":"LqceacVZayCNzphl","name":"nguyenvanviet"}}},{"parameters":{"path":"google"},"name":"Google","id":"7e297f80-1052-466c-beea-b824697eb86a","typeVersion":2,"position":[288,-16],"type":"@n8n/n8n-nodes-langchain.mcpTrigger","webhookId":"6f03b961-c9e2-4891-a19e-cec5dd53cdfe"},{"parameters":{"descriptionType":"manual","toolDescription":"Use this tool to analyze images to get information relevant to the tools.","resource":"image","operation":"analyze","modelId":{"__rl":true,"value":"models/gemini-2.0-flash","mode":"id"},"text":"Please analyze this image in detail.","imageUrls":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('URL_s_', `- URL_s_ : enter image url`, 'string') }}","options":{}},"type":"@n8n/n8n-nodes-langchain.googleGeminiTool","typeVersion":1,"position":[864,208],"id":"dcb06ca9-c3ec-4e3b-afb6-09e40c3d8b55","name":"image-analysis","credentials":{"googlePalmApi":{"id":"BmSJpQbzqh1rnp4z","name":"NguyenViet"}}},{"parameters":{"descriptionType":"manual","toolDescription":"FIND CALENDAR EVENTS – Tra cứu sự kiện âm lịch, ngày giỗ trong lịch.\nTrường bắt buộc:\n\nkeyword (tùy chọn) – Tên hoặc từ khóa của sự kiện cần tìm. Nếu bỏ trống sẽ tìm tất cả sự kiện trong khoảng thời gian chỉ định.\n\ndate – Ngày hoặc khoảng thời gian tìm kiếm. Có thể nhập:\n\nNgày cụ thể: YYYY-MM-DD\n\nTháng cụ thể: YYYY-MM\n\nNăm cụ thể: YYYY\n\nNgày tương đối: \"today\", \"tomorrow\", \"next week\" (sẽ được tự động chuyển đổi sang ngày cụ thể).","operation":"getAll","calendar":{"__rl":true,"value":"d5f4b3f7d4b7fa79403a48a607c04e45371cc3305b47e27c19fcad59a6c1d699@group.calendar.google.com","mode":"list","cachedResultName":"Âm lịch"},"timeMax":"={{ $now.plus({ day: 365 }) }}","options":{}},"name":"gio","id":"8fe8e0e8-3212-47e5-8659-42e8a92ca9ae","typeVersion":1.3,"position":[992,208],"type":"n8n-nodes-base.googleCalendarTool","credentials":{"googleCalendarOAuth2Api":{"id":"uB3VCk9MRHtpLNFo","name":"Google Calendar account"}}},{"parameters":{"descriptionType":"manual","toolDescription":"FIND CALENDAR EVENTS – Tra cứu sự kiện âm lịch.\nTrường bắt buộc:\n\nkeyword (tùy chọn) – Tên hoặc từ khóa của sự kiện cần tìm. Nếu bỏ trống sẽ tìm tất cả sự kiện trong khoảng thời gian chỉ định.\n\ndate – Ngày hoặc khoảng thời gian tìm kiếm. Có thể nhập:\n\nNgày cụ thể: YYYY-MM-DD\n\nTháng cụ thể: YYYY-MM\n\nNăm cụ thể: YYYY\n\nNgày tương đối: \"today\", \"tomorrow\", \"next week\" (sẽ được tự động chuyển đổi sang ngày cụ thể).","operation":"getAll","calendar":{"__rl":true,"value":"e8054928d3d62b407a55a519575fe956a0a95e937a04ab7fdc01a77c21a6630c@group.calendar.google.com","mode":"list","cachedResultName":"Ngày lễ âm lịch Việt Nam"},"timeMax":"={{ $now.plus({ day: 365 }) }}","options":{}},"name":"sukienamlich","id":"7d375374-725e-4fa2-ac6c-99bf9476e365","typeVersion":1.3,"position":[1120,208],"type":"n8n-nodes-base.googleCalendarTool","credentials":{"googleCalendarOAuth2Api":{"id":"uB3VCk9MRHtpLNFo","name":"Google Calendar account"}}},{"parameters":{"descriptionType":"manual","toolDescription":"FIND CALENDAR EVENTS – Tra cứu sự kiện dương lịch.\nTrường bắt buộc:\n\nkeyword (tùy chọn) – Tên hoặc từ khóa của sự kiện cần tìm. Nếu bỏ trống sẽ tìm tất cả sự kiện trong khoảng thời gian chỉ định.\n\ndate – Ngày hoặc khoảng thời gian tìm kiếm. Có thể nhập:\n\nNgày cụ thể: YYYY-MM-DD\n\nTháng cụ thể: YYYY-MM\n\nNăm cụ thể: YYYY\n\nNgày tương đối: \"today\", \"tomorrow\", \"next week\" (sẽ được tự động chuyển đổi sang ngày cụ thể).","operation":"getAll","calendar":{"__rl":true,"value":"245f367ff31a3d7021b8e4d3fe5f1242639edb87701669ec23b66ffab760df91@group.calendar.google.com","mode":"list","cachedResultName":"Ngày lễ dương lịch"},"timeMax":"={{ $now.plus({ day: 365 }) }}","options":{}},"name":"sukienduonglich","id":"6583ed65-a1b9-4b3b-a188-242e8d7de91e","typeVersion":1.3,"position":[1248,208],"type":"n8n-nodes-base.googleCalendarTool","credentials":{"googleCalendarOAuth2Api":{"id":"uB3VCk9MRHtpLNFo","name":"Google Calendar account"}}},{"parameters":{"description":"=This tool is used to look up the following information.\nEach tool requires different input fields.\nFill in only the specified fields; All other fields fill in 0.\nYour task is to determine which tool to use based on the input information provided\nPlease provide complete information.\n1. Lottery result lookup:\n - Required fields: region, date\n - All other fields fill in 0\n2. Traffic violations & other violations:\n - Required fields: bienso (license plate), type (vehicle type)\n - All other fields fill in 0\n3. Vehicle registration (Inspection):\n - Required fields: bienso (license plate), temdk (registration code)\n - All other fields fill in 0\n4. Lunar calendar, solar calendar lookup:\n - If only asking about lunar calendar, solar calendar\n  + Required fields: vannien (date), type (lunar to solar calendar or solar to lunar calendar).\n  + All other fields fill in 0\n - If you need details about the Good Hour, Bad Hour, Five Elements (Trach Nhat), Truc Ngay, Tuoi xung khac, Ngoc hap thong thu, Xuat hanh, Xuat hanh theo Khong Minh, Xuat hanh theo Ly Thuan Phong.\n  + Required fields: vannien, chitiet, type.\n  + All other fields fill in 0\n5. Weather\n - If you only ask about the province.\n  + Required field: province.\n  + All other fields fill in 0\n - If you need about the district/county\n  + Required fields: province/city, district/town\n  + All other fields fill in 0\n6. youtube\n - Required field: video (search keyword).\n - All other fields fill in 0\n","workflowId":{"__rl":true,"value":"iCtDSe7X2aEUr8nc","mode":"list","cachedResultName":"tra cuu"},"workflowInputs":{"mappingMode":"defineBelow","value":{"loaixe":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('loaixe', `If car, value 1\nIf motorbike, value 2\nIf electric vehicle, value 3\nOnly accept values: 1, 2, 3`, 'number') }}","bienso":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('bienso', `license plates for cars, motorbikes, electric vehicles`, 'string') }}","khuvuc":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('khuvuc', `includes the following areas:\nxsmb: northern lottery\nxsmn: southern lottery\nxsmt: central lottery\nOnly accept values: xsmb, xsmn, xsmt`, 'string') }}","date":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('date', `date in DD-MM-YYYY format\nIf not solar to lunar or lunar to solar\neg: 2025-07-25`, 'string') }}","temdk":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('temdk', `inspection stamp, or inspection stamp code, stamp code`, 'string') }}","chitiet":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('chitiet', `If you need information about Good Hours, Good/Bad Days, Travel, Taboos, fill in: yes`, 'string') }}","provinces":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('provinces', `provinces`, 'string') }}","districts":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('districts', `districts`, 'string') }}","video":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('video', `key search youtube`, 'string') }}","type":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('type', `if solar to lunar, type value 0\nIf lunar to solar , type value 1\nOnly accept values: 0, 1`, 'string') }}","vannien":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('vannien', `vannien in DD-MM-YYYY format\nIf solar to lunar or lunar to solar`, 'string') }}"},"matchingColumns":[],"schema":[{"id":"loaixe","displayName":"loaixe","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number"},{"id":"bienso","displayName":"bienso","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true},{"id":"khuvuc","displayName":"khuvuc","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true},{"id":"date","displayName":"date","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true},{"id":"temdk","displayName":"temdk","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true},{"id":"vannien","displayName":"vannien","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"removed":false},{"id":"chitiet","displayName":"chitiet","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"removed":false},{"id":"provinces","displayName":"provinces","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"removed":false},{"id":"districts","displayName":"districts","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"removed":false},{"id":"video","displayName":"video","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"removed":false},{"id":"type","displayName":"type","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[544,512],"id":"d50288ac-042c-46ec-8215-2c26326eedff","name":"lookup"},{"parameters":{"description":"This tool is used to look up daily electricity consumption, monthly electricity consumption, monthly electricity bill, and send monthly bills.","workflowId":{"__rl":true,"value":"cLKLnPzGPQSr5Unl","mode":"list","cachedResultName":"NPC"},"workflowInputs":{"mappingMode":"defineBelow","value":{"tieuthungay":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('tieuthungay', `Flag to indicate whether to retrieve daily electricity consumption data. Set to \"yes\" to enable.`, 'string') }}","tieuthuthang":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('tieuthuthang', `Flag to indicate whether to retrieve monthly electricity consumption data. Set to \"yes\" to enable.`, 'string') }}","tiendienthang":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('tiendienthang', `Flag to indicate whether to retrieve monthly electricity bill details. Set to \"yes\" to enable.`, 'string') }}","makhachhang":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('makhachhang', `The customer ID (Ma Khach Hang) used for authentication and data queries on the NPC website.`, 'string') }}","matkhau":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('matkhau', `The password associated with the customer ID for logging into the NPC website.`, 'string') }}","taihoadon":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('taihoadon', `Flag to indicate whether to download the electricity bill (invoice) as a PDF. Set to \"yes\" to enable.`, 'string') }}","nam":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('nam', `year – The year (1900–2100) used together with day and month to query consumption data`, 'number') }}","thang":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('thang', `month – month (01–12) is used together with day and year to query consumption data\nIf the month is between 1 and 9, prefix it with a zero (e.g., 01–09). eg: 07`, 'string') }}","TuNgayChiSoChot":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('TuNgayChiSoChot', `date in DD-MM-YYYY format\neg: 2025-07-25`, 'string') }}","DenNgayChiSoChot":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('DenNgayChiSoChot', `date in DD-MM-YYYY format\neg: 2025-07-25`, 'string') }}"},"matchingColumns":[],"schema":[{"id":"TuNgayChiSoChot","displayName":"TuNgayChiSoChot","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"removed":false},{"id":"DenNgayChiSoChot","displayName":"DenNgayChiSoChot","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"removed":false},{"id":"thang","displayName":"thang","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"removed":false},{"id":"nam","displayName":"nam","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"removed":false},{"id":"tieuthungay","displayName":"tieuthungay","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true},{"id":"tieuthuthang","displayName":"tieuthuthang","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true},{"id":"tiendienthang","displayName":"tiendienthang","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true},{"id":"makhachhang","displayName":"makhachhang","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true},{"id":"matkhau","displayName":"matkhau","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true},{"id":"taihoadon","displayName":"taihoadon","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[416,528],"id":"80191c7b-c903-44c4-becd-18d176b57156","name":"Northern_Power"},{"parameters":{"description":"Công cụ này được sử dụng để tra cứu phạt nguội bắt buộc: bienso (biển số), loại (loại xe)","workflowId":{"__rl":true,"value":"wpOrEVYXeCyzMG5e","mode":"list","cachedResultName":"phat nguoi"},"workflowInputs":{"mappingMode":"defineBelow","value":{"loaixe":"={{ $fromAI('loaixe', `If car, value 1\nIf motorbike, value 2\nIf electric vehicle, value 3\nOnly accept values: 1, 2, 3`, 'number') }}","bienso":"={{ $fromAI('bienso', `license plates for cars, motorbikes, electric vehicles`, 'string') }}"},"matchingColumns":[],"schema":[{"id":"loaixe","displayName":"loaixe","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number"},{"id":"bienso","displayName":"bienso","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[-624,672],"id":"bb15c94a-8b6f-4c3d-913a-f394ba70e53c","name":"phat_nguoi"},{"parameters":{"operation":"executeQuery","query":"WITH ranked AS (\n  SELECT \n    title,\n    link,\n    contentSnippet,\n    isodate AT TIME ZONE 'Asia/Ho_Chi_Minh' AS vn_time,\n    ROW_NUMBER() OVER (\n      PARTITION BY\n        CASE\n          WHEN link LIKE 'https://vnexpress.net%' THEN 'vnexpress.net'\n          WHEN link LIKE 'https://dantri.com.vn%' THEN 'dantri.com.vn'\n          WHEN link LIKE 'https://thanhnien.vn%' THEN 'thanhnien.vn'\n        END\n      ORDER BY isodate DESC\n    ) AS rn\n  FROM vnnew\n  WHERE link LIKE 'https://vnexpress.net%'\n     OR link LIKE 'https://dantri.com.vn%'\n     OR link LIKE 'https://thanhnien.vn%'\n)\nSELECT title, link, contentSnippet, vn_time\nFROM ranked\nWHERE rn <= 5\nORDER BY vn_time DESC;\n","options":{}},"type":"n8n-nodes-base.postgresTool","typeVersion":2.6,"position":[-784,640],"id":"853b8866-b6ef-4eba-81ab-77fe630dfc95","name":"vnnew","credentials":{"postgres":{"id":"vDBK6XLC0TBpoMww","name":"Postgres account"}}},{"parameters":{"toolDescription":"Đây là công cụ tìm kiếm thông tin và dữ liệu mới nhất, tạo ảnh theo yêu cầu bằng Gemeni","method":"POST","url":"http://192.168.1.220:8000/generate","sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"name":"prompt","value":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters0_Value', `image creation prompt or search prompt`, 'string') }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequestTool","typeVersion":4.2,"position":[-960,640],"id":"ca7c8c65-422d-4706-841b-62d3cfa0fd74","name":"Tim_kiem"},{"parameters":{"description":"Công cụ này được sử dụng để tra cứu kết quả xổ số bắt buộc: khuvuc (miền bắc, miền nam, miền trung), date (ngày)","workflowId":{"__rl":true,"value":"hQ8hcwT5NHeH2uNP","mode":"list","cachedResultName":"xổ số"},"workflowInputs":{"mappingMode":"defineBelow","value":{"khuvuc":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('khuvuc', `includes the following areas:\nxsmb: northern lottery\nxsmn: southern lottery\nxsmt: central lottery\nOnly accept values: xsmb, xsmn, xsmt`, 'string') }}","date":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('date', `date in DD-MM-YYYY format\neg: 2025-07-25`, 'string') }}"},"matchingColumns":[],"schema":[{"id":"khuvuc","displayName":"khuvuc","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true},{"id":"date","displayName":"date","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[-480,672],"id":"67b0cf32-9a9f-4ad7-9856-fa72a5af3aea","name":"xo_so"},{"parameters":{"description":"Công cụ này được sử dụng để tra cứu thời tiết bắt buộc: tinh (tỉnh Việt Nam) hoặc phải có cả tinh (tỉnh Việt Nam) và huyen (huyện bất kỳ trong tỉnh).","workflowId":{"__rl":true,"value":"ee5FHaxnI0IAgqkn","mode":"list","cachedResultName":"thời tiết"},"workflowInputs":{"mappingMode":"defineBelow","value":{"tinh":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('tinh', `Province to look up`, 'string') }}","huyen":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('huyen', `District to look up`, 'string') }}"},"matchingColumns":[],"schema":[{"id":"tinh","displayName":"tinh","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true},{"id":"huyen","displayName":"huyen","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[-368,672],"id":"9efdf5f7-633d-4a94-b389-f7313400d706","name":"thoi_tiet"},{"parameters":{"description":"Công cụ hỗ trợ chuyển đổi và tra cứu thông tin giữa lịch âm và lịch dương, kèm theo các thông tin phong thủy chi tiết.\nHai chế độ sử dụng\n1. Chế độ chuyển đổi đơn giản\nMục đích: Chỉ chuyển đổi ngày tháng giữa âm lịch ↔ dương lịch\nTham số bắt buộc:\nngày: Ngày cần chuyển đổi (dd/mm/yyyy)\nloại: Hướng chuyển đổi \"âm sang dương\" hoặc \"dương sang âm\"\nTham số khác: Điền giá trị 0\n2. Chế độ tra cứu chi tiết\nMục đích: Lấy thông tin phong thủy đầy đủ của ngày\nTham số bắt buộc:\nngày: Ngày cần tra cứu (dd/mm/yyyy)\nchitiet: Giá trị yes (bật chế độ chi tiết)\nloại: Hướng chuyển đổi lịch\nThông tin chi tiết trả về:\nGiờ Tốt, Giờ Xấu trong ngày\nNgũ Hành (Trạch Nhất)\nThần Trực Ngày\nTuổi xung khắc\nNgọc hạp thông thu\nHướng xuất hành thuận lợi\nXuất hành theo Không Minh\nXuất hành theo Lý Thuận Phong","workflowId":{"__rl":true,"value":"C4LlOyeO1AXflv4i","mode":"list","cachedResultName":"lịch vạn niên"},"workflowInputs":{"mappingMode":"defineBelow","value":{"type":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('type', `if solar to lunar, type value 0\nIf lunar to solar , type value 1\nOnly accept values: 0, 1`, 'string') }}","chitiet":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('chitiet', `If you need information about Good Hours, Good/Bad Days, Travel, Taboos, fill in: yes`, 'string') }}","date":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('date', `vannien in DD-MM-YYYY format\nIf solar to lunar or lunar to solar`, 'string') }}"},"matchingColumns":[],"schema":[{"id":"chitiet","displayName":"chitiet","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true},{"id":"type","displayName":"type","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true},{"id":"date","displayName":"date","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[-96,688],"id":"2d668122-f945-48db-8013-a39f8c81733c","name":"lich_van_nien"},{"parameters":{"method":"POST","url":"http://192.168.1.220:8000/generate","sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"name":"prompt","value":"={{ $json.message.text }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1328,752],"id":"f25e497e-8bab-41f8-9bd2-009b1d078f0a","name":"HTTP Request5"},{"parameters":{"path":"tracuu"},"type":"@n8n/n8n-nodes-langchain.mcpTrigger","typeVersion":2,"position":[-800,416],"id":"376d1a68-e2ca-4171-bee0-33a7f5cd4d76","name":"Tra_cuu","webhookId":"7cc91914-00eb-40f5-a6f8-158d13513327"},{"parameters":{"description":"Công cụ này được sử dụng để tìm kiếm video trên youtube bắt buộc: key (từ khóa tìm kiếm)","workflowId":{"__rl":true,"value":"VdZWURehyKZUkaTf","mode":"list","cachedResultName":"youtube"},"workflowInputs":{"mappingMode":"defineBelow","value":{"key":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('key', `key search youtube`, 'string') }}"},"matchingColumns":["key"],"schema":[{"id":"key","displayName":"key","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[-224,688],"id":"9c128d4b-320a-491a-90ea-d8c212b97c5c","name":"youtube"}],"connections":{"send-mail":{"ai_tool":[[{"node":"Google","type":"ai_tool","index":0}]]},"get-mail":{"ai_tool":[[{"node":"Google","type":"ai_tool","index":0}]]},"mark-read-mail":{"ai_tool":[[{"node":"Google","type":"ai_tool","index":0}]]},"reply-mail":{"ai_tool":[[{"node":"Google","type":"ai_tool","index":0}]]},"delete-mail":{"ai_tool":[[{"node":"Google","type":"ai_tool","index":0}]]},"create-event-calendar":{"ai_tool":[[{"node":"Google","type":"ai_tool","index":0}]]},"update-event-calendar":{"ai_tool":[[{"node":"Google","type":"ai_tool","index":0}]]},"delete-event-calendar":{"ai_tool":[[{"node":"Google","type":"ai_tool","index":0}]]},"create-document":{"ai_tool":[[{"node":"Google","type":"ai_tool","index":0}]]},"search-docs":{"ai_tool":[[{"node":"Google","type":"ai_tool","index":0}]]},"get-docs":{"ai_tool":[[{"node":"Google","type":"ai_tool","index":0}]]},"update-docs":{"ai_tool":[[{"node":"Google","type":"ai_tool","index":0}]]},"delete-docs":{"ai_tool":[[{"node":"Google","type":"ai_tool","index":0}]]},"image-analysis":{"ai_tool":[[{"node":"Google","type":"ai_tool","index":0}]]},"gio":{"ai_tool":[[{"node":"Google","type":"ai_tool","index":0}]]},"sukienamlich":{"ai_tool":[[{"node":"Google","type":"ai_tool","index":0}]]},"sukienduonglich":{"ai_tool":[[{"node":"Google","type":"ai_tool","index":0}]]},"lookup":{"ai_tool":[[]]},"Northern_Power":{"ai_tool":[[]]},"phat_nguoi":{"ai_tool":[[{"node":"Tra_cuu","type":"ai_tool","index":0}]]},"vnnew":{"ai_tool":[[{"node":"Tra_cuu","type":"ai_tool","index":0}]]},"Tim_kiem":{"ai_tool":[[{"node":"Tra_cuu","type":"ai_tool","index":0}]]},"xo_so":{"ai_tool":[[{"node":"Tra_cuu","type":"ai_tool","index":0}]]},"thoi_tiet":{"ai_tool":[[{"node":"Tra_cuu","type":"ai_tool","index":0}]]},"lich_van_nien":{"ai_tool":[[{"node":"Tra_cuu","type":"ai_tool","index":0}]]},"youtube":{"ai_tool":[[{"node":"Tra_cuu","type":"ai_tool","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"9b9a46e1-51dc-46a7-bfd4-6e1d98171303","triggerCount":2,"shared":[{"createdAt":"2025-08-03T13:07:19.281Z","updatedAt":"2025-08-03T13:07:19.281Z","role":"workflow:owner","workflowId":"zi25DISjqxJE1mDS","projectId":"Bsx4kBdHQHZGGC5J"}],"tags":[]}