my-workflow-2-6W8Zu4rKMt5sziIE.json
{"createdAt":"2025-08-10T02:39:18.944Z","updatedAt":"2025-08-10T02:43:12.886Z","id":"6W8Zu4rKMt5sziIE","name":"My workflow 2","active":false,"isArchived":true,"nodes":[{"parameters":{"jsCode":"// Lấy dữ liệu HTML từ node trước\nconst html = $input.first().json.data;\n\nif (!html) {\n  throw new Error(\"Không tìm thấy nội dung HTML ở đầu vào.\");\n}\n\n// Dùng biểu thức chính quy (regex) để tìm và trích xuất các giá trị\n// từ các thẻ input ẩn trong form.\n\n// 1. Trích xuất __RequestVerificationToken từ trong form\nconst verificationTokenMatch = html.match(/<input name=\"__RequestVerificationToken\" type=\"hidden\" value=\"([^\"]+)\" \\/>/);\n\n// 2. Trích xuất mã định danh của Captcha\nconst captchaKeyMatch = html.match(/<input id=\"CaptchaDeText\" name=\"CaptchaDeText\" type=\"hidden\" value=\"([^\"]+)\" \\/>/);\n\n// Kiểm tra xem có tìm thấy các giá trị không\nif (!verificationTokenMatch || !captchaKeyMatch) {\n  throw new Error(\"Không thể trích xuất được Verification Token hoặc Captcha Key từ HTML.\");\n}\n\n// Tạo một đối tượng JSON chứa các giá trị đã bóc tách\nconst result = {\n  json: {\n    formVerificationToken: verificationTokenMatch[1],\n    captchaKey: captchaKeyMatch[1]\n  }\n};\n\n// Trả về kết quả để các node sau sử dụng\nreturn [result];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[512,816],"id":"f120c589-370e-43c2-be69-4308e27b9198","name":"Code"},{"parameters":{"url":"https://cskh.npc.com.vn/DefaultCaptcha/Generate","sendQuery":true,"queryParameters":{"parameters":[{"name":"t","value":"={{ $json.captchaKey }}"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"User-Agent","value":"Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:141.0) Gecko/20100101 Firefox/141.0"},{"name":"Accept","value":"image/avif,image/webp,image/png,image/svg+xml,image/*;q=0.8,*/*;q=0.5"},{"name":"Accept-Language","value":"en-US,en;q=0.5"},{"name":"Accept-Encoding","value":"gzip, deflate, br, zstd"},{"name":"Connection","value":"keep-alive"},{"name":"Referer","value":"https://cskh.npc.com.vn/home/AccountNPC"},{"name":"cookie","value":"={{ $('Get Cookie').first().json.headers['set-cookie'][0] }};{{ $('Get Cookie').first().json.headers['set-cookie'][1] }};{{ $('Get Cookie').first().json.headers['set-cookie'][2] }};{{ $('Get Cookie').first().json.headers['set-cookie'][3] }};"},{"name":"Sec-Fetch-Dest","value":"image"},{"name":"Sec-Fetch-Mode","value":"no-cors"},{"name":"Sec-Fetch-Site","value":"same-origin"},{"name":"Priority","value":"u=5, i"}]},"options":{"allowUnauthorizedCerts":true,"response":{"response":{"responseFormat":"file"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[688,816],"id":"2d425a8b-f98d-4e36-94b6-389b5411b45c","name":"Get captcha"},{"parameters":{"operation":"crop","options":{"format":"png"}},"type":"n8n-nodes-base.editImage","typeVersion":1,"position":[912,816],"id":"0fabdec8-a9d3-4d8e-90d0-ac96821b5781","name":"gif to png"},{"parameters":{"resource":"image","operation":"analyze","modelId":{"__rl":true,"value":"models/gemini-2.5-flash","mode":"list","cachedResultName":"models/gemini-2.5-flash"},"text":"This is a captcha code, decode it and return only the result, note that the code distinguishes between uppercase, lowercase, and numbers.","inputType":"binary","options":{}},"type":"@n8n/n8n-nodes-langchain.googleGemini","typeVersion":1,"position":[1120,816],"id":"4619c99c-ea26-45b3-8fe1-787aee453496","name":"img captcha to text","credentials":{"googlePalmApi":{"id":"BmSJpQbzqh1rnp4z","name":"NguyenViet"}}},{"parameters":{"jsCode":"// Lấy dữ liệu HTML từ node trước\nconst html = $input.item.json.data;\n\nif (!html || !html.includes(\"Điện tiêu thụ (kWh)\")) {\n  return [{ json: { error: \"Đầu vào không phải là HTML chứa chi tiết sản lượng điện.\" } }];\n}\n\n// 1. Chuẩn bị đối tượng kết quả và các biến cần thiết\nconst finalResult = {\n  tong_san_luong: 0,\n  chi_tiet_theo_ngay: []\n};\nlet totalConsumption = 0;\n\n// 2. Định nghĩa biểu thức chính quy (Regex) để tìm và bắt nhóm dữ liệu cho mỗi ngày\n// Regex này sẽ tìm một khối bắt đầu bằng <tr> chứa rowspan=\"2\" và kết thúc bằng <tr> chứa \"Tổng\"\nconst dailyBlockRegex = /<tr[^>]*?>\\s*<td rowspan=\"2\">.*?<\\/td>\\s*<td rowspan=\"2\">(.*?)<\\/td>\\s*<td rowspan=\"2\">(.*?)<\\/td>[\\s\\S]*?<th style=\"color:black\">(.*?)<\\/th>\\s*<\\/tr>/g;\n\n// 3. Lặp qua tất cả các khối dữ liệu tìm thấy được\nlet match;\nwhile ((match = dailyBlockRegex.exec(html)) !== null) {\n  // Lấy dữ liệu từ các nhóm bắt được\n  const day = match[1].trim();\n  const meterReading = match[2].trim();\n  // Chuyển đổi dấu phẩy thành dấu chấm để xử lý số\n  const consumptionStr = match[3].trim().replace(',', '.');\n  const consumption = parseFloat(consumptionStr);\n\n  // Thêm dữ liệu đã xử lý vào mảng kết quả\n  if (!isNaN(consumption)) {\n    finalResult.chi_tiet_theo_ngay.push({\n      ngay: day,\n      chi_so_cuoi_ngay: meterReading,\n      san_luong_tieu_thu: consumption\n    });\n    // Cộng dồn vào tổng sản lượng\n    totalConsumption += consumption;\n  }\n}\n\n// 4. Cập nhật tổng sản lượng (làm tròn đến 2 chữ số thập phân)\nfinalResult.tong_san_luong = parseFloat(totalConsumption.toFixed(2));\n\n// 5. Kiểm tra nếu không có dữ liệu nào được xử lý\nif (finalResult.chi_tiet_theo_ngay.length === 0) {\n  return [{ json: { thong_bao: \"Không tìm thấy dữ liệu chi tiết trong HTML.\" } }];\n}\n\n// Trả về một đối tượng JSON duy nhất chứa toàn bộ kết quả\nreturn [{ json: finalResult }];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1680,112],"id":"85ee8531-0b4a-49ee-9524-fb930814b6c0","name":"Code1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"d4301437-5b14-4ceb-928b-4a1f948535c6","leftValue":"={{ $runIndex }}","rightValue":3,"operator":{"type":"number","operation":"lte"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1664,960],"id":"9343624a-7ba2-4e19-9d07-101a65c33862","name":"Retry Max 5","onError":"continueRegularOutput"},{"parameters":{"operation":"deleteTable","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"npc","mode":"list"},"deleteCommand":"delete","where":{"values":[{"column":"cookie","condition":"IS NOT NULL"}]},"options":{}},"id":"ba289fe3-693d-41d7-a5f5-9f86f79606de","name":"Delete Old Cookie","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1728,800],"credentials":{"postgres":{"id":"vDBK6XLC0TBpoMww","name":"Postgres account"}}},{"parameters":{"schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"npc","mode":"list"},"columns":{"mappingMode":"defineBelow","value":{"cookie":"={{ $('Get Cookie').first().json.headers['set-cookie'][0] }};{{ $('Get Cookie').first().json.headers['set-cookie'][1] }};{{ $('Get Cookie').first().json.headers['set-cookie'][2] }};{{ $('Get Cookie').first().json.headers['set-cookie'][3] }};"},"matchingColumns":["cookie"],"schema":[{"id":"cookie","displayName":"cookie","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"id":"ac1a388f-b821-4333-9962-2856eaa9c32b","name":"Insert New Cookie","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1952,800],"credentials":{"postgres":{"id":"vDBK6XLC0TBpoMww","name":"Postgres account"}}},{"parameters":{"operation":"select","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"npc","mode":"list"},"where":{"values":[{"column":"cookie","condition":"IS NOT NULL"}]},"options":{}},"id":"b88f475d-51b5-42bc-8f85-5f50de7343a9","name":"Get Cookie From DB","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[464,256],"credentials":{"postgres":{"id":"vDBK6XLC0TBpoMww","name":"Postgres account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"2fc1a93d-1586-448f-b1b3-bb8326d8d218","leftValue":"={{ $json.data }}","rightValue":"=XIN CH&#192;O {{ $('Start').first().json.makhachhang }}","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[992,256],"id":"c3be7e51-119b-4b51-bb40-0ed31bf64394","name":"check cookie avai"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"2fc1a93d-1586-448f-b1b3-bb8326d8d218","leftValue":"={{ $json.data }}","rightValue":"={{ $('Start').first().json.makhachhang }}","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1552,816],"id":"79a94bdc-5142-4857-8bac-20a504f1e7d4","name":"check login"},{"parameters":{"workflowInputs":{"values":[{"name":"ngay","type":"any"},{"name":"thang","type":"number"},{"name":"nam","type":"number"},{"name":"tieuthungay","type":"any"},{"name":"tieuthuthang","type":"any"},{"name":"tiendienthang","type":"any"},{"name":"makhachhang","type":"any"},{"name":"matkhau","type":"any"},{"name":"taihoadon","type":"any"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[256,256],"id":"c49d04e2-ce54-4e6f-b339-0cfbe242942e","name":"Start"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $('Start').first().json.tieuthuthang }}","rightValue":"yes","operator":{"type":"string","operation":"equals"},"id":"6a2ea48e-1324-4948-b2d1-6de7e509ce2f"}],"combinator":"and"},"renameOutput":true,"outputKey":"tieuthuthang"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"675fa486-e938-4eaa-bcc9-381d99ccc476","leftValue":"={{ $('Start').first().json.tieuthungay }}","rightValue":"yes","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"tieuthungay"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"84dda349-e82e-4219-bcef-2dc43632c084","leftValue":"={{ $('Start').first().json.tiendienthang }}","rightValue":"yes","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"tiendienthang"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"d8cc46c5-1251-4106-8171-7dbf60564d4a","leftValue":"={{ $('Start').first().json.taihoadon }}","rightValue":"yes","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"taihoadon"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[1184,208],"id":"dd0198c7-e26e-4fd3-895e-ca5481eefe67","name":"Switch"},{"parameters":{"jsCode":"// Lấy dữ liệu HTML từ node trước\nconst html = $input.item.json.data;\n\nif (!html) {\n  return [{ json: { error: \"Không tìm thấy nội dung HTML ở đầu vào.\" } }];\n}\n\n// Mảng để chứa tất cả các bản ghi\nconst allRecords = [];\n\n// 1. Biểu thức chính quy (Regex) để tìm từng dòng <tr> trong <tbody>\nconst rowRegex = /<tr.*?>([\\s\\S]*?)<\\/tr>/g;\n\n// 2. Biểu thức chính quy (Regex) để tìm từng ô <td> trong một dòng\nconst cellRegex = /<td.*?>([\\s\\S]*?)<\\/td>/g;\n\n// 3. Tách phần thân của bảng để xử lý\nconst tbodyStart = html.indexOf('<tbody>');\nconst tbodyEnd = html.indexOf('</tbody>');\nif (tbodyStart === -1 || tbodyEnd === -1) {\n    return [{ json: { error: \"Không tìm thấy thẻ <tbody> trong HTML.\" } }];\n}\nconst tbodyContent = html.substring(tbodyStart, tbodyEnd);\n\n// 4. Lặp qua từng dòng <tr> tìm được\nlet rowMatch;\nwhile ((rowMatch = rowRegex.exec(tbodyContent)) !== null) {\n    const rowContent = rowMatch[1];\n    const cells = [];\n    \n    // 5. Lặp qua từng ô <td> trong dòng đó để lấy dữ liệu\n    let cellMatch;\n    while ((cellMatch = cellRegex.exec(rowContent)) !== null) {\n        // Dọn dẹp dữ liệu: xóa khoảng trắng thừa\n        const cleanCell = cellMatch[1].trim();\n        cells.push(cleanCell);\n    }\n    \n    // 6. Nếu dòng có đủ 5 ô, tạo đối tượng CHỈ VỚI 3 TRƯỜNG YÊU CẦU\n    if (cells.length === 5) {\n        allRecords.push({\n            dien_tieu_thu_kwh: parseInt(cells[2].replace(/\\s/g, '')) || 0,\n            thang: parseInt(cells[3]) || 0,\n            nam: parseInt(cells[4]) || 0\n        });\n    }\n}\n\n// 7. Trả về mảng các bản ghi dưới dạng JSON\nreturn allRecords.map(record => ({ json: record }));"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1680,-64],"id":"bebfb6c7-79bb-468b-8f83-3942eb4aa36a","name":"Code2"},{"parameters":{"method":"POST","url":"https://cskh.npc.com.vn/DichVuTrucTuyen/TraCuuSanLuongDienTheoNgay","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Origin","value":"https://cskh.npc.com.vn"},{"name":"=Cookie","value":"={{ $('Get Cookie From DB').first().json.cookie }}"}]},"sendBody":true,"contentType":"form-urlencoded","bodyParameters":{"parameters":[{"name":"MaKhachHangChiSoChot","value":"={{ $('Start').first().json.makhachhang }}"},{"name":"TuNgayChiSoChot","value":"={{ $('Start').first().json.ngay }}"},{"name":"DenNgayChiSoChot","value":"={{ $('Start').first().json.ngay }}"}]},"options":{"allowUnauthorizedCerts":true}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1472,112],"id":"b614acd2-d634-4f7f-a7b5-d383577946b0","name":"tieu thu ngay"},{"parameters":{"url":"https://cskh.npc.com.vn/TraCuuTHinhTThuDien/GetDuLieuChiSoSPC","sendQuery":true,"queryParameters":{"parameters":[{"name":"timNam","value":"2025"},{"name":"maDiemDo","value":"={{ $('Start').first().json.makhachhang }}001"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"cookie","value":"={{ $('Get Cookie From DB').first().json.cookie }}"}]},"options":{"allowUnauthorizedCerts":true,"timeout":10000}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1472,-64],"id":"91470afd-f92c-4856-99fd-88823b771c74","name":"tieu thu thang","onError":"continueRegularOutput"},{"parameters":{"url":"https://cskh.npc.com.vn/TraCuuTHinhTThuDien/GetDuLieuTienDienSPC","sendQuery":true,"queryParameters":{"parameters":[{"name":"timNam","value":"={{ $('Start').first().json.nam }}"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"cookie","value":"={{ $('Get Cookie From DB').first().json.cookie }}"}]},"options":{"allowUnauthorizedCerts":true,"redirect":{"redirect":{}},"timeout":10000}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1472,256],"id":"4bb27391-fde2-45fb-90e0-a334bfec9c8a","name":"tien dien thang","onError":"continueRegularOutput"},{"parameters":{"jsCode":"// Lấy dữ liệu HTML từ node trước\nconst html = $input.item.json.data;\n\nif (!html) {\n  return [{ json: { error: \"Không tìm thấy nội dung HTML ở đầu vào.\" } }];\n}\n\n// Mảng để chứa tất cả các bản ghi\nconst allRecords = [];\n\n// 1. Biểu thức chính quy (Regex) để tìm từng dòng <tr> trong <tbody>\nconst rowRegex = /<tr.*?>([\\s\\S]*?)<\\/tr>/g;\n\n// 2. Biểu thức chính quy (Regex) để tìm từng ô <td> trong một dòng\nconst cellRegex = /<td.*?>([\\s\\S]*?)<\\/td>/g;\n\n// 3. Tách phần thân của bảng để xử lý\nconst tbodyStart = html.indexOf('<tbody>');\nconst tbodyEnd = html.indexOf('</tbody>');\nif (tbodyStart === -1 || tbodyEnd === -1) {\n    return [{ json: { error: \"Không tìm thấy thẻ <tbody> trong HTML.\" } }];\n}\nconst tbodyContent = html.substring(tbodyStart, tbodyEnd);\n\n// 4. Lặp qua từng dòng <tr> tìm được\nlet rowMatch;\nwhile ((rowMatch = rowRegex.exec(tbodyContent)) !== null) {\n    const rowContent = rowMatch[1];\n    const cells = [];\n    \n    // 5. Lặp qua từng ô <td> trong dòng đó để lấy dữ liệu\n    let cellMatch;\n    while ((cellMatch = cellRegex.exec(rowContent)) !== null) {\n        // Dọn dẹp dữ liệu: xóa khoảng trắng thừa\n        const cleanCell = cellMatch[1].trim();\n        cells.push(cleanCell);\n    }\n    \n    // 6. Nếu dòng có đủ 5 ô, tạo đối tượng CHỈ VỚI 3 TRƯỜNG YÊU CẦU\n    if (cells.length === 5) {\n        allRecords.push({\n            tien_dien_vnd: parseInt(cells[2].replace(/\\s/g, '')) || 0,\n            thang: parseInt(cells[3]) || 0,\n            nam: parseInt(cells[4]) || 0\n        });\n    }\n}\n\n// 7. Trả về mảng các bản ghi dưới dạng JSON\nreturn allRecords.map(record => ({ json: record }));"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1680,256],"id":"f5a4150b-8f2b-48fa-8f07-1057fc9d6e8e","name":"Code3"},{"parameters":{"content":"Kiểm tra cookie được lưu trong DB. Nếu cookie chưa hết hạn thì thực hiện tra cứu, không cần đăng nhập lại tránh tốn token và thời gian bypass captcha\n","height":320,"width":512,"color":2},"type":"n8n-nodes-base.stickyNote","position":[448,144],"typeVersion":1,"id":"74e63347-1d1a-4ee7-ad30-00a0b7c1de3c","name":"Sticky Note"},{"parameters":{"content":"nếu cookie hết hạn thì thực hiện lại việc đăng nhập và lưu cookie vào db và tiếp tục phục vụ cho công việc tra cứu","height":400,"width":1968},"type":"n8n-nodes-base.stickyNote","position":[224,736],"typeVersion":1,"id":"6a7f0113-2af2-4068-ac70-a106f9d50cb2","name":"Sticky Note1"},{"parameters":{"content":"nhận kích hoạt và input dữ liệu từ MCP Client","height":320},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[208,144],"id":"e34e6cfd-2e9e-45d7-ae99-590409d0677d","name":"Sticky Note2"},{"parameters":{"content":"Tra cứu dữ liệu tùy thuộc vào input cần tra cứu gì\n","height":784,"width":1120},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[960,-80],"id":"dc743aad-f610-4f49-ad0c-562005c74029","name":"Sticky Note3"},{"parameters":{"outputPrefix":"file"},"id":"6060b7d9-1639-406b-98bb-91b4862965d5","name":"unzip_jobfile","type":"n8n-nodes-base.compression","typeVersion":1.1,"position":[1936,400]},{"parameters":{"method":"POST","url":"https://cskh.npc.com.vn/Account/Login","sendHeaders":true,"headerParameters":{"parameters":[{"name":"User-Agent","value":"Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:141.0) Gecko/20100101 Firefox/141.0"},{"name":"Accept","value":"text/html,application/xhtml+xml,application/xml;q=0.9,*/*;q=0.8"},{"name":"Accept-Language","value":"en-US,en;q=0.5"},{"name":"Accept-Encoding","value":"gzip, deflate, br, zstd"},{"name":"Origin","value":"https://cskh.npc.com.vn"},{"name":"Connection","value":"keep-alive"},{"name":"Referer","value":"https://cskh.npc.com.vn/home/AccountNPC"},{"name":"Upgrade-Insecure-Requests","value":"1"},{"name":"Sec-Fetch-Dest","value":"document"},{"name":"Sec-Fetch-Mode","value":"navigate"},{"name":"Sec-Fetch-Site","value":"same-origin"},{"name":"Sec-Fetch-User","value":"?1"},{"name":"Priority","value":"u=0, i"},{"name":"cookie","value":"={{ $('Get Cookie').first().json.headers['set-cookie'][0] }};{{ $('Get Cookie').first().json.headers['set-cookie'][1] }};{{ $('Get Cookie').first().json.headers['set-cookie'][2] }};{{ $('Get Cookie').first().json.headers['set-cookie'][3] }};"}]},"sendBody":true,"contentType":"form-urlencoded","bodyParameters":{"parameters":[{"name":"__RequestVerificationToken","value":"={{ $('Code').item.json.formVerificationToken }}"},{"name":"Username","value":"={{ $('Start').first().json.makhachhang }}"},{"name":"Password","value":"={{ $('Start').first().json.matkhau }}"},{"name":"CaptchaDeText","value":"={{ $('Code').first().json.captchaKey }}"},{"name":"CaptchaInputText","value":"={{ $json.content.parts[0].text }}"},{"name":"previousLink"}]},"options":{"allowUnauthorizedCerts":true}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1360,816],"id":"c581568b-8689-4d03-91c6-521aaf2e62e1","name":"login"},{"parameters":{"url":"https://cskh.npc.com.vn/home/AccountNPC","sendHeaders":true,"headerParameters":{"parameters":[{"name":"cookie","value":"={{ $json.cookie }}"}]},"options":{"allowUnauthorizedCerts":true,"response":{"response":{"fullResponse":true}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[736,256],"id":"c2494df7-831b-4f5a-900f-260194a3bd86","name":"Check cookie"},{"parameters":{"jsCode":"// Code Node - Chỉ lấy encodedValue\nconst item = $input.first().json;\n\n// Lấy dữ liệu HTML\nconst htmlContent = item.data;\n\n// Tìm giá trị trong thuộc tính onclick\nconst pattern = /ChonThaoTac\\('([^']+)'/;\nconst match = htmlContent.match(pattern);\n\n// Trích xuất giá trị trước dấu gạch ngang\nlet encodedValue = null;\nif (match && match[1]) {\n  encodedValue = match[1].split('-')[0];\n}\n\n// Chỉ trả về encodedValue\nreturn {\n  json: {\n    encodedValue: encodedValue\n  }\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1616,400],"id":"96559e12-d73d-4afa-ac48-b1016bd3e3d8","name":"Code4"},{"parameters":{"url":"=https://cskh.npc.com.vn/HoaDon/TraCuuHDSPC?ky=1&thang={{ $('Start').first().json.thang}}&nam={{ $('Start').first().json.nam }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"User-Agent","value":"Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:141.0) Gecko/20100101 Firefox/141.0"},{"name":"Accept","value":"text/html, */*; q=0.01"},{"name":"Accept-Language","value":"en-US,en;q=0.5"},{"name":"Accept-Encoding","value":"gzip, deflate, br, zstd"},{"name":"X-Requested-With","value":"XMLHttpRequest"},{"name":"Connection","value":"keep-alive"},{"name":"Referer","value":"https://cskh.npc.com.vn/DichVuTTCSKH/IndexSPC?index=2"},{"name":"Sec-Fetch-Dest","value":"empty"},{"name":"Sec-Fetch-Mode","value":"cors"},{"name":"Sec-Fetch-Site","value":"same-origin"},{"name":"cookie","value":"={{ $('Get Cookie From DB').first().json.cookie }}"}]},"options":{"allowUnauthorizedCerts":true}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1472,400],"id":"0b8654b8-8327-4ecc-97a6-2442078a8040","name":"get id hoa don"},{"parameters":{"jsCode":"// Lấy key của binary data (thường là \"data\")\nconst binaryPropertyName = Object.keys($input.item.binary)[0];\n\n// Lấy thông tin metadata của binary data\nconst binaryData = $input.item.binary[binaryPropertyName];\n\n// Lấy tên file từ metadata\nconst fileName = binaryData.fileName || \"unknown-file\";\nconst fileExtension = binaryData.fileExtension || \"\";\nconst mimeType = binaryData.mimeType;\n\n// Tạo ngày tháng với định dạng DD-MM-YYYY\nconst now = new Date();\nconst day = String(now.getDate()).padStart(2, '0');\nconst month = String(now.getMonth() + 1).padStart(2, '0');\nconst year = now.getFullYear();\nconst formattedDate = `${day}-${month}-${year}`;\n\n// Tạo tên file với định dạng ngày tháng mới\nconst fullFileName = `${formattedDate}-${fileName}`;\n\n// Trả về kết quả\nreturn {\n  json: {\n    originalFileName: fileName,\n    extension: fileExtension,\n    mimeType: mimeType,\n    fullFileName: fullFileName,\n    savePath: `/config/n8n/${fullFileName}`\n  },\n  // Quan trọng: Giữ nguyên binary data để chuyển đến node tiếp theo\n  binary: $input.item.binary\n}\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1472,592],"id":"a133c3ba-1277-48b7-b9ce-79a0234cfa06","name":"Code5"},{"parameters":{"resource":"service","operation":"call","domain":"zalo_bot","service":"send_file","serviceAttributes":{"attributes":[{"name":"thread_id","value":"=5841349563795164131"},{"name":"account_selection","value":"+84764343466"},{"name":"type","value":"1"},{"name":"file_path_or_url","value":"={{ $json.savePath }}"}]}},"type":"n8n-nodes-base.homeAssistant","typeVersion":1,"position":[1792,592],"id":"da16f847-8aff-4d45-9cf2-c15c898f7420","name":"sent file"},{"parameters":{"method":"POST","url":"https://cskh.npc.com.vn/HoaDon/DownloadHD1","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Cookie","value":"={{ $('Get Cookie From DB').first().json.cookie }}"}]},"sendBody":true,"contentType":"form-urlencoded","bodyParameters":{"parameters":[{"name":"TraCuuHD_MA_KH","value":"={{ $('Start').first().json.makhachhang }}"},{"name":"TraCuuHD_IDHoaDon_MauMoi"},{"name":"strid_hdon","value":"={{ $json.encodedValue }}"},{"name":"nam","value":"={{ $('Start').first().json.nam }}"},{"name":"thang","value":"={{ $('Start').first().json.thang }}"},{"name":"ky","value":"1"},{"name":"TenThuMuc"}]},"options":{"allowUnauthorizedCerts":true,"response":{"response":{"responseFormat":"file"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1776,400],"id":"6db213f0-0659-4c78-902f-42d531a32bdf","name":"download hoa don zip"},{"parameters":{"operation":"write","fileName":"={{ $json.savePath }}","dataPropertyName":"file1","options":{}},"type":"n8n-nodes-base.readWriteFile","typeVersion":1,"position":[1632,592],"id":"b81b91bc-2b4f-4c6a-9c94-826f7387220d","name":"save pdf"},{"parameters":{"jsCode":"// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n  item.json.file = \"Đã tải hóa đơn thành công\";\n}\n\nreturn $input.all();"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1952,592],"id":"712afc29-e2dd-48b2-8210-4d519aa5ef1b","name":"Code6"},{"parameters":{"content":"Bấm vào chạy Node này đầu tiên để tạo bảng npc lưu trữ cookie\n","height":208,"width":752},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[208,-80],"id":"537a4f89-b410-445c-825f-197c13b8559a","name":"Sticky Note4"},{"parameters":{"operation":"executeQuery","query":"CREATE TABLE npc (\n    cookie TEXT\n);","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[656,-48],"id":"19b255c8-2009-4ab7-94b5-9f1cfa660c90","name":"Creat table NPC","credentials":{"postgres":{"id":"vDBK6XLC0TBpoMww","name":"Postgres account"}}},{"parameters":{"url":"https://cskh.npc.com.vn/home/AccountNPC","options":{"allowUnauthorizedCerts":true,"response":{"response":{"fullResponse":true}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[288,816],"id":"a51bd7f0-7c5d-4c64-bac1-1227f4735a3c","name":"Get Cookie"}],"connections":{"Code":{"main":[[{"node":"Get captcha","type":"main","index":0}]]},"Get captcha":{"main":[[{"node":"gif to png","type":"main","index":0}]]},"gif to png":{"main":[[{"node":"img captcha to text","type":"main","index":0}]]},"img captcha to text":{"main":[[{"node":"login","type":"main","index":0}]]},"Retry Max 5":{"main":[[{"node":"Get Cookie","type":"main","index":0}]]},"Delete Old Cookie":{"main":[[{"node":"Insert New Cookie","type":"main","index":0}]]},"Insert New Cookie":{"main":[[{"node":"Get Cookie From DB","type":"main","index":0}]]},"Get Cookie From DB":{"main":[[{"node":"Check cookie","type":"main","index":0}]]},"check cookie avai":{"main":[[{"node":"Switch","type":"main","index":0}],[{"node":"Get Cookie","type":"main","index":0}]]},"check login":{"main":[[{"node":"Delete Old Cookie","type":"main","index":0}],[{"node":"Retry Max 5","type":"main","index":0}]]},"Start":{"main":[[{"node":"Get Cookie From DB","type":"main","index":0}]]},"Switch":{"main":[[{"node":"tieu thu thang","type":"main","index":0}],[{"node":"tieu thu ngay","type":"main","index":0}],[{"node":"tien dien thang","type":"main","index":0}],[{"node":"get id hoa don","type":"main","index":0}]]},"tieu thu ngay":{"main":[[{"node":"Code1","type":"main","index":0}]]},"tieu thu thang":{"main":[[{"node":"Code2","type":"main","index":0}]]},"tien dien thang":{"main":[[{"node":"Code3","type":"main","index":0}]]},"unzip_jobfile":{"main":[[{"node":"Code5","type":"main","index":0}]]},"login":{"main":[[{"node":"check login","type":"main","index":0}]]},"Check cookie":{"main":[[{"node":"check cookie avai","type":"main","index":0}]]},"Code4":{"main":[[{"node":"download hoa don zip","type":"main","index":0}]]},"get id hoa don":{"main":[[{"node":"Code4","type":"main","index":0}]]},"Code5":{"main":[[{"node":"save pdf","type":"main","index":0}]]},"download hoa don zip":{"main":[[{"node":"unzip_jobfile","type":"main","index":0}]]},"save pdf":{"main":[[{"node":"sent file","type":"main","index":0}]]},"sent file":{"main":[[{"node":"Code6","type":"main","index":0}]]},"Get Cookie":{"main":[[{"node":"Code","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"6adf0c82-2124-4f2a-81a4-30edab0c8274","triggerCount":0,"shared":[{"createdAt":"2025-08-10T02:39:18.944Z","updatedAt":"2025-08-10T02:39:18.944Z","role":"workflow:owner","workflowId":"6W8Zu4rKMt5sziIE","projectId":"Bsx4kBdHQHZGGC5J"}],"tags":[]}