my-workflow-4-x4ws48kvOBqj6eZo.json
{"createdAt":"2025-08-10T07:42:43.212Z","updatedAt":"2025-08-11T17:18:45.725Z","id":"x4ws48kvOBqj6eZo","name":"My workflow 4","active":false,"isArchived":true,"nodes":[{"parameters":{"operation":"extractHtmlContent","extractionValues":{"values":[{"key":"tinh","cssSelector":".p-nav-list > li > .p-navEl > a.p-navEl-link > span","returnArray":true},{"key":"href","cssSelector":".p-nav-list > li > .p-navEl > a.p-navEl-link","returnValue":"attribute","attribute":"href","returnArray":true}]},"options":{}},"type":"n8n-nodes-base.html","typeVersion":1,"position":[-2864,-144],"id":"bd310e59-b6ae-4d08-a276-b498601b20f8","name":"HTML"},{"parameters":{"jsCode":"const names = $json.tinh || [];\nconst hrefs = $json.href || [];\nconst out = [];\n\nfor (let i = 0; i < Math.min(names.length, hrefs.length); i++) {\n  // Bỏ qua các mục không phải khu vực nếu cần\n  const n = (names[i] || '').trim();\n  const h = hrefs[i] || '';\n\n  // Ví dụ lọc bớt \"Home\", \"Forums\"\n  if (n.toLowerCase() === 'home' || n.toLowerCase() === 'forums') continue;\n\n  out.push({ json: { name: n, href: h } });\n}\n\nreturn out;\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-2688,-144],"id":"34e07e1d-1c9a-47a8-b941-5bfd5073ea37","name":"Code"},{"parameters":{"conditions":{"string":[{"value1":"={{ $json.name }}","value2":"={{ $('Start').item.json.tinh }}"}]}},"type":"n8n-nodes-base.if","typeVersion":1,"position":[-2512,-144],"id":"a3e86932-ce5d-40cf-9b30-bdfe184e5f07","name":"IF"},{"parameters":{"operation":"extractHtmlContent","extractionValues":{"values":[{"key":"quan","cssSelector":".p-navEl > a.p-navEl-link[href*=\"/categories/gai-goi-ha-noi.\"] ~ div.menu .menu-content a.menu-linkRow","returnArray":true},{"key":"href","cssSelector":".p-navEl > a.p-navEl-link[href*=\"/categories/gai-goi-ha-noi.\"] ~ div.menu .menu-content a.menu-linkRow","returnValue":"attribute","attribute":"href","returnArray":true}]},"options":{}},"type":"n8n-nodes-base.html","typeVersion":1,"position":[-2128,-160],"id":"5c34809e-7c03-4b6f-8b47-59f2f8c0274a","name":"HTML1"},{"parameters":{"jsCode":"const names = $json.quan || [];\nconst hrefs = $json.href || [];\nconst out = [];\n\nfor (let i = 0; i < Math.min(names.length, hrefs.length); i++) {\n  // Bỏ qua các mục không phải khu vực nếu cần\n  const n = (names[i] || '').trim();\n  const h = hrefs[i] || '';\n\n  // Ví dụ lọc bớt \"Home\", \"Forums\"\n  if (n.toLowerCase() === 'home' || n.toLowerCase() === 'forums') continue;\n\n  out.push({ json: { name: n, href: h } });\n}\n\nreturn out;\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1936,-160],"id":"c9446fa4-35ee-4342-9868-0b3cb5db8795","name":"Code1"},{"parameters":{"conditions":{"string":[{"value1":"={{ $json.name }}","operation":"contains","value2":"={{ $('Start').item.json.huyen }}"}]}},"type":"n8n-nodes-base.if","typeVersion":1,"position":[-1760,-160],"id":"49818920-2503-49bf-b638-d0066ac2f25d","name":"IF1"},{"parameters":{"operation":"extractHtmlContent","extractionValues":{"values":[{"key":"gia","cssSelector":"a.labelLink","returnArray":true},{"key":"href","cssSelector":"a.labelLink","returnValue":"attribute","attribute":"href","returnArray":true}]},"options":{}},"type":"n8n-nodes-base.html","typeVersion":1,"position":[-1328,-176],"id":"1245620c-143d-48c5-b7dd-4417d2a8bb69","name":"HTML2","alwaysOutputData":true},{"parameters":{"conditions":{"string":[{"value1":"={{ $json.name }}","operation":"contains","value2":"={{ $('Start').item.json.gia }}"}]}},"type":"n8n-nodes-base.if","typeVersion":1,"position":[-928,-176],"id":"1cc73e9c-3c8f-48ee-9845-200fd816bc34","name":"IF2"},{"parameters":{"jsCode":"const names = $json.gia || [];\nconst hrefs = $json.href || [];\nconst out = [];\n// 1. Tạo một Set để theo dõi các mục đã xuất hiện\nconst seen = new Set();\n\nfor (let i = 0; i < Math.min(names.length, hrefs.length); i++) {\n  const n = (names[i] || '').trim();\n  const h = hrefs[i] || '';\n\n  // Bỏ qua các mục không cần thiết\n  if (n.toLowerCase() === 'home' || n.toLowerCase() === 'forums') {\n    continue;\n  }\n\n  // 2. Tạo một khóa duy nhất từ tên và href\n  const uniqueKey = `${n}|${h}`;\n\n  // 3. Chỉ thêm vào kết quả nếu khóa này chưa tồn tại trong Set\n  if (!seen.has(uniqueKey)) {\n    // 4. Đánh dấu là đã thấy và thêm vào mảng kết quả\n    seen.add(uniqueKey);\n    out.push({ json: { name: n, href: h } });\n  }\n}\n\nreturn out;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1152,-176],"id":"e96c82e1-bf01-4e11-b40f-090c8d3012df","name":"Code4"},{"parameters":{"operation":"extractHtmlContent","extractionValues":{"values":[{"key":"href","cssSelector":"a[data-tp-primary=\"on\"]","returnValue":"attribute","attribute":"href","returnArray":true},{"key":"gai","cssSelector":"a[data-tp-primary=\"on\"]","returnArray":true}]},"options":{}},"type":"n8n-nodes-base.html","typeVersion":1,"position":[-432,-192],"id":"3788e74a-da1a-4704-a4b7-380663b6dbe8","name":"HTML3","alwaysOutputData":true},{"parameters":{"jsCode":"const names = $json.gai || [];\nconst hrefs = $json.href || [];\nconst out = [];\n// 1. Tạo một Set để theo dõi các mục đã xuất hiện\nconst seen = new Set();\n\nfor (let i = 0; i < Math.min(names.length, hrefs.length); i++) {\n  const n = (names[i] || '').trim();\n  const h = hrefs[i] || '';\n\n  // Bỏ qua các mục không cần thiết\n  if (n.toLowerCase() === 'home' || n.toLowerCase() === 'forums') {\n    continue;\n  }\n\n  // 2. Tạo một khóa duy nhất từ tên và href\n  const uniqueKey = `${n}|${h}`;\n\n  // 3. Chỉ thêm vào kết quả nếu khóa này chưa tồn tại trong Set\n  if (!seen.has(uniqueKey)) {\n    // 4. Đánh dấu là đã thấy và thêm vào mảng kết quả\n    seen.add(uniqueKey);\n    out.push({ json: { name: n, href: h } });\n  }\n}\n\nreturn out;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-256,-192],"id":"58d07b0b-81a5-4aca-befc-201201faff3e","name":"Code5"},{"parameters":{"conditions":{"string":[{"value1":"={{ $json.name }}","operation":"contains","value2":"={{ $('Start').item.json.em }}"}]}},"type":"n8n-nodes-base.if","typeVersion":1,"position":[-64,-192],"id":"0519a3ae-4eb9-4a1a-add9-d554d01c4d5a","name":"IF3"},{"parameters":{"promptType":"define","text":"Bạn là trợ lý AI hỏi theo từng bước để lấy đủ 4 trường: tinh → huyen → gia → em.\n\nQuy tắc điều hướng:\n1) Nếu thiếu \"tinh\": hãy hỏi người dùng muốn tỉnh/thành nào.\n   - Gợi ý danh sách từ $json.options nếu có (trường name).\n2) Nếu đã có \"tinh\" nhưng thiếu \"huyen\": hỏi quận/huyện nào.\n   - Gợi ý danh sách từ $json.options nếu có (trường name).\n3) Nếu đã có \"tinh\",\"huyen\" nhưng thiếu \"gia\": hỏi mức giá nào.\n   - Gợi ý danh sách từ $json.options nếu có (trường name).\n4) Nếu đã có 3 trường trên nhưng thiếu \"em\": hỏi chọn nhân viên.\n   - Gợi ý danh sách từ $json.options nếu có (trường name).\n5) Khi đã có đủ 4 trường: tóm tắt nội dung chi tiết ngắn 3–5 câu\n   (tình trạng, thời gian làm việc, chiều cao, số đo, dịch vụ… nếu có).\n\nNguyên tắc phản hồi:\n- Chỉ hỏi đúng trường còn thiếu, không hỏi dồn nhiều trường.\n- In gợi ý theo dạng danh sách đánh số 1,2,3,… từ $json.options nếu có.\n- Cho phép người dùng đổi lựa chọn ở bất kỳ bước nào bằng cách đưa giá trị mới.\n","needsFallback":true,"options":{"systemMessage":"Mô tả Tình Trạng, thời gian làm việc, chiều cao, vú, eo mông, service ngắn ngọn trong 3 đến 5 câu"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[528,-208],"id":"9a6fde45-2895-4bb3-8a1b-47208641eba6","name":"AI Agent"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[464,-48],"id":"09508f34-a1a2-420b-83d7-86cb734f301d","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"Iu2pwTGpG2LSxJWb","name":"Mitbap"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatDeepSeek","typeVersion":1,"position":[560,-16],"id":"08d9e3d9-ac43-448b-ba25-b0def34f3c23","name":"DeepSeek Chat Model1","credentials":{"deepSeekApi":{"id":"nnHcWmUyC0Gmswgh","name":"DeepSeek account"}}},{"parameters":{"url":"https://choidangcap35.cc","options":{"response":{"response":{"responseFormat":"text"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[-3040,-144],"id":"0e97440a-df02-4773-bd63-23bd41cb9cd6","name":"choidangcap35","notesInFlow":true,"notes":" "},{"parameters":{"url":"={{ $json.href.startsWith('http') ? $json.href : 'https://choidangcap35.cc' + $json.href }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[-2288,-160],"id":"2e8ca2dd-e750-47cd-841e-5f5afcf1ba05","name":"tinh"},{"parameters":{"url":"={{ $json.href.startsWith('http') ? $json.href : 'https://choidangcap35.cc' + $json.href }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[-1520,-176],"id":"3b0bb4ee-74e3-401e-be4d-414ec90befd3","name":"huyen"},{"parameters":{"url":"={{ $json.href.startsWith('http') ? $json.href : 'https://choidangcap35.cc' + $json.href }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[-656,-192],"id":"a7aefb46-445d-4a6e-8219-c27281f9a7e7","name":"gia"},{"parameters":{"url":"={{ $json.href.startsWith('http') ? $json.href : 'https://choidangcap35.cc' + $json.href }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[224,-208],"id":"e6a903a9-f374-4de4-a297-211ce36cb7b9","name":"em"},{"parameters":{"workflowInputs":{"values":[{"name":"tinh","type":"any"},{"name":"huyen","type":"any"},{"name":"gia","type":"any"},{"name":"em","type":"any"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-3264,-144],"id":"226f639b-6136-4f61-a1ec-ca9fed70e6ff","name":"Start"},{"parameters":{"workflowId":{"__rl":true,"value":"prLlQTFWp6skvdWf","mode":"list","cachedResultName":"ghe"},"workflowInputs":{"mappingMode":"defineBelow","value":{"tinh":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('tinh', ``, 'string') }}","huyen":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('huyen', ``, 'string') }}","gia":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('gia', ``, 'string') }}","em":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('em', ``, 'string') }}"},"matchingColumns":[],"schema":[{"id":"tinh","displayName":"tinh","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true},{"id":"huyen","displayName":"huyen","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true},{"id":"gia","displayName":"gia","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true},{"id":"em","displayName":"em","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[704,0],"id":"79ce0ebd-8168-4ca7-a297-dfe0b618586b","name":"Call n8n Workflow Tool"}],"connections":{"HTML":{"main":[[{"node":"Code","type":"main","index":0}]]},"Code":{"main":[[{"node":"IF","type":"main","index":0}]]},"IF":{"main":[[{"node":"tinh","type":"main","index":0}]]},"HTML1":{"main":[[{"node":"Code1","type":"main","index":0}]]},"Code1":{"main":[[{"node":"IF1","type":"main","index":0}]]},"IF1":{"main":[[{"node":"huyen","type":"main","index":0}]]},"HTML2":{"main":[[{"node":"Code4","type":"main","index":0}]]},"Code4":{"main":[[{"node":"IF2","type":"main","index":0}]]},"IF2":{"main":[[{"node":"gia","type":"main","index":0}]]},"HTML3":{"main":[[{"node":"Code5","type":"main","index":0}]]},"IF3":{"main":[[{"node":"em","type":"main","index":0}]]},"Code5":{"main":[[{"node":"IF3","type":"main","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"DeepSeek Chat Model1":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":1}]]},"choidangcap35":{"main":[[{"node":"HTML","type":"main","index":0}]]},"tinh":{"main":[[{"node":"HTML1","type":"main","index":0}]]},"huyen":{"main":[[{"node":"HTML2","type":"main","index":0}]]},"gia":{"main":[[{"node":"HTML3","type":"main","index":0}]]},"Start":{"main":[[{"node":"choidangcap35","type":"main","index":0}]]},"Call n8n Workflow Tool":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{"Start":[{"json":{"tinh":"Hà Nội","huyen":"Hoàng Mai","gia":"400k","em":""}}]},"versionId":"b5865bd5-c822-4a47-8041-027dfdf5154e","triggerCount":0,"shared":[{"createdAt":"2025-08-10T07:42:43.212Z","updatedAt":"2025-08-10T07:42:43.212Z","role":"workflow:owner","workflowId":"x4ws48kvOBqj6eZo","projectId":"Bsx4kBdHQHZGGC5J"}],"tags":[]}