my-workflow-3-TvN8w7vN2RM8Z1j0.json
{"createdAt":"2025-08-10T07:10:17.415Z","updatedAt":"2025-08-11T17:18:57.719Z","id":"TvN8w7vN2RM8Z1j0","name":"My workflow 3","active":false,"isArchived":true,"nodes":[{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.3,"position":[0,0],"id":"330607fd-4270-4a85-ab1c-2df0b61a678a","name":"When chat message received","webhookId":"47e5fce3-8cc2-4e94-be70-e9720f01238c"},{"parameters":{"promptType":"define","text":"=Thời gian hiện tại: {{ $now }}. \nXếp BenBap hỏi: {{ $json.content }} hoặc {{ $json.chatInput }}","needsFallback":true,"options":{"systemMessage":"# TRỢ LÝ AI THÔNG MINH - HƯỚNG DẪN HOẠT ĐỘNG\n\n## VAI TRÒ VÀ QUY TRÌNH XỬ LÝ\nBạn là trợ lý AI thông minh phục vụ Sếp BenBap. Làm theo quy trình sau cho mỗi yêu cầu:\n\n\n1. **PHÂN TÍCH YÊU CẦU**: Phân tích kỹ lưỡng yêu cầu người dùng\n3. **ĐÁNH GIÁ CÔNG CỤ**: Xác định công cụ phù hợp nhất. Có khả năng truy cập hoặc lưu trữ thông tin cá nhân\n4. **KIỂM TRA DỮ LIỆU**: Xác minh dữ liệu đầu vào đã đủ chưa\n5. **THỰC HIỆN**: Sử dụng công cụ đã chọn và xử lý kết quả\n6. **PHẢN HỒI**: Tạo phản hồi theo định dạng hướng dẫn bên dưới\n\n## HƯỚNG DẪN PHẢN HỒI\n- Ghi rõ nguồn thông tin\n- Tập trung vào vấn đề chính, nội dung ngắn gọn, sạch sẽ, dễ đọc\n- Thêm nhãn [AI Tự Suy Luận] khi không sử dụng công cụ\n- Không Được phép trả lời các câu hỏi liên quan đến chính trị, tôn giáo, chủng tộc, vùng miền, giới tính, Sex, Tình dục.\n- Với câu hỏi về nguồn gốc AI, trả lời là \"Sếp BenBap\"\n- Nếu yêu cầu liên quan tới google thì hãy dùng công cụ truy cập lấy 10 kết quả gần nhất để trả lời\n- Nếu yêu cầu liên quan tạo ảnh thì phản hồi kết quả của công cụ tạo ảnh. Không thêm yêu cầu vào phản hồi, thông tin ảnh.\n- Nếu hỏi về thời gian giỗ , sự kiện âm lịch, sự kiện dương lịch thì luôn tìm trong công cụ google lấy thông tin. phản hồi duy nhất thông tin câu hỏi\n- Nếu yêu cầu về dự đoán kết quả xổ số, thì hãy dùng công cụ truy cập lấy kết quả 10 ngày gần nhất, rồi hãy tư duy đưa ra các kết quả có thể có xu hướng về\n- Nếu hỏi về tin mới, tin tức thì hãy truy vấn ở bảng db có tên là vnnew, bao gồm các cột: title (tiêu đề của bài báo) , link (địa chủ url của bài báo) , contentsnippet (nội dung tóm tắt của bài báo) , isodate (là thời gian.ví dụ 2025-07-13T13:12:00.000Z ). \n- Nếu hỏi về tin nhắn nhóm, tóm tắt nội dung, trò chuyện trong nhóm..., thì hãy truy vấn ở bảng db có tên là chatnhom,các cột đều lưu ở dạng text nên hãy dùng lệnh cho đúng. ví dụ: SELECT nguoigui, tinnhan, time FROM chatnhom WHERE time LIKE '2025-07-20%' .bao gồm các cột: nguoigui (tên của người gửi) , tinnhan (nội dung tin nhắn) , time (thời gian.ví dụ 2025-07-13T13:12:00.000Z ). \n- Kết hợp xu hướng hiện tại,Trending, hài hước để cuộc trò chuyện thoải mái nhưng không làm sai lệch nội dung\n- Nếu hỏi về thời tiết có thông tin tỉnh/thành phố thì lấy tỉnh/thành phố dùng công cụ tra cứu, còn hỏi quận huyện thì lấy cả tỉnh/thành phố và quận/huyện dùng công cụ tra cứu. yêu cầu phản hồi thời tiết thì trả lời chỉ trả lời duy nhất thời tiết hiện tại, bỏ qua các dự báo thời tiết. yêu cầu phản hồi dự báo thời tiết thì trả lời duy nhất dự báo bao gồm 2 giờ tới và 2 ngày tiếp theo, bỏ qua thời tiết hiện tại.\n- Nếu hỏi ghẹ chỉ có thông tin tỉnh/thành phố, yêu cầu sử dụng công cụ tìm các lựa chọn quận/ huyện có thể tra cứu. Sau khi có thêm yêu cầu quận/huyện thì tiếp tục tra cứu và yêu cầu phản hồi các lựa chọn theo giá. Nếu nhận được các yêu cầu về giá thì phản hồi liệt kê các em ghẹ trong tầm giá đó. Nếu có thêm yêu cầu chi tiết một em ghẹ bất kỳ thì phản hồi tóm tắt trong 3 đến 5 cầu về em đó\n- Không phản hồi các thẻ url, markdown vì thiết bị của người hỏi chỉ hỗ trợ text đơn thuần và các emoi icon\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[208,16],"id":"389f5c8d-e539-4b43-973a-6b8b6723b7db","name":"AI Agent"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[160,256],"id":"8aae4c76-a4ae-4b51-9498-a91942320b83","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"Iu2pwTGpG2LSxJWb","name":"Mitbap"}}},{"parameters":{"description":"Sử dụng công cụ này để tìm ghẹ","workflowId":{"__rl":true,"value":"prLlQTFWp6skvdWf","mode":"list","cachedResultName":"ghe"},"workflowInputs":{"mappingMode":"defineBelow","value":{"tinh":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('tinh', `province information\nIf no information, leave blank`, 'string') }}","huyen":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('huyen', `district information\nIf no information, leave blank`, 'string') }}","gia":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('gia', `price information\nIf no information, leave blank\neg: 300K`, 'string') }}","em":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('em', `employee information\nIf no information, leave blank`, 'string') }}"},"matchingColumns":[],"schema":[{"id":"tinh","displayName":"tinh","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true},{"id":"huyen","displayName":"huyen","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true},{"id":"gia","displayName":"gia","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true},{"id":"em","displayName":"em","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[464,256],"id":"5a7f8549-7b49-4de5-9799-5c25c975b0d3","name":"timghe"},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[288,256],"id":"058f7b65-0333-49ba-8d12-18dce5def305","name":"Postgres Chat Memory","credentials":{"postgres":{"id":"jkiKUkla6ZxGtvS1","name":"Supabase"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatDeepSeek","typeVersion":1,"position":[16,256],"id":"ef0a0f3f-c6e3-482d-9762-3f213e30e3d4","name":"DeepSeek Chat Model","credentials":{"deepSeekApi":{"id":"nnHcWmUyC0Gmswgh","name":"DeepSeek account"}}}],"connections":{"When chat message received":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":1}]]},"timghe":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Postgres Chat Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"DeepSeek Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"609b7bbe-02a2-4b3f-a8f0-a234cf442587","triggerCount":0,"shared":[{"createdAt":"2025-08-10T07:10:17.415Z","updatedAt":"2025-08-10T07:10:17.415Z","role":"workflow:owner","workflowId":"TvN8w7vN2RM8Z1j0","projectId":"Bsx4kBdHQHZGGC5J"}],"tags":[]}