my-workflow-2-5yJmjBLCv3dirDR3.json
{"createdAt":"2025-07-24T09:10:10.152Z","updatedAt":"2025-08-11T17:20:13.734Z","id":"5yJmjBLCv3dirDR3","name":"My workflow 2","active":false,"isArchived":true,"nodes":[{"parameters":{},"type":"n8n-nodes-zalos-user.zaloLoginByQr","typeVersion":1,"position":[352,-48],"id":"60024b7c-2886-47fd-b9ef-eeb30cd6e4e1","name":"Zalo Login Via QR Code","credentials":{}},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"={{ $json.query.url }}","mode":"url"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[1088,-48],"id":"993c1394-b602-4240-a6e5-e09db6586341","name":"Google Drive"},{"parameters":{"content":"## Đăng nhập vào zalo","height":240,"width":340},"type":"n8n-nodes-base.stickyNote","position":[288,-144],"typeVersion":1,"id":"c3accb80-ace5-4979-958e-6b5c13e65e41","name":"Sticky Note25"},{"parameters":{"content":"## Download File\n- Nhớ copy link Production URL thay vào trong node link ảnh drive","height":240,"width":500},"type":"n8n-nodes-base.stickyNote","position":[752,-144],"typeVersion":1,"id":"8d2fdeb5-707f-4c2f-bf59-914889b9cc2b","name":"Sticky Note26"},{"parameters":{"content":"## Chạy lệnh tạo cơ sở dữ liệu\nXác thực với Postgress ở trên supabase rồi chạy lệnh này để auto tạo sẵn các bảng","height":300,"width":960},"type":"n8n-nodes-base.stickyNote","position":[288,160],"typeVersion":1,"id":"2be56472-6411-4fb2-a4a5-c1f947066ff9","name":"Sticky Note24"},{"parameters":{"operation":"executeQuery","query":"create table public.zl_n8n_debounce (\n  id bigint generated by default as identity not null,\n  key text not null,\n  incr bigint null default '0'::bigint,\n  constraint zl_n8n_debounce_pkey primary key (id),\n  constraint zl_n8n_debounce_key_key unique (key)\n) TABLESPACE pg_default;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1040,272],"id":"bfbf21a9-8254-42c2-9215-5ac3d41c0f7b","name":"CreateDebounceTable"},{"parameters":{"operation":"executeQuery","query":"create table public.zl_included_users (\n  id bigint generated by default as identity not null,\n  from_id text not null,\n  to_id text null,\n  created_at timestamp with time zone not null default now(),\n  key text not null,\n  constraint zl_included_users_pkey primary key (id),\n  constraint zl_included_users_key_key unique (key),\n  constraint zl_included_users_key_key1 unique (key)\n) TABLESPACE pg_default;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[816,272],"id":"9e94383a-6240-413f-901f-0483fba147b6","name":"CreateIncludedTable"},{"parameters":{"operation":"executeQuery","query":"create table public.zl_chats (\n  id bigint generated by default as identity not null,\n  is_bot boolean null default true,\n  from_id text null,\n  d_name text null,\n  to_id text null,  \n  thread_id text null,\n  message_id text null,\n  text text null,\n  timestamp bigint null,\n  status character varying null default 'pending'::character varying,\n  created_at timestamp with time zone null default now(),\n  constraint zl_chats_pkey primary key (id),\n  constraint zl_chats_message_id_key unique (message_id)\n) TABLESPACE pg_default;\n","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[592,272],"id":"0b5b3950-b386-491b-a605-c93a9ee05abe","name":"CreateChatsTable"},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[336,272],"id":"192daec7-21af-4592-a497-455c00ec9206","name":"When clicking ‘Test workflow’"},{"parameters":{},"type":"n8n-nodes-zalos-user.zaloMessageTrigger","typeVersion":1,"position":[320,1184],"id":"a30c4744-bc9a-4168-bb01-83153f6d3a9f","name":"Zalo Message Trigger","webhookId":"54f37947-1747-46f4-8e39-cc66e2b5103a","credentials":{}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"4db5ded9-cd1c-4f61-b92d-ef12f879c92d","leftValue":"={{ $json.message.isSelf }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[768,1184],"id":"1a38ff47-dd56-4f83-85ab-d069b3a1c3ae","name":"If"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.message.data.msgType }}","rightValue":"webchat","operator":{"type":"string","operation":"equals"},"id":"72612ffb-a0df-4276-9056-f3c5970aa96f"}],"combinator":"and"},"renameOutput":true,"outputKey":"text"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"eebb2d88-989c-4816-ba75-dfc946717bac","leftValue":"={{ $json.message.data.msgType }}","rightValue":"chat.sticker","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"sticker"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[320,1616],"id":"fa380d8a-6487-43bb-bf5b-c5d7fae76732","name":"Switch"},{"parameters":{"tableId":"zl_chats","fieldsUi":{"fieldValues":[{"fieldId":"from_id","fieldValue":"={{ $('Data').item.json.from_id }}"},{"fieldId":"to_id","fieldValue":"={{ $('Data').item.json.to_id }}"},{"fieldId":"thread_id","fieldValue":"={{ $('Data').item.json.threadld }}"},{"fieldId":"timestamp","fieldValue":"={{ $('Data').item.json.timestamp }}"},{"fieldId":"message_id","fieldValue":"={{ $('Data').item.json.message_id }}"},{"fieldId":"text","fieldValue":"={{ $('Data').item.json.text }}"},{"fieldId":"status","fieldValue":"pending"},{"fieldId":"d_name","fieldValue":"={{ $('Data').item.json.d_name }}"},{"fieldId":"is_bot","fieldValue":"false"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[1248,1616],"id":"4b53ab86-2316-4544-84f7-347c48240b1f","name":"SaveToChats"},{"parameters":{"content":"## Kiểm tra xem chủ zalo đã vào chát với người dùng chưa\n- Nếu chủ zalo đã tiếp nhận thì phải stop bot lại\n- Ở đây kiểm tra xem id người dùng này đã có trong danh sách đã tiếp nhận hay chưa","height":260,"width":680},"type":"n8n-nodes-base.stickyNote","position":[1552,1520],"typeVersion":1,"id":"33ecdbf3-4d93-44fd-861c-9595d93b344b","name":"Sticky Note5"},{"parameters":{"operation":"get","tableId":"zl_included_users","filters":{"conditions":[{"keyName":"key","keyValue":"={{ $json.thread_id }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[1600,1616],"id":"e736127f-bb43-4e02-9765-9f8f2b74ab3a","name":"GetUserIncluded","alwaysOutputData":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"f279a143-a74d-4cbb-b815-c8443c8626ef","leftValue":"={{ $json.id }}","rightValue":"","operator":{"type":"number","operation":"notExists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1792,1616],"id":"07a2961d-42ae-47c2-a3b3-dfe9700d65ba","name":"IfDoesNotExist","alwaysOutputData":false},{"parameters":{"assignments":{"assignments":[{"id":"f8015a26-bb7e-43ed-bb8b-c5556d004990","name":"message_id","value":"={{ $json.message.data.msgId }}","type":"string"},{"id":"2aea730c-3bc3-487a-812e-eaba6e287e47","name":"text","value":"={{ $json.message.data.content }}","type":"string"},{"id":"ed054f84-a1ea-45e6-b12c-c37bca8aee8f","name":"d_name","value":"={{ $json.message.data.dName }}","type":"string"},{"id":"7cf9cfe3-61da-45b1-9df9-a6eefd68c371","name":"from_id","value":"={{ $json.message.data.uidFrom }}","type":"string"},{"id":"00970e0d-5e08-4639-ab12-4c7ea240ed5b","name":"to_id","value":"={{ $json.message.data.idTo }}","type":"string"},{"id":"ae2750dc-8d54-4310-acc5-0de8c8cca279","name":"threadld","value":"={{ $json.message.threadId }}","type":"string"},{"id":"d820ec29-8d80-47cf-b11a-ebceed63fada","name":"key","value":"={{ $json.message.threadId }}","type":"string"},{"id":"561d4afa-3181-42b8-93f2-dfe3e6f1bbad","name":"timestamp","value":"={{ $json.message.data.ts }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[592,1616],"id":"25b30a26-df70-4b35-a065-69ffb6562478","name":"Data"},{"parameters":{"content":"## Nếu tin nhắn là của chủ zalo","height":620,"width":1980,"color":5},"type":"n8n-nodes-base.stickyNote","position":[288,544],"typeVersion":1,"id":"f1980d9e-05c2-454b-ac68-2958e047fd22","name":"Sticky Note2"},{"parameters":{"assignments":{"assignments":[{"id":"f8015a26-bb7e-43ed-bb8b-c5556d004990","name":"message_id","value":"={{ $json.message.data.msgId }}","type":"string"},{"id":"2aea730c-3bc3-487a-812e-eaba6e287e47","name":"text","value":"={{ $json.message.data.content }}","type":"string"},{"id":"ed054f84-a1ea-45e6-b12c-c37bca8aee8f","name":"d_name","value":"={{ $json.message.data.dName }}","type":"string"},{"id":"7cf9cfe3-61da-45b1-9df9-a6eefd68c371","name":"from_id","value":"={{ $json.message.data.uidFrom }}","type":"string"},{"id":"00970e0d-5e08-4639-ab12-4c7ea240ed5b","name":"to_id","value":"={{ $json.message.data.idTo }}","type":"string"},{"id":"ae2750dc-8d54-4310-acc5-0de8c8cca279","name":"thread_id","value":"={{ $json.message.threadId }}","type":"string"},{"id":"d820ec29-8d80-47cf-b11a-ebceed63fada","name":"key","value":"={{ $json.message.threadId }}","type":"string"},{"id":"561d4afa-3181-42b8-93f2-dfe3e6f1bbad","name":"timestamp","value":"={{ $json.message.data.ts }}","type":"string"},{"id":"2496817e-1462-458a-85a3-eb1983007e09","name":"is_bot","value":"false","type":"string"},{"id":"16cb96b6-bd29-4424-aa86-70dd67a383f5","name":"status","value":"done","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[608,704],"id":"89a042c1-924f-4119-9363-7db7076772c4","name":"Data2"},{"parameters":{"operation":"get","tableId":"zl_chats","filters":{"conditions":[{"keyName":"message_id","keyValue":"={{ $json.message_id }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[1120,976],"id":"74e3739a-67e8-4e00-8dbb-673dda5edf12","name":"FindById","alwaysOutputData":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"9a042fec-fd94-471b-8dbe-951b084aa7ee","leftValue":"={{ $json.id }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1328,976],"id":"b868ebe2-a065-4938-ae59-d3b57ca056ff","name":"IfExistsMessage"},{"parameters":{"tableId":"zl_chats","dataToSend":"autoMapInputData","inputsToIgnore":"key"},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[1792,720],"id":"974194dd-b2a3-423b-bc73-9d616dbbe0f2","name":"SaveMessage"},{"parameters":{"operation":"get","tableId":"zl_chats","filters":{"conditions":[{"keyName":"message_id","keyValue":"={{ $json.message_id }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[816,1616],"id":"c0a61bb9-1dc5-43fe-942b-c8657ca48a85","name":"FindById2","alwaysOutputData":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"02d72cf3-bcee-4e2a-866d-91a3ff41edaa","leftValue":"={{ $json.id }}","rightValue":"","operator":{"type":"number","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1008,1616],"id":"aec9239a-c10a-412d-9349-6fc21650840a","name":"IfExistsMessage2","alwaysOutputData":false},{"parameters":{"content":"## Check xem message này đã có trong db hay chưa","height":240,"width":380},"type":"n8n-nodes-base.stickyNote","position":[1072,896],"typeVersion":1,"id":"5774e662-9f81-4f4c-909b-5a2d3803f3db","name":"Sticky Note"},{"parameters":{"content":"## Nếu chưa có trong DB\n- Lưu message vào db","height":240,"width":440},"type":"n8n-nodes-base.stickyNote","position":[1472,640],"typeVersion":1,"id":"2e707941-da76-4057-bc1d-3de421f56e99","name":"Sticky Note1"},{"parameters":{"content":"## Switch\nDùng để phân loại đoạn chát ( Có thể là text, sticker,...vv )\n","height":260,"width":260},"type":"n8n-nodes-base.stickyNote","position":[320,1520],"typeVersion":1,"id":"d1ff2b35-3aac-4234-8bc7-3ffad6c23115","name":"Sticky Note3"},{"parameters":{"content":"## Check xem message này đã có trong db hay chưa\n- Thao tác này đề phòng nhận cùng 1 tin nhắn 2 lần\n- Nếu tin nhắn bị lặp thì không trả lời nữa","height":260,"width":600},"type":"n8n-nodes-base.stickyNote","position":[576,1520],"typeVersion":1,"id":"fbca0dfe-7f44-477e-a8db-19658676e377","name":"Sticky Note4"},{"parameters":{"content":"## Lưu lại tin nhắn","height":260,"width":340},"type":"n8n-nodes-base.stickyNote","position":[1200,1520],"typeVersion":1,"id":"ef63828f-94c4-4b10-b1f8-842c2e3c2d63","name":"Sticky Note6"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.message.data.msgType }}","rightValue":"webchat","operator":{"type":"string","operation":"equals"},"id":"72612ffb-a0df-4276-9056-f3c5970aa96f"}],"combinator":"and"},"renameOutput":true,"outputKey":"text"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"eebb2d88-989c-4816-ba75-dfc946717bac","leftValue":"={{ $json.message.data.msgType }}","rightValue":"chat.voice","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"voice"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"451a913f-1cb9-4cd3-832a-b2ebdf9dffdf","leftValue":"={{ $json.message.data.msgType }}","rightValue":"chat.sticker","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"sticker"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"8fb7d30d-699e-4772-a838-54c325126d5d","leftValue":"={{ $json.message.data.msgType }}","rightValue":"chat.photo","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"photo"}]},"options":{"fallbackOutput":2}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[320,864],"id":"1a5179e6-a621-4323-9a03-86fd22134d9d","name":"Switch1"},{"parameters":{"assignments":{"assignments":[{"id":"f8015a26-bb7e-43ed-bb8b-c5556d004990","name":"message_id","value":"={{ $json.message.data.msgId }}","type":"string"},{"id":"2aea730c-3bc3-487a-812e-eaba6e287e47","name":"text","value":"= ","type":"string"},{"id":"ed054f84-a1ea-45e6-b12c-c37bca8aee8f","name":"d_name","value":"={{ $json.message.data.dName }}","type":"string"},{"id":"7cf9cfe3-61da-45b1-9df9-a6eefd68c371","name":"from_id","value":"={{ $json.message.data.uidFrom }}","type":"string"},{"id":"00970e0d-5e08-4639-ab12-4c7ea240ed5b","name":"to_id","value":"={{ $json.message.data.idTo }}","type":"string"},{"id":"ae2750dc-8d54-4310-acc5-0de8c8cca279","name":"thread_id","value":"={{ $json.message.threadId }}","type":"string"},{"id":"d820ec29-8d80-47cf-b11a-ebceed63fada","name":"key","value":"={{ $json.message.threadId }}","type":"string"},{"id":"561d4afa-3181-42b8-93f2-dfe3e6f1bbad","name":"timestamp","value":"={{ $json.message.data.ts }}","type":"string"},{"id":"2496817e-1462-458a-85a3-eb1983007e09","name":"is_bot","value":"false","type":"string"},{"id":"16cb96b6-bd29-4424-aa86-70dd67a383f5","name":"status","value":"done","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[608,976],"id":"6831abff-5e93-4eed-b275-1c0ccd5d93a5","name":"Data3"},{"parameters":{"method":"POST","url":"https://dxunek.datadex.vn/webhook/zalo_on_message","sendBody":true,"specifyBody":"json","jsonBody":"={{ $('Data').first().json.toJsonString() }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2080,1616],"id":"d6e43a33-0a84-40cb-8614-4c5e9fd73052","name":"SendOnMessage"},{"parameters":{"mode":"chooseBranch"},"type":"n8n-nodes-base.merge","typeVersion":3.1,"position":[1552,720],"id":"18a91ca3-a170-4694-9321-a6e61025d379","name":"Merge"},{"parameters":{"content":"## Nếu tin nhắn là của người dùng","height":380,"width":1980,"color":3},"type":"n8n-nodes-base.stickyNote","position":[288,1424],"typeVersion":1,"id":"f3124160-cf65-4195-b508-4fc673ef1328","name":"Sticky Note7"},{"parameters":{"operation":"upsert","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"zl_included_users","mode":"list","cachedResultName":"zl_included_users"},"columns":{"mappingMode":"defineBelow","value":{"key":"={{ $json.thread_id }}","from_id":"={{ $json.from_id }}","to_id":"={{ $json.to_id }}"},"matchingColumns":["key"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"from_id","displayName":"from_id","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false},{"id":"to_id","displayName":"to_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false},{"id":"created_at","displayName":"created_at","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":false,"removed":true},{"id":"key","displayName":"key","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[2048,720],"id":"766beb12-c687-4ec3-b4ad-0154390a9619","name":"InsertOrUpdateIncluded"},{"parameters":{"content":"## Insert Or Update Included\n- Nếu là người thật thì đưa vào danh sách loại trừ","height":240,"width":320},"type":"n8n-nodes-base.stickyNote","position":[1936,640],"typeVersion":1,"id":"39846152-67d2-488a-983c-3582c7a8d713","name":"Sticky Note8"},{"parameters":{"amount":1},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[848,704],"id":"2ffa1fdf-0f79-4194-8ddd-07fbecd88a9a","name":"Wait2","webhookId":"47d5a2d8-d86d-45a5-a417-1585035545f9"},{"parameters":{"operation":"get","tableId":"zl_chats","filters":{"conditions":[{"keyName":"status","keyValue":"pending"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[2496,304],"id":"afbcb045-cd9a-41ef-84ce-eb1ce1684fd3","name":"GetAllMessage"},{"parameters":{"operation":"update","tableId":"zl_chats","filterType":"string","filterString":"=id=in.({{ $('GetAllMessage').all().map(item => item.json.id) }})","fieldsUi":{"fieldValues":[{"fieldId":"status","fieldValue":"done"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[2816,304],"id":"8d533e9d-912b-48f5-b15e-221f28699708","name":"UpdateDoneMessage","executeOnce":true},{"parameters":{"jsCode":"return [\n  {\n    ... $('GetAllMessage').last().json,\n    text: $('GetAllMessage').all().map(m => m.json.text).join(' '),\n    content: $input.all()\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[3152,304],"id":"9b5b87aa-e4b2-4947-b04a-e330132761a7","name":"MergeMessage"},{"parameters":{"promptType":"define","text":"={{ $json.text }}","options":{"systemMessage":"=# ROLE\nrole: assistant\nname: dinner_menu_bot\ndescription: |\n  Bạn là chatbot AI chuyên hỗ trợ tư vấn thực đơn buổi tối bằng tiếng Việt. \n  Bạn cũng hỗ trợ hỏi thông tin giao hàng nếu người dùng có nhu cầu.\n\n# TOOL\ntools:\n  - name: data\n    description: Truy xuất thực đơn buổi tối. Mỗi mục gồm:\n      - \"Tên món\": tên món ăn bằng tiếng Việt (không dịch)\n      - \"Giá\": giá món ăn\n      - \"ảnh\": link ảnh món ăn (chỉ hiển thị nếu người dùng yêu cầu rõ ràng)\n\n# TRIGGER KEYWORDS\ntrigger_phrases:\n  - \"menu\"\n  - \"thực đơn\"\n  - \"tối nay có món gì\"\n  - \"ăn gì\"\n  - \"giá bao nhiêu\"\n  - \"món chay có không\"\n  - \"cho xin thực đơn\"\n  - \"tối nay có lẩu không\"\n  - \"gợi ý món ăn tối\"\n  - \"có món nào ngon\"\n  - \"món mặn\"\n  - \"món ăn nhẹ\"\n  - \"ship\"\n  - \"giao hàng\"\n  - \"có giao hàng không\"\n  - \"giao tận nơi\"\n  - \"mình muốn đặt món\"\n  - \"ship tới\"\n\n# RESPONSE RULES\nbehavior:\n  - Luôn dùng tool `data` để truy vấn món ăn.\n  - Chỉ phản hồi nếu người dùng nói về thực đơn buổi tối hoặc giao hàng.\n  - Nếu không liên quan → trả lời:  \n      \"Dạ em là trợ lý AI, hiện tại em chỉ hỗ trợ tư vấn thực đơn và món ăn buổi tối.  \n      Bạn cần xem menu hay đặt món gì không ạ?\"\n\n# RESPONSE FORMAT\nresponse_style:\n  - Trả lời thân thiện, ngắn gọn, bằng tiếng Việt.\n  - Hiển thị món ăn và giá như sau:\n      🍚 Cơm gà xối mỡ – 45.000đ  \n      🥢 Bún bò Huế – 50.000đ  \n      🌱 Món chay, lẩu, ăn vặt và đồ uống nữa nhé!  \n      Bạn muốn xem đầy đủ menu không ạ?\n\n# IMAGE HANDLING\nimage_handling:\n  - ❌ Không bao giờ hiển thị ảnh nếu người dùng không yêu cầu rõ ràng.\n  - ✅ Chỉ hiển thị `data[\"ảnh\"]` nếu người dùng yêu cầu ảnh bằng các cụm như:\n      - \"cho mình xem ảnh\", \"có hình món đó không\", \"cho xem ảnh cơm gà\", v.v.\n  - ❌ Nếu không có ảnh trong `data`, trả lời:  \n      \"Dạ món này hiện chưa có hình ảnh ạ.\"\n  - ❌ Không được tạo ảnh hoặc link ảnh giả.\n\n# SHIPPING HANDLING\nshipping_rules:\n  - Nếu người dùng hỏi về ship/giao hàng → phản hồi:\n      \"Dạ bên em có hỗ trợ giao hàng ạ.  \n      Mình vui lòng cho em xin địa chỉ nhận hàng và số điện thoại để bên em giao tận nơi nhé!\"\n\n  - Nếu người dùng đã chọn món và muốn đặt → gợi ý tiếp tục:  \n      \"Mình chọn món xong có thể gửi giúp em địa chỉ và số điện thoại để em lên đơn giao liền nha!\"\n\n# MÓN KHÔNG CÓ TRONG DATA\nno_data_handling:\n  - Nếu `data` không có món được hỏi → trả lời:\n      \"Dạ món này hiện chưa có trong thực đơn ạ. Bạn muốn xem món khác không?\"\n\n# STRICT RULES\nstrict_data_policy:\n  - ❌ Không được bịa tên món, giá, hay ảnh.\n  - ✅ Chỉ dùng đúng dữ liệu từ tool `data`.\n\n# TONE\ntone:\n  - Giọng điệu thân thiện, rõ ràng, gần gũi\n  - Luôn dùng tiếng Việt\n\n# MEMORY / CONTEXTUAL MEMORY\nmemory_handling:\n  - Nếu người dùng đã cung cấp địa chỉ và/hoặc số điện thoại trước đó trong cuộc trò chuyện hiện tại → sử dụng lại, KHÔNG hỏi lại.\n  - Nếu chưa có địa chỉ hoặc số điện thoại → lịch sự yêu cầu người dùng cung cấp.\n  - Luôn xác nhận lại địa chỉ/sđt trước khi xác nhận đơn hàng.\n\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[3568,304],"id":"389fe2e4-aabb-4164-ae09-bd5a27bef82f","name":"AI Agent"},{"parameters":{"model":{"__rl":true,"value":"gpt-4o","mode":"list","cachedResultName":"gpt-4o"},"options":{"temperature":0.2,"topP":0.7}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[3536,512],"id":"0d174147-b586-4cba-ba3b-b94ab95a603a","name":"OpenAI Chat Model"},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $json.thread_id }}","tableName":"n8n_chat_histories_zl"},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[3696,512],"id":"ac1382c1-9971-48e0-bcd5-40f38e315e1f","name":"Postgres Chat Memory"},{"parameters":{},"type":"n8n-nodes-zalos-user.zaloSendMessage","typeVersion":4,"position":[3456,784],"id":"73ef85e7-2025-491e-8137-6603180621c8","name":"Zalo Send Message","credentials":{}},{"parameters":{"tableId":"zl_chats","fieldsUi":{"fieldValues":[{"fieldId":"from_id","fieldValue":"={{ $('MergeMessage').item.json.from_id }}"},{"fieldId":"to_id","fieldValue":"={{ $('MergeMessage').item.json.to_id }}"},{"fieldId":"thread_id","fieldValue":"={{ $json.threadId }}"},{"fieldId":"timestamp","fieldValue":"={{ $now.toMillis() }}"},{"fieldId":"message_id","fieldValue":"={{ $json.response.message.msgId }}"},{"fieldId":"text","fieldValue":"={{ $json.messageContent.msg }}"},{"fieldId":"status","fieldValue":"done"},{"fieldId":"d_name","fieldValue":"={{ $('MergeMessage').last().json.d_name }}"},{"fieldId":"is_bot","fieldValue":"true"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[3680,752],"id":"55948294-150b-4d42-b718-ecc0b1b2895a","name":"SaveToChats1"},{"parameters":{},"type":"n8n-nodes-zalos-user.zaloSendMessage","typeVersion":4,"position":[4208,1632],"id":"5a142aaf-da1f-452e-9155-bee30d93ef71","name":"Zalo Send Message1","credentials":{}},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini"},"options":{"temperature":0.2}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[2736,1312],"id":"6e698f4b-64bd-40c6-becf-e4513c360ce3","name":"OpenAI Chat Model2"},{"parameters":{"schemaType":"manual","inputSchema":"{\n  \"type\": \"array\",\n  \"items\": {\n    \"type\": \"object\",\n    \"properties\": {\n      \"text\": {\n        \"type\": \"string\"\n      },\n      \"image\": {\n        \"type\": \"array\",\n        \"items\": {\n          \"type\": \"string\",\n          \"format\": \"uri\"\n        }\n      }\n    },\n    \"required\": [\"text\", \"image\"]\n  }\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[2912,1312],"id":"b420b8fc-edcd-475b-861e-3408671831c9","name":"Structured Output Parser"},{"parameters":{"promptType":"define","text":"={{ $json.output }}","hasOutputParser":true,"messages":{"messageValues":[{"message":"Chuyển đoạn nội dung dưới đây thành mảng JSON theo format: [{ \"text\": \"nd\", \"image\": [\"url1\", \"url2\"] }] Với mỗi mục, \"text\" là phần mô tả của hình ảnh và \"image\" là mảng chứa link các ảnh trong mục đó. Bỏ qua định dạng Markdown, chỉ lấy nội dung và link ảnh."}]}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.6,"position":[2736,1120],"id":"22bcd6cf-2131-415f-86f3-61e5520d7f32","name":"Basic LLM Chain","retryOnFail":true},{"parameters":{"fieldToSplitOut":"output","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[3088,1120],"id":"122c0c44-3f10-47fd-9390-52875c308c48","name":"Split Out2"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[3312,1120],"id":"dd4a1ac1-fa02-4677-89b5-1f8794e1f82c","name":"Loop Over Items"},{"parameters":{"fieldToSplitOut":"image","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[3376,1440],"id":"3e25dd6e-8961-45bc-8263-dde3fcd5ca74","name":"Split Out3"},{"parameters":{"documentId":{"__rl":true,"value":"https://docs.google.com/spreadsheets/d/1tbbkYaSAG8GIx8Ul1kL_3yOC6f9d7leiTwL2eYSzUiU/edit?gid=0#gid=0","mode":"url"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"data","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1tbbkYaSAG8GIx8Ul1kL_3yOC6f9d7leiTwL2eYSzUiU/edit#gid=0"},"options":{}},"type":"n8n-nodes-base.googleSheetsTool","typeVersion":4.6,"position":[3840,512],"id":"4e4dc42c-661f-4224-ad7f-546ad09db133","name":"data"},{"parameters":{"tableId":"zl_chats","fieldsUi":{"fieldValues":[{"fieldId":"from_id","fieldValue":"={{ $('MergeMessage').item.json.from_id }}"},{"fieldId":"to_id","fieldValue":"={{ $('MergeMessage').item.json.to_id }}"},{"fieldId":"thread_id","fieldValue":"={{ $json.threadId }}"},{"fieldId":"timestamp","fieldValue":"={{ $now.toMillis() }}"},{"fieldId":"message_id","fieldValue":"={{ $json.response.attachment[0].msgId }}"},{"fieldId":"text","fieldValue":"={{ $json.messageContent.msg }}"},{"fieldId":"status","fieldValue":"done"},{"fieldId":"d_name","fieldValue":"={{ $('MergeMessage').last().json.d_name }}"},{"fieldId":"is_bot","fieldValue":"true"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[4576,1632],"id":"f630d344-940d-41e4-b04e-d9c84958d565","name":"SaveToChats2"},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[5040,1632],"id":"6cf423b3-b6fa-4681-894b-c8c7b0ee40d9","name":"Wait","webhookId":"49f92e25-7578-4763-84df-ed87c3dad3e7"},{"parameters":{"respondWith":"allIncomingItems","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.2,"position":[2736,32],"id":"1424ea62-22cb-4be8-b848-78d7ea2c9062","name":"Respond to Webhook"},{"parameters":{},"type":"n8n-nodes-debounce.debouncePostgres","typeVersion":1,"position":[3168,32],"id":"4bb616c4-9dd6-426b-9c19-9242dbad8431","name":"Debounce Postgres","credentials":{}},{"parameters":{"httpMethod":"POST","path":"zalo_on_message","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[2512,32],"id":"d107269c-afd8-4bcc-aa04-1ad316b3be16","name":"OnMessage","webhookId":"ef7c2705-2b91-46bf-bd98-7d6bc8165d40"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"3688a7eb-5667-4758-8bc4-67d82423784d","leftValue":"={{ $json.output }}","rightValue":"https?://[^\\s\"']+","operator":{"type":"string","operation":"notRegex"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[2480,752],"id":"09e83416-3561-40d0-ae9a-bb5a032b8109","name":"IfExistLink"},{"parameters":{"content":"## Lưu tin nhắn\n- Lưu lại tin nhắn vào csdl","height":220,"width":320},"type":"n8n-nodes-base.stickyNote","position":[3616,672],"typeVersion":1,"id":"7b34580a-d76f-496f-9ae4-4cf2dbff6e22","name":"Sticky Note9"},{"parameters":{"content":"## Phân tách tin nhắn có kèm ảnh\n- Sử dụng AI để phân tách tin nhắn kèm ảnh","height":240,"width":520},"type":"n8n-nodes-base.stickyNote","position":[2720,1024],"typeVersion":1,"id":"eb213991-1757-48e8-b0a8-5c10119cba8e","name":"Sticky Note10"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[2480,1120],"id":"f54bf29b-1c65-4339-aa5d-feb00bcd7eb6","name":"Tin nhắn có ảnh"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[3040,784],"id":"7b2b224b-7bc1-4dbd-815b-a0a23bc5c49f","name":"Tin nhắn không ảnh"},{"parameters":{"content":"## Trả lời tin nhắn\n- Nếu đoạn tin nhắn này không có ảnh","height":220,"width":340},"type":"n8n-nodes-base.stickyNote","position":[3808,1040],"typeVersion":1,"id":"0215f759-2866-40bb-a2ed-535e1b7d8c14","name":"Sticky Note11"},{"parameters":{},"type":"n8n-nodes-zalos-user.zaloSendMessage","typeVersion":4,"position":[3952,1120],"id":"fdcb169f-2aca-489e-a718-f91c90db9687","name":"Zalo Send Message2","credentials":{}},{"parameters":{"tableId":"zl_chats","fieldsUi":{"fieldValues":[{"fieldId":"from_id","fieldValue":"={{ $('MergeMessage').item.json.from_id }}"},{"fieldId":"to_id","fieldValue":"={{ $('MergeMessage').item.json.to_id }}"},{"fieldId":"thread_id","fieldValue":"={{ $json.threadId }}"},{"fieldId":"timestamp","fieldValue":"={{ $now.toMillis() }}"},{"fieldId":"message_id","fieldValue":"={{ $json.response.attachment[0].msgId }}"},{"fieldId":"text","fieldValue":"={{ $json.messageContent.msg }}"},{"fieldId":"status","fieldValue":"done"},{"fieldId":"d_name","fieldValue":"={{ $('MergeMessage').last().json.d_name }}"},{"fieldId":"is_bot","fieldValue":"true"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[4240,1120],"id":"d669be11-2700-4af6-a63b-6d931f524486","name":"SaveToChats3","retryOnFail":false},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"4a008533-4c98-4124-b3b5-e13b3f1e22a9","leftValue":"={{ $json.image }}","rightValue":"","operator":{"type":"string","operation":"empty","singleValue":true}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[3616,1120],"id":"8ef56699-be87-4a01-9b0d-87a77d3628b0","name":"IfNotImage"},{"parameters":{"content":"## Lưu tin nhắn\n- Lưu lại tin nhắn vào csdl","height":220,"width":580},"type":"n8n-nodes-base.stickyNote","position":[4176,1040],"typeVersion":1,"id":"cbf36af3-7c1e-4c6a-a401-f0ccb9bae7bd","name":"Sticky Note12"},{"parameters":{"content":"## Phân tách\n- Phân tách link ảnh nếu đoạn tin có nhiều link ảnh","height":260,"width":200},"type":"n8n-nodes-base.stickyNote","position":[3328,1312],"typeVersion":1,"id":"839a6bc2-bb4b-4f74-afb6-5eaf92d950b7","name":"Sticky Note13"},{"parameters":{"content":"## Phân loại link ảnh\n- xem link ảnh là link drive hay link self host","height":260},"type":"n8n-nodes-base.stickyNote","position":[3552,1312],"typeVersion":1,"id":"6ff080d9-cbbd-4ccd-b509-0f72a3c66022","name":"Sticky Note14"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[3952,1344],"id":"9f54ef10-2d60-4c86-ad4c-b8e92f87a28c","name":"Link ảnh server cá nhân"},{"parameters":{"assignments":{"assignments":[{"id":"4472944c-60c5-4af8-a5cd-6d502e9921c4","name":"=image","value":"=https://dxunek.datadex.vn/webhook/f6084433-b03b-4c23-9e67-704ca3ba2812?url={{ $json.image }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[3952,1632],"id":"9b6e44c2-bd24-445b-9492-bbcbf4a2ab79","name":"Link ảnh drive"},{"parameters":{"content":"## Trả lời tin nhắn\n- Trả lời tin nhắn kèm theo ảnh","height":240,"width":260},"type":"n8n-nodes-base.stickyNote","position":[4176,1536],"typeVersion":1,"id":"da2cb243-1d49-48dc-a83b-e69581af3bca","name":"Sticky Note15"},{"parameters":{"content":"## Lưu tin nhắn\n- Lưu lại tin nhắn vào csdl","height":240,"width":300},"type":"n8n-nodes-base.stickyNote","position":[4448,1536],"typeVersion":1,"id":"71569bf0-b759-4c25-af46-70085f20a287","name":"Sticky Note16"},{"parameters":{"assignments":{"assignments":[{"id":"cbcd35cb-2d2b-4d3f-b0e2-d2b9411a4c7c","name":"message_id","value":"={{ $json.body.message_id }}","type":"string"},{"id":"3a94490b-3090-44a5-b63d-003235c06a74","name":"text","value":"={{ $json.body.text }}","type":"string"},{"id":"05c893f0-f84d-4d19-a457-65b7aa38b3f9","name":"d_name","value":"={{ $json.body.d_name }}","type":"string"},{"id":"4065e882-8075-42e3-92a6-e21827ee00da","name":"from_id","value":"={{ $json.body.from_id }}","type":"string"},{"id":"a86f5164-d6ab-431e-a997-9316e88fe084","name":"to_id","value":"={{ $json.body.to_id }}","type":"string"},{"id":"f39b34cc-5087-4765-8a91-eb573b902382","name":"thread_id","value":"={{ $json.body.threadld }}","type":"string"},{"id":"d40c524c-6c85-4ff4-bdf5-a57bf2701162","name":"key","value":"={{ $json.body.key }}","type":"string"},{"id":"b691f74d-e71a-4021-84d2-37b5f1c860ed","name":"timestamp","value":"={{ $json.body.timestamp }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2960,32],"id":"8d26ac15-aa8f-49eb-a389-b2c2086cc487","name":"BodyData"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ encodeURI($json.image) }}","rightValue":"/https?:\\/\\/[^\\s]+?\\.(jpg|jpeg|png|gif)(\\?[^\\s]*)?/gi","operator":{"type":"string","operation":"regex"},"id":"5bfc1fd6-bf94-4cae-b1fe-266c29502ad6"}],"combinator":"and"},"renameOutput":true,"outputKey":"link"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"4aa7cbe6-2423-490c-8b4d-9bbc8b951b75","leftValue":"={{ $json.image }}","rightValue":"https?://(?:drive\\.google\\.com|docs\\.google\\.com)/[^\\s\"']+","operator":{"type":"string","operation":"regex"}}],"combinator":"and"},"renameOutput":true,"outputKey":"driver"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[3648,1440],"id":"782551cb-3c37-4b3b-91f4-55d694cf44db","name":"Switch2"},{"parameters":{"content":"## Chờ người dùng trả lời\n- Người dùng có thể trả lời ngắt quãng","height":260,"width":300},"type":"n8n-nodes-base.stickyNote","position":[3136,-64],"typeVersion":1,"id":"71a9d34c-fd32-4df4-bc1b-fea55f30ddb4","name":"Sticky Note17"},{"parameters":{"content":"## Get All Message\n- Lấy ra toàn bộ tin nhắn của người dùng","height":240,"width":320},"type":"n8n-nodes-base.stickyNote","position":[2432,224],"typeVersion":1,"id":"50ee2876-473a-4d6b-a960-b06ed61eb3dc","name":"Sticky Note18"},{"parameters":{"content":"## Cập nhật trạng thái\n- Đổi trạng thái pending sang done","height":240,"width":340},"type":"n8n-nodes-base.stickyNote","position":[2768,224],"typeVersion":1,"id":"eb7882bc-43b9-499c-b52a-900407825f6a","name":"Sticky Note19"},{"parameters":{"content":"## Gộp tin nhắn\n- Gộp toàn bộ tin nhắn lại thành 1 tin nhắn\n","height":240,"width":360},"type":"n8n-nodes-base.stickyNote","position":[3136,224],"typeVersion":1,"id":"aaefe76b-04bb-4889-aba5-6749eabf6fc4","name":"Sticky Note20"},{"parameters":{"content":"## AI Agent\n- Sử dụng AI Agent để trả lời tin nhắn","height":240,"width":420},"type":"n8n-nodes-base.stickyNote","position":[3520,224],"typeVersion":1,"id":"2a3e7e6b-231f-47e9-91d2-0d6d6c38285a","name":"Sticky Note21"},{"parameters":{"content":"## Phân nhánh\n- Kiểm tra xem trong nội dung trả lời có ảnh hay không để phân nhánh","height":220,"width":520},"type":"n8n-nodes-base.stickyNote","position":[2432,672],"typeVersion":1,"id":"3915b4e9-28d2-48cf-83ee-31f53acf69bc","name":"Sticky Note22"},{"parameters":{"content":"## Trả lời tin nhắn\n- Nếu nội dung câu trả lời không có ảnh. Thì ta gửi luôn câu trả lời về cho người dùng","height":220,"width":620},"type":"n8n-nodes-base.stickyNote","position":[2976,672],"typeVersion":1,"id":"ef2c0b98-d6c5-427f-be71-837c2f3e0765","name":"Sticky Note23"},{"parameters":{"path":"f6084433-b03b-4c23-9e67-704ca3ba2813","responseMode":"lastNode","responseData":"firstEntryBinary","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[832,-48],"id":"877a5ff4-d0e8-4452-ac06-34cb283764a4","name":"DownloadFile","webhookId":"f6084433-b03b-4c23-9e67-704ca3ba2812"},{"parameters":{"content":"## Tạo link ảnh drive\n- Nhớ thay link được lấy từ webhook DownloadFile","height":240,"width":340},"type":"n8n-nodes-base.stickyNote","position":[3808,1536],"typeVersion":1,"id":"d1f3f2e3-ba7d-4b97-ac62-e6a5dfdf644c","name":"Sticky Note27"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[4576,1120],"id":"3a2c0cd6-d675-4ff7-8c51-ea887fbf6d65","name":"No Operation, do nothing"}],"connections":{"CreateIncludedTable":{"main":[[{"node":"CreateDebounceTable","type":"main","index":0}]]},"CreateChatsTable":{"main":[[{"node":"CreateIncludedTable","type":"main","index":0}]]},"When clicking ‘Test workflow’":{"main":[[{"node":"CreateChatsTable","type":"main","index":0}]]},"If":{"main":[[{"node":"Switch1","type":"main","index":0}],[{"node":"Switch","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Data","type":"main","index":0}]]},"SaveToChats":{"main":[[{"node":"GetUserIncluded","type":"main","index":0}]]},"GetUserIncluded":{"main":[[{"node":"IfDoesNotExist","type":"main","index":0}]]},"IfDoesNotExist":{"main":[[{"node":"SendOnMessage","type":"main","index":0}]]},"Data":{"main":[[{"node":"FindById2","type":"main","index":0}]]},"Data2":{"main":[[{"node":"Wait2","type":"main","index":0}]]},"FindById":{"main":[[{"node":"IfExistsMessage","type":"main","index":0}]]},"IfExistsMessage":{"main":[[],[{"node":"Merge","type":"main","index":1}]]},"SaveMessage":{"main":[[{"node":"InsertOrUpdateIncluded","type":"main","index":0}]]},"FindById2":{"main":[[{"node":"IfExistsMessage2","type":"main","index":0}]]},"IfExistsMessage2":{"main":[[],[{"node":"SaveToChats","type":"main","index":0}]]},"Switch1":{"main":[[{"node":"Data2","type":"main","index":0}],[{"node":"Data3","type":"main","index":0}],[{"node":"Data3","type":"main","index":0}],[{"node":"Data3","type":"main","index":0}]]},"Data3":{"main":[[{"node":"Wait2","type":"main","index":0}]]},"Merge":{"main":[[{"node":"SaveMessage","type":"main","index":0}]]},"Wait2":{"main":[[{"node":"FindById","type":"main","index":0},{"node":"Merge","type":"main","index":0}]]},"GetAllMessage":{"main":[[{"node":"UpdateDoneMessage","type":"main","index":0}]]},"UpdateDoneMessage":{"main":[[{"node":"MergeMessage","type":"main","index":0}]]},"MergeMessage":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"AI Agent":{"main":[[{"node":"IfExistLink","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Postgres Chat Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"OpenAI Chat Model2":{"ai_languageModel":[[{"node":"Basic LLM Chain","type":"ai_languageModel","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"Basic LLM Chain","type":"ai_outputParser","index":0}]]},"Basic LLM Chain":{"main":[[{"node":"Split Out2","type":"main","index":0}]]},"Split Out2":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"IfNotImage","type":"main","index":0}]]},"Split Out3":{"main":[[{"node":"Switch2","type":"main","index":0}]]},"data":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"SaveToChats2":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Respond to Webhook":{"main":[[{"node":"BodyData","type":"main","index":0}]]},"OnMessage":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"IfExistLink":{"main":[[{"node":"Tin nhắn không ảnh","type":"main","index":0}],[{"node":"Tin nhắn có ảnh","type":"main","index":0}]]},"Tin nhắn có ảnh":{"main":[[{"node":"Basic LLM Chain","type":"main","index":0}]]},"SaveToChats3":{"main":[[{"node":"No Operation, do nothing","type":"main","index":0}]]},"IfNotImage":{"main":[[],[{"node":"Split Out3","type":"main","index":0}]]},"Switch2":{"main":[[{"node":"Link ảnh server cá nhân","type":"main","index":0}],[{"node":"Link ảnh drive","type":"main","index":0}]]},"DownloadFile":{"main":[[{"node":"Google Drive","type":"main","index":0}]]},"No Operation, do nothing":{"main":[[{"node":"Wait","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"cc477496-2464-4c48-922a-15315172fa00","triggerCount":0,"shared":[{"createdAt":"2025-07-24T09:10:10.152Z","updatedAt":"2025-07-24T09:10:10.152Z","role":"workflow:owner","workflowId":"5yJmjBLCv3dirDR3","projectId":"Bsx4kBdHQHZGGC5J"}],"tags":[]}