npc-cLKLnPzGPQSr5Unl.json
{"createdAt":"2025-08-03T13:11:03.333Z","updatedAt":"2025-08-14T17:19:40.804Z","id":"cLKLnPzGPQSr5Unl","name":"NPC","active":false,"isArchived":false,"nodes":[{"parameters":{"jsCode":"// Lấy dữ liệu HTML từ node trước\nconst html = $input.first().json.data;\n\nif (!html) {\n  throw new Error(\"Không tìm thấy nội dung HTML ở đầu vào.\");\n}\n\n// Dùng biểu thức chính quy (regex) để tìm và trích xuất các giá trị\n// từ các thẻ input ẩn trong form.\n\n// 1. Trích xuất __RequestVerificationToken từ trong form\nconst verificationTokenMatch = html.match(/<input name=\"__RequestVerificationToken\" type=\"hidden\" value=\"([^\"]+)\" \\/>/);\n\n// 2. Trích xuất mã định danh của Captcha\nconst captchaKeyMatch = html.match(/<input id=\"CaptchaDeText\" name=\"CaptchaDeText\" type=\"hidden\" value=\"([^\"]+)\" \\/>/);\n\n// Kiểm tra xem có tìm thấy các giá trị không\nif (!verificationTokenMatch || !captchaKeyMatch) {\n  throw new Error(\"Không thể trích xuất được Verification Token hoặc Captcha Key từ HTML.\");\n}\n\n// Tạo một đối tượng JSON chứa các giá trị đã bóc tách\nconst result = {\n  json: {\n    formVerificationToken: verificationTokenMatch[1],\n    captchaKey: captchaKeyMatch[1]\n  }\n};\n\n// Trả về kết quả để các node sau sử dụng\nreturn [result];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-944,-80],"id":"a8d3a55f-452d-4d7d-ac76-6a53f4a8a8c7","name":"Code"},{"parameters":{"url":"https://cskh.npc.com.vn/DefaultCaptcha/Generate","sendQuery":true,"queryParameters":{"parameters":[{"name":"t","value":"={{ $json.captchaKey }}"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"User-Agent","value":"Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:141.0) Gecko/20100101 Firefox/141.0"},{"name":"Accept","value":"image/avif,image/webp,image/png,image/svg+xml,image/*;q=0.8,*/*;q=0.5"},{"name":"Accept-Language","value":"en-US,en;q=0.5"},{"name":"Accept-Encoding","value":"gzip, deflate, br, zstd"},{"name":"Connection","value":"keep-alive"},{"name":"Referer","value":"https://cskh.npc.com.vn/home/AccountNPC"},{"name":"cookie","value":"={{ $('Get Cookie').first().json.headers['set-cookie'][0] }};{{ $('Get Cookie').first().json.headers['set-cookie'][1] }};{{ $('Get Cookie').first().json.headers['set-cookie'][2] }};{{ $('Get Cookie').first().json.headers['set-cookie'][3] }};"},{"name":"Sec-Fetch-Dest","value":"image"},{"name":"Sec-Fetch-Mode","value":"no-cors"},{"name":"Sec-Fetch-Site","value":"same-origin"},{"name":"Priority","value":"u=5, i"}]},"options":{"allowUnauthorizedCerts":true,"response":{"response":{"responseFormat":"file"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-768,-80],"id":"aa065963-2c5c-4044-a6e6-7431eeeac82a","name":"Get captcha"},{"parameters":{"operation":"crop","options":{"format":"png"}},"type":"n8n-nodes-base.editImage","typeVersion":1,"position":[-544,-80],"id":"f40a0c6a-2a02-48cf-a452-3e9a19a512c8","name":"gif to png"},{"parameters":{"resource":"image","operation":"analyze","modelId":{"__rl":true,"value":"models/gemini-2.5-flash","mode":"list","cachedResultName":"models/gemini-2.5-flash"},"text":"This is a captcha code, decode it and return only the result, note that the code distinguishes between uppercase, lowercase, and numbers.","inputType":"binary","options":{}},"type":"@n8n/n8n-nodes-langchain.googleGemini","typeVersion":1,"position":[-336,-80],"id":"91ac78c4-6617-42a4-85a1-ca9ee4308643","name":"img captcha to text","credentials":{"googlePalmApi":{"id":"BmSJpQbzqh1rnp4z","name":"NguyenViet"}}},{"parameters":{"jsCode":"// Lấy dữ liệu HTML từ node trước\nconst html = $input.item.json.data;\n\nif (!html || !html.includes(\"Điện tiêu thụ (kWh)\")) {\n  return [{ json: { error: \"Đầu vào không phải là HTML chứa chi tiết sản lượng điện.\" } }];\n}\n\n// 1. Chuẩn bị đối tượng kết quả và các biến cần thiết\nconst finalResult = {\n  tong_san_luong: 0,\n  chi_tiet_theo_ngay: []\n};\nlet totalConsumption = 0;\n\n// 2. Định nghĩa biểu thức chính quy (Regex) để tìm và bắt nhóm dữ liệu cho mỗi ngày\n// Regex này sẽ tìm một khối bắt đầu bằng <tr> chứa rowspan=\"2\" và kết thúc bằng <tr> chứa \"Tổng\"\nconst dailyBlockRegex = /<tr[^>]*?>\\s*<td rowspan=\"2\">.*?<\\/td>\\s*<td rowspan=\"2\">(.*?)<\\/td>\\s*<td rowspan=\"2\">(.*?)<\\/td>[\\s\\S]*?<th style=\"color:black\">(.*?)<\\/th>\\s*<\\/tr>/g;\n\n// 3. Lặp qua tất cả các khối dữ liệu tìm thấy được\nlet match;\nwhile ((match = dailyBlockRegex.exec(html)) !== null) {\n  // Lấy dữ liệu từ các nhóm bắt được\n  const day = match[1].trim();\n  const meterReading = match[2].trim();\n  // Chuyển đổi dấu phẩy thành dấu chấm để xử lý số\n  const consumptionStr = match[3].trim().replace(',', '.');\n  const consumption = parseFloat(consumptionStr);\n\n  // Thêm dữ liệu đã xử lý vào mảng kết quả\n  if (!isNaN(consumption)) {\n    finalResult.chi_tiet_theo_ngay.push({\n      ngay: day,\n      chi_so_cuoi_ngay: meterReading,\n      san_luong_tieu_thu: consumption\n    });\n    // Cộng dồn vào tổng sản lượng\n    totalConsumption += consumption;\n  }\n}\n\n// 4. Cập nhật tổng sản lượng (làm tròn đến 2 chữ số thập phân)\nfinalResult.tong_san_luong = parseFloat(totalConsumption.toFixed(2));\n\n// 5. Kiểm tra nếu không có dữ liệu nào được xử lý\nif (finalResult.chi_tiet_theo_ngay.length === 0) {\n  return [{ json: { thong_bao: \"Không tìm thấy dữ liệu chi tiết trong HTML.\" } }];\n}\n\n// Trả về một đối tượng JSON duy nhất chứa toàn bộ kết quả\nreturn [{ json: finalResult }];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[224,-784],"id":"ee0d8527-cd4e-4d46-9a3c-adf28ed4f5c1","name":"Code1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"d4301437-5b14-4ceb-928b-4a1f948535c6","leftValue":"={{ $runIndex }}","rightValue":3,"operator":{"type":"number","operation":"lte"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[208,64],"id":"e4142201-3dec-45ae-83d0-333b6dc397d3","name":"Retry Max 5","onError":"continueRegularOutput"},{"parameters":{"operation":"deleteTable","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"npc","mode":"list"},"deleteCommand":"delete","where":{"values":[{"column":"cookie","condition":"IS NOT NULL"}]},"options":{}},"id":"7fda4df1-a777-438c-9a5e-be650e93a08a","name":"Delete Old Cookie","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[272,-96],"credentials":{"postgres":{"id":"vDBK6XLC0TBpoMww","name":"Postgres account"}}},{"parameters":{"schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"npc","mode":"list"},"columns":{"mappingMode":"defineBelow","value":{"cookie":"={{ $('Get Cookie').first().json.headers['set-cookie'][0] }};{{ $('Get Cookie').first().json.headers['set-cookie'][1] }};{{ $('Get Cookie').first().json.headers['set-cookie'][2] }};{{ $('Get Cookie').first().json.headers['set-cookie'][3] }};"},"matchingColumns":["cookie"],"schema":[{"id":"cookie","displayName":"cookie","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"id":"569dc4ed-bfc6-4ca0-9d50-2dd2337b816b","name":"Insert New Cookie","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[496,-96],"credentials":{"postgres":{"id":"vDBK6XLC0TBpoMww","name":"Postgres account"}}},{"parameters":{"operation":"select","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"npc","mode":"list"},"where":{"values":[{"column":"cookie","condition":"IS NOT NULL"}]},"options":{}},"id":"3dd7cbf0-a1d0-4a14-ae51-e43316ef8aee","name":"Get Cookie From DB","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-992,-640],"credentials":{"postgres":{"id":"vDBK6XLC0TBpoMww","name":"Postgres account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"2fc1a93d-1586-448f-b1b3-bb8326d8d218","leftValue":"={{ $json.data }}","rightValue":"=XIN CH&#192;O {{ $('Start').first().json.makhachhang }}","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-464,-640],"id":"9e4a8a69-e7f9-49d2-9bd1-965353bcd620","name":"check cookie avai"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"2fc1a93d-1586-448f-b1b3-bb8326d8d218","leftValue":"={{ $json.data }}","rightValue":"={{ $('Start').first().json.makhachhang }}","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[96,-80],"id":"0cd4502f-17b5-4931-ac2e-73a3855f3c4e","name":"check login"},{"parameters":{"workflowInputs":{"values":[{"name":"TuNgayChiSoChot","type":"any"},{"name":"DenNgayChiSoChot","type":"any"},{"name":"thang","type":"any"},{"name":"nam","type":"any"},{"name":"tieuthungay","type":"any"},{"name":"tieuthuthang","type":"any"},{"name":"tiendienthang","type":"any"},{"name":"makhachhang","type":"any"},{"name":"matkhau","type":"any"},{"name":"taihoadon","type":"any"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-1296,-640],"id":"d7f5f0fa-4539-402d-8c75-0d0b08f7d479","name":"Start"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $('Start').first().json.tieuthuthang }}","rightValue":"yes","operator":{"type":"string","operation":"equals"},"id":"6a2ea48e-1324-4948-b2d1-6de7e509ce2f"}],"combinator":"and"},"renameOutput":true,"outputKey":"tieuthuthang"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"675fa486-e938-4eaa-bcc9-381d99ccc476","leftValue":"={{ $('Start').first().json.tieuthungay }}","rightValue":"yes","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"tieuthungay"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"84dda349-e82e-4219-bcef-2dc43632c084","leftValue":"={{ $('Start').first().json.tiendienthang }}","rightValue":"yes","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"tiendienthang"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"d8cc46c5-1251-4106-8171-7dbf60564d4a","leftValue":"={{ $('Start').first().json.taihoadon }}","rightValue":"yes","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"taihoadon"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-272,-688],"id":"395978ef-5f33-40ec-b686-cdd15d598ae6","name":"Switch"},{"parameters":{"jsCode":"// Lấy dữ liệu HTML từ node trước\nconst html = $input.item.json.data;\n\nif (!html) {\n  return [{ json: { error: \"Không tìm thấy nội dung HTML ở đầu vào.\" } }];\n}\n\n// Mảng để chứa tất cả các bản ghi\nconst allRecords = [];\n\n// 1. Biểu thức chính quy (Regex) để tìm từng dòng <tr> trong <tbody>\nconst rowRegex = /<tr.*?>([\\s\\S]*?)<\\/tr>/g;\n\n// 2. Biểu thức chính quy (Regex) để tìm từng ô <td> trong một dòng\nconst cellRegex = /<td.*?>([\\s\\S]*?)<\\/td>/g;\n\n// 3. Tách phần thân của bảng để xử lý\nconst tbodyStart = html.indexOf('<tbody>');\nconst tbodyEnd = html.indexOf('</tbody>');\nif (tbodyStart === -1 || tbodyEnd === -1) {\n    return [{ json: { error: \"Không tìm thấy thẻ <tbody> trong HTML.\" } }];\n}\nconst tbodyContent = html.substring(tbodyStart, tbodyEnd);\n\n// 4. Lặp qua từng dòng <tr> tìm được\nlet rowMatch;\nwhile ((rowMatch = rowRegex.exec(tbodyContent)) !== null) {\n    const rowContent = rowMatch[1];\n    const cells = [];\n    \n    // 5. Lặp qua từng ô <td> trong dòng đó để lấy dữ liệu\n    let cellMatch;\n    while ((cellMatch = cellRegex.exec(rowContent)) !== null) {\n        // Dọn dẹp dữ liệu: xóa khoảng trắng thừa\n        const cleanCell = cellMatch[1].trim();\n        cells.push(cleanCell);\n    }\n    \n    // 6. Nếu dòng có đủ 5 ô, tạo đối tượng CHỈ VỚI 3 TRƯỜNG YÊU CẦU\n    if (cells.length === 5) {\n        allRecords.push({\n            dien_tieu_thu_kwh: parseInt(cells[2].replace(/\\s/g, '')) || 0,\n            thang: parseInt(cells[3]) || 0,\n            nam: parseInt(cells[4]) || 0\n        });\n    }\n}\n\n// 7. Trả về mảng các bản ghi dưới dạng JSON\nreturn allRecords.map(record => ({ json: record }));"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[224,-944],"id":"7f8d1232-73a5-41ed-93b0-a3c4667e0a0f","name":"Code2"},{"parameters":{"method":"POST","url":"https://cskh.npc.com.vn/DichVuTrucTuyen/TraCuuSanLuongDienTheoNgay","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Origin","value":"https://cskh.npc.com.vn"},{"name":"=Cookie","value":"={{ $('Get Cookie From DB').first().json.cookie }}"},{"name":"User-Agent","value":"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/138.0.0.0 Safari/537.36"},{"name":"X-Requested-With","value":"XMLHttpRequest"}]},"sendBody":true,"contentType":"form-urlencoded","bodyParameters":{"parameters":[{"name":"MaKhachHangChiSoChot","value":"={{ $('Start').first().json.makhachhang }}001"},{"name":"TuNgayChiSoChot","value":"={{ $('Start').first().json.TuNgayChiSoChot }}"},{"name":"DenNgayChiSoChot","value":"={{ $('Start').first().json.DenNgayChiSoChot }}"}]},"options":{"allowUnauthorizedCerts":true}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[16,-784],"id":"2c63a0b5-05a6-4a7e-8b88-7afd520e4f8b","name":"tieu thu ngay"},{"parameters":{"url":"=https://cskh.npc.com.vn/TraCuuTHinhTThuDien/GetDuLieuChiSoSPC?timNam={{ $('Start').first().json.nam }}&maDiemDo={{ $('Start').first().json.nam }}001","sendQuery":true,"queryParameters":{"parameters":[{"name":"timNam","value":"{{ $('Start').first().json.nam }}"},{"name":"maDiemDo","value":"={{ $('Start').first().json.makhachhang }}001"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"cookie","value":"={{ $('Get Cookie From DB').first().json.cookie }}"}]},"options":{"allowUnauthorizedCerts":true,"timeout":10000}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[16,-944],"id":"51007695-e6ea-44d4-9626-bad36e873935","name":"tieu thu thang","onError":"continueRegularOutput"},{"parameters":{"url":"https://cskh.npc.com.vn/HoaDon/TraCuuHDSPC?ky=1&thang={{ $('Start').first().json.thang }}&nam={{ $('Start').first().json.nam }}","sendQuery":true,"queryParameters":{"parameters":[{"name":"timNam","value":"={{ $('Start').first().json.nam }}"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"cookie","value":"={{ $('Get Cookie From DB').first().json.cookie }}"}]},"options":{"allowUnauthorizedCerts":true,"redirect":{"redirect":{}},"timeout":10000}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[16,-640],"id":"919f5e6e-7781-46d2-83b5-bbdf74e94969","name":"tien dien thang","onError":"continueRegularOutput"},{"parameters":{"jsCode":"const html = $input.first().json.data;\n\n// Tìm và trích xuất Mã khách hàng\nconst maKhachHangRegex = /<td class=\"uk-text-truncate\">(PM\\d+)<\\/td>/;\nconst maKhachHangMatch = html.match(maKhachHangRegex);\nconst maKhachHang = maKhachHangMatch ? maKhachHangMatch[1] : null;\n\n// Tìm và trích xuất Tổng tiền\nconst tongTienRegex = /<td>\\s*(\\d+\\.\\d+)\\s*<\\/td>/;\nconst tongTienMatch = html.match(tongTienRegex);\nconst tongTien = tongTienMatch ? tongTienMatch[1] : null;\n\nconst result = {\n  \"Mã khách hàng\": maKhachHang,\n  \"Tổng tiền\": tongTien\n};\n\nreturn [{ json: result }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[224,-640],"id":"61c57e4c-7ce4-45f7-a2f1-80ad3e2d052e","name":"Code3"},{"parameters":{"content":"Kiểm tra cookie được lưu trong DB. Nếu cookie chưa hết hạn thì thực hiện tra cứu, không cần đăng nhập lại tránh tốn token và thời gian bypass captcha\n","height":320,"width":512,"color":2},"type":"n8n-nodes-base.stickyNote","position":[-1008,-752],"typeVersion":1,"id":"529f28bd-79aa-4b94-bc64-a2fd9b15ac00","name":"Sticky Note"},{"parameters":{"content":"nếu cookie hết hạn thì thực hiện lại việc đăng nhập và lưu cookie vào db và tiếp tục phục vụ cho công việc tra cứu","height":400,"width":1968},"type":"n8n-nodes-base.stickyNote","position":[-1232,-160],"typeVersion":1,"id":"4b2f6015-f5f2-4354-8cde-4f0dd61ab53d","name":"Sticky Note1"},{"parameters":{"content":"nhận kích hoạt và input dữ liệu từ MCP Client","height":320},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1248,-752],"id":"d9b746cc-3f93-43e1-8bae-a0ae2da159d3","name":"Sticky Note2"},{"parameters":{"content":"Tra cứu dữ liệu tùy thuộc vào input cần tra cứu gì\n","height":784,"width":1120},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-496,-960],"id":"00918b5b-853d-4bff-93a7-a607cc377d8d","name":"Sticky Note3"},{"parameters":{"outputPrefix":"file"},"id":"8a437630-152c-4776-bab4-7bc87ffe9930","name":"unzip_jobfile","type":"n8n-nodes-base.compression","typeVersion":1.1,"position":[480,-496]},{"parameters":{"method":"POST","url":"https://cskh.npc.com.vn/Account/Login","sendHeaders":true,"headerParameters":{"parameters":[{"name":"User-Agent","value":"Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:141.0) Gecko/20100101 Firefox/141.0"},{"name":"Accept","value":"text/html,application/xhtml+xml,application/xml;q=0.9,*/*;q=0.8"},{"name":"Accept-Language","value":"en-US,en;q=0.5"},{"name":"Accept-Encoding","value":"gzip, deflate, br, zstd"},{"name":"Origin","value":"https://cskh.npc.com.vn"},{"name":"Connection","value":"keep-alive"},{"name":"Referer","value":"https://cskh.npc.com.vn/home/AccountNPC"},{"name":"Upgrade-Insecure-Requests","value":"1"},{"name":"Sec-Fetch-Dest","value":"document"},{"name":"Sec-Fetch-Mode","value":"navigate"},{"name":"Sec-Fetch-Site","value":"same-origin"},{"name":"Sec-Fetch-User","value":"?1"},{"name":"Priority","value":"u=0, i"},{"name":"cookie","value":"={{ $('Get Cookie').first().json.headers['set-cookie'][0] }};{{ $('Get Cookie').first().json.headers['set-cookie'][1] }};{{ $('Get Cookie').first().json.headers['set-cookie'][2] }};{{ $('Get Cookie').first().json.headers['set-cookie'][3] }};"}]},"sendBody":true,"contentType":"form-urlencoded","bodyParameters":{"parameters":[{"name":"__RequestVerificationToken","value":"={{ $('Code').item.json.formVerificationToken }}"},{"name":"Username","value":"={{ $('Start').first().json.makhachhang }}"},{"name":"Password","value":"={{ $('Start').first().json.matkhau }}"},{"name":"CaptchaDeText","value":"={{ $('Code').first().json.captchaKey }}"},{"name":"CaptchaInputText","value":"={{ $json.content.parts[0].text }}"},{"name":"previousLink"}]},"options":{"allowUnauthorizedCerts":true}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-96,-80],"id":"e3a3d378-5e30-4ec3-9b0f-68b414301c34","name":"login"},{"parameters":{"url":"https://cskh.npc.com.vn/home/AccountNPC","sendHeaders":true,"headerParameters":{"parameters":[{"name":"cookie","value":"={{ $json.cookie }}"}]},"options":{"allowUnauthorizedCerts":true,"response":{"response":{"fullResponse":true}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-720,-640],"id":"43284bba-b6bb-498b-8e8d-690392af7c00","name":"Check cookie"},{"parameters":{"jsCode":"// Code Node - Chỉ lấy encodedValue\nconst item = $input.first().json;\n\n// Lấy dữ liệu HTML\nconst htmlContent = item.data;\n\n// Tìm giá trị trong thuộc tính onclick\nconst pattern = /ChonThaoTac\\('([^']+)'/;\nconst match = htmlContent.match(pattern);\n\n// Trích xuất giá trị trước dấu gạch ngang\nlet encodedValue = null;\nif (match && match[1]) {\n  encodedValue = match[1].split('-')[0];\n}\n\n// Chỉ trả về encodedValue\nreturn {\n  json: {\n    encodedValue: encodedValue\n  }\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[160,-496],"id":"5ed3a10b-23cf-4747-85b0-df04f3c6a5c8","name":"Code4"},{"parameters":{"url":"=https://cskh.npc.com.vn/HoaDon/TraCuuHDSPC?ky=1&thang={{ $('Start').first().json.thang}}&nam={{ $('Start').first().json.nam }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"User-Agent","value":"Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:141.0) Gecko/20100101 Firefox/141.0"},{"name":"Accept","value":"text/html, */*; q=0.01"},{"name":"Accept-Language","value":"en-US,en;q=0.5"},{"name":"Accept-Encoding","value":"gzip, deflate, br, zstd"},{"name":"X-Requested-With","value":"XMLHttpRequest"},{"name":"Connection","value":"keep-alive"},{"name":"Referer","value":"https://cskh.npc.com.vn/DichVuTTCSKH/IndexSPC?index=2"},{"name":"Sec-Fetch-Dest","value":"empty"},{"name":"Sec-Fetch-Mode","value":"cors"},{"name":"Sec-Fetch-Site","value":"same-origin"},{"name":"cookie","value":"={{ $('Get Cookie From DB').first().json.cookie }}"}]},"options":{"allowUnauthorizedCerts":true}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[16,-496],"id":"f41af026-5d5d-4a5e-b344-a058fac0f93f","name":"get id hoa don"},{"parameters":{"jsCode":"// Lấy key của binary data (thường là \"data\")\nconst binaryPropertyName = Object.keys($input.item.binary)[0];\n\n// Lấy thông tin metadata của binary data\nconst binaryData = $input.item.binary[binaryPropertyName];\n\n// Lấy tên file từ metadata\nconst fileName = binaryData.fileName || \"unknown-file\";\nconst fileExtension = binaryData.fileExtension || \"\";\nconst mimeType = binaryData.mimeType;\n\n// Tạo ngày tháng với định dạng DD-MM-YYYY\nconst now = new Date();\nconst day = String(now.getDate()).padStart(2, '0');\nconst month = String(now.getMonth() + 1).padStart(2, '0');\nconst year = now.getFullYear();\nconst formattedDate = `${day}-${month}-${year}`;\n\n// Tạo tên file với định dạng ngày tháng mới\nconst fullFileName = `${formattedDate}-${fileName}`;\n\n// Trả về kết quả\nreturn {\n  json: {\n    originalFileName: fileName,\n    extension: fileExtension,\n    mimeType: mimeType,\n    fullFileName: fullFileName,\n    savePath: `/config/n8n/${fullFileName}`\n  },\n  // Quan trọng: Giữ nguyên binary data để chuyển đến node tiếp theo\n  binary: $input.item.binary\n}\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[16,-304],"id":"30e53b8e-6d1a-4278-a760-7ff2038b9f08","name":"Code5"},{"parameters":{"resource":"service","operation":"call","domain":"zalo_bot","service":"send_file","serviceAttributes":{"attributes":[{"name":"thread_id","value":"=5841349563795164131"},{"name":"account_selection","value":"+84764343466"},{"name":"type","value":"1"},{"name":"file_path_or_url","value":"={{ $json.savePath }}"}]}},"type":"n8n-nodes-base.homeAssistant","typeVersion":1,"position":[336,-304],"id":"3f17db2f-9103-49ef-8ec5-99f9469aaba7","name":"sent file"},{"parameters":{"method":"POST","url":"https://cskh.npc.com.vn/HoaDon/DownloadHD1","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Cookie","value":"={{ $('Get Cookie From DB').first().json.cookie }}"}]},"sendBody":true,"contentType":"form-urlencoded","bodyParameters":{"parameters":[{"name":"TraCuuHD_MA_KH","value":"={{ $('Start').first().json.makhachhang }}"},{"name":"TraCuuHD_IDHoaDon_MauMoi"},{"name":"strid_hdon","value":"={{ $json.encodedValue }}"},{"name":"nam","value":"={{ $('Start').first().json.nam }}"},{"name":"thang","value":"={{ $('Start').first().json.thang }}"},{"name":"ky","value":"1"},{"name":"TenThuMuc"}]},"options":{"allowUnauthorizedCerts":true,"response":{"response":{"responseFormat":"file"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[320,-496],"id":"d434a42b-7b27-43e1-88ed-0c945a55c525","name":"download hoa don zip"},{"parameters":{"operation":"write","fileName":"={{ $json.savePath }}","dataPropertyName":"file1","options":{}},"type":"n8n-nodes-base.readWriteFile","typeVersion":1,"position":[176,-304],"id":"c7f57b07-e565-40b0-90f0-899430f6eade","name":"save pdf"},{"parameters":{"jsCode":"// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n  item.json.file = \"Đã tải hóa đơn thành công\";\n}\n\nreturn $input.all();"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[496,-304],"id":"3a8bc60c-9aeb-42f1-a418-47c0363f81b3","name":"Code6"},{"parameters":{"content":"Bấm vào chạy Node này đầu tiên để tạo bảng npc lưu trữ cookie\n","height":208,"width":752},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1248,-960],"id":"b0765d58-7f8c-4b12-902d-f84df21e8f2d","name":"Sticky Note4"},{"parameters":{"operation":"executeQuery","query":"CREATE TABLE npc (\n    cookie TEXT\n);","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-800,-928],"id":"99bc1ca8-e089-45e0-a149-268e51e178d8","name":"Creat table NPC","credentials":{"postgres":{"id":"vDBK6XLC0TBpoMww","name":"Postgres account"}}},{"parameters":{"url":"https://cskh.npc.com.vn/home/AccountNPC","options":{"allowUnauthorizedCerts":true,"response":{"response":{"fullResponse":true}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1168,-80],"id":"1e4e67ab-9236-4d8d-a6b2-a7674df93df5","name":"Get Cookie"},{"parameters":{"method":"POST","url":"https://cskh.npc.com.vn/DichVuTrucTuyen/TraCuuSanLuongDienTheoNgay","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Origin","value":"https://cskh.npc.com.vn"},{"name":"=Cookie","value":"=ASP.NET_SessionId=xtdjbkt0pue5kc3smaugsule; path=/; HttpOnly; SameSite=Lax;ASP.NET_SessionId=xtdjbkt0pue5kc3smaugsule; path=/; HttpOnly; SameSite=Lax;culture=Vi; expires=Thu, 14-Aug-2025 15:19:57 GMT; path=/;__RequestVerificationToken=1KC7z7QEHH0p6q3-cF76WSWm9Nq_lMxdjjdj-dX1JdY5_OGgU4Db3LM8wifjhS9G8k29MwJUmPEM5T1B9RT5Q8Uc9DO-dMeQ9MjZD0xN9RI1; path=/; HttpOnly;"},{"name":"User-Agent","value":"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/138.0.0.0 Safari/537.36"},{"name":"X-Requested-With","value":"XMLHttpRequest"}]},"sendBody":true,"contentType":"form-urlencoded","bodyParameters":{"parameters":[{"name":"MaKhachHangChiSoChot","value":"=PM11910002240001"},{"name":"TuNgayChiSoChot","value":"=11-08-2025"},{"name":"DenNgayChiSoChot","value":"=13-08-2025"}]},"options":{"allowUnauthorizedCerts":true}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[576,-768],"id":"873c28c2-7e26-46cc-aa1e-7f6fd3f2beec","name":"tieu thu ngay1"},{"parameters":{"jsCode":"// Lấy dữ liệu HTML từ node trước\nconst html = $input.item.json.data;\n\nif (!html || !html.includes(\"Điện tiêu thụ (kWh)\")) {\n  return [{ json: { error: \"Đầu vào không phải là HTML chứa chi tiết sản lượng điện.\" } }];\n}\n\n// 1. Chuẩn bị đối tượng kết quả và các biến cần thiết\nconst finalResult = {\n  tong_san_luong: 0,\n  chi_tiet_theo_ngay: []\n};\nlet totalConsumption = 0;\n\n// 2. Định nghĩa biểu thức chính quy (Regex) để tìm và bắt nhóm dữ liệu cho mỗi ngày\n// Regex này sẽ tìm một khối bắt đầu bằng <tr> chứa rowspan=\"2\" và kết thúc bằng <tr> chứa \"Tổng\"\nconst dailyBlockRegex = /<tr[^>]*?>\\s*<td rowspan=\"2\">.*?<\\/td>\\s*<td rowspan=\"2\">(.*?)<\\/td>\\s*<td rowspan=\"2\">(.*?)<\\/td>[\\s\\S]*?<th style=\"color:black\">(.*?)<\\/th>\\s*<\\/tr>/g;\n\n// 3. Lặp qua tất cả các khối dữ liệu tìm thấy được\nlet match;\nwhile ((match = dailyBlockRegex.exec(html)) !== null) {\n  // Lấy dữ liệu từ các nhóm bắt được\n  const day = match[1].trim();\n  const meterReading = match[2].trim();\n  // Chuyển đổi dấu phẩy thành dấu chấm để xử lý số\n  const consumptionStr = match[3].trim().replace(',', '.');\n  const consumption = parseFloat(consumptionStr);\n\n  // Thêm dữ liệu đã xử lý vào mảng kết quả\n  if (!isNaN(consumption)) {\n    finalResult.chi_tiet_theo_ngay.push({\n      ngay: day,\n      chi_so_cuoi_ngay: meterReading,\n      san_luong_tieu_thu: consumption\n    });\n    // Cộng dồn vào tổng sản lượng\n    totalConsumption += consumption;\n  }\n}\n\n// 4. Cập nhật tổng sản lượng (làm tròn đến 2 chữ số thập phân)\nfinalResult.tong_san_luong = parseFloat(totalConsumption.toFixed(2));\n\n// 5. Kiểm tra nếu không có dữ liệu nào được xử lý\nif (finalResult.chi_tiet_theo_ngay.length === 0) {\n  return [{ json: { thong_bao: \"Không tìm thấy dữ liệu chi tiết trong HTML.\" } }];\n}\n\n// Trả về một đối tượng JSON duy nhất chứa toàn bộ kết quả\nreturn [{ json: finalResult }];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[880,-768],"id":"38fac275-6133-4187-a242-290cb57800ee","name":"Code7"},{"parameters":{"url":"https://cskh.npc.com.vn/TraCuuTHinhTThuDien/GetDuLieuChiSoSPC?timNam=2025&maDiemDo=PM11000048612001","sendQuery":true,"queryParameters":{"parameters":[{"name":"timNam","value":"2025"},{"name":"maDiemDo","value":"=PM11000048612001"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"cookie","value":"=ASP.NET_SessionId=g2q42gooaw1r25g5a3g5f5io; __RequestVerificationToken=HK6JquEkUnh_rlikc1JoH4PigvDjmvUOYQQk1KU-ZHlIuhJDA5nhiUUEYAV9TVUNw0CbEy7WffO03UAfyQWD8jJIeHvR7J_guOk2WQNrtOg1; _ga=GA1.1.1411290890.1754530189; _ga_2SD0TPBM8J=GS2.1.s1754530188$o1$g1$t1754530425$j60$l0$h0; culture=Vi"}]},"options":{"allowUnauthorizedCerts":true,"timeout":10000}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[576,-960],"id":"e8e542d9-7005-4b40-98b3-c7406a7b78d4","name":"tieu thu thang1","onError":"continueRegularOutput"},{"parameters":{"jsCode":"// Lấy dữ liệu HTML từ node trước\nconst html = $input.item.json.data;\n\nif (!html) {\n  return [{ json: { error: \"Không tìm thấy nội dung HTML ở đầu vào.\" } }];\n}\n\n// Mảng để chứa tất cả các bản ghi\nconst allRecords = [];\n\n// 1. Biểu thức chính quy (Regex) để tìm từng dòng <tr> trong <tbody>\nconst rowRegex = /<tr.*?>([\\s\\S]*?)<\\/tr>/g;\n\n// 2. Biểu thức chính quy (Regex) để tìm từng ô <td> trong một dòng\nconst cellRegex = /<td.*?>([\\s\\S]*?)<\\/td>/g;\n\n// 3. Tách phần thân của bảng để xử lý\nconst tbodyStart = html.indexOf('<tbody>');\nconst tbodyEnd = html.indexOf('</tbody>');\nif (tbodyStart === -1 || tbodyEnd === -1) {\n    return [{ json: { error: \"Không tìm thấy thẻ <tbody> trong HTML.\" } }];\n}\nconst tbodyContent = html.substring(tbodyStart, tbodyEnd);\n\n// 4. Lặp qua từng dòng <tr> tìm được\nlet rowMatch;\nwhile ((rowMatch = rowRegex.exec(tbodyContent)) !== null) {\n    const rowContent = rowMatch[1];\n    const cells = [];\n    \n    // 5. Lặp qua từng ô <td> trong dòng đó để lấy dữ liệu\n    let cellMatch;\n    while ((cellMatch = cellRegex.exec(rowContent)) !== null) {\n        // Dọn dẹp dữ liệu: xóa khoảng trắng thừa\n        const cleanCell = cellMatch[1].trim();\n        cells.push(cleanCell);\n    }\n    \n    // 6. Nếu dòng có đủ 5 ô, tạo đối tượng CHỈ VỚI 3 TRƯỜNG YÊU CẦU\n    if (cells.length === 5) {\n        allRecords.push({\n            dien_tieu_thu_kwh: parseInt(cells[2].replace(/\\s/g, '')) || 0,\n            thang: parseInt(cells[3]) || 0,\n            nam: parseInt(cells[4]) || 0\n        });\n    }\n}\n\n// 7. Trả về mảng các bản ghi dưới dạng JSON\nreturn allRecords.map(record => ({ json: record }));"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[784,-944],"id":"77713d0b-f8d6-441d-a8bf-fbc6d5c9726f","name":"Code8"},{"parameters":{"url":"https://cskh.npc.com.vn/HoaDon/TraCuuHDSPC?ky=1&thang=5&nam=2025","sendQuery":true,"queryParameters":{"parameters":[{"name":"timNam","value":"=2025"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"cookie","value":"=ASP.NET_SessionId=g2q42gooaw1r25g5a3g5f5io; __RequestVerificationToken=HK6JquEkUnh_rlikc1JoH4PigvDjmvUOYQQk1KU-ZHlIuhJDA5nhiUUEYAV9TVUNw0CbEy7WffO03UAfyQWD8jJIeHvR7J_guOk2WQNrtOg1; _ga=GA1.1.1411290890.1754530189; _ga_2SD0TPBM8J=GS2.1.s1754530188$o1$g1$t1754530425$j60$l0$h0; culture=Vi"}]},"options":{"allowUnauthorizedCerts":true,"redirect":{"redirect":{}},"timeout":10000}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[672,-576],"id":"01b0a1f3-82d5-45d0-a008-a997bf951383","name":"tien dien thang1","onError":"continueRegularOutput"},{"parameters":{"jsCode":"const html = $input.first().json.data;\n\n// Tìm và trích xuất Mã khách hàng\nconst maKhachHangRegex = /<td class=\"uk-text-truncate\">(PM\\d+)<\\/td>/;\nconst maKhachHangMatch = html.match(maKhachHangRegex);\nconst maKhachHang = maKhachHangMatch ? maKhachHangMatch[1] : null;\n\n// Tìm và trích xuất Tổng tiền\nconst tongTienRegex = /<td>\\s*(\\d+\\.\\d+)\\s*<\\/td>/;\nconst tongTienMatch = html.match(tongTienRegex);\nconst tongTien = tongTienMatch ? tongTienMatch[1] : null;\n\nconst result = {\n  \"Mã khách hàng\": maKhachHang,\n  \"Tổng tiền\": tongTien\n};\n\nreturn [{ json: result }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[960,-576],"id":"9b65c0d2-448f-425b-9e2e-7f6aadf5a9e0","name":"Code9"}],"connections":{"Code":{"main":[[{"node":"Get captcha","type":"main","index":0}]]},"Get captcha":{"main":[[{"node":"gif to png","type":"main","index":0}]]},"gif to png":{"main":[[{"node":"img captcha to text","type":"main","index":0}]]},"img captcha to text":{"main":[[{"node":"login","type":"main","index":0}]]},"Retry Max 5":{"main":[[{"node":"Get Cookie","type":"main","index":0}]]},"Delete Old Cookie":{"main":[[{"node":"Insert New Cookie","type":"main","index":0}]]},"Insert New Cookie":{"main":[[{"node":"Get Cookie From DB","type":"main","index":0}]]},"Get Cookie From DB":{"main":[[{"node":"Check cookie","type":"main","index":0}]]},"check cookie avai":{"main":[[{"node":"Switch","type":"main","index":0}],[{"node":"Get Cookie","type":"main","index":0}]]},"check login":{"main":[[{"node":"Delete Old Cookie","type":"main","index":0}],[{"node":"Retry Max 5","type":"main","index":0}]]},"Start":{"main":[[{"node":"Get Cookie From DB","type":"main","index":0}]]},"Switch":{"main":[[{"node":"tieu thu thang","type":"main","index":0}],[{"node":"tieu thu ngay","type":"main","index":0}],[{"node":"tien dien thang","type":"main","index":0}],[{"node":"get id hoa don","type":"main","index":0}]]},"tieu thu ngay":{"main":[[{"node":"Code1","type":"main","index":0}]]},"tieu thu thang":{"main":[[{"node":"Code2","type":"main","index":0}]]},"tien dien thang":{"main":[[{"node":"Code3","type":"main","index":0}]]},"unzip_jobfile":{"main":[[{"node":"Code5","type":"main","index":0}]]},"login":{"main":[[{"node":"check login","type":"main","index":0}]]},"Check cookie":{"main":[[{"node":"check cookie avai","type":"main","index":0}]]},"Code4":{"main":[[{"node":"download hoa don zip","type":"main","index":0}]]},"get id hoa don":{"main":[[{"node":"Code4","type":"main","index":0}]]},"Code5":{"main":[[{"node":"save pdf","type":"main","index":0}]]},"download hoa don zip":{"main":[[{"node":"unzip_jobfile","type":"main","index":0}]]},"save pdf":{"main":[[{"node":"sent file","type":"main","index":0}]]},"sent file":{"main":[[{"node":"Code6","type":"main","index":0}]]},"Get Cookie":{"main":[[{"node":"Code","type":"main","index":0}]]},"tieu thu ngay1":{"main":[[{"node":"Code7","type":"main","index":0}]]},"tieu thu thang1":{"main":[[{"node":"Code8","type":"main","index":0}]]},"tien dien thang1":{"main":[[{"node":"Code9","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"cdbf28c5-2603-4dd9-bba4-c28668fe46cf","triggerCount":0,"shared":[{"createdAt":"2025-08-03T13:11:03.333Z","updatedAt":"2025-08-03T13:11:03.333Z","role":"workflow:owner","workflowId":"cLKLnPzGPQSr5Unl","projectId":"Bsx4kBdHQHZGGC5J"}],"tags":[]}