phat-nguoi-wpOrEVYXeCyzMG5e.json
{"createdAt":"2025-08-03T13:10:29.022Z","updatedAt":"2025-08-09T15:07:27.204Z","id":"wpOrEVYXeCyzMG5e","name":"phat nguoi","active":false,"isArchived":false,"nodes":[{"parameters":{"workflowInputs":{"values":[{"name":"loaixe","type":"number"},{"name":"bienso","type":"any"}]}},"id":"3388c825-aee4-4525-a253-7067b43199ef","typeVersion":1.1,"name":"Start","type":"n8n-nodes-base.executeWorkflowTrigger","position":[-1168,16]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"138705e1-35da-45f5-b0f4-771e033c05a8","leftValue":"={{ $json.data }}","rightValue":"success","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-272,16],"id":"cc86fd52-06aa-4d3f-b2ae-39c316ae6c90","name":"If"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"d4301437-5b14-4ceb-928b-4a1f948535c6","leftValue":"={{ $runIndex }}","rightValue":3,"operator":{"type":"number","operation":"lte"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-160,144],"id":"9fd8e902-019b-4a17-8ce2-856d4e1c5fe9","name":"Retry Max 5","onError":"continueRegularOutput"},{"parameters":{"url":"https://www.csgt.vn/lib/captcha/captcha.class.php","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"text/html,application/xhtml+xml,application/xml;q=0.9,image/avif,image/webp,image/apng,*/*;q=0.8,application/signed-exchange;v=b3;q=0.7"},{"name":"Accept-Encoding","value":"gzip, deflate, br, zstd"},{"name":"Accept-Language","value":"en-US,en;q=0.9,vi;q=0.8"},{"name":"Cache-Control","value":"no-cache"},{"name":"Connection","value":"keep-alive"},{"name":"DNT","value":"1"},{"name":"Host","value":"www.csgt.vn"},{"name":"Pragma","value":"no-cache"},{"name":"Sec-Fetch-Dest","value":"document"},{"name":"Sec-Fetch-Mode","value":"navigate"},{"name":"Sec-Fetch-Site","value":"none"},{"name":"Sec-Fetch-User","value":"?1"},{"name":"Upgrade-Insecure-Requests","value":"1"},{"name":"User-Agent","value":"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/138.0.0.0 Safari/537.36 Edg/138.0.0.0"},{"name":"sec-ch-ua","value":"\"Not)A;Brand\";v=\"8\", \"Chromium\";v=\"138\", \"Microsoft Edge\";v=\"138\""},{"name":"sec-ch-ua-mobile","value":"?0"},{"name":"sec-ch-ua-platform","value":"\"Windows\""},{"name":"Referer","value":"https://www.csgt.vn/"}]},"options":{"allowUnauthorizedCerts":true,"response":{"response":{"fullResponse":true,"responseFormat":"file"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-896,16],"id":"6ebd3dea-8fa1-4072-adbb-5b506e4103c8","name":"GET CAPTCHA"},{"parameters":{"resource":"image","operation":"analyze","modelId":{"__rl":true,"value":"models/gemini-2.5-flash","mode":"list","cachedResultName":"models/gemini-2.5-flash"},"text":"This is a captcha code, decode it and return only the result, note that the code distinguishes between uppercase, lowercase, and numbers.","inputType":"binary","options":{}},"type":"@n8n/n8n-nodes-langchain.googleGemini","typeVersion":1,"position":[-688,16],"id":"7a672020-657d-40d9-8755-2afc29514e1b","name":"Text Captcha","credentials":{"googlePalmApi":{"id":"BmSJpQbzqh1rnp4z","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"method":"POST","url":"https://www.csgt.vn/?mod=contact&task=tracuu_post&ajax","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"*/*"},{"name":"Accept-Encoding","value":"gzip, deflate, br, zstd"},{"name":"Accept-Language","value":"en-US,en;q=0.9,vi;q=0.8"},{"name":"Cache-Control","value":"no-cache"},{"name":"Connection","value":"keep-alive"},{"name":"DNT","value":"1"},{"name":"Host","value":"www.csgt.vn"},{"name":"Origin","value":"https://www.csgt.vn"},{"name":"Pragma","value":"no-cache"},{"name":"Referer","value":"https://www.csgt.vn/"},{"name":"Sec-Fetch-Dest","value":"empty"},{"name":"Sec-Fetch-Mode","value":"cors"},{"name":"Sec-Fetch-Site","value":"same-origin"},{"name":"User-Agent","value":"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/138.0.0.0 Safari/537.36 Edg/138.0.0.0"},{"name":"X-Requested-With","value":"XMLHttpRequest"},{"name":"sec-ch-ua","value":"\"Not)A;Brand\";v=\"8\", \"Chromium\";v=\"138\", \"Microsoft Edge\";v=\"138\""},{"name":"sec-ch-ua-mobile","value":"?0"},{"name":"sec-ch-ua-platform","value":"\"Windows\""},{"name":"cookie","value":"={{ $('GET CAPTCHA').item.json.headers['set-cookie'][0] }}"}]},"sendBody":true,"contentType":"form-urlencoded","bodyParameters":{"parameters":[{"name":"BienKS","value":"={{ $('Start').item.json.bienso }}"},{"name":"Xe","value":"={{ $('Start').item.json.loaixe }}"},{"name":"captcha","value":"={{ $json.content.parts[0].text }}"},{"name":"ipClient","value":"9.9.9.91"},{"name":"cUrl","value":"1"}]},"options":{"allowUnauthorizedCerts":true,"response":{"response":{"fullResponse":true}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-480,16],"id":"049a035f-b452-4720-b4f0-8f9c86e5c50e","name":"Post"},{"parameters":{"url":"=https://www.csgt.vn/tra-cuu-phuong-tien-vi-pham.html?&LoaiXe={{ $('Start').item.json.loaixe }}&BienKiemSoat={{ $('Start').item.json.bienso }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"text/html,application/xhtml+xml,application/xml;q=0.9,image/avif,image/webp,image/apng,*/*;q=0.8,application/signed-exchange;v=b3;q=0.7"},{"name":"Accept-Encoding","value":"gzip, deflate, br, zstd"},{"name":"Accept-Language","value":"en-US,en;q=0.9,vi;q=0.8"},{"name":"Connection","value":"keep-alive"},{"name":"DNT","value":"1"},{"name":"Host","value":"www.csgt.vn"},{"name":"Referer","value":"https://www.csgt.vn/"},{"name":"Sec-Fetch-Dest","value":"document"},{"name":"Sec-Fetch-Mode","value":"navigate"},{"name":"Sec-Fetch-Site","value":"same-origin"},{"name":"Upgrade-Insecure-Requests","value":"1"},{"name":"User-Agent","value":"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/138.0.0.0 Safari/537.36 Edg/138.0.0.0"},{"name":"cookie","value":"={{ $('GET CAPTCHA').item.json.headers['set-cookie'][0] }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[0,0],"id":"77f0440a-805d-4628-8441-9b0fea13445e","name":"Get vi pham"},{"parameters":{"jsCode":"// Lấy dữ liệu HTML từ node trước\nconst html = $input.item.json.data;\n\nif (!html) {\n  return [{ json: { error: \"Không tìm thấy nội dung HTML.\" } }];\n}\n\n// 1. Chuẩn bị đối tượng JSON kết quả cuối cùng\nconst finalResult = {\n  tong_so_loi: 0,\n  thong_bao: \"\",\n  thong_tin_chung: {},\n  danh_sach_vi_pham: []\n};\n\n// 2. Tìm và giới hạn vùng nội dung chính cần xử lý\nconst bodyStart = html.indexOf('<div class=\"form-horizontal\" id=\"bodyPrint123\">');\nif (bodyStart === -1) {\n  finalResult.thong_bao = \"Lỗi: Không tìm thấy khối nội dung vi phạm trên trang.\";\n  return [{ json: finalResult }];\n}\n// Giới hạn vùng tìm kiếm để không bị lẫn với các thẻ <style> hoặc script ở cuối trang\nconst searchAreaEnd = html.indexOf('<style>', bodyStart);\nconst mainContent = html.substring(bodyStart, searchAreaEnd > -1 ? searchAreaEnd : undefined);\n\n\n// 3. Kiểm tra các thông báo không có kết quả trước tiên\nif (mainContent.includes(\"Không tìm thấy kết quả !\") || mainContent.includes(\"Không tìm thấy dữ liệu vi phạm\")) {\n    finalResult.thong_bao = \"Không có vi phạm hoặc không tìm thấy thông tin phương tiện.\";\n    delete finalResult.thong_tin_chung;\n    delete finalResult.danh_sach_vi_pham;\n    return [{ json: finalResult }];\n}\n\n// 4. Tách thành các khối vi phạm dựa trên thẻ <hr>\nconst violationBlocks = mainContent.split('<hr style=\"margin-bottom: 25px;\">');\n\nconst commonKeys = ['Biển kiểm soát', 'Màu biển', 'Loại phương tiện'];\nlet isFirstBlock = true;\n\n// 5. Xử lý từng khối vi phạm\nfor (const block of violationBlocks) {\n  if (!block.trim()) continue;\n\n  const violationDetails = {};\n  const resolutionPlaces = [];\n\n  const parts = block.split('<div class=\"form-group\">');\n  \n  // Bỏ qua phần tử đầu tiên (thường là rác trước thẻ form-group đầu tiên)\n  for (const part of parts.slice(1)) {\n    const cleanPart = part.trim();\n    if (!cleanPart) continue;\n\n    if (cleanPart.includes('<label')) {\n      const keyMatch = cleanPart.match(/<span>(.*?)<\\/span>/);\n      const valueMatch = cleanPart.match(/<div class=\"col-md-9\">([\\s\\S]*?)<\\/div>/);\n      \n      if (keyMatch && valueMatch) {\n        const key = keyMatch[1].replace(':', '').trim();\n        const value = valueMatch[1].replace(/<[^>]+>/g, '').trim();\n\n        // Lấy thông tin chung từ khối đầu tiên\n        if (isFirstBlock && commonKeys.includes(key)) {\n          finalResult.thong_tin_chung[key] = value;\n        }\n        \n        // Luôn lấy thông tin chi tiết vi phạm nếu nó không phải là thông tin chung\n        if (!commonKeys.includes(key)) {\n          violationDetails[key] = value;\n        }\n      }\n    } else {\n      // Xử lý các dòng \"Nơi giải quyết vụ việc\" không có label\n      const resolutionText = cleanPart.replace(/<\\/?[^>]+(>|$)/g, \"\").trim();\n      if (resolutionText) {\n        resolutionPlaces.push(resolutionText);\n      }\n    }\n  }\n\n  // Gán mảng nơi giải quyết vào chi tiết vi phạm\n  if (resolutionPlaces.length > 0) {\n    // Nếu \"Nơi giải quyết vụ việc\" đã có giá trị từ cặp key-value (thường là rỗng), thì ghi đè\n    violationDetails['Nơi giải quyết vụ việc'] = resolutionPlaces;\n  }\n  \n  // Chỉ thêm vào danh sách nếu có thông tin chi tiết (không phải là khối rỗng)\n  if (Object.keys(violationDetails).length > 0) {\n      finalResult.danh_sach_vi_pham.push(violationDetails);\n  }\n  \n  isFirstBlock = false;\n}\n\n// 6. Dọn dẹp và trả về kết quả cuối cùng\nfinalResult.tong_so_loi = finalResult.danh_sach_vi_pham.length;\n\nif (finalResult.tong_so_loi === 0) {\n    finalResult.thong_bao = \"Không có vi phạm.\";\n    delete finalResult.thong_tin_chung;\n    delete finalResult.danh_sach_vi_pham;\n} else {\n    delete finalResult.thong_bao; // Xóa trường thông báo nếu có lỗi\n}\n\nif (Object.keys(finalResult.thong_tin_chung).length === 0) {\n  delete finalResult.thong_tin_chung;\n}\n\nreturn [{ json: finalResult }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[192,0],"id":"79f7cdea-a44a-46be-999a-8c4062f77cbd","name":"Làm sạch output"}],"connections":{"Start":{"main":[[{"node":"GET CAPTCHA","type":"main","index":0}]]},"If":{"main":[[{"node":"Get vi pham","type":"main","index":0}],[{"node":"Retry Max 5","type":"main","index":0}]]},"Retry Max 5":{"main":[[{"node":"GET CAPTCHA","type":"main","index":0}]]},"GET CAPTCHA":{"main":[[{"node":"Text Captcha","type":"main","index":0}]]},"Text Captcha":{"main":[[{"node":"Post","type":"main","index":0}]]},"Post":{"main":[[{"node":"If","type":"main","index":0}]]},"Get vi pham":{"main":[[{"node":"Làm sạch output","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Start":[{"json":{"loaixe":"1","bienso":"29a99999"}}]},"versionId":"abbb6879-6983-4d7c-ae64-717454f70735","triggerCount":0,"shared":[{"createdAt":"2025-08-03T13:10:29.022Z","updatedAt":"2025-08-03T13:10:29.022Z","role":"workflow:owner","workflowId":"wpOrEVYXeCyzMG5e","projectId":"Bsx4kBdHQHZGGC5J"}],"tags":[]}