taoanh-MkjYDmFAbCalYYca.json
{"createdAt":"2025-08-09T13:57:28.640Z","updatedAt":"2025-08-27T17:04:51.922Z","id":"MkjYDmFAbCalYYca","name":"taoanh","active":false,"isArchived":true,"nodes":[{"parameters":{"workflowInputs":{"values":[{"name":"prompt","type":"any"}]}},"id":"c055762a-8fe7-4141-a639-df2372f30060","typeVersion":1.1,"name":"taoanh","type":"n8n-nodes-base.executeWorkflowTrigger","position":[-288,272]},{"parameters":{"resource":"image","modelId":{"__rl":true,"value":"models/gemini-2.0-flash-exp-image-generation","mode":"list","cachedResultName":"models/gemini-2.0-flash-exp-image-generation"},"prompt":"={{ $json.prompt }}","options":{}},"type":"@n8n/n8n-nodes-langchain.googleGemini","typeVersion":1,"position":[0,272],"id":"b8b329cd-12ac-441c-ab8c-eb11e586c607","name":"Generate an image","alwaysOutputData":true,"credentials":{"googlePalmApi":{"id":"BmSJpQbzqh1rnp4z","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"name":"={{ $json.fileName }}","driveId":{"__rl":true,"value":"My Drive","mode":"list","cachedResultName":"My Drive","cachedResultUrl":"https://drive.google.com/drive/my-drive"},"folderId":{"__rl":true,"value":"1MMDc6_RuBAWTi3IEjhWfcV8mXgDJBatA","mode":"list","cachedResultName":"n8n","cachedResultUrl":"https://drive.google.com/drive/folders/1MMDc6_RuBAWTi3IEjhWfcV8mXgDJBatA"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[240,272],"id":"c4bd9999-a30f-46e9-b958-a75b38139600","name":"Upload file","credentials":{"googleDriveOAuth2Api":{"id":"LqceacVZayCNzphl","name":"Google Drive account"}}},{"parameters":{"operation":"deleteFile","fileId":{"__rl":true,"value":"={{ $('Upload file').item.json.id }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[672,272],"id":"35472193-fe2f-41f2-a01c-e25c7d620d8e","name":"Delete a file","credentials":{"googleDriveOAuth2Api":{"id":"LqceacVZayCNzphl","name":"Google Drive account"}}},{"parameters":{"resource":"service","operation":"call","domain":"zalo_bot","service":"send_image_to_user","serviceAttributes":{"attributes":[{"name":"image_path","value":"={{ $json.webContentLink }}"},{"name":"thread_id","value":"=6643404425553198601"},{"name":"account_selection","value":"=+84947762285"}]}},"type":"n8n-nodes-base.homeAssistant","typeVersion":1,"position":[464,272],"id":"d270bffd-350d-4a9b-9c63-c5c0e1a96deb","name":"Call a service","credentials":{"homeAssistantApi":{"id":"1lV5PEu2rtjuQlDB","name":"Home Assistant account"}}}],"connections":{"taoanh":{"main":[[{"node":"Generate an image","type":"main","index":0}]]},"Generate an image":{"main":[[{"node":"Upload file","type":"main","index":0}]]},"Upload file":{"main":[[{"node":"Call a service","type":"main","index":0}]]},"Call a service":{"main":[[{"node":"Delete a file","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"2f864fc6-3e6a-48e1-8de3-b59f33b15002","triggerCount":0,"shared":[{"createdAt":"2025-08-09T13:57:28.640Z","updatedAt":"2025-08-09T13:57:28.640Z","role":"workflow:owner","workflowId":"MkjYDmFAbCalYYca","projectId":"Bsx4kBdHQHZGGC5J"}],"tags":[]}