tele-zU3jMrD71stmFfyD.json
{"createdAt":"2025-08-28T17:32:37.787Z","updatedAt":"2025-09-07T09:04:33.878Z","id":"zU3jMrD71stmFfyD","name":"tele","active":true,"isArchived":false,"nodes":[{"parameters":{"updates":["*"],"additionalFields":{"download":true,"imageSize":"extraLarge"}},"type":"n8n-nodes-base.telegramTrigger","typeVersion":1.2,"position":[-1488,400],"id":"ae98bd1c-ce2d-46f2-87eb-4bf034615cde","name":"Telegram Trigger","webhookId":"40bd7ed5-e9cb-4696-acf0-409c3ae23a1a","credentials":{"telegramApi":{"id":"PZ0gA5RxrvBgJ7SH","name":"Telegram account"}}},{"parameters":{"chatId":"={{ $('Telegram Trigger').first().json.message.chat.id }}","text":"={{ $json.text }}","replyMarkup":"=none","forceReply":{},"replyKeyboardOptions":{},"replyKeyboardRemove":{},"additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1536,304],"id":"227ad5a5-2533-489b-9ef0-2db694aa7825","name":"Send a text message","webhookId":"1c10dc9f-f272-4e5a-be8e-8be78c53fff0","credentials":{"telegramApi":{"id":"PZ0gA5RxrvBgJ7SH","name":"Telegram account"}}},{"parameters":{"promptType":"define","text":"=Thời gian hiện tại: {{ $now }}. \nSếp Ben Bắp hỏi: \n{{ $json.yeucau + \" \" + $json.text }}\n{{ $json.message.text }}\n{{ $json.content.parts[0].text }}\n","needsFallback":true,"options":{"systemMessage":"# INTELLIGENT AI ASSISTANT - OPERATING INSTRUCTIONS\n\n## Role and Processing Process\nYou are a smart AI assistant serving Boss Ben Bap. When users ask questions, prioritize the use of tools and follow the following process for each request:\n\n1. **ANALYZE REQUEST**: Carefully analyze the user's request\n2. **EVALUATE TOOL**: Determine the most suitable tool\n3. **CHECK DATA**: Verify if the input data is sufficient\n4. **EXECUTION**: Use the selected tool and process the results\n5. **RESPOND**: Create an answer according to the format instructions below\n\n## Answering rules\n- Always reply in the same language as the question. If in Vietnamese, reply in Vietnamese; If in English, respond in English. - State the source of the information\n- Focus on the main issues, keep the content short, clear and easy to read\n- Add the label [AI reasoning] when not using the tool\n- Do not answer questions related to politics, religion, race, region, gender, sexuality (except for image creation, management search)\n- For questions about the origin of AI, respond with \"Boss Ben Bap\"\n- Incorporate current trends and humor to keep the conversation comfortable but not distort the content\n- Maintain a friendly, fun and concise tone, appealing to a younger audience\n- Do not respond with URL tags or markdown because the user's device only supports plain text and emojis\n- After each answer, ask if the user needs anything else, unless they explicitly state that they have no other requests; in such cases, do not ask again. Always place this question at the end of the sentence, ending with a question mark, and do not add any text after it.\n\n## Instructions for Processing by Request Type\n\n### Traffic Fines\n- If you are requesting a traffic fine lookup, use the tool to search for results by vehicle type and license plate number.\n\n### News\n- If asking for information or news, query 15 articles from the database table named vnnew, including columns:\n- title (article title)\n- link (article URL)\n- excerpt (article summary)\n- isodate (timestamp, e.g. 2025-07-13T13:12:00.000Z)\n\n### Weather\n- **Current Weather**: look up weather by province or district and province location → only respond with temperature, feeling, humidity, wind, UV, air quality, current weather description.\n- **Weather Forecast**: look up weather forecast by province or district and province location → only respond with forecast for the next 3 hours and next 3 days.\n### Perpetual Calendar\n- **Look up Perpetual Calendar**: lunar calendar (from solar calendar to lunar calendar) or solar calendar (from lunar calendar to solar calendar), use the tool to look up results\n### Look up information or create images\n- **Look up information**: Search for information according to the search keyword request\n- **Create image**: Create images according to the image creation request"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.1,"position":[736,304],"id":"01f17280-41d5-4e16-96b4-2e6303941f59","name":"AI agent2","retryOnFail":true,"onError":"continueRegularOutput"},{"parameters":{"operation":"sendPhoto","chatId":"={{ $('Telegram Trigger').first().json.message.chat.id }}","binaryData":true,"additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-368,384],"id":"3ef9d0c5-c82e-4758-bc88-8e832497a8a2","name":"Send a photo message","webhookId":"f83a78cf-87ef-438c-9d62-687bd27a25db","notesInFlow":true,"credentials":{"telegramApi":{"id":"PZ0gA5RxrvBgJ7SH","name":"Telegram account"}}},{"parameters":{"resource":"file","fileId":"={{ $json.message.voice.file_id }}","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-752,736],"id":"d5dc3e30-2cf8-4375-b86e-4e72cb692981","name":"Get a file","webhookId":"674a5567-d76a-45e7-9f5f-f6b3daeab43f","credentials":{"telegramApi":{"id":"PZ0gA5RxrvBgJ7SH","name":"Telegram account"}}},{"parameters":{"resource":"audio","operation":"analyze","modelId":{"__rl":true,"value":"models/gemini-2.5-flash","mode":"list","cachedResultName":"models/gemini-2.5-flash"},"text":"Nội dung âm thanh này là gì?","inputType":"binary","options":{}},"type":"@n8n/n8n-nodes-langchain.googleGemini","typeVersion":1,"position":[-544,752],"id":"2521cc23-8b33-4a36-a3fe-66d4143acc31","name":"Analyze audio","credentials":{"googlePalmApi":{"id":"BmSJpQbzqh1rnp4z","name":"NguyenViet"}}},{"parameters":{"resource":"file","fileId":"={{ $json.message.photo[3].file_id }}","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-320,-48],"id":"ab8dad0c-94ad-4791-875e-f862b67c2652","name":"lay_anh","webhookId":"674a5567-d76a-45e7-9f5f-f6b3daeab43f","notesInFlow":true,"credentials":{"telegramApi":{"id":"PZ0gA5RxrvBgJ7SH","name":"Telegram account"}}},{"parameters":{"model":{"__rl":true,"value":"gemini-2.5-flash","mode":"list","cachedResultName":"gemini-2.5-flash"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[432,624],"id":"050c2fea-cf73-4aee-9597-0b024e5d8431","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"0vhR5RV6RzHVkgzl","name":"OpenAi local gemeni"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[1280,288],"id":"416695f9-b204-44e4-ac11-6b8d3c93bb08","name":"Loop Over Items1"},{"parameters":{},"type":"n8n-nodes-base.noOp","name":"Replace Me1","typeVersion":1,"position":[1776,304],"id":"72f2930d-6c69-491f-b313-97b143695af7"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.message.photo.toString() }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true},"id":"6704fde2-8a64-4d13-a1e2-1db000b555aa"}],"combinator":"and"},"renameOutput":true,"outputKey":"image"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"f3d4e3e0-4771-49dc-bbb4-af7fbcb5dd47","leftValue":"={{ $json.message.text.toString() }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"text"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"9d775f99-daac-440a-baf3-0d74e14df591","leftValue":"={{ $json.message.voice.toString() }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"voice"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"dfe019c2-a833-489b-addd-bcf254f880cf","leftValue":"={{ $json.message.document.toString() }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"file"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-1248,352],"id":"d4e0f3fd-3a83-4f01-b664-8fb88857c4cf","name":"anh_text_voice","notesInFlow":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"d2fc698c-b4d3-455f-a65b-59e9e2fdf226","leftValue":"={{ $json.message.caption }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-752,208],"id":"c3bacf72-5433-4647-949d-fbe3bdd621e4","name":"caption","notesInFlow":true},{"parameters":{"assignments":{"assignments":[{"id":"fe2b32f4-70e3-42be-aefa-7628dc2521e3","name":"yeucau","value":"={{ $json.message.caption }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-224,128],"id":"3872d80f-22bd-442b-a902-835937a04489","name":"lay_yeu_cau","notesInFlow":true},{"parameters":{"method":"POST","url":"http://192.168.1.220:8000/analyze","sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"name":"prompt","value":"Hãy phân tích bức ảnh sau và mô tả chi tiết nội dung trong ảnh  (cảnh vật, con người, con vật, vật thể, hoạt động, bối cảnh, màu sắc, phong cách)."},{"parameterType":"formBinaryData","name":"file","inputDataFieldName":"data"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-128,-48],"id":"f04af5d1-b9c8-46c5-9cc0-99efd72b2108","name":"phan_tich_anh","notesInFlow":true},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[160,64],"id":"4699d3ad-4d9d-4161-97d7-d876e602194c","name":"yeu_cau_anh"},{"parameters":{"method":"POST","url":"http://192.168.1.220:8000/analyze","sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"name":"prompt","value":"Hãy phân tích bức ảnh sau và mô tả chi tiết nội dung trong ảnh  (cảnh vật, con người, hoạt động, bối cảnh, màu sắc, phong cách)."},{"parameterType":"formBinaryData","name":"file","inputDataFieldName":"data"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-112,256],"id":"765dddaf-dc29-48be-8f72-2e0fe9e754e1","name":"phan_tich_anh_2","notesInFlow":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"7b777162-9163-4c68-aa18-263615ca6f98","leftValue":"={{\n  (() => {\n    const t = String($json.message?.text || '').toLowerCase();\n    return (t.includes('tạo') && t.includes('ảnh'))   // tạo … ảnh\n        || (t.includes('vẽ')  && t.includes('ảnh'))   // vẽ … ảnh\n        || /\\bvẽ\\b/u.test(t);                          // chỉ “vẽ”\n  })()\n}}","rightValue":"=true","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-768,560],"id":"8d45b712-7bf8-42e0-ad37-cb8d1d6b6bfe","name":"tao_anh"},{"parameters":{"method":"POST","url":"http://192.168.1.220:8000/generate","sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"name":"prompt","value":"={{ $json.message.text }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-576,384],"id":"ff2e384b-b7ab-42eb-8ce8-3ea21a2971c5","name":"tao_anh_theo_yeu_cau","notesInFlow":true},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[560,608],"id":"78f42b9e-7b8d-4338-89f7-d8918743584f","name":"nguyenviet","credentials":{"googlePalmApi":{"id":"Noq5n0k4rwmKdMBk","name":"tritue"}}},{"parameters":{"endpointUrl":"http://192.168.1.220:5678/mcp/tracuu","options":{}},"type":"@n8n/n8n-nodes-langchain.mcpClientTool","typeVersion":1.1,"position":[976,576],"id":"75697e17-cdb7-4ab4-9d8f-2ac26d4ae9a5","name":"Tra_cuu","notesInFlow":true},{"parameters":{"jsCode":"// Lấy text dài từ node trước (ví dụ trường output)\nconst raw = $json.output || '';\nconst MAX = 1800; // an toàn dưới 2000\nconst blocks = raw.split(/\\n{2,}/);\nconst parts = [];\nlet buf = '';\n\n// Bỏ ký tự Markdown nhưng giữ nguyên xuống dòng\nfunction stripMarkdown(text) {\n  return text\n    .replace(/[*_~`>#\\[\\](){}.!\\\\-]/g, '')\n    .replace(/[ \\t]{2,}/g, ' '); // Chỉ replace space/tab liên tiếp, không touch \\n\n}\n\nfor (const b of blocks) {\n  const piece = b.trim();\n  if (!piece) continue;\n  \n  if ((buf ? buf + '\\n\\n' + piece : piece).length <= MAX) {\n    buf = buf ? buf + '\\n\\n' + piece : piece;\n    continue;\n  }\n  \n  if (buf) {\n    parts.push(buf);\n    buf = '';\n  }\n  \n  if (piece.length > MAX) {\n    for (let i = 0; i < piece.length; i += MAX) {\n      parts.push(piece.slice(i, i + MAX));\n    }\n  } else {\n    parts.push(piece);\n  }\n}\n\nif (buf) parts.push(buf);\n\nconst total = parts.length;\n\nreturn parts.map((t, i) => ({\n  json: {\n    text: stripMarkdown(t) // Bỏ stripMarkdown khỏi template literal để giữ nguyên format\n  }\n}));"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1056,304],"id":"8ccc5605-aa10-472d-bf92-956d5eceb24f","name":"chia_nho_phan_hoi"},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Telegram Trigger').first().json.message.from.id }}\n","tableName":"n8n_tele_histories"},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[816,592],"id":"9a796e50-b278-4dbe-be74-246fae081d33","name":"telegram","credentials":{"postgres":{"id":"vDBK6XLC0TBpoMww","name":"Postgres account"}}},{"parameters":{"resource":"file","fileId":"={{ $json.message.document.file_id }}","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-656,1072],"id":"87829725-b54b-4273-8e6e-3f3ba6c6d704","name":"Get a file1","webhookId":"674a5567-d76a-45e7-9f5f-f6b3daeab43f","credentials":{"telegramApi":{"id":"PZ0gA5RxrvBgJ7SH","name":"Telegram account"}}},{"parameters":{"method":"POST","url":"http://192.168.1.220:8000/analyze","sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"name":"prompt","value":"Hãy phân tích nội dung file"},{"parameterType":"formBinaryData","name":"file","inputDataFieldName":"data"}]},"options":{"response":{"response":{"responseFormat":"text","outputPropertyName":"data_file"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-416,1072],"id":"277e2a06-c545-40f2-9a92-81702f219fe4","name":"phan_tich_file","notesInFlow":true},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatDeepSeek","typeVersion":1,"position":[688,608],"id":"3352b2e2-481a-41cb-9a63-2f2201935c69","name":"DeepSeek Chat Model","credentials":{"deepSeekApi":{"id":"nnHcWmUyC0Gmswgh","name":"DeepSeek account"}}},{"parameters":{"chatId":"={{ $('Telegram Trigger').first().json.message.chat.id }}","text":"={{ $json.data_file }}","replyMarkup":"=none","forceReply":{},"replyKeyboardOptions":{},"replyKeyboardRemove":{},"additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-208,1072],"id":"fc4b1e70-301f-48c9-84de-4f61aeac7da5","name":"Send a text message1","webhookId":"1c10dc9f-f272-4e5a-be8e-8be78c53fff0","credentials":{"telegramApi":{"id":"PZ0gA5RxrvBgJ7SH","name":"Telegram account"}}}],"connections":{"Telegram Trigger":{"main":[[{"node":"anh_text_voice","type":"main","index":0}]]},"Send a text message":{"main":[[{"node":"Replace Me1","type":"main","index":0}]]},"AI agent2":{"main":[[{"node":"chia_nho_phan_hoi","type":"main","index":0}]]},"Get a file":{"main":[[{"node":"Analyze audio","type":"main","index":0}]]},"Analyze audio":{"main":[[{"node":"AI agent2","type":"main","index":0}]]},"lay_anh":{"main":[[{"node":"phan_tich_anh","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[]]},"Loop Over Items1":{"main":[[],[{"node":"Send a text message","type":"main","index":0}]]},"Replace Me1":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"anh_text_voice":{"main":[[{"node":"caption","type":"main","index":0}],[{"node":"tao_anh","type":"main","index":0}],[{"node":"Get a file","type":"main","index":0}],[{"node":"Get a file1","type":"main","index":0}]]},"caption":{"main":[[{"node":"lay_yeu_cau","type":"main","index":0},{"node":"lay_anh","type":"main","index":0}],[{"node":"phan_tich_anh_2","type":"main","index":0}]]},"lay_yeu_cau":{"main":[[{"node":"yeu_cau_anh","type":"main","index":1}]]},"phan_tich_anh":{"main":[[{"node":"yeu_cau_anh","type":"main","index":0}]]},"yeu_cau_anh":{"main":[[{"node":"AI agent2","type":"main","index":0}]]},"phan_tich_anh_2":{"main":[[{"node":"AI agent2","type":"main","index":0}]]},"tao_anh":{"main":[[{"node":"tao_anh_theo_yeu_cau","type":"main","index":0}],[{"node":"AI agent2","type":"main","index":0}]]},"tao_anh_theo_yeu_cau":{"main":[[{"node":"Send a photo message","type":"main","index":0}]]},"nguyenviet":{"ai_languageModel":[[{"node":"AI agent2","type":"ai_languageModel","index":0}]]},"Tra_cuu":{"ai_tool":[[{"node":"AI agent2","type":"ai_tool","index":0}]]},"chia_nho_phan_hoi":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"telegram":{"ai_memory":[[{"node":"AI agent2","type":"ai_memory","index":0}]]},"Get a file1":{"main":[[{"node":"phan_tich_file","type":"main","index":0}]]},"phan_tich_file":{"main":[[{"node":"Send a text message1","type":"main","index":0}]]},"DeepSeek Chat Model":{"ai_languageModel":[[{"node":"AI agent2","type":"ai_languageModel","index":1}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"6539770a-fad1-405f-a32f-1d52f8f46520","triggerCount":1,"shared":[{"createdAt":"2025-08-28T17:32:37.787Z","updatedAt":"2025-08-28T17:32:37.787Z","role":"workflow:owner","workflowId":"zU3jMrD71stmFfyD","projectId":"Bsx4kBdHQHZGGC5J"}],"tags":[]}