xoagmailviet-1oN6cZF3zPVmnFBW.json
{"createdAt":"2025-08-15T15:59:36.460Z","updatedAt":"2025-09-04T14:21:34.462Z","id":"1oN6cZF3zPVmnFBW","name":"xoagmailviet","active":true,"isArchived":false,"nodes":[{"parameters":{"modelName":"models/gemini-2.0-flash","options":{}},"id":"594f315a-220a-4295-b3a3-1602864b47c3","name":"Google Gemini Chat Model2","type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","position":[-1472,864],"typeVersion":1,"credentials":{"googlePalmApi":{"id":"BmSJpQbzqh1rnp4z","name":"NguyenViet"}}},{"parameters":{"promptType":"define","text":"=Classify the email with decimal values (0 to 1) for isUnwantedConfidence, isMarketingConfidence, and isSpamConfidence, where 0 means clearly wanted (e.g., billing, invoices, orders, job applications, security) and 1 means clearly unwanted (e.g., promotions, setup reminders, irrelevant alerts, transfer successful, \"Subject\": \n\"[CAKE] Thông báo giao dịch thành công\"); treat system-generated alerts or device activity (like sound played, device found, location pinged) as unwanted unless they are security-related; use 0.5 as the baseline for deletion and provide a concise briefReason explaining the classification.\n{{ JSON.stringify($json) }}","hasOutputParser":true,"options":{}},"id":"5b33f03f-a1a7-440e-8e70-87926ca8a2c4","name":"AI Check Email1","type":"@n8n/n8n-nodes-langchain.agent","position":[-1456,656],"retryOnFail":true,"typeVersion":1.8,"alwaysOutputData":true,"onError":"continueErrorOutput"},{"parameters":{"schemaType":"manual","inputSchema":"{\n  \"type\": \"object\",\n  \"required\": [\n    \"emailId\",\n    \"isUnwantedConfidence\",\n    \"isMarketingConfidence\",\n    \"isSpamConfidence\",\n    \"briefReason\",\n    \"emailFrom\"\n  ],\n  \"properties\": {\n    \"emailId\": {\n      \"type\": \"string\",\n      \"description\": \"id from the email itself\"\n    },\n    \"isUnwantedConfidence\": {\n      \"type\": \"number\",\n      \"minimum\": 0,\n      \"maximum\": 1,\n      \"description\": \"confidence that the email is unwanted\"\n    },\n    \"isMarketingConfidence\": {\n      \"type\": \"number\",\n      \"minimum\": 0,\n      \"maximum\": 1,\n      \"description\": \"confidence that the email is marketing\"\n    },\n    \"isSpamConfidence\": {\n      \"type\": \"number\",\n      \"minimum\": 0,\n      \"maximum\": 1,\n      \"description\": \"confidence that the email is spam\"\n    },\n    \"briefReason\": {\n      \"type\": \"string\",\n      \"description\": \"a short reason why, more context for the reader\"\n    },\n    \"emailFrom\": {\n      \"type\": \"string\",\n      \"description\": \"the email address of the sender\"\n    }\n  }\n}\n"},"id":"1e744d91-9e69-4683-8bef-872014922c01","name":"Unwanted Email Output Parser1","type":"@n8n/n8n-nodes-langchain.outputParserStructured","position":[-1296,864],"typeVersion":1.2},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"or","conditions":[{"id":"c2b58601-60ff-45b4-a8a3-0d8543844a2d","operator":{"type":"number","operation":"gt"},"leftValue":"={{ $json.output.isUnwantedConfidence }}","rightValue":0.5},{"id":"ec441e67-046a-4c9c-bce7-85d984b86442","operator":{"type":"number","operation":"gt"},"leftValue":"={{ $json.output.isMarketingConfidence }}","rightValue":0.5},{"id":"80f9ced7-15b0-4dee-97a4-4b3f9ae9c81f","operator":{"type":"number","operation":"gt"},"leftValue":"={{ $json.output.isSpamConfidence }}","rightValue":0.5}]},"options":{}},"id":"42b16035-f71a-46b2-8c59-310b50801d1e","name":"If Unwanted Marketing or Spam1","type":"n8n-nodes-base.if","position":[-1152,512],"typeVersion":2.2,"alwaysOutputData":false},{"parameters":{},"id":"669d9a71-69f0-4ac5-87fc-4c35f77521e1","name":"Success1","type":"n8n-nodes-base.noOp","position":[736,592],"typeVersion":1},{"parameters":{"assignments":{"assignments":[{"id":"596ff68a-1df1-4148-8899-fdfa36238023","name":"page","type":"number","value":"={{ ($('Forward Prev Page Num1').isExecuted) ? $('Forward Prev Page Num1').first().json.prevPage + 1 : $('Initialize Loop Vars1').first().json.page }}"}]},"options":{}},"id":"d7de9122-9a5d-4277-8614-f54f8857c5a0","name":"Increment Loop Var1","type":"n8n-nodes-base.set","position":[-1904,656],"typeVersion":3.4},{"parameters":{"assignments":{"assignments":[{"id":"596ff68a-1df1-4148-8899-fdfa36238023","name":"prevPage","type":"number","value":"={{ $('Increment Loop Var1').first().json.page }}"}]},"options":{}},"id":"69ce70df-2af9-4a16-869b-ce816fc5c0ea","name":"Forward Prev Page Num1","type":"n8n-nodes-base.set","position":[1136,864],"typeVersion":3.4},{"parameters":{"assignments":{"assignments":[{"id":"5e1583e5-597d-40e9-b656-5f3259b4fe25","name":"page","type":"number","value":0}]},"options":{}},"id":"71b64558-77ce-49d5-b29d-1a2835c5e47b","name":"Initialize Loop Vars1","type":"n8n-nodes-base.set","position":[-2288,672],"typeVersion":3.4},{"parameters":{"aggregate":"aggregateAllItemData","options":{}},"id":"9e149882-2d2b-4695-85a1-501038e9a61a","name":"Aggregate1","type":"n8n-nodes-base.aggregate","position":[880,800],"typeVersion":1},{"parameters":{"resource":"service","operation":"call","domain":"zalo_bot","service":"send_message","serviceAttributes":{"attributes":[{"name":"message","value":"=Skipping Email | {{ $('If Unwanted Marketing or Spam1').item.json.output.emailFrom }} | {{ $('If Unwanted Marketing or Spam1').item.json.output.briefReason }}"},{"name":"thread_id","value":"=6643404425553198601"},{"name":"account_selection","value":"=+84947762285"},{"name":"type","value":"0"}]}},"type":"n8n-nodes-base.homeAssistant","typeVersion":1,"position":[176,880],"id":"5512e0ff-65a0-465a-9c95-8a0e4f89ad88","name":"Call a service1","credentials":{"homeAssistantApi":{"id":"1lV5PEu2rtjuQlDB","name":"Home Assistant account"}}},{"parameters":{"resource":"service","operation":"call","domain":"zalo_bot","service":"send_message","serviceAttributes":{"attributes":[{"name":"message","value":"=AI Error | Can't Check Email | Error: {{ JSON.stringify($json) }}"},{"name":"thread_id","value":"=6643404425553198601"},{"name":"account_selection","value":"=+84947762285"},{"name":"type","value":"0"}]}},"type":"n8n-nodes-base.homeAssistant","typeVersion":1,"position":[-464,832],"id":"109c70b8-6d7c-4849-9b4b-5bb9c2d8468f","name":"Call a service2","credentials":{"homeAssistantApi":{"id":"1lV5PEu2rtjuQlDB","name":"Home Assistant account"}}},{"parameters":{"resource":"service","operation":"call","domain":"zalo_bot","service":"send_message","serviceAttributes":{"attributes":[{"name":"message","value":"=Can't Delete Email"},{"name":"thread_id","value":"=6643404425553198601"},{"name":"account_selection","value":"=+84947762285"},{"name":"type","value":"0"}]}},"type":"n8n-nodes-base.homeAssistant","typeVersion":1,"position":[16,160],"id":"8d3fbd40-348d-479f-96f8-e960293c11cd","name":"Call a service3","credentials":{"homeAssistantApi":{"id":"1lV5PEu2rtjuQlDB","name":"Home Assistant account"}}},{"parameters":{"resource":"service","operation":"call","domain":"zalo_bot","service":"send_message","serviceAttributes":{"attributes":[{"name":"message","value":"=Email Deleted | {{ $('If Unwanted Marketing or Spam1').item.json.output.emailFrom }} | {{ $('If Unwanted Marketing or Spam1').item.json.output.briefReason }}"},{"name":"thread_id","value":"=6643404425553198601"},{"name":"account_selection","value":"=+84947762285"},{"name":"type","value":"0"}]}},"type":"n8n-nodes-base.homeAssistant","typeVersion":1,"position":[0,0],"id":"4c79eb09-0a36-4f91-8ca9-60230a82dd46","name":"Call a service4","credentials":{"homeAssistantApi":{"id":"1lV5PEu2rtjuQlDB","name":"Home Assistant account"}}},{"parameters":{"descriptionType":"manual","toolDescription":"Tool to read all existing gmail labels","resource":"label","returnAll":true},"id":"70df025a-8290-48a1-8d98-c6169ef88f61","name":"Gmail - read labels","type":"n8n-nodes-base.gmailTool","position":[-448,640],"webhookId":"d8ec9401-a9ff-4fe2-9c1e-5a8036cd96c9","typeVersion":2.1,"credentials":{"gmailOAuth2":{"id":"RgYFdPUJ820D4HyQ","name":"nguyenvanviet"}}},{"parameters":{"descriptionType":"manual","toolDescription":"Tool to add label to message","operation":"addLabels","messageId":"={{ $fromAI('gmail_message_id') }}","labelIds":"={{ $fromAI('gmail_categories', 'array of label ids') }}"},"id":"8ac9c1e9-1128-46ab-9fd5-fa23b2161225","name":"Gmail - add label to message","type":"n8n-nodes-base.gmailTool","position":[-160,672],"webhookId":"7a87b026-1c6e-40e1-a062-aefdd1af1585","typeVersion":2.1,"credentials":{"gmailOAuth2":{"id":"RgYFdPUJ820D4HyQ","name":"nguyenvanviet"}}},{"parameters":{"descriptionType":"manual","toolDescription":"Tool to create a new label, only use if label does not already exist","resource":"label","operation":"create","name":"={{ $fromAI('new_label_name', 'new label name', 'string' ) }} ","options":{}},"id":"7679e56f-70c5-4ac1-8205-2274162da937","name":"Gmail - create label","type":"n8n-nodes-base.gmailTool","position":[-32,672],"webhookId":"d8ec9401-a9ff-4fe2-9c1e-5a8036cd96c9","typeVersion":2.1,"credentials":{"gmailOAuth2":{"id":"RgYFdPUJ820D4HyQ","name":"nguyenvanviet"}}},{"parameters":{"promptType":"define","text":"=Label the email based on the details below:\n{{ JSON.stringify($json) }}","options":{"systemMessage":"Objective:\nAutomatically categorize incoming emails based on existing Gmail labels or create a new label if none match.\n\nTools:\n- Get message\n- Read all labels\n- Create label\n- Assign label to message\n\nInstructions:\n\nLabel Matching:\n\nAnalyze the email's subject, sender, recipient, keywords, and content.\nCompare with existing Gmail labels to find the most relevant match.\nLabel Assignment:\n\nAssign the email to the most appropriate existing label.`\nRemove the inbox label if the email is of less importance (like ads, promotions, aka \"Reclame\"), keep normal and important emails in the inbox.\nIf no suitable label exists, create a new label based on the existing labels. Try reusing existing labels as much as possible. Always create a label as a sublabel, if no label applies, if the main label already exists, create the new label under the existing label, if no main label exists, create the label AI and create the new label under this label.\nLabel Creation:\n\nEnsure new labels align with the structure of existing ones, including capitalization, delimiters, and prefixes.\nExamples:\n\nIf the email subject is \"Project Alpha Update,\" assign to [Project Alpha] if it exists.\nFor \"New Vendor Inquiry,\" create \"Vendor Inquiry\" if no relevant label exists.\nOutcome:\nEmails are consistently categorized under the appropriate or newly created labels, maintaining Gmail's organizational structure.","maxIterations":5}},"id":"7f482441-8fb0-4d25-8ff7-de2a196634eb","name":"Gmail labelling agent","type":"@n8n/n8n-nodes-langchain.agent","position":[-528,384],"notesInFlow":true,"retryOnFail":false,"typeVersion":1.7,"onError":"continueErrorOutput","notes":"Objective:\nAutomatically categorize incoming emails based on existing Gmail labels or create a new label if none match.\n\nTools:\n- Get message\n- Read all labels\n- Create label\n- Assign label to message\n\nInstructions:\n\nLabel Matching:\n\nAnalyze the email's subject, sender, recipient, keywords, and content.\nCompare with existing Gmail labels to find the most relevant match.\nLabel Assignment:\n\nAssign the email to the most appropriate existing label.`\nRemove the inbox label if the email is of less importance (like ads, promotions, aka \"Reclame\"), keep normal and important emails in the inbox.\nIf no suitable label exists, create a new label based on the existing labels. Try reusing existing labels as much as possible. Always create a label as a sublabel, if no label applies, if the main label already exists, create the new label under the existing label, if no main label exists, create the label AI and create the new label under this label.\nLabel Creation:\n\nEnsure new labels align with the structure of existing ones, including capitalization, delimiters, and prefixes.\nExamples:\n\nIf the email subject is \"Project Alpha Update,\" assign to [Project Alpha] if it exists.\nFor \"New Vendor Inquiry,\" create \"Vendor Inquiry\" if no relevant label exists.\nOutcome:\nEmails are consistently categorized under the appropriate or newly created labels, maintaining Gmail's organizational structure."},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $json.id }}"},"id":"bcb6fb84-a68f-462a-99f1-d606e2b809bb","name":"Window Buffer Memory","type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","position":[-544,576],"typeVersion":1.3},{"parameters":{"amount":1},"id":"9b07852b-2cc7-4722-825e-4ab2bed85029","name":"Wait","type":"n8n-nodes-base.wait","position":[-720,448],"webhookId":"2066b863-4526-40cf-90aa-82229895a73c","typeVersion":1.1},{"parameters":{"operation":"getAll","returnAll":true,"filters":{"includeSpamTrash":false,"q":"=before: {{ $now.plus(1, 'days').minus(14 * $('Increment Loop Var1').first().json.page, 'days').format('yyyy/MM/dd') }}\nafter:  {{ $now.minus(14 * ($('Increment Loop Var1').first().json.page + 1), 'days').format('yyyy/MM/dd') }}\n"}},"id":"e675b701-91c3-4c2d-a0d2-5a780097e21b","name":"Gmail Get viet","type":"n8n-nodes-base.gmail","position":[-1664,640],"webhookId":"c8979b0a-2ec3-484d-a11b-eac321cc0642","notesInFlow":true,"typeVersion":2.1,"alwaysOutputData":false,"credentials":{"gmailOAuth2":{"id":"RgYFdPUJ820D4HyQ","name":"nguyenvanviet"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[-688,656],"id":"46a69e90-f628-49c9-b947-064f4fe5534d","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"Noq5n0k4rwmKdMBk","name":"tritue"}}},{"parameters":{"descriptionType":"manual","toolDescription":"Tool to read a specific message based on the message ID","operation":"get","messageId":"={{ $fromAI('gmail_message_id', 'id of the gmail message, like 1944fdc33f544369', 'string') }}"},"id":"89a4157b-4fa7-436a-9b72-3acb903d482b","name":"Gmail - get message","type":"n8n-nodes-base.gmailTool","position":[-320,624],"webhookId":"d8ec9401-a9ff-4fe2-9c1e-5a8036cd96c9","typeVersion":2.1,"credentials":{"gmailOAuth2":{"id":"RgYFdPUJ820D4HyQ","name":"nguyenvanviet"}}},{"parameters":{"operation":"getAll","filters":{}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[-896,480],"id":"94a4dd2e-8841-4183-b70e-9c24b72b0337","name":"Get many viet","webhookId":"63b14a28-e2fa-4e60-8eb5-ebd22370d60b","credentials":{"gmailOAuth2":{"id":"RgYFdPUJ820D4HyQ","name":"nguyenvanviet"}}},{"parameters":{"operation":"delete","messageId":"={{ $json.output.emailId }}"},"id":"b21596b2-0885-49fa-ac92-c87552089963","name":"GmailDeleteviet","type":"n8n-nodes-base.gmail","position":[-720,128],"webhookId":"ab1d1ae0-ebd9-411d-b807-17976867597a","retryOnFail":false,"typeVersion":2.1,"alwaysOutputData":false,"credentials":{"gmailOAuth2":{"id":"RgYFdPUJ820D4HyQ","name":"nguyenvanviet"}},"onError":"continueErrorOutput"},{"parameters":{"options":{}},"type":"n8n-nodes-base.emailReadImap","typeVersion":2.1,"position":[-2816,720],"id":"25431866-959e-4e4f-9c8f-793b2968cb18","name":"Email Trigger (IMAP)","credentials":{"imap":{"id":"hEa9ue55LN63htGc","name":"nguyenvanviet210290@gmail.com"}}},{"parameters":{"amount":30},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-2640,704],"id":"004d835e-88f3-463e-ab35-ddafcdf11880","name":"Wait1","webhookId":"f2e34a78-301c-41d9-9b68-d46262d2cf77"},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-2528,512],"id":"bdd80b8c-72b6-4293-ab8a-9190a263666c","name":"When clicking ‘Execute workflow’"}],"connections":{"Google Gemini Chat Model2":{"ai_languageModel":[[{"node":"AI Check Email1","type":"ai_languageModel","index":0}]]},"AI Check Email1":{"main":[[{"node":"If Unwanted Marketing or Spam1","type":"main","index":0}]]},"Unwanted Email Output Parser1":{"ai_outputParser":[[{"node":"AI Check Email1","type":"ai_outputParser","index":0}]]},"If Unwanted Marketing or Spam1":{"main":[[{"node":"GmailDeleteviet","type":"main","index":0}],[]]},"Success1":{"main":[[{"node":"Aggregate1","type":"main","index":0}]]},"Increment Loop Var1":{"main":[[{"node":"Gmail Get viet","type":"main","index":0}]]},"Forward Prev Page Num1":{"main":[[{"node":"Initialize Loop Vars1","type":"main","index":0}]]},"Initialize Loop Vars1":{"main":[[{"node":"Increment Loop Var1","type":"main","index":0}]]},"Aggregate1":{"main":[[{"node":"Forward Prev Page Num1","type":"main","index":0}]]},"Call a service1":{"main":[[{"node":"Success1","type":"main","index":0}]]},"Call a service2":{"main":[[{"node":"Success1","type":"main","index":0}]]},"Call a service3":{"main":[[{"node":"Success1","type":"main","index":0}]]},"Call a service4":{"main":[[{"node":"Success1","type":"main","index":0}]]},"Gmail - read labels":{"ai_tool":[[{"node":"Gmail labelling agent","type":"ai_tool","index":0}]]},"Gmail - add label to message":{"ai_tool":[[{"node":"Gmail labelling agent","type":"ai_tool","index":0}]]},"Gmail - create label":{"ai_tool":[[{"node":"Gmail labelling agent","type":"ai_tool","index":0}]]},"Gmail labelling agent":{"main":[[{"node":"Success1","type":"main","index":0}],[{"node":"Success1","type":"main","index":0}]]},"Window Buffer Memory":{"ai_memory":[[{"node":"Gmail labelling agent","type":"ai_memory","index":0}]]},"Wait":{"main":[[{"node":"Gmail labelling agent","type":"main","index":0}]]},"Gmail Get viet":{"main":[[{"node":"AI Check Email1","type":"main","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"Gmail labelling agent","type":"ai_languageModel","index":0}]]},"Gmail - get message":{"ai_tool":[[{"node":"Gmail labelling agent","type":"ai_tool","index":0}]]},"Get many viet":{"main":[[{"node":"Wait","type":"main","index":0}]]},"GmailDeleteviet":{"main":[[{"node":"Success1","type":"main","index":0}],[{"node":"Success1","type":"main","index":0}]]},"Email Trigger (IMAP)":{"main":[[{"node":"Wait1","type":"main","index":0}]]},"Wait1":{"main":[[]]},"When clicking ‘Execute workflow’":{"main":[[{"node":"Initialize Loop Vars1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]},"node:Email Trigger (IMAP)":{"lastMessageUid":13345}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"2e491741-28ae-4f58-8990-9969618aa457","triggerCount":1,"shared":[{"createdAt":"2025-08-15T15:59:36.460Z","updatedAt":"2025-08-15T15:59:36.460Z","role":"workflow:owner","workflowId":"1oN6cZF3zPVmnFBW","projectId":"Bsx4kBdHQHZGGC5J"}],"tags":[]}