xoamailtritue-m6rvpsHppKW95NzU.json
{"createdAt":"2025-08-15T16:00:39.630Z","updatedAt":"2025-09-03T13:36:29.641Z","id":"m6rvpsHppKW95NzU","name":"xoamailtritue","active":false,"isArchived":true,"nodes":[{"parameters":{"modelName":"models/gemini-2.0-flash","options":{}},"id":"e9ffa795-92d8-4448-8819-0b0687016844","name":"Google Gemini Chat Model5","type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","position":[-1472,864],"typeVersion":1,"credentials":{"googlePalmApi":{"id":"Iu2pwTGpG2LSxJWb","name":"Mitbap"}}},{"parameters":{"promptType":"define","text":"=Classify the email with decimal values (0 to 1) for isUnwantedConfidence, isMarketingConfidence, and isSpamConfidence, where 0 means clearly wanted (e.g., billing, invoices, orders, job applications, security) and 1 means clearly unwanted (e.g., promotions, setup reminders, irrelevant alerts, bank transfer successful, Thông báo giao dịch thành công); treat system-generated alerts or device activity (like sound played, device found, location pinged) as unwanted unless they are security-related; use 0.5 as the baseline for deletion and provide a concise briefReason explaining the classification.\n{{ JSON.stringify($json) }}","hasOutputParser":true,"options":{}},"id":"428fb418-5dd6-47a8-9edc-3451971cfb71","name":"AI Check Email","type":"@n8n/n8n-nodes-langchain.agent","position":[-1456,656],"retryOnFail":true,"typeVersion":1.8,"alwaysOutputData":true,"onError":"continueErrorOutput"},{"parameters":{"schemaType":"manual","inputSchema":"{\n  \"type\": \"object\",\n  \"required\": [\n    \"emailId\",\n    \"isUnwantedConfidence\",\n    \"isMarketingConfidence\",\n    \"isSpamConfidence\",\n    \"briefReason\",\n    \"emailFrom\"\n  ],\n  \"properties\": {\n    \"emailId\": {\n      \"type\": \"string\",\n      \"description\": \"id from the email itself\"\n    },\n    \"isUnwantedConfidence\": {\n      \"type\": \"number\",\n      \"minimum\": 0,\n      \"maximum\": 1,\n      \"description\": \"confidence that the email is unwanted\"\n    },\n    \"isMarketingConfidence\": {\n      \"type\": \"number\",\n      \"minimum\": 0,\n      \"maximum\": 1,\n      \"description\": \"confidence that the email is marketing\"\n    },\n    \"isSpamConfidence\": {\n      \"type\": \"number\",\n      \"minimum\": 0,\n      \"maximum\": 1,\n      \"description\": \"confidence that the email is spam\"\n    },\n    \"briefReason\": {\n      \"type\": \"string\",\n      \"description\": \"a short reason why, more context for the reader\"\n    },\n    \"emailFrom\": {\n      \"type\": \"string\",\n      \"description\": \"the email address of the sender\"\n    }\n  }\n}\n"},"id":"1af67bfe-a326-4e61-bd54-ce9358f8b345","name":"Unwanted Email Output Parser","type":"@n8n/n8n-nodes-langchain.outputParserStructured","position":[-1296,864],"typeVersion":1.2},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"or","conditions":[{"id":"c2b58601-60ff-45b4-a8a3-0d8543844a2d","operator":{"type":"number","operation":"gt"},"leftValue":"={{ $json.output.isUnwantedConfidence }}","rightValue":0.5},{"id":"ec441e67-046a-4c9c-bce7-85d984b86442","operator":{"type":"number","operation":"gt"},"leftValue":"={{ $json.output.isMarketingConfidence }}","rightValue":0.5},{"id":"80f9ced7-15b0-4dee-97a4-4b3f9ae9c81f","operator":{"type":"number","operation":"gt"},"leftValue":"={{ $json.output.isSpamConfidence }}","rightValue":0.5}]},"options":{}},"id":"daae3d83-b306-4ee0-8b58-baaba4c73458","name":"If Unwanted Marketing or Spam","type":"n8n-nodes-base.if","position":[-1152,512],"typeVersion":2.2,"alwaysOutputData":false},{"parameters":{},"id":"d1ffd220-2b8a-4314-a6da-eb1b22815630","name":"Success","type":"n8n-nodes-base.noOp","position":[672,688],"typeVersion":1},{"parameters":{"assignments":{"assignments":[{"id":"596ff68a-1df1-4148-8899-fdfa36238023","name":"page","type":"number","value":"={{ ($('Forward Prev Page Num').isExecuted) ? $('Forward Prev Page Num').first().json.prevPage + 1 : $('Initialize Loop Vars').first().json.page }}"}]},"options":{}},"id":"6cc4d280-8b45-4302-9b9e-f759e4dae16b","name":"Increment Loop Var","type":"n8n-nodes-base.set","position":[-1904,656],"typeVersion":3.4},{"parameters":{"assignments":{"assignments":[{"id":"596ff68a-1df1-4148-8899-fdfa36238023","name":"prevPage","type":"number","value":"={{ $('Increment Loop Var').first().json.page }}"}]},"options":{}},"id":"6bd2eb5e-1886-41a2-9766-6420561e5b3c","name":"Forward Prev Page Num","type":"n8n-nodes-base.set","position":[1136,864],"typeVersion":3.4},{"parameters":{"assignments":{"assignments":[{"id":"5e1583e5-597d-40e9-b656-5f3259b4fe25","name":"page","type":"number","value":0}]},"options":{}},"id":"7fac2cfc-32fb-45b1-9112-095545989c6b","name":"Initialize Loop Vars","type":"n8n-nodes-base.set","position":[-2016,640],"typeVersion":3.4},{"parameters":{"aggregate":"aggregateAllItemData","options":{}},"id":"70cfbe4c-2011-4582-8d56-6ba1b1c7e68c","name":"Aggregate","type":"n8n-nodes-base.aggregate","position":[880,800],"typeVersion":1},{"parameters":{"resource":"service","operation":"call","domain":"zalo_bot","service":"send_message","serviceAttributes":{"attributes":[{"name":"message","value":"=Skipping Email | {{ $('If Unwanted Marketing or Spam').item.json.output.emailFrom }} | {{ $('If Unwanted Marketing or Spam').item.json.output.briefReason }}"},{"name":"thread_id","value":"=6643404425553198601"},{"name":"account_selection","value":"=+84947762285"},{"name":"type","value":"0"}]}},"type":"n8n-nodes-base.homeAssistant","typeVersion":1,"position":[112,352],"id":"e53ba859-5840-41a6-aff7-f5acac7fb6b2","name":"Call a service5","credentials":{"homeAssistantApi":{"id":"1lV5PEu2rtjuQlDB","name":"Home Assistant account"}}},{"parameters":{"resource":"service","operation":"call","domain":"zalo_bot","service":"send_message","serviceAttributes":{"attributes":[{"name":"message","value":"=AI Error | Can't Check Email | Error: {{ JSON.stringify($json) }}"},{"name":"thread_id","value":"=6643404425553198601"},{"name":"account_selection","value":"=+84947762285"},{"name":"type","value":"0"}]}},"type":"n8n-nodes-base.homeAssistant","typeVersion":1,"position":[-464,832],"id":"cce3b952-7e02-4f8c-88be-14acb764a52f","name":"Call a service6","credentials":{"homeAssistantApi":{"id":"1lV5PEu2rtjuQlDB","name":"Home Assistant account"}}},{"parameters":{"resource":"service","operation":"call","domain":"zalo_bot","service":"send_message","serviceAttributes":{"attributes":[{"name":"message","value":"=Can't Delete Email"},{"name":"thread_id","value":"=6643404425553198601"},{"name":"account_selection","value":"=+84947762285"},{"name":"type","value":"0"}]}},"type":"n8n-nodes-base.homeAssistant","typeVersion":1,"position":[0,192],"id":"6d4cd748-5b2b-4e1d-8a5b-7fa451227e0c","name":"Call a service7","credentials":{"homeAssistantApi":{"id":"1lV5PEu2rtjuQlDB","name":"Home Assistant account"}}},{"parameters":{"resource":"service","operation":"call","domain":"zalo_bot","service":"send_message","serviceAttributes":{"attributes":[{"name":"message","value":"=Email Deleted | {{ $('If Unwanted Marketing or Spam').item.json.output.emailFrom }} | {{ $('If Unwanted Marketing or Spam').item.json.output.briefReason }}"},{"name":"thread_id","value":"=6643404425553198601"},{"name":"account_selection","value":"=+84947762285"},{"name":"type","value":"0"}]}},"type":"n8n-nodes-base.homeAssistant","typeVersion":1,"position":[0,0],"id":"6db979a0-5f19-4cbf-a29b-18ad1474ccbe","name":"Call a service8","credentials":{"homeAssistantApi":{"id":"1lV5PEu2rtjuQlDB","name":"Home Assistant account"}}},{"parameters":{"descriptionType":"manual","toolDescription":"Tool to read all existing gmail labels","resource":"label","returnAll":true},"id":"5ed4d925-0332-4166-8b79-24bec2de0369","name":"Gmail - read labels1","type":"n8n-nodes-base.gmailTool","position":[-448,640],"webhookId":"d8ec9401-a9ff-4fe2-9c1e-5a8036cd96c9","typeVersion":2.1,"credentials":{"gmailOAuth2":{"id":"cEHL1SjIG1MkndDb","name":"tritue"}}},{"parameters":{"descriptionType":"manual","toolDescription":"Tool to add label to message","operation":"addLabels","messageId":"={{ $fromAI('gmail_message_id') }}","labelIds":"={{ $fromAI('gmail_categories', 'array of label ids') }}"},"id":"67c703d5-59fc-4b90-8da1-9eed1b5e6533","name":"Gmail - add label to message1","type":"n8n-nodes-base.gmailTool","position":[-160,672],"webhookId":"7a87b026-1c6e-40e1-a062-aefdd1af1585","typeVersion":2.1,"credentials":{"gmailOAuth2":{"id":"cEHL1SjIG1MkndDb","name":"tritue"}}},{"parameters":{"descriptionType":"manual","toolDescription":"Tool to create a new label, only use if label does not already exist","resource":"label","operation":"create","name":"={{ $fromAI('new_label_name', 'new label name', 'string' ) }} ","options":{}},"id":"5227ffef-11a1-4259-af44-bc67bbaeecb6","name":"Gmail - create label1","type":"n8n-nodes-base.gmailTool","position":[64,704],"webhookId":"d8ec9401-a9ff-4fe2-9c1e-5a8036cd96c9","typeVersion":2.1,"credentials":{"gmailOAuth2":{"id":"cEHL1SjIG1MkndDb","name":"tritue"}}},{"parameters":{"promptType":"define","text":"=Label the email based on the details below:\n{{ JSON.stringify($json) }}","options":{"systemMessage":"Objective:\nAutomatically categorize incoming emails based on existing Gmail labels or create a new label if none match.\n\nTools:\n- Get message\n- Read all labels\n- Create label\n- Assign label to message\n\nInstructions:\n\nLabel Matching:\n\nAnalyze the email's subject, sender, recipient, keywords, and content.\nCompare with existing Gmail labels to find the most relevant match.\nLabel Assignment:\n\nAssign the email to the most appropriate existing label.`\nRemove the inbox label if the email is of less importance (like ads, promotions, aka \"Reclame\"), keep normal and important emails in the inbox.\nIf no suitable label exists, create a new label based on the existing labels. Try reusing existing labels as much as possible. Always create a label as a sublabel, if no label applies, if the main label already exists, create the new label under the existing label, if no main label exists, create the label AI and create the new label under this label.\nLabel Creation:\n\nEnsure new labels align with the structure of existing ones, including capitalization, delimiters, and prefixes.\nExamples:\n\nIf the email subject is \"Project Alpha Update,\" assign to [Project Alpha] if it exists.\nFor \"New Vendor Inquiry,\" create \"Vendor Inquiry\" if no relevant label exists.\nOutcome:\nEmails are consistently categorized under the appropriate or newly created labels, maintaining Gmail's organizational structure.","maxIterations":5}},"id":"48e46c74-4a19-4628-9c2e-5e92b7e98ca4","name":"Gmail labelling agent1","type":"@n8n/n8n-nodes-langchain.agent","position":[-528,384],"notesInFlow":true,"retryOnFail":false,"typeVersion":1.7,"onError":"continueErrorOutput","notes":"Objective:\nAutomatically categorize incoming emails based on existing Gmail labels or create a new label if none match.\n\nTools:\n- Get message\n- Read all labels\n- Create label\n- Assign label to message\n\nInstructions:\n\nLabel Matching:\n\nAnalyze the email's subject, sender, recipient, keywords, and content.\nCompare with existing Gmail labels to find the most relevant match.\nLabel Assignment:\n\nAssign the email to the most appropriate existing label.`\nRemove the inbox label if the email is of less importance (like ads, promotions, aka \"Reclame\"), keep normal and important emails in the inbox.\nIf no suitable label exists, create a new label based on the existing labels. Try reusing existing labels as much as possible. Always create a label as a sublabel, if no label applies, if the main label already exists, create the new label under the existing label, if no main label exists, create the label AI and create the new label under this label.\nLabel Creation:\n\nEnsure new labels align with the structure of existing ones, including capitalization, delimiters, and prefixes.\nExamples:\n\nIf the email subject is \"Project Alpha Update,\" assign to [Project Alpha] if it exists.\nFor \"New Vendor Inquiry,\" create \"Vendor Inquiry\" if no relevant label exists.\nOutcome:\nEmails are consistently categorized under the appropriate or newly created labels, maintaining Gmail's organizational structure."},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $json.id }}"},"id":"3b90410c-7391-4a82-bf65-2bbbd848c46a","name":"Window Buffer Memory1","type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","position":[-544,576],"typeVersion":1.3},{"parameters":{"amount":1},"id":"002af5ff-6444-4f3a-a6a3-157a613cc5bd","name":"Wait1","type":"n8n-nodes-base.wait","position":[-720,448],"webhookId":"2066b863-4526-40cf-90aa-82229895a73c","typeVersion":1.1},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[-688,608],"id":"d20219f6-cc9c-4883-bb5e-6f46724d7ec4","name":"Google Gemini Chat Model6","credentials":{"googlePalmApi":{"id":"BmSJpQbzqh1rnp4z","name":"NguyenViet"}}},{"parameters":{"descriptionType":"manual","toolDescription":"Tool to read a specific message based on the message ID","operation":"get","messageId":"={{ $fromAI('gmail_message_id', 'id of the gmail message, like 1944fdc33f544369', 'string') }}"},"id":"3b6bc06a-df9b-4bf2-9fbd-a92dd1922d0e","name":"Gmail - get message1","type":"n8n-nodes-base.gmailTool","position":[-320,624],"webhookId":"d8ec9401-a9ff-4fe2-9c1e-5a8036cd96c9","typeVersion":2.1,"credentials":{"gmailOAuth2":{"id":"cEHL1SjIG1MkndDb","name":"tritue"}}},{"parameters":{"operation":"getAll","returnAll":true,"filters":{"includeSpamTrash":false,"q":"=before:{{ $now.minus(14 * $('Increment Loop Var').first().json.page, 'days').format('yyyy/MM/dd') }} after: {{ $now.minus(14 * ($('Increment Loop Var').first().json.page + 1), 'days').format('yyyy/MM/dd') }} -label:n8n-skipped"}},"id":"d1dfc337-fb6d-492e-9a01-5043a90a39e1","name":"Gmail Get tritue","type":"n8n-nodes-base.gmail","position":[-1664,640],"webhookId":"c8979b0a-2ec3-484d-a11b-eac321cc0642","notesInFlow":true,"typeVersion":2.1,"alwaysOutputData":false,"credentials":{"gmailOAuth2":{"id":"cEHL1SjIG1MkndDb","name":"tritue"}}},{"parameters":{"operation":"delete","messageId":"={{ $json.output.emailId }}"},"id":"7de526d4-2489-4670-ac99-7f2cad7def3b","name":"GmailDeletetritue","type":"n8n-nodes-base.gmail","position":[-720,128],"webhookId":"ab1d1ae0-ebd9-411d-b807-17976867597a","retryOnFail":false,"typeVersion":2.1,"alwaysOutputData":false,"credentials":{"gmailOAuth2":{"id":"cEHL1SjIG1MkndDb","name":"tritue"}},"onError":"continueErrorOutput"},{"parameters":{"operation":"getAll","filters":{}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[-896,480],"id":"cdff2b24-53c9-47a5-8221-3f8234194250","name":"Get many tritue","webhookId":"63b14a28-e2fa-4e60-8eb5-ebd22370d60b","credentials":{"gmailOAuth2":{"id":"cEHL1SjIG1MkndDb","name":"tritue"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.emailReadImap","typeVersion":2.1,"position":[-2544,656],"id":"2302859b-3df3-492a-8aea-9c9d8186fd1f","name":"Email Trigger (IMAP)","credentials":{"imap":{"id":"SadEBUHgwO6Iv3qj","name":"tritue0610@gmail.com"}}},{"parameters":{"amount":60},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-2336,656],"id":"9e9b8411-63a1-4b8f-8cc3-0eaf15ebfbf4","name":"Wait","webhookId":"7046b9f9-4af9-45c5-bea2-9df8f766d3f0"},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-2304,528],"id":"1a70bf95-902f-46f5-9b93-d44121a65a59","name":"When clicking ‘Execute workflow’"}],"connections":{"Google Gemini Chat Model5":{"ai_languageModel":[[{"node":"AI Check Email","type":"ai_languageModel","index":0}]]},"AI Check Email":{"main":[[{"node":"If Unwanted Marketing or Spam","type":"main","index":0}],[{"node":"Success","type":"main","index":0}]]},"Unwanted Email Output Parser":{"ai_outputParser":[[{"node":"AI Check Email","type":"ai_outputParser","index":0}]]},"If Unwanted Marketing or Spam":{"main":[[{"node":"GmailDeletetritue","type":"main","index":0}],[{"node":"Get many tritue","type":"main","index":0}]]},"Success":{"main":[[{"node":"Aggregate","type":"main","index":0}]]},"Increment Loop Var":{"main":[[{"node":"Gmail Get tritue","type":"main","index":0}]]},"Forward Prev Page Num":{"main":[[{"node":"Initialize Loop Vars","type":"main","index":0}]]},"Initialize Loop Vars":{"main":[[{"node":"Increment Loop Var","type":"main","index":0}]]},"Aggregate":{"main":[[{"node":"Forward Prev Page Num","type":"main","index":0}]]},"Call a service5":{"main":[[{"node":"Success","type":"main","index":0}]]},"Call a service6":{"main":[[{"node":"Success","type":"main","index":0}]]},"Call a service7":{"main":[[{"node":"Success","type":"main","index":0}]]},"Call a service8":{"main":[[{"node":"Success","type":"main","index":0}]]},"Gmail - read labels1":{"ai_tool":[[{"node":"Gmail labelling agent1","type":"ai_tool","index":0}]]},"Gmail - add label to message1":{"ai_tool":[[{"node":"Gmail labelling agent1","type":"ai_tool","index":0}]]},"Gmail - create label1":{"ai_tool":[[{"node":"Gmail labelling agent1","type":"ai_tool","index":0}]]},"Gmail labelling agent1":{"main":[[{"node":"Success","type":"main","index":0}],[{"node":"Success","type":"main","index":0}]]},"Window Buffer Memory1":{"ai_memory":[[{"node":"Gmail labelling agent1","type":"ai_memory","index":0}]]},"Wait1":{"main":[[{"node":"Gmail labelling agent1","type":"main","index":0}]]},"Google Gemini Chat Model6":{"ai_languageModel":[[{"node":"Gmail labelling agent1","type":"ai_languageModel","index":0}]]},"Gmail - get message1":{"ai_tool":[[{"node":"Gmail labelling agent1","type":"ai_tool","index":0}]]},"Gmail Get tritue":{"main":[[{"node":"AI Check Email","type":"main","index":0}]]},"GmailDeletetritue":{"main":[[{"node":"Success","type":"main","index":0}],[{"node":"Success","type":"main","index":0}]]},"Get many tritue":{"main":[[{"node":"Wait1","type":"main","index":0}]]},"Email Trigger (IMAP)":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Wait":{"main":[[]]},"When clicking ‘Execute workflow’":{"main":[[{"node":"Initialize Loop Vars","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger1":{"recurrenceRules":[]},"node:Email Trigger (IMAP)":{"lastMessageUid":2316}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"57e9c3d5-db7c-4859-8494-a05ea5b1d0e2","triggerCount":1,"shared":[{"createdAt":"2025-08-15T16:00:39.630Z","updatedAt":"2025-08-15T16:00:39.630Z","role":"workflow:owner","workflowId":"m6rvpsHppKW95NzU","projectId":"Bsx4kBdHQHZGGC5J"}],"tags":[]}