youtube-Pp1TCxr6az0azNfG.json
{"createdAt":"2025-08-16T02:16:37.688Z","updatedAt":"2025-08-25T16:41:19.351Z","id":"Pp1TCxr6az0azNfG","name":"youtube","active":false,"isArchived":true,"nodes":[{"parameters":{"jsCode":"// Input: items[0].json.data = HTML chuỗi\n// Output: items[0].json.text = chuỗi định dạng theo bố cục yêu cầu\n\nfunction decodeHtmlEntities(str) {\n  if (!str) return '';\n  str = str.replace(/&#(\\d+);/g, (_, code) => String.fromCharCode(parseInt(code, 10)));\n  str = str.replace(/&#x([0-9a-fA-F]+);/g, (_, code) => String.fromCharCode(parseInt(code, 16)));\n  const map = { '&nbsp;': ' ', '&amp;': '&', '&lt;': '<', '&gt;': '>', '&quot;': '\"', '&apos;': \"'\" };\n  return str.replace(/&[a-zA-Z]+;/g, m => map[m] || m);\n}\n\nfunction stripTags(str) {\n  return decodeHtmlEntities(String(str || '')\n    .replace(/<br\\s*\\/?>/gi, '\\n')\n    .replace(/<[^>]*>/g, ''))\n    .replace(/\\u00A0/g, ' ')\n    .trim();\n}\n\n// Lấy bảng <table class=\"table1\"> đầu tiên trong HTML\nfunction firstTable1(html) {\n  const m = html.match(/<table[^>]*class=\"[^\"]*\\btable1\\b[^\"]*\"[^>]*>[\\s\\S]*?<\\/\\s*table\\s*>/i);\n  return m ? m[0] : '';\n}\n\n// Bắt giá trị theo nhãn bên trái trong cùng một <tr>\nfunction textAfter(label, htmlScope) {\n  const re = new RegExp(\n    `<tr>\\\\s*<td[^>]*>\\\\s*${label}\\\\s*<\\\\/\\\\s*td\\\\s*>\\\\s*<td[^>]*>([\\\\s\\\\S]*?)<\\\\/\\\\s*td\\\\s*>\\\\s*<\\\\/\\\\s*tr\\\\s*>`,\n    'i'\n  );\n  const m = htmlScope.match(re);\n  return m ? stripTags(m[1]) : '';\n}\n\n// Tìm table theo tiêu đề h3/h2 gần nhất (linh hoạt)\nfunction extractTableByTitle(html, titleRegex) {\n  const re = new RegExp(\n    `<table[^>]*class=\"[^\"]*table1[^\"]*\"[^>]*>[\\\\s\\\\S]*?${titleRegex}[\\\\s\\\\S]*?<\\\\/\\\\s*table\\\\s*>`,\n    'i'\n  );\n  const m = html.match(re);\n  return m ? m[0] : '';\n}\n\nfunction extractRows3cols(tableHtml) {\n  const rows = [];\n  const trRe = /<tr>([\\s\\S]*?)<\\/\\s*tr\\s*>/gi;\n  let m;\n  while ((m = trRe.exec(tableHtml))) {\n    const tds = Array.from(m[1].matchAll(/<td[^>]*>([\\s\\S]*?)<\\/\\s*td\\s*>/gi)).map(x => stripTags(x[1]));\n    if (tds.length === 3) rows.push({ c1: tds[0], c2: tds[1], c3: tds[2] });\n  }\n  return rows;\n}\n\nfunction extractSectionByH3Title(html, title) {\n  const re = new RegExp(\n    `<table[^>]*class=\"[^\"]*table1[^\"]*\"[^>]*>[\\\\s\\\\S]*?<h3[^>]*>\\\\s*${title}\\\\s*<\\\\/\\\\s*h3\\\\s*>[\\\\s\\\\S]*?<\\\\/\\\\s*table\\\\s*>`,\n    'i'\n  );\n  const m = html.match(re);\n  return m ? m[0] : '';\n}\n\nfunction extractGioBlock(html, blockTitle) {\n  const tbl = extractSectionByH3Title(html, blockTitle);\n  const rows = extractRows3cols(tbl);\n  return rows.map(r => ({ time: r.c1, diaChi: r.c2, sao: r.c3 }));\n}\n\nfunction extractTuoiXungKhac(html) {\n  const sec = extractTableByTitle(html, /Tuổi xung khắc/i);\n  const body = stripTags(sec);\n  const xungNgay = (body.match(/Xung ngày:\\s*([^\\n]+)/i)?.[1] || '').split(/,\\s*/).filter(Boolean);\n  const xungThang = (body.match(/Xung tháng:\\s*([^\\n]+)/i)?.[1] || '').split(/,\\s*/).filter(Boolean);\n  return { xungNgay, xungThang };\n}\n\nfunction extractNgocHap(html) {\n  const goodTbl = extractTableByTitle(html, /Ngày tốt xấu theo ngọc hạp thông thư[\\s\\S]*?Sao tốt/i);\n  const good = [];\n  let m;\n  const trRe = /<tr>\\s*<td[^>]*>([\\s\\S]*?)<\\/\\s*td\\s*>\\s*<td[^>]*>([\\s\\S]*?)<\\/\\s*td\\s*>\\s*<\\/\\s*tr\\s*>/gi;\n  while ((m = trRe.exec(goodTbl))) {\n    const left = stripTags(m[1]); const right = stripTags(m[2]);\n    if (/Sao tốt|Việc nên làm/i.test(left)) continue;\n    if (left && right) good.push({ sao: left, note: right });\n  }\n  const badTbl = extractTableByTitle(html, /Sao xấu/i);\n  const bad = [];\n  let m2;\n  const trRe2 = /<tr>\\s*<td[^>]*>([\\s\\S]*?)<\\/\\s*td\\s*>\\s*<td[^>]*>([\\s\\S]*?)<\\/\\s*td\\s*>\\s*<\\/\\s*tr\\s*>/gi;\n  while ((m2 = trRe2.exec(badTbl))) {\n    const left = stripTags(m2[1]); const right = stripTags(m2[2]);\n    if (/Sao xấu|Việc nên kỵ/i.test(left)) continue;\n    if (left && right) bad.push({ sao: left, note: right });\n  }\n  return { good, bad };\n}\n\nfunction extractXuatHanh(html) {\n  const tbl = extractTableByTitle(html, /Ngày, giờ, hướng xuất hành/i);\n  const text = stripTags(tbl);\n  const hy = (text.match(/Hỷ thần[^:]*:\\s*Hướng\\s*([^\\n]+)/i)?.[1] || '').trim();\n  const tai = (text.match(/Tài thần[^:]*:\\s*Hướng\\s*([^\\n]+)/i)?.[1] || '').trim();\n  return { hy, tai };\n}\n\nfunction extractKhongMinh(html) {\n  const tbl = extractTableByTitle(html, /Ngày xuất hành[^<]*theo Khổng Minh/i);\n  const body = stripTags(tbl);\n  const m = body.match(/([^\\n]+?)\\s*\\((TỐT|Tốt|XẤU|Xấu)\\)\\s*([^\\n]+)/i);\n  if (m) return { ten: m[1].trim(), danhGia: m[2].toUpperCase(), moTa: m[3].trim() };\n  return { ten: '', danhGia: '', moTa: '' };\n}\n\nfunction extractLyThuanPhong(html) {\n  const all = [];\n  const secRe = /<div class=\"nam-xua-item-1s\">([\\s\\S]*?)<\\/\\s*div\\s*>\\s*<\\/\\s*div\\s*>/gi;\n  let m;\n  while ((m = secRe.exec(html))) {\n    const block = m[1];\n    const leftRaw = block.match(/<div[^>]*left-nam-xua[^>]*>[\\s\\S]*?<span[^>]*>([\\s\\S]*?)<\\/\\s*span\\s*>/i)?.[1] || '';\n    const right = block.match(/<div[^>]*right-nam-xua[^>]*>[\\s\\S]*?<\\/\\s*div\\s*>/i)?.[0] || '';\n    const times = stripTags(leftRaw).split(/\\s*\\n\\s*/).map(s => s.trim()).filter(Boolean);\n    const nhan = (right.match(/>\\s*([^:<]+):\\s*<span/i)?.[1] || '').trim();\n    const danhGia = (right.match(/(TỐT|XẤU)/i)?.[1] || '').toUpperCase();\n    all.push({ nhan, danhGia, times });\n  }\n  const tot = [];\n  const xau = [];\n  for (const it of all) {\n    if (it.danhGia === 'TỐT') tot.push(`${it.nhan} (${it.times.join(', ')})`);\n    else if (it.danhGia === 'XẤU') xau.push(`${it.nhan} (${it.times.join(', ')})`);\n  }\n  return { tot, xau };\n}\n\nfunction extractNguHanhTrachNhat(html) {\n  const tbl = extractTableByTitle(html, /Ngũ hành[^<]*\\(trạch nhật\\)/i);\n  const body = stripTags(tbl);\n  const nienMenh = (body.match(/Ngũ hành niên mệnh:\\s*([^\\n]+)/i)?.[1] || '').trim();\n  const ngayCat = body.match(/ngày cát|\\(bảo nhật\\)/i) ? 'Ngày cát (bảo nhật)' : '';\n  const kyTuoiLine = (body.match(/kị tuổi:\\s*([^\\n]+)/i)?.[1] || '').trim();\n  const kyTuoi = kyTuoiLine ? kyTuoiLine.split(/,\\s*/).filter(Boolean) : [];\n  const hopXungLine = (body.match(/Ngày\\s+[^\\n]+/i)?.[0] || '').trim();\n  const tamSat = (body.match(/Tam Sát kị mệnh tuổi\\s*:\\s*([^\\n]+)/i)?.[1] || '').trim();\n  return { nienMenh, ngayCat, kyTuoi, hopXungLine, tamSat };\n}\n\n// ---------- BẮT ĐẦU ----------\n// CHÚ Ý: Function node dùng \"items\", KHÔNG dùng $input/$('...') như Expression.\nconst html = String(items?.[0]?.json?.data || '');\n\n// Lấy bảng đầu (thông tin ngày tháng…)\nconst infoTable = firstTable1(html);\n\n// Các trường trong bảng đầu\nconst duongLich = textAfter('Dương lịch', infoTable);\nconst amLich   = textAfter('Âm lịch', infoTable).replace(/\\s+/g, ' ').trim();\nconst canChi   = textAfter('Can chi', infoTable);\nconst nguHanh  = textAfter('Ngũ hành', infoTable);\nconst loaiNgay = textAfter('Ngày', infoTable);\nconst tietKhi  = stripTags(\n  (infoTable.match(/Tiết Khí[\\s\\S]*?<td[^>]*>([\\s\\S]*?)<\\/\\s*td\\s*>/i)?.[1]) || ''\n);\n\n// Giờ hoàng đạo / hắc đạo\nconst hoangDao = extractGioBlock(html, 'Giờ Hoàng đạo');\nconst hacDao   = extractGioBlock(html, 'Giờ Hắc đạo');\n\n// Ngũ hành trạch nhật\nconst nh = extractNguHanhTrachNhat(html);\n\n// Trực ngày\nconst trucTbl = extractTableByTitle(html, /Xem ngày tốt xấu theo trực/i);\nconst trucNgay = stripTags(trucTbl).replace(/Xem ngày tốt xấu theo trực/i, '').trim();\n\n// Tuổi xung khắc\nconst { xungNgay, xungThang } = extractTuoiXungKhac(html);\n\n// Ngọc hạp\nconst nhap = extractNgocHap(html);\n\n// Xuất hành\nconst { hy, tai } = extractXuatHanh(html);\n\n// Khổng Minh\nconst km = extractKhongMinh(html);\n\n// Lý Thuần Phong\nconst ltp = extractLyThuanPhong(html);\n\n// ---------- KẾT QUẢ THEO BỐ CỤC ----------\nconst text =\n`🗓 Ngày tháng\n\nDương lịch: ${duongLich || ''}\nÂm lịch: ${amLich || ''}\nCan chi: ${canChi || ''}\nNgũ hành: ${nguHanh || ''}\nNgày: ${loaiNgay || ''}\nTiết khí: ${tietKhi || ''}\n\n⏰ Giờ hoàng đạo – hắc đạo\n\nGiờ Hoàng đạo (tốt):\n${hoangDao.map(x => `${x.time} (${x.diaChi} – ${x.sao})`).join('\\n')}\n\nGiờ Hắc đạo (xấu):\n${hacDao.map(x => `${x.time} (${x.diaChi} – ${x.sao})`).join('\\n')}\n\n📜 Ngũ hành (trạch nhật)\n\nNiên mệnh: ${nh.nienMenh || ''}\n${nh.ngayCat ? (nh.ngayCat[0].toUpperCase() + nh.ngayCat.slice(1)) : ''}\nKỵ tuổi: ${nh.kyTuoi.join(', ') || ''}\nHợp & xung: ${nh.hopXungLine || ''}\n${nh.tamSat ? `Tam Sát kỵ mệnh tuổi: ${nh.tamSat}` : ''}\n\n📅 Trực ngày\n\n${trucNgay || ''}\n\n⚖ Tuổi xung khắc\n\nXung ngày: ${xungNgay.join(', ') || ''}\nXung tháng: ${xungThang.join(', ') || ''}\n\n💠 Ngọc hạp thông thư\n\nSao tốt:\n${nhap.good.map(g => `${g.sao}: ${g.note}`).join('\\n')}\n\nSao xấu:\n${nhap.bad.map(b => `${b.sao}: ${b.note}`).join('\\n')}\n\n🧭 Xuất hành\n\nHỷ thần: ${hy ? `${hy} (tốt)` : ''}\nTài thần: ${tai ? `${tai} (tốt)` : ''}\n\nNgày xuất hành theo Khổng Minh:\n${km.ten ? `${km.ten} (${km.danhGia === 'TỐT' ? 'Tốt' : 'Xấu'}) – ${km.moTa}` : ''}\n\n⏳ Giờ xuất hành theo Lý Thuần Phong\n\nXấu: ${ltp.xau.join(', ')}\nTốt: ${ltp.tot.join(', ')}\n`.replace(/[ \\t]+\\n/g, '\\n').trim();\n\nreturn [{ json: { text } }];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[416,0],"id":"72079ed7-334c-40c5-9185-5a23a080a520","name":"Code"},{"parameters":{"url":"https://lichngaytot.com/Ajax/DoiNgayAmDuongAjax?Date=15&Month=08&Year=2025&Type=1","sendHeaders":true,"headerParameters":{"parameters":[{"name":"User-Agent","value":"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/138.0.0.0 Safari/537.36"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[208,0],"id":"19685993-7a58-4409-9e67-c60283190834","name":"amlich"},{"parameters":{"url":"https://lichngaytot.com/Ajax/DoiNgayAmDuongAjax?Date=15&Month=08&Year=2025&Type=0","sendHeaders":true,"headerParameters":{"parameters":[{"name":"User-Agent","value":"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/138.0.0.0 Safari/537.36"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[208,144],"id":"1819b1fa-ab3b-40f1-a6c0-db48f60f9635","name":"amlich1"},{"parameters":{"jsCode":"// Input: items[0].json.data = HTML chuỗi\n// Output: items[0].json.text = chuỗi định dạng theo bố cục yêu cầu\n\nfunction decodeHtmlEntities(str) {\n  if (!str) return '';\n  str = str.replace(/&#(\\d+);/g, (_, code) => String.fromCharCode(parseInt(code, 10)));\n  str = str.replace(/&#x([0-9a-fA-F]+);/g, (_, code) => String.fromCharCode(parseInt(code, 16)));\n  const map = { '&nbsp;': ' ', '&amp;': '&', '&lt;': '<', '&gt;': '>', '&quot;': '\"', '&apos;': \"'\" };\n  return str.replace(/&[a-zA-Z]+;/g, m => map[m] || m);\n}\n\nfunction stripTags(str) {\n  return decodeHtmlEntities(String(str || '')\n    .replace(/<br\\s*\\/?>/gi, '\\n')\n    .replace(/<[^>]*>/g, ''))\n    .replace(/\\u00A0/g, ' ')\n    .trim();\n}\n\n// Lấy bảng <table class=\"table1\"> đầu tiên trong HTML\nfunction firstTable1(html) {\n  const m = html.match(/<table[^>]*class=\"[^\"]*\\btable1\\b[^\"]*\"[^>]*>[\\s\\S]*?<\\/\\s*table\\s*>/i);\n  return m ? m[0] : '';\n}\n\n// Bắt giá trị theo nhãn bên trái trong cùng một <tr>\nfunction textAfter(label, htmlScope) {\n  const re = new RegExp(\n    `<tr>\\\\s*<td[^>]*>\\\\s*${label}\\\\s*<\\\\/\\\\s*td\\\\s*>\\\\s*<td[^>]*>([\\\\s\\\\S]*?)<\\\\/\\\\s*td\\\\s*>\\\\s*<\\\\/\\\\s*tr\\\\s*>`,\n    'i'\n  );\n  const m = htmlScope.match(re);\n  return m ? stripTags(m[1]) : '';\n}\n\n// Tìm table theo tiêu đề h3/h2 gần nhất (linh hoạt)\nfunction extractTableByTitle(html, titleRegex) {\n  const re = new RegExp(\n    `<table[^>]*class=\"[^\"]*table1[^\"]*\"[^>]*>[\\\\s\\\\S]*?${titleRegex}[\\\\s\\\\S]*?<\\\\/\\\\s*table\\\\s*>`,\n    'i'\n  );\n  const m = html.match(re);\n  return m ? m[0] : '';\n}\n\nfunction extractRows3cols(tableHtml) {\n  const rows = [];\n  const trRe = /<tr>([\\s\\S]*?)<\\/\\s*tr\\s*>/gi;\n  let m;\n  while ((m = trRe.exec(tableHtml))) {\n    const tds = Array.from(m[1].matchAll(/<td[^>]*>([\\s\\S]*?)<\\/\\s*td\\s*>/gi)).map(x => stripTags(x[1]));\n    if (tds.length === 3) rows.push({ c1: tds[0], c2: tds[1], c3: tds[2] });\n  }\n  return rows;\n}\n\nfunction extractSectionByH3Title(html, title) {\n  const re = new RegExp(\n    `<table[^>]*class=\"[^\"]*table1[^\"]*\"[^>]*>[\\\\s\\\\S]*?<h3[^>]*>\\\\s*${title}\\\\s*<\\\\/\\\\s*h3\\\\s*>[\\\\s\\\\S]*?<\\\\/\\\\s*table\\\\s*>`,\n    'i'\n  );\n  const m = html.match(re);\n  return m ? m[0] : '';\n}\n\nfunction extractGioBlock(html, blockTitle) {\n  const tbl = extractSectionByH3Title(html, blockTitle);\n  const rows = extractRows3cols(tbl);\n  return rows.map(r => ({ time: r.c1, diaChi: r.c2, sao: r.c3 }));\n}\n\nfunction extractTuoiXungKhac(html) {\n  const sec = extractTableByTitle(html, /Tuổi xung khắc/i);\n  const body = stripTags(sec);\n  const xungNgay = (body.match(/Xung ngày:\\s*([^\\n]+)/i)?.[1] || '').split(/,\\s*/).filter(Boolean);\n  const xungThang = (body.match(/Xung tháng:\\s*([^\\n]+)/i)?.[1] || '').split(/,\\s*/).filter(Boolean);\n  return { xungNgay, xungThang };\n}\n\nfunction extractNgocHap(html) {\n  const goodTbl = extractTableByTitle(html, /Ngày tốt xấu theo ngọc hạp thông thư[\\s\\S]*?Sao tốt/i);\n  const good = [];\n  let m;\n  const trRe = /<tr>\\s*<td[^>]*>([\\s\\S]*?)<\\/\\s*td\\s*>\\s*<td[^>]*>([\\s\\S]*?)<\\/\\s*td\\s*>\\s*<\\/\\s*tr\\s*>/gi;\n  while ((m = trRe.exec(goodTbl))) {\n    const left = stripTags(m[1]); const right = stripTags(m[2]);\n    if (/Sao tốt|Việc nên làm/i.test(left)) continue;\n    if (left && right) good.push({ sao: left, note: right });\n  }\n  const badTbl = extractTableByTitle(html, /Sao xấu/i);\n  const bad = [];\n  let m2;\n  const trRe2 = /<tr>\\s*<td[^>]*>([\\s\\S]*?)<\\/\\s*td\\s*>\\s*<td[^>]*>([\\s\\S]*?)<\\/\\s*td\\s*>\\s*<\\/\\s*tr\\s*>/gi;\n  while ((m2 = trRe2.exec(badTbl))) {\n    const left = stripTags(m2[1]); const right = stripTags(m2[2]);\n    if (/Sao xấu|Việc nên kỵ/i.test(left)) continue;\n    if (left && right) bad.push({ sao: left, note: right });\n  }\n  return { good, bad };\n}\n\nfunction extractXuatHanh(html) {\n  const tbl = extractTableByTitle(html, /Ngày, giờ, hướng xuất hành/i);\n  const text = stripTags(tbl);\n  const hy = (text.match(/Hỷ thần[^:]*:\\s*Hướng\\s*([^\\n]+)/i)?.[1] || '').trim();\n  const tai = (text.match(/Tài thần[^:]*:\\s*Hướng\\s*([^\\n]+)/i)?.[1] || '').trim();\n  return { hy, tai };\n}\n\nfunction extractKhongMinh(html) {\n  const tbl = extractTableByTitle(html, /Ngày xuất hành[^<]*theo Khổng Minh/i);\n  const body = stripTags(tbl);\n  const m = body.match(/([^\\n]+?)\\s*\\((TỐT|Tốt|XẤU|Xấu)\\)\\s*([^\\n]+)/i);\n  if (m) return { ten: m[1].trim(), danhGia: m[2].toUpperCase(), moTa: m[3].trim() };\n  return { ten: '', danhGia: '', moTa: '' };\n}\n\nfunction extractLyThuanPhong(html) {\n  const all = [];\n  const secRe = /<div class=\"nam-xua-item-1s\">([\\s\\S]*?)<\\/\\s*div\\s*>\\s*<\\/\\s*div\\s*>/gi;\n  let m;\n  while ((m = secRe.exec(html))) {\n    const block = m[1];\n    const leftRaw = block.match(/<div[^>]*left-nam-xua[^>]*>[\\s\\S]*?<span[^>]*>([\\s\\S]*?)<\\/\\s*span\\s*>/i)?.[1] || '';\n    const right = block.match(/<div[^>]*right-nam-xua[^>]*>[\\s\\S]*?<\\/\\s*div\\s*>/i)?.[0] || '';\n    const times = stripTags(leftRaw).split(/\\s*\\n\\s*/).map(s => s.trim()).filter(Boolean);\n    const nhan = (right.match(/>\\s*([^:<]+):\\s*<span/i)?.[1] || '').trim();\n    const danhGia = (right.match(/(TỐT|XẤU)/i)?.[1] || '').toUpperCase();\n    all.push({ nhan, danhGia, times });\n  }\n  const tot = [];\n  const xau = [];\n  for (const it of all) {\n    if (it.danhGia === 'TỐT') tot.push(`${it.nhan} (${it.times.join(', ')})`);\n    else if (it.danhGia === 'XẤU') xau.push(`${it.nhan} (${it.times.join(', ')})`);\n  }\n  return { tot, xau };\n}\n\nfunction extractNguHanhTrachNhat(html) {\n  const tbl = extractTableByTitle(html, /Ngũ hành[^<]*\\(trạch nhật\\)/i);\n  const body = stripTags(tbl);\n  const nienMenh = (body.match(/Ngũ hành niên mệnh:\\s*([^\\n]+)/i)?.[1] || '').trim();\n  const ngayCat = body.match(/ngày cát|\\(bảo nhật\\)/i) ? 'Ngày cát (bảo nhật)' : '';\n  const kyTuoiLine = (body.match(/kị tuổi:\\s*([^\\n]+)/i)?.[1] || '').trim();\n  const kyTuoi = kyTuoiLine ? kyTuoiLine.split(/,\\s*/).filter(Boolean) : [];\n  const hopXungLine = (body.match(/Ngày\\s+[^\\n]+/i)?.[0] || '').trim();\n  const tamSat = (body.match(/Tam Sát kị mệnh tuổi\\s*:\\s*([^\\n]+)/i)?.[1] || '').trim();\n  return { nienMenh, ngayCat, kyTuoi, hopXungLine, tamSat };\n}\n\n// ---------- BẮT ĐẦU ----------\n// CHÚ Ý: Function node dùng \"items\", KHÔNG dùng $input/$('...') như Expression.\nconst html = String(items?.[0]?.json?.data || '');\n\n// Lấy bảng đầu (thông tin ngày tháng…)\nconst infoTable = firstTable1(html);\n\n// Các trường trong bảng đầu\nconst duongLich = textAfter('Dương lịch', infoTable);\nconst amLich   = textAfter('Âm lịch', infoTable).replace(/\\s+/g, ' ').trim();\nconst canChi   = textAfter('Can chi', infoTable);\nconst nguHanh  = textAfter('Ngũ hành', infoTable);\nconst loaiNgay = textAfter('Ngày', infoTable);\nconst tietKhi  = stripTags(\n  (infoTable.match(/Tiết Khí[\\s\\S]*?<td[^>]*>([\\s\\S]*?)<\\/\\s*td\\s*>/i)?.[1]) || ''\n);\n\n// Giờ hoàng đạo / hắc đạo\nconst hoangDao = extractGioBlock(html, 'Giờ Hoàng đạo');\nconst hacDao   = extractGioBlock(html, 'Giờ Hắc đạo');\n\n// Ngũ hành trạch nhật\nconst nh = extractNguHanhTrachNhat(html);\n\n// Trực ngày\nconst trucTbl = extractTableByTitle(html, /Xem ngày tốt xấu theo trực/i);\nconst trucNgay = stripTags(trucTbl).replace(/Xem ngày tốt xấu theo trực/i, '').trim();\n\n// Tuổi xung khắc\nconst { xungNgay, xungThang } = extractTuoiXungKhac(html);\n\n// Ngọc hạp\nconst nhap = extractNgocHap(html);\n\n// Xuất hành\nconst { hy, tai } = extractXuatHanh(html);\n\n// Khổng Minh\nconst km = extractKhongMinh(html);\n\n// Lý Thuần Phong\nconst ltp = extractLyThuanPhong(html);\n\n// ---------- KẾT QUẢ THEO BỐ CỤC ----------\nconst text =\n`🗓 Ngày tháng\n\nDương lịch: ${duongLich || ''}\nÂm lịch: ${amLich || ''}\nCan chi: ${canChi || ''}\nNgũ hành: ${nguHanh || ''}\nNgày: ${loaiNgay || ''}\nTiết khí: ${tietKhi || ''}\n\n⏰ Giờ hoàng đạo – hắc đạo\n\nGiờ Hoàng đạo (tốt):\n${hoangDao.map(x => `${x.time} (${x.diaChi} – ${x.sao})`).join('\\n')}\n\nGiờ Hắc đạo (xấu):\n${hacDao.map(x => `${x.time} (${x.diaChi} – ${x.sao})`).join('\\n')}\n\n📜 Ngũ hành (trạch nhật)\n\nNiên mệnh: ${nh.nienMenh || ''}\n${nh.ngayCat ? (nh.ngayCat[0].toUpperCase() + nh.ngayCat.slice(1)) : ''}\nKỵ tuổi: ${nh.kyTuoi.join(', ') || ''}\nHợp & xung: ${nh.hopXungLine || ''}\n${nh.tamSat ? `Tam Sát kỵ mệnh tuổi: ${nh.tamSat}` : ''}\n\n📅 Trực ngày\n\n${trucNgay || ''}\n\n⚖ Tuổi xung khắc\n\nXung ngày: ${xungNgay.join(', ') || ''}\nXung tháng: ${xungThang.join(', ') || ''}\n\n💠 Ngọc hạp thông thư\n\nSao tốt:\n${nhap.good.map(g => `${g.sao}: ${g.note}`).join('\\n')}\n\nSao xấu:\n${nhap.bad.map(b => `${b.sao}: ${b.note}`).join('\\n')}\n\n🧭 Xuất hành\n\nHỷ thần: ${hy ? `${hy} (tốt)` : ''}\nTài thần: ${tai ? `${tai} (tốt)` : ''}\n\nNgày xuất hành theo Khổng Minh:\n${km.ten ? `${km.ten} (${km.danhGia === 'TỐT' ? 'Tốt' : 'Xấu'}) – ${km.moTa}` : ''}\n\n⏳ Giờ xuất hành theo Lý Thuần Phong\n\nXấu: ${ltp.xau.join(', ')}\nTốt: ${ltp.tot.join(', ')}\n`.replace(/[ \\t]+\\n/g, '\\n').trim();\n\nreturn [{ json: { text } }];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[432,144],"id":"9ce0e47e-86be-46b5-84df-2d089b7556ad","name":"Code1"},{"parameters":{"documentId":{"__rl":true,"value":"17RZ1emGeV8gkiBhr_Mub8O9WTL9-TMAyimGg0TX48aU","mode":"list","cachedResultName":"TẠO HÌNH ẢNH CHATGPT - HEO","cachedResultUrl":"https://docs.google.com/spreadsheets/d/17RZ1emGeV8gkiBhr_Mub8O9WTL9-TMAyimGg0TX48aU/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":747727828,"mode":"list","cachedResultName":"SHOP","cachedResultUrl":"https://docs.google.com/spreadsheets/d/17RZ1emGeV8gkiBhr_Mub8O9WTL9-TMAyimGg0TX48aU/edit#gid=747727828"},"filtersUI":{"values":[{"lookupColumn":"Trạng thái","lookupValue":"Tạo Hình"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[-4176,-16],"id":"883535a7-1254-4f0e-895f-7d27c3d19ecf","name":"Google Sheets4"},{"parameters":{"amount":30},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-4160,848],"id":"d0733285-ec02-40be-ac06-8416d5946a1b","name":"Wait","webhookId":"5f8f3725-e376-49b3-b16a-7177cf161909"},{"parameters":{"assignments":{"assignments":[{"id":"1816f4ba-638b-43ff-96ee-53673c016183","name":"url_image","value":"={{ $('Loop Over Items').item.json['Link Ảnh'] }}","type":"string"},{"id":"e1074a63-6710-40d2-bf0f-8c9f6c2aee50","name":"Prompt","value":"={{ $('Loop Over Items').item.json.Prompt }}","type":"string"},{"id":"214fcd38-939f-4ba5-9db7-2604c989c175","name":"row_number","value":"={{ $('Loop Over Items').item.json.row_number }}","type":"number"},{"id":"6417cc2d-6615-47f7-9e07-7f157b880823","name":"faceLink","value":"={{ $json.faceLink }}","type":"string"},{"id":"99572ce8-d5b0-4fd7-845a-e8c2d44e0e29","name":"ID","value":"={{ $json.ID }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-4624,672],"id":"a847c3fe-87ef-4494-83a5-f1a8df291c12","name":"Get Url Image","executeOnce":false},{"parameters":{"method":"POST","url":"http://localhost:5001/open_chat","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"{\n    \"chat_id\": \"g-682fcdc7632881918b818842888578b9-chuyen-gia-hinh-anh\"\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-4592,-16],"id":"888fc91f-00e4-4df5-b4d6-e16b3851355c","name":"Mở Chat","executeOnce":true},{"parameters":{"method":"POST","url":"http://localhost:5001/interact","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"message\": \"Tạo hình ảnh, không hỏi lại theo prompt này: {{ $('Get Url Image').item.json.Prompt }}\",\n    \"image_path\": [\"{{ $('Get Url Image').item.json.url_image }}\",\"{{ $('Get Url Image').item.json.faceLink }}\"]\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-4384,880],"id":"ecd960c9-bc7c-4929-a264-dc73c28d3f5e","name":"Tạo Ảnh","executeOnce":true,"retryOnFail":true,"waitBetweenTries":5000,"onError":"continueRegularOutput"},{"parameters":{"method":"POST","url":"http://localhost:5001/check_image_generation","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={  \n    \"timeout\": 30,\n    \"check_interval\": 2\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-3936,848],"id":"52c96af6-279b-48ea-81f8-996b5fab405a","name":"Lấy kết quả","executeOnce":true,"retryOnFail":true,"waitBetweenTries":5000},{"parameters":{"url":"={{ $json.details.images.urls[0] }}","options":{"response":{"response":{"responseFormat":"file"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-3712,320],"id":"daa0fc21-e883-4051-b389-2092cb5df7bd","name":"HTTP Request BINARY","executeOnce":true,"onError":"continueRegularOutput"},{"parameters":{"operation":"share","fileId":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"permissionsUi":{"permissionsValues":{"role":"reader","type":"anyone"}},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-2976,48],"id":"1e3d1db2-f315-49b0-ab75-1f46287a7190","name":"Google Drive3"},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-4400,-16],"id":"a992bf45-d551-4fb4-85fa-4884723f0c13","name":"Wait1","webhookId":"9c5245da-581b-4d0d-9022-3b88cd2c3178"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-5024,528],"id":"ea08a50a-805c-46fc-994b-509a347d3817","name":"Loop Over Items"},{"parameters":{},"type":"n8n-nodes-base.noOp","name":"Replace Me","typeVersion":1,"position":[-1824,640],"id":"8434b33e-b9ed-43e9-ad60-a5788e0ca023"},{"parameters":{"httpMethod":"POST","path":"sendToWebhookTaoAnh","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-4832,-16],"id":"79f97807-2f07-4dd1-88ca-e1502211d957","name":"Webhook1","webhookId":"c3643626-e2b0-4c83-b654-395bdd8ecee8"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $('Loop Over Items').item.json['DANH MỤC'] }}","rightValue":"SHOP DAU","operator":{"type":"string","operation":"equals"},"id":"8d711598-3df2-44a6-888a-76502b899bb2"}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"e66776c2-24b3-46c2-a6d5-f6c910a3703c","leftValue":"={{ $('Loop Over Items').item.json['DANH MỤC'] }}","rightValue":"SHOP ME BE","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"48b1bf97-6203-4ffe-a34a-62000497ac52","leftValue":"={{ $('Loop Over Items').item.json['DANH MỤC'] }}","rightValue":"SHOP TINA","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-3504,256],"id":"41424b2f-3c69-47af-8d80-3d8efe2507c9","name":"Switch"},{"parameters":{"driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"1s_wZOaQy0ZWqqhg2bRuDJ7XXfRfyH4Kw","mode":"list","cachedResultName":"SHOP DAU - XONG","cachedResultUrl":"https://drive.google.com/drive/folders/1s_wZOaQy0ZWqqhg2bRuDJ7XXfRfyH4Kw"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-3200,48],"id":"0b91ff01-3be7-4d11-9c09-92d12554e0f8","name":"SHOP DAU - XONG","onError":"continueRegularOutput"},{"parameters":{"driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"1QFPf79fK5YyI_gcNLn5bQO-fKXGt4qWS","mode":"list","cachedResultName":"SHOP ME BE - XONG","cachedResultUrl":"https://drive.google.com/drive/folders/1QFPf79fK5YyI_gcNLn5bQO-fKXGt4qWS"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-3200,256],"id":"9ec2fd82-3e28-437c-9125-3fdba93a1e6c","name":"SHOP ME BE - XONG"},{"parameters":{"driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"15XDJJ95r6a04_ZAawJLmge1LuJZ-4pK3","mode":"list","cachedResultName":"SHOP TINA -  XONG","cachedResultUrl":"https://drive.google.com/drive/folders/15XDJJ95r6a04_ZAawJLmge1LuJZ-4pK3"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-3200,448],"id":"65b771b0-0774-4f57-b7ad-6247df651674","name":"SHOP TINA - XONG"},{"parameters":{"operation":"share","fileId":{"__rl":true,"value":"={{  $json.id  }}","mode":"id"},"permissionsUi":{"permissionsValues":{"role":"reader","type":"anyone"}},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-2976,256],"id":"b471f2be-8243-4fe3-be18-e8f1a72dc6dc","name":"Google Drive"},{"parameters":{"operation":"share","fileId":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"permissionsUi":{"permissionsValues":{"role":"reader","type":"anyone"}},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-2976,448],"id":"fded85ea-9a1e-4ec3-905a-09de9e963286","name":"Google Drive2"},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"17RZ1emGeV8gkiBhr_Mub8O9WTL9-TMAyimGg0TX48aU","mode":"list","cachedResultName":"TẠO HÌNH ẢNH CHATGPT - HEO","cachedResultUrl":"https://docs.google.com/spreadsheets/d/17RZ1emGeV8gkiBhr_Mub8O9WTL9-TMAyimGg0TX48aU/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":747727828,"mode":"list","cachedResultName":"SHOP","cachedResultUrl":"https://docs.google.com/spreadsheets/d/17RZ1emGeV8gkiBhr_Mub8O9WTL9-TMAyimGg0TX48aU/edit#gid=747727828"},"columns":{"mappingMode":"defineBelow","value":{"row_number":"={{ $('Get Url Image').item.json.row_number }}","Trạng thái":"Thành Công","Thumnail OK":"==IMAGE(\"{{ $('SHOP DAU - XONG').item.json.thumbnailLink }}\")","Link Kết quả":"={{ $('SHOP DAU - XONG').item.json.webContentLink }}"},"matchingColumns":["row_number"],"schema":[{"id":"ID","displayName":"ID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Link Ảnh","displayName":"Link Ảnh","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Thumnail","displayName":"Thumnail","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"DANH MỤC","displayName":"DANH MỤC","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Prompt","displayName":"Prompt","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"SEX","displayName":"SEX","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Tuổi","displayName":"Tuổi","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"faceLink","displayName":"faceLink","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Link Kết quả","displayName":"Link Kết quả","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Thumnail OK","displayName":"Thumnail OK","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Trạng thái","displayName":"Trạng thái","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"AUDIO","displayName":"AUDIO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[-2784,48],"id":"7bdf68e5-0b6c-4b1c-9612-b5fff32bb010","name":"SHOP DAU"},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"17RZ1emGeV8gkiBhr_Mub8O9WTL9-TMAyimGg0TX48aU","mode":"list","cachedResultName":"TẠO HÌNH ẢNH CHATGPT - HEO","cachedResultUrl":"https://docs.google.com/spreadsheets/d/17RZ1emGeV8gkiBhr_Mub8O9WTL9-TMAyimGg0TX48aU/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":747727828,"mode":"list","cachedResultName":"SHOP","cachedResultUrl":"https://docs.google.com/spreadsheets/d/17RZ1emGeV8gkiBhr_Mub8O9WTL9-TMAyimGg0TX48aU/edit#gid=747727828"},"columns":{"mappingMode":"defineBelow","value":{"row_number":"={{ $('Get Url Image').item.json.row_number }}","Link Kết quả":"={{ $('SHOP TINA - XONG').item.json.webContentLink }}","Thumnail OK":"==IMAGE(\"{{ $('SHOP TINA - XONG').item.json.thumbnailLink }}\")","Trạng thái":"Thành Công"},"matchingColumns":["row_number"],"schema":[{"id":"ID","displayName":"ID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Link Ảnh","displayName":"Link Ảnh","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Thumnail","displayName":"Thumnail","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"DANH MỤC","displayName":"DANH MỤC","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Prompt","displayName":"Prompt","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"SEX","displayName":"SEX","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Tuổi","displayName":"Tuổi","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"faceLink","displayName":"faceLink","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Link Kết quả","displayName":"Link Kết quả","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Thumnail OK","displayName":"Thumnail OK","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Trạng thái","displayName":"Trạng thái","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"AUDIO","displayName":"AUDIO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[-2784,448],"id":"9aabed64-9e3e-43bf-a9ac-82fef1bf9e63","name":"SHOP TINA1"},{"parameters":{"jsCode":"return items\n  .filter(item => {\n    const { [\"DANH MỤC\"]: danhMuc, Prompt: prompt } = item.json;\n\n    return (\n      String(danhMuc || \"\").trim() !== \"\" &&\n      String(prompt || \"\").trim() !== \"\"\n    );\n  })\n  .map(item => {\n    const escapedPrompt = String(item.json.Prompt || \"\").replace(/\"/g, '\\\\\"');\n\n    return {\n      json: {\n        ...item.json,\n        Prompt: escapedPrompt,\n      }\n    };\n  });\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-3952,-16],"id":"b2b5cabc-6fe5-47a9-8487-1e11287fc79c","name":"Code6"},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"17RZ1emGeV8gkiBhr_Mub8O9WTL9-TMAyimGg0TX48aU","mode":"list","cachedResultName":"TẠO HÌNH ẢNH CHATGPT - HEO","cachedResultUrl":"https://docs.google.com/spreadsheets/d/17RZ1emGeV8gkiBhr_Mub8O9WTL9-TMAyimGg0TX48aU/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":747727828,"mode":"list","cachedResultName":"SHOP","cachedResultUrl":"https://docs.google.com/spreadsheets/d/17RZ1emGeV8gkiBhr_Mub8O9WTL9-TMAyimGg0TX48aU/edit#gid=747727828"},"columns":{"mappingMode":"defineBelow","value":{"row_number":"={{ $('Get Url Image').item.json.row_number }}","Link Kết quả":"={{ $('SHOP ME BE - XONG').item.json.webViewLink }}","Thumnail OK":"==IMAGE(\"{{ $('SHOP ME BE - XONG').item.json.thumbnailLink }}\")","Trạng thái":"Thành Công"},"matchingColumns":["row_number"],"schema":[{"id":"ID","displayName":"ID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Link Ảnh","displayName":"Link Ảnh","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Thumnail","displayName":"Thumnail","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"DANH MỤC","displayName":"DANH MỤC","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Prompt","displayName":"Prompt","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"SEX","displayName":"SEX","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Tuổi","displayName":"Tuổi","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"faceLink","displayName":"faceLink","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Link Kết quả","displayName":"Link Kết quả","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Thumnail OK","displayName":"Thumnail OK","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Trạng thái","displayName":"Trạng thái","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"AUDIO","displayName":"AUDIO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[-2784,256],"id":"5414e4c1-7aef-4d4b-8c57-9b262dbe0d2f","name":"SHOP ME BE2"},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"17RZ1emGeV8gkiBhr_Mub8O9WTL9-TMAyimGg0TX48aU","mode":"list","cachedResultName":"TẠO HÌNH ẢNH CHATGPT - HEO","cachedResultUrl":"https://docs.google.com/spreadsheets/d/17RZ1emGeV8gkiBhr_Mub8O9WTL9-TMAyimGg0TX48aU/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":747727828,"mode":"list","cachedResultName":"SHOP","cachedResultUrl":"https://docs.google.com/spreadsheets/d/17RZ1emGeV8gkiBhr_Mub8O9WTL9-TMAyimGg0TX48aU/edit#gid=747727828"},"columns":{"mappingMode":"defineBelow","value":{"row_number":"={{ $json.row_number }}","Link Kết quả":"⏳ Đang tạo ảnh..."},"matchingColumns":["row_number"],"schema":[{"id":"ID","displayName":"ID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Link Ảnh","displayName":"Link Ảnh","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Thumnail","displayName":"Thumnail","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"DANH MỤC","displayName":"DANH MỤC","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Prompt","displayName":"Prompt","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"SEX","displayName":"SEX","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Tuổi","displayName":"Tuổi","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Link Kết quả","displayName":"Link Kết quả","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Thumnail OK","displayName":"Thumnail OK","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Trạng thái","displayName":"Trạng thái","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"AUDIO","displayName":"AUDIO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[-4400,688],"id":"760d6e5b-5a7b-4a65-9ead-fbffe94450a2","name":"Thông báo tạo ảnh"},{"parameters":{"promptType":"define","text":"=messages:\n  - role: user\n    parts:\n      - danh mục: {{ $json[\"DANH MỤC\"] }}\n        giới tính: {{ $json[\"SEX\"] }}","options":{"systemMessage":"=Bạn là AI hỗ trợ chọn khuôn mặt phù hợp để tạo ảnh.  \nDựa trên đầu vào gồm:\n\n- `danh mục`: tên shop (ví dụ: SHOP ME BE)\n- `giới tính`: ví dụ \"Bé gái\", \"Nam\", \"Con trai\", \"Nữ\",...\n\nBạn cần:\n\n1. Dùng bảng dữ liệu cố định tên là \"Link Face\", gồm nhiều dòng, mỗi dòng có:\n   - `SHOP`\n   - `FACE NAM`\n   - `FACE NU`\n   - `prompt`\n\n2. So sánh tên shop và giới tính trong sheet \"Link Face\" để:\n   - Tìm đúng dòng SHOP khớp với `danh mục`\n   - Chọn đúng `FACE NU` nếu là nữ / bé gái, hoặc `FACE NAM` nếu là nam / bé trai\n   - Lấy prompt mẫu từ dòng đó\n\n3. Trả về JSON chuẩn như sau:\n\n```json\n{\n  \"face_link\": \"lấy giá trị 'FACE NAM' hoặc 'FACE NU' trong Sheet 'Link Face' \"\n}"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.8,"position":[-4512,272],"id":"288b0bd1-28e8-4682-a16c-00b359bb7d0c","name":"AI Agent1"},{"parameters":{"modelName":"models/gemini-2.0-flash-001","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[-4576,480],"id":"9c3e0bed-1a42-4a51-b5d8-426fd5d038e5","name":"Google Gemini Chat Model2"},{"parameters":{"documentId":{"__rl":true,"value":"17RZ1emGeV8gkiBhr_Mub8O9WTL9-TMAyimGg0TX48aU","mode":"list","cachedResultName":"TẠO HÌNH ẢNH CHATGPT - HEO","cachedResultUrl":"https://docs.google.com/spreadsheets/d/17RZ1emGeV8gkiBhr_Mub8O9WTL9-TMAyimGg0TX48aU/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1434144374,"mode":"list","cachedResultName":"NOTE","cachedResultUrl":"https://docs.google.com/spreadsheets/d/17RZ1emGeV8gkiBhr_Mub8O9WTL9-TMAyimGg0TX48aU/edit#gid=1434144374"},"options":{}},"type":"n8n-nodes-base.googleSheetsTool","typeVersion":4.5,"position":[-4384,496],"id":"9f9cc4fd-7e86-4674-8381-000b99df6669","name":"Link Face"},{"parameters":{},"type":"n8n-nodes-base.noOp","name":"Replace Me3","typeVersion":1,"position":[-3456,960],"id":"2b3171c8-3875-4ec0-bc17-e36682f59e61"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.status }}","rightValue":"processing","operator":{"type":"string","operation":"equals"},"id":"12478994-fbc5-4c53-857c-df76af2fe192"}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"c7edfe97-a7bf-4039-964a-300cb4343a39","leftValue":"={{ $json.details.images.urls }}","rightValue":"","operator":{"type":"array","operation":"notEmpty","singleValue":true}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"d07b49db-4fd8-4f81-92ea-22841eaf28a9","leftValue":"={{ $json.details.images.urls }}","rightValue":"","operator":{"type":"array","operation":"empty","singleValue":true}}],"combinator":"and"}}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-3712,848],"id":"ace6d919-e9c6-4a21-94b6-88090f22e0b8","name":"Switch1"},{"parameters":{"method":"POST","url":"https://api.telegram.org/bot8009301933:AAHCu9rG4u8W4sRSNa7kjyHVR5_BRFXOfg0/sendPhoto","sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"name":"chat_id","value":"-4922886378"},{"parameterType":"formBinaryData","name":"photo","inputDataFieldName":"data"},{"name":"caption","value":"⏳ Đang tạo ảnh... 🚧 Chờ kết quả..."},{"name":"parse_mode","value":"Markdown"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-4016,688],"id":"45d779d2-2423-4388-aa8f-b152d46502c7","name":"Thông báo Đang tạo ảnh","retryOnFail":true,"onError":"continueRegularOutput"},{"parameters":{"url":"={{ 'https://drive.google.com/uc?export=download&id=' + $('Get Url Image').item.json.ID }}","options":{"response":{"response":{"responseFormat":"file"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-4160,672],"id":"6e42c524-eeef-4046-a45b-686b1db7f5c2","name":"binary data"},{"parameters":{"method":"POST","url":"https://api.telegram.org/bot8009301933:AAHCu9rG4u8W4sRSNa7kjyHVR5_BRFXOfg0/sendPhoto","sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"name":"chat_id","value":"-4922886378"},{"parameterType":"formBinaryData","name":"photo","inputDataFieldName":"data"},{"name":"caption","value":"✅ Đã tạo xong ảnh 🚧 của SHOP DAU"},{"name":"parse_mode","value":"Markdown"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-2336,-32],"id":"01594dff-b420-4066-b643-490ce55fb440","name":"tạo xong SHOP DAU","retryOnFail":true},{"parameters":{"method":"POST","url":"https://api.telegram.org/bot8009301933:AAHCu9rG4u8W4sRSNa7kjyHVR5_BRFXOfg0/sendPhoto","sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"name":"chat_id","value":"-4922886378"},{"parameterType":"formBinaryData","name":"photo","inputDataFieldName":"data"},{"name":"caption","value":"✅ Đã tạo xong ảnh 🚧 của SHOP ME BE"},{"name":"parse_mode","value":"Markdown"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-2336,208],"id":"d63b5908-197b-49b5-8c9b-24633571b653","name":"Tao xong SHOP ME BE","retryOnFail":true},{"parameters":{"method":"POST","url":"https://api.telegram.org/bot8009301933:AAHCu9rG4u8W4sRSNa7kjyHVR5_BRFXOfg0/sendPhoto","sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"name":"chat_id","value":"-4922886378"},{"parameterType":"formBinaryData","name":"photo","inputDataFieldName":"data"},{"name":"caption","value":"✅ Đã tạo xong ảnh 🚧 của SHOP TINA"},{"name":"parse_mode","value":"Markdown"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-2336,448],"id":"ecbd240a-5ebd-4488-a742-efca725121b8","name":"Tao xong SHOP TINA","retryOnFail":true},{"parameters":{"url":"={{ $('SHOP DAU - XONG').item.json.webContentLink }}","options":{"response":{"response":{"responseFormat":"file"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-2512,-32],"id":"93da236b-fe30-4cb4-893e-ad1c11e94260","name":"HTTP Request1"},{"parameters":{"url":"={{ $('SHOP ME BE - XONG').item.json.webViewLink }}","options":{"response":{"response":{"responseFormat":"file"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-2512,192],"id":"c1f80bbe-7d82-494f-b21a-e5c69fb25827","name":"HTTP Request2"},{"parameters":{"url":"={{ $('SHOP TINA - XONG').item.json.webContentLink }}","options":{"response":{"response":{"responseFormat":"file"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-2032,416],"id":"50a395c6-4eb2-40cb-a2db-17a53eb4848a","name":"HTTP Request3"},{"parameters":{"url":"={{ 'https://drive.google.com/uc?export=download&id=' + $('Get Url Image').item.json.ID }}","options":{"response":{"response":{"responseFormat":"file"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-2976,912],"id":"1b931f4e-b24c-41bb-a087-e45009a46811","name":"binary data1"},{"parameters":{"method":"POST","url":"https://api.telegram.org/bot8009301933:AAHCu9rG4u8W4sRSNa7kjyHVR5_BRFXOfg0/sendPhoto","sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"name":"chat_id","value":"-4922886378"},{"parameterType":"formBinaryData","name":"photo","inputDataFieldName":"data"},{"name":"caption","value":"⚠️ Tạo hình lỗi rồi 🚧 Tạo lại sau"},{"name":"parse_mode","value":"Markdown"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-2800,912],"id":"b55e6f84-3a2b-4770-ba89-53a00b441223","name":"Thông báo TẠO HÌNH LỖi","retryOnFail":true}],"connections":{"amlich":{"main":[[{"node":"Code","type":"main","index":0}]]},"amlich1":{"main":[[{"node":"Code1","type":"main","index":0}]]},"Google Sheets4":{"main":[[{"node":"Code6","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Lấy kết quả","type":"main","index":0}]]},"Get Url Image":{"main":[[{"node":"Tạo Ảnh","type":"main","index":0},{"node":"Thông báo tạo ảnh","type":"main","index":0}]]},"Mở Chat":{"main":[[{"node":"Wait1","type":"main","index":0}]]},"Tạo Ảnh":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Lấy kết quả":{"main":[[{"node":"Switch1","type":"main","index":0}]]},"HTTP Request BINARY":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Google Drive3":{"main":[[{"node":"SHOP DAU","type":"main","index":0}]]},"Wait1":{"main":[[{"node":"Google Sheets4","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Get Url Image","type":"main","index":0}]]},"Replace Me":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Webhook1":{"main":[[{"node":"Mở Chat","type":"main","index":0}]]},"Switch":{"main":[[{"node":"SHOP DAU - XONG","type":"main","index":0}],[{"node":"SHOP ME BE - XONG","type":"main","index":0}],[{"node":"SHOP TINA - XONG","type":"main","index":0}]]},"SHOP DAU - XONG":{"main":[[{"node":"Google Drive3","type":"main","index":0}]]},"SHOP ME BE - XONG":{"main":[[{"node":"Google Drive","type":"main","index":0}]]},"SHOP TINA - XONG":{"main":[[{"node":"Google Drive2","type":"main","index":0}]]},"Google Drive":{"main":[[{"node":"SHOP ME BE2","type":"main","index":0}]]},"Google Drive2":{"main":[[{"node":"SHOP TINA1","type":"main","index":0}]]},"SHOP DAU":{"main":[[{"node":"Replace Me","type":"main","index":0},{"node":"HTTP Request1","type":"main","index":0}]]},"SHOP TINA1":{"main":[[{"node":"Replace Me","type":"main","index":0}]]},"Code6":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"SHOP ME BE2":{"main":[[{"node":"Replace Me","type":"main","index":0},{"node":"HTTP Request2","type":"main","index":0}]]},"Thông báo tạo ảnh":{"main":[[{"node":"binary data","type":"main","index":0}]]},"AI Agent1":{"main":[[{"node":"Get Url Image","type":"main","index":0}]]},"Google Gemini Chat Model2":{"ai_languageModel":[[{"node":"AI Agent1","type":"ai_languageModel","index":0}]]},"Link Face":{"ai_tool":[[{"node":"AI Agent1","type":"ai_tool","index":0}]]},"Replace Me3":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Switch1":{"main":[[{"node":"Replace Me3","type":"main","index":0}],[{"node":"HTTP Request BINARY","type":"main","index":0}],[{"node":"Replace Me","type":"main","index":0},{"node":"binary data1","type":"main","index":0}]]},"binary data":{"main":[[{"node":"Thông báo Đang tạo ảnh","type":"main","index":0}]]},"HTTP Request1":{"main":[[{"node":"tạo xong SHOP DAU","type":"main","index":0}]]},"HTTP Request2":{"main":[[{"node":"Tao xong SHOP ME BE","type":"main","index":0}]]},"HTTP Request3":{"main":[[{"node":"Tao xong SHOP TINA","type":"main","index":0}]]},"binary data1":{"main":[[{"node":"Thông báo TẠO HÌNH LỖi","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"a547159e-2764-4dc7-a194-42549446c0b8","triggerCount":0,"shared":[{"createdAt":"2025-08-16T02:16:37.688Z","updatedAt":"2025-08-16T02:16:37.688Z","role":"workflow:owner","workflowId":"Pp1TCxr6az0azNfG","projectId":"Bsx4kBdHQHZGGC5J"}],"tags":[]}