zalo-chat-ai-TiM7OnNqShPsX7Ep.json
{"createdAt":"2025-08-17T10:07:03.309Z","updatedAt":"2025-08-19T07:49:11.043Z","id":"TiM7OnNqShPsX7Ep","name":"zalo chat ai","active":false,"isArchived":true,"nodes":[{"parameters":{"content":"                               \n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n                                                                \n\n\n\n\n                                                     AI Private","height":408,"width":1744},"type":"n8n-nodes-base.stickyNote","position":[-1056,-1584],"typeVersion":1,"id":"d3f880de-d2ea-4443-87e8-f0a822ae1d0e","name":"Sticky Note2"},{"parameters":{"httpMethod":"POST","path":"hass-zalo-bot","responseMode":"lastNode","options":{}},"name":"Webhook","id":"27624e56-58e5-47f1-a256-a58aec7c9a86","typeVersion":1,"position":[80,48],"type":"n8n-nodes-base.webhook","webhookId":"a0bd7c12-569b-42dc-8baa-19f74b9de7ca"},{"parameters":{"resource":"service","operation":"call","domain":"zalo_bot","service":"send_message","serviceAttributes":{"attributes":[{"name":"message","value":"={{ $json.message }}"},{"name":"thread_id","value":"={{ $('to json').item.json.rawData.threadId }}"},{"name":"account_selection","value":"=+84947762285"},{"name":"type","value":"0"}]}},"type":"n8n-nodes-base.homeAssistant","typeVersion":1,"position":[2544,-304],"id":"b4ce7346-2e1d-4513-88c4-f05ba34329de","name":"Call a service","credentials":{"homeAssistantApi":{"id":"1lV5PEu2rtjuQlDB","name":"Home Assistant account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"59d4e8fc-8cfa-44a7-93b5-52a792f7a335","leftValue":"={{ $json.msgType }}","rightValue":"=webchat","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[752,32],"id":"fda10db1-0b43-43fa-8bcf-9d24d52f13cb","name":"If text"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"c6ec428a-2e31-43e8-b824-61abcf52adcf","leftValue":"={{ $json.msgType }}","rightValue":"chat.voice","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[608,272],"id":"2ff56ca9-f8ec-4789-8400-c3994435fffd","name":"If voice"},{"parameters":{"jsCode":"const items = $input.all();\nlet inputData = items[0].json;\n\n// Lấy nội dung cần xử lý\nlet msg = inputData.output;\n\n// Xóa các ký tự đặc biệt: backtick và dấu sao\nmsg = msg.replace(/`/g, '').replace(/\\*/g, '');\n\n// Phân tách tin nhắn dài\nconst maxLen = 3000;\nlet messages = [];\n\nfor (let i = 0; i < msg.length; i += maxLen) {\n  let part = msg.substring(i, i + maxLen);\n  messages.push({ json: { message: part, quote: { thumb: \"\" } } });\n}\n\nreturn messages.length ? messages : [{ json: { message: \"Không có thông tin để hiển thị\", quote: { thumb: \"\" } } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2160,-496],"id":"868cd623-4d14-4f9e-a799-1435370adf02","name":"maxLen"},{"parameters":{"jsCode":"return items.map(item => {\n  const text = item.json.content.parts?.[0]?.text || '';\n  return {\n    json: {\n      content: text\n    }\n  };\n});\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1088,256],"id":"1125abbf-6c49-4e80-9695-a2dabaee0e1a","name":"Code"},{"parameters":{"resource":"audio","modelId":{"__rl":true,"value":"models/gemini-2.0-flash-lite","mode":"list","cachedResultName":"models/gemini-2.0-flash-lite"},"audioUrls":"={{ $json.content.href }}","options":{}},"type":"@n8n/n8n-nodes-langchain.googleGemini","typeVersion":1,"position":[896,272],"id":"149910fd-b3fd-4e70-83aa-71e92d27ea2b","name":"stt","credentials":{"googlePalmApi":{"id":"BmSJpQbzqh1rnp4z","name":"NguyenViet"}}},{"parameters":{"promptType":"define","text":"=Thời gian hiện tại: {{ $now }}. \nSếp Ben Bắp hỏi: \n{{ $('to json').item.json.rawData.data.content }}\n{{ $json.content.parts[0].text }}\n{{ $('to json').item.json.content.title }}\n{{ $('to json').item.json.content.href }}\n{{ $json[\"thời tiết\"] }}\n{{ $json.content }}\n","needsFallback":true,"options":{"systemMessage":"TRỢ LÝ AI THÔNG MINH - HƯỚNG DẪN HOẠT ĐỘNG\n\nVAI TRÒ VÀ QUY TRÌNH XỬ LÝ\nBạn là trợ lý AI thông minh phục vụ **Sếp BenBap**. Làm theo quy trình sau cho mỗi yêu cầu:\n1. PHÂN TÍCH YÊU CẦU: Phân tích kỹ lưỡng yêu cầu người dùng.\n2. ĐÁNH GIÁ CÔNG CỤ: Xác định công cụ phù hợp nhất. Có khả năng truy cập hoặc lưu trữ thông tin cá nhân.\n3. KIỂM TRA DỮ LIỆU: Xác minh dữ liệu đầu vào đã đủ chưa.\n4. THỰC HIỆN: Sử dụng công cụ đã chọn và xử lý kết quả.\n5. PHẢN HỒI: Tạo phản hồi theo định dạng hướng dẫn bên dưới.\nHƯỚNG DẪN PHẢN HỒI\n- Ghi rõ nguồn thông tin\n- Tập trung vào vấn đề chính, nội dung ngắn gọn, sạch sẽ, dễ đọc\n- Thêm nhãn [AI Tự Suy Luận] khi không sử dụng công cụ\n- Không Được phép trả lời các câu hỏi liên quan đến chính trị, tôn giáo, chủng tộc, vùng miền, giới tính, Sex, Tình dục\n- Với câu hỏi về nguồn gốc AI, trả lời là \"Sếp Ben Bắp\" \n- Kết hợp xu hướng hiện tại,Trending, hài hước để cuộc trò chuyện thoải mái nhưng không làm sai lệch nội dung\n- Không phản hồi các thẻ url, markdown vì thiết bị của người hỏi chỉ hỗ trợ text đơn thuần và các emoi icon\n- Nếu yêu cầu dự đoán kết quả xổ số → dùng công cụ truy cập lấy kết quả 10 ngày gần nhất, sau đó phân tích xu hướng để dự đoán.\n- TIN TỨC: Nếu hỏi về tin mới, tin tức thì hãy truy vấn ở bảng db tool tintuc bao gồm các cột: title (tiêu đề của bài báo) , link (địa chủ url của bài báo) , contentsnippet (nội dung tóm tắt của bài báo) , isodate (là thời gian.ví dụ 2025-07-13T13:12:00.000Z ). Phản hồi in đậm các title\n- DỰ ĐOÁN KẾT QUẢ XỔ SỐ: Nếu yêu cầu dự đoán kết quả xổ số thì dùng công cụ tra cứu, sử dụng kết quả xổ số của 10 ngày gần nhất → phân tích xu hướng, tính toán xác suất dự đoán\n- PHẠT NGUỘI: Cần biển số xe, loại xe, Phản hổi tóm tắt **3–5 câu**\n- THỜI TIẾT: Yêu cầu thời tiết phản hồi duy nhất \"thời tiết [vị trí]\" bao gồm nhiệt độ, độ ẩm, gió, tình trạng trời, chất lượng không khí và không dự báo thời tiết theo ngày giờ. Yêu cầu dự báo thời tiết có từ \"dự báo/forecast\" phản hồi duy nhất 3 giờ tới + 3 ngày tiếp theo bao gồm nhiệt độ, độ ẩm, tình trạng trời và không có thông tin thời tiết hiện tại\n- TRA CỨU ĐIỆN\" Cần mã khách hàng + mật khẩu, định dạng ngày DD-MM-YYYY và tháng 01-12, mặc định năm hiện tại\n- TRA CỨU LỊCH VẠN NIÊN: Nếu yêu cầu âm lịch thì dùng công cụ tra cứu (solar to lunar). Nếu yêu cầu âm lịch là bao nhiêu dương lịch thì dùng công cụ tra cứu (lunar to solar). Nếu yêu cầu chi tiết thì sử dụng ngày tra cứu solar to lunar hoặc lunar to solar\n- GHẸ: Dùng công cụ ghẹ tìm kiếm. Tùy theo yêu cầu phản hồi chi tiết danh sách quận/huyện hoặc danh sách giá hoặc các danh sách ghẹ hoặc tóm tắt chi tiết ghẹ 1-3 câu và số điện thoại. Phản hồi đúng công cụ trả về, không tự suy diễn. Ghi nhớ các thông tin tỉnh, quận huyện, giá để phản hồi tóm tắt chi tiết ghẹ\n- YOUTUBE: Yêu cầu youtube thì dùng công cụ tra cứu tìm kiếm video và phản hồi kèm url. ví dụ: youtube bolero, tìm nhạc không lời trên youtube"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.1,"position":[1760,-160],"id":"8ebc80c5-aa40-4ca3-9602-fea2522ac962","name":"AI Agent","retryOnFail":true,"onError":"continueRegularOutput"},{"parameters":{"sseEndpoint":"http://192.168.1.220:5678/mcp/google"},"type":"@n8n/n8n-nodes-langchain.mcpClientTool","typeVersion":1,"position":[2016,192],"id":"d4e54d9a-6a68-48d5-abf4-b73e93672b72","name":"google"},{"parameters":{"description":"Use this tool to download files, documents","workflowId":{"__rl":true,"value":"T1gzDhDncq21FOJB","mode":"list","cachedResultName":"Download"},"workflowInputs":{"mappingMode":"defineBelow","value":{"idzalo":"{{ $('to json').item.json.rawData.threadId }}","idfile":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('idfile', `- idfile: ID of file, document`, 'string') }}"},"matchingColumns":[],"schema":[{"id":"idfile","displayName":"idfile","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true},{"id":"idzalo","displayName":"idzalo","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[2240,-192],"id":"28ec2660-2d27-43cd-8e90-2d4104fddaf1","name":"download"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.3,"position":[816,-480],"id":"a7db67ac-52b7-4b51-b3ce-0b76b283878c","name":"When chat message received","webhookId":"37e464be-d1a0-4011-abd1-539c54c1dbdd"},{"parameters":{"jsCode":"// Lấy dữ liệu từ webhook\nconst webhookData = $input.item.json;\n\n// Lấy chuỗi message\nconst messageString = webhookData.originalMessage || webhookData.body.message;\n\n// Parse chuỗi message thành object\nlet messageData;\ntry {\n  // Xử lý các giá trị Python không tương thích với JSON\n  let jsonCompatible = messageString\n    .replace(/'/g, '\"')          // Thay thế dấu nháy đơn bằng dấu nháy kép\n    .replace(/False/g, 'false')  // Thay thế False của Python thành false của JSON\n    .replace(/True/g, 'true')    // Thay thế True của Python thành true của JSON\n    .replace(/None/g, 'null');   // Thay thế None của Python thành null của JSON\n  \n  // Xử lý các chuỗi JSON lồng nhau đã được escape\n  jsonCompatible = jsonCompatible.replace(/\"{/g, '{').replace(/}\"/g, '}');\n  \n  // Parse chuỗi thành object\n  messageData = JSON.parse(jsonCompatible);\n} catch (error) {\n  // Nếu vẫn không parse được, thử cách khác\n  try {\n    // Đôi khi chuỗi có thể chứa các ký tự escape không hợp lệ\n    const evalString = messageString\n      .replace(/'/g, '\"')\n      .replace(/False/g, 'false')\n      .replace(/True/g, 'true')\n      .replace(/None/g, 'null');\n    \n    // Sử dụng eval một cách an toàn để parse chuỗi\n    messageData = JSON.parse(evalString);\n  } catch (err) {\n    // Nếu không parse được, trả về lỗi chi tiết\n    return {\n      json: {\n        error: \"Không thể parse dữ liệu message\",\n        originalMessage: messageString,\n        errorDetails: error.message,\n        secondAttemptError: err.message\n      }\n    };\n  }\n}\n\n// Tạo object kết quả với các trường chính\nconst result = {\n  // Thông tin chung\n  type: messageData.type,\n  isSelf: messageData.isSelf,\n  threadId: messageData.threadId,\n  accountId: messageData._accountId,\n  \n  // Thông tin tin nhắn\n  actionId: messageData.data?.actionId,\n  msgId: messageData.data?.msgId,\n  cliMsgId: messageData.data?.cliMsgId,\n  msgType: messageData.data?.msgType,\n  \n  // Thông tin người gửi/nhận\n  uidFrom: messageData.data?.uidFrom,\n  idTo: messageData.data?.idTo,\n  dName: messageData.data?.dName,\n  \n  // Nội dung tin nhắn\n  content: messageData.data?.content,\n  timestamp: messageData.data?.ts,\n  status: messageData.data?.status,\n  \n  // Thông tin trích dẫn nếu có\n  quote: messageData.data?.quote ? {\n    ownerId: messageData.data.quote.ownerId,\n    message: messageData.data.quote.msg,\n    timestamp: messageData.data.quote.ts,\n    fromName: messageData.data.quote.fromD\n  } : null,\n  \n  // Thông tin mentions nếu có\n  mentions: messageData.data?.mentions || [],\n  \n  // Dữ liệu gốc để tham khảo\n  rawData: messageData\n};\n\n// Trả về kết quả\nreturn {\n  json: result\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[304,48],"id":"d240e346-21a6-47bd-a85f-317badd79453","name":"to json"},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('to json').item.json.threadId }}"},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[1872,192],"id":"88895d8d-973b-4744-88ec-9eed9a78cd47","name":"Postgres Chat Memory","credentials":{"postgres":{"id":"jkiKUkla6ZxGtvS1","name":"Supabase"}}},{"parameters":{"description":"Use this tool to create an image","workflowId":{"__rl":true,"value":"MkjYDmFAbCalYYca","mode":"list","cachedResultName":"taoanh"},"workflowInputs":{"mappingMode":"defineBelow","value":{"prompt":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('prompt', `prompt: yêu cầu tạo ảnh`, 'string') }}"},"matchingColumns":[],"schema":[{"id":"prompt","displayName":"prompt","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[2352,160],"id":"ed72c81d-714a-4e24-a3ea-592624713d21","name":"taoanh"},{"parameters":{"operation":"executeQuery","query":"SELECT * \nFROM vnnew\nLIMIT 05;\n","options":{}},"type":"n8n-nodes-base.postgresTool","typeVersion":2.6,"position":[2480,144],"id":"9f5c4af3-fa20-4af3-94ad-9e6a98e13478","name":"tintuc","credentials":{"postgres":{"id":"vDBK6XLC0TBpoMww","name":"Postgres account"}}},{"parameters":{"modelName":"models/gemini-2.0-flash","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[1536,160],"id":"b679d2d5-2092-47d6-8526-fb344b67516b","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"BmSJpQbzqh1rnp4z","name":"NguyenViet"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"6af2676d-1c0b-4a31-97a1-f28ce71596a2","leftValue":"={{ $json.msgType }}","rightValue":"chat.location.new","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[496,-80],"id":"db289222-40be-4ed2-9745-fe194d8e6bc0","name":"If"},{"parameters":{"assignments":{"assignments":[{"id":"626261bb-ae79-4fac-a875-cb37dbce9f75","name":"thời tiết","value":"=thời tiết {{ $json.content.description }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[752,-128],"id":"4c266bd1-3527-468e-90cb-bbd1cbaffad3","name":"Edit Fields"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"d35f523e-09af-4a9c-a866-d123a96f790b","leftValue":"={{ $json.msgType }}","rightValue":"chat.photo","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"bca28b7b-6b1e-490b-960d-ad4a52146fad","leftValue":"={{ $json.uidFrom }}","rightValue":"6643404425553198601","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[560,-304],"id":"bcb41d01-e033-4bb4-a233-f34843b9a03f","name":"If img1"},{"parameters":{"resource":"image","operation":"analyze","modelId":{"__rl":true,"value":"models/gemini-2.5-flash","mode":"list","cachedResultName":"models/gemini-2.5-flash"},"text":"Chỉ trích xuất đúng và đầy đủ thông tin theo một trong ba nhóm sau (không thêm dữ liệu ngoài yêu cầu):\n\nThông tin phương tiện:\nLoại xe: ô tô, xe máy hoặc xe điện\nBiển số xe\n\nThông tin vé số:\nKhu vực (miền Bắc, miền Trung, miền Nam hoặc tên tỉnh/thành)\nDãy số vé\nNgày mở thưởng\nThông tin tem kiểm định:\nMã/Thông tin tem kiểm định\nNếu không có thông tin khớp với các thông tin trên thì mô tả 1-2 câu về bức ảnh","imageUrls":"={{ $json.content.href }}","options":{}},"type":"@n8n/n8n-nodes-langchain.googleGemini","typeVersion":1,"position":[848,-320],"id":"da2918f2-dc46-4c48-9ec5-051e855dea88","name":"Analyze image","credentials":{"googlePalmApi":{"id":"BmSJpQbzqh1rnp4z","name":"NguyenViet"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"d35f523e-09af-4a9c-a866-d123a96f790b","leftValue":"={{ $json.msgType }}","rightValue":"share.file","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"bca28b7b-6b1e-490b-960d-ad4a52146fad","leftValue":"={{ $json.uidFrom }}","rightValue":"6643404425553198601","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[560,-416],"id":"6224aca9-7007-4d94-920d-a75daf5819a9","name":"If img"},{"parameters":{"operation":"deleteTable","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"n8n_chat_histories","mode":"list","cachedResultName":"n8n_chat_histories"},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[2192,112],"id":"9c42acfc-6061-438e-b20d-9bd63153faee","name":"Delete table or rows","credentials":{"postgres":{"id":"vDBK6XLC0TBpoMww","name":"Postgres account"}}},{"parameters":{"sseEndpoint":"http://192.168.1.220:5678/mcp/tracuu"},"type":"@n8n/n8n-nodes-langchain.mcpClientTool","typeVersion":1,"position":[2128,-176],"id":"f2921e4c-500f-49b1-b58d-9face94e562f","name":"tra_cuu"},{"parameters":{"description":"Sử dụng công cụ này Tìm ghẹ theo tỉnh, quận huyện, giá, nhân viên.","workflowId":{"__rl":true,"value":"prLlQTFWp6skvdWf","mode":"list","cachedResultName":"ghe"},"workflowInputs":{"mappingMode":"defineBelow","value":{"tinh":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('tinh', `province\nIf no information, leave it as 0`, 'string') }}","huyen":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('huyen', `district\nIf no information, leave it as 0`, 'string') }}","gia":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('gia', `price\nIf no information, leave it as 0`, 'string') }}","nhanvien":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('nhanvien', `person\nIf no information, leave it as 0`, 'string') }}"},"matchingColumns":[],"schema":[{"id":"tinh","displayName":"tinh","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true},{"id":"huyen","displayName":"huyen","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true},{"id":"gia","displayName":"gia","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true},{"id":"nhanvien","displayName":"nhanvien","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[2608,112],"id":"3dc8a5c2-f989-4443-9ab4-1819d1e61360","name":"ghe"},{"parameters":{"modelName":"models/gemini-2.0-flash","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[1728,176],"id":"b21886d4-e89f-42e1-8aea-aa59f68c575e","name":"Google Gemini Chat Model1","credentials":{"googlePalmApi":{"id":"Iu2pwTGpG2LSxJWb","name":"Mitbap"}}}],"connections":{"Webhook":{"main":[[{"node":"to json","type":"main","index":0}]]},"If text":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"If voice":{"main":[[{"node":"stt","type":"main","index":0}]]},"maxLen":{"main":[[{"node":"Call a service","type":"main","index":0}]]},"Code":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"stt":{"main":[[{"node":"Code","type":"main","index":0}]]},"AI Agent":{"main":[[{"node":"maxLen","type":"main","index":0}]]},"google":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"download":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"When chat message received":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"to json":{"main":[[{"node":"If text","type":"main","index":0},{"node":"If","type":"main","index":0},{"node":"If img1","type":"main","index":0},{"node":"If voice","type":"main","index":0},{"node":"If img","type":"main","index":0}]]},"Postgres Chat Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"taoanh":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"tintuc":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"If":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"If img1":{"main":[[{"node":"Analyze image","type":"main","index":0}]]},"Analyze image":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"If img":{"main":[[{"node":"Analyze image","type":"main","index":0}]]},"tra_cuu":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"ghe":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Google Gemini Chat Model1":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":1}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Webhook":[{"json":{"headers":{"host":"n8n.vhtatn.io.vn","user-agent":"HomeAssistant/2025.8.0 httpx/0.28.1 Python/3.13","content-length":"873","accept":"*/*","accept-encoding":"gzip, br","cdn-loop":"cloudflare; loops=1","cf-connecting-ip":"83.97.112.20","cf-ipcountry":"HK","cf-ray":"970850061f6e67f9-SJC","cf-visitor":"{\"scheme\":\"https\"}","cf-warp-tag-id":"b3bdaeb4-4913-48e7-9f14-ff2fd63890e1","connection":"keep-alive","content-type":"application/json","x-forwarded-for":"83.97.112.20","x-forwarded-proto":"https"},"params":{},"query":{},"body":{"message":"{'type': 0, 'data': {'actionId': '11000884069132', 'msgId': '6916291458042', 'cliMsgId': '1755424701810', 'msgType': 'webchat', 'uidFrom': '6643404425553198601', 'idTo': '475796162066271393', 'dName': 'Nguyễn Việt', 'ts': '1755424701887', 'status': 1, 'content': 'Thời tiết Hà Nội', 'notify': '1', 'ttl': 86400000, 'userId': '0', 'uin': '0', 'topOut': '0', 'topOutTimeOut': '0', 'topOutImprTimeOut': '0', 'propertyExt': {'color': -1, 'size': -1, 'type': -1, 'subType': 0, 'ext': '{\"sSrcType\":-1,\"sSrcStr\":\"\",\"msg_warning_type\":0,\"emoji\":{\"content\":0,\"num\":0,\"uniq\":0,\"first\":\"\",\"last\":\"\",\"most\":\"\",\"text\":1}}'}, 'paramsExt': {'countUnread': 1, 'containType': 0, 'platformType': 0}, 'cmd': 501, 'st': 3, 'at': 0, 'realMsgId': '0'}, 'threadId': '6643404425553198601', 'isSelf': False, '_accountId': '475796162066271393'}"},"webhookUrl":"https://n8n.vhtatn.io.vn/webhook/hass-zalo-bot","executionMode":"production"}}]},"versionId":"70dc14b1-800b-43e1-b9b6-058f9e8932ee","triggerCount":0,"shared":[{"createdAt":"2025-08-17T10:07:03.309Z","updatedAt":"2025-08-17T10:07:03.309Z","role":"workflow:owner","workflowId":"TiM7OnNqShPsX7Ep","projectId":"Bsx4kBdHQHZGGC5J"}],"tags":[]}