zalo-n8n-l5lBkVLVzC0OwWFe.json
{"createdAt":"2025-08-24T10:03:14.317Z","updatedAt":"2025-09-03T15:20:52.028Z","id":"l5lBkVLVzC0OwWFe","name":"Zalo-n8n","active":true,"isArchived":false,"nodes":[{"parameters":{"jsCode":"// Lấy dữ liệu từ webhook\nconst webhookData = $input.item.json;\n\n// Lấy message object\nconst messageData = webhookData.body?.message || {};\n\n// Tạo object kết quả với các trường chính\nconst result = {\n  // Thông tin chung\n  event_name: webhookData.body?.event_name,\n  chatType: messageData.chat?.chat_type,\n  chatId: messageData.chat?.id,\n\n  // Thông tin tin nhắn\n  messageId: messageData.message_id,\n  text: messageData.text,\n  timestamp: messageData.date,\n\n  // Thông tin người gửi\n  fromId: messageData.from?.id,\n  fromName: messageData.from?.display_name,\n  isBot: messageData.from?.is_bot,\n\n  // Dữ liệu gốc để tham khảo\n  rawData: webhookData\n};\n\n// Trả về kết quả\nreturn {\n  json: result\n};\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1392,1408],"id":"5a9a8d74-4b07-4385-96f9-8809a25eaaf9","name":"data"},{"parameters":{"httpMethod":"POST","path":"zalo-bot","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-1632,1408],"id":"e707e0ff-09a6-456d-873e-3b6e329b1d6d","name":"Webhook","webhookId":"e6e02b23-5e40-4e17-957f-a0d829375049"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatDeepSeek","typeVersion":1,"position":[-160,2112],"id":"f0344927-adec-4089-9e20-c0d546dfc041","name":"DeepSeek1","credentials":{"deepSeekApi":{"id":"nnHcWmUyC0Gmswgh","name":"DeepSeek account"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[1312,1552],"id":"ed5226c0-02a1-4d0f-a888-96d137996625","name":"Loop Over Items"},{"parameters":{},"type":"n8n-nodes-base.noOp","name":"Replace Me","typeVersion":1,"position":[1776,1600],"id":"683f2606-47df-4f97-b959-44524fdcab49"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"7b777162-9163-4c68-aa18-263615ca6f98","leftValue":"={{\n  (() => {\n    const t = String($json.text || '').trim().toLowerCase();\n\n    // Regex: ^ bắt đầu chuỗi\n    // (?: ... ) nhóm không capture\n    // \\s* khoảng trắng\n    // \\d* cho phép có số xen giữa (ví dụ \"tạo 1 ảnh\")\n    return /^vẽ/.test(t)              // \"vẽ ...\"\n        || /^ve/.test(t)              // \"ve ...\" (không dấu)\n        || /^tạo\\s*\\d*\\s*ảnh/.test(t) // \"tạo ảnh\", \"tạo 1 ảnh\", \"tạo   99 ảnh\"...\n        || /^tao\\s*\\d*\\s*anh/.test(t);// \"tao anh\", \"tao 1 anh\"\n  })()\n}}\n","rightValue":"=true","operator":{"type":"string","operation":"regex"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-720,1696],"id":"754277d9-a992-4680-88ab-4d2eae6079e9","name":"If1"},{"parameters":{"driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"1MMDc6_RuBAWTi3IEjhWfcV8mXgDJBatA","mode":"list","cachedResultName":"n8n","cachedResultUrl":"https://drive.google.com/drive/folders/1MMDc6_RuBAWTi3IEjhWfcV8mXgDJBatA"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-336,1520],"id":"b08c6f36-c6bc-4de8-a156-68c47b034d55","name":"Upload file","notesInFlow":true,"credentials":{"googleDriveOAuth2Api":{"id":"LqceacVZayCNzphl","name":"nguyenvanviet"}}},{"parameters":{"amount":10},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[16,1520],"id":"7ce3ddd5-293a-4d64-8d55-0fe7bca034ef","name":"Wait","webhookId":"48dbf14c-1198-416e-bbd4-9f6d978878d5"},{"parameters":{"operation":"deleteFile","fileId":{"__rl":true,"value":"={{ $('Upload file').first().json.id }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[160,1520],"id":"b1305e4f-3fe1-4ac0-a004-35a8544f3558","name":"Delete a file","notesInFlow":true,"credentials":{"googleDriveOAuth2Api":{"id":"LqceacVZayCNzphl","name":"nguyenvanviet"}}},{"parameters":{"endpointUrl":"http://192.168.1.220:5678/mcp/tracuu","options":{}},"type":"@n8n/n8n-nodes-langchain.mcpClientTool","typeVersion":1.1,"position":[976,1808],"id":"7f839cd3-751b-4b92-a95c-323d9d582b3b","name":"Tra_cuu"},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('data').first().json.chatId }}","tableName":"n8n_zalo_histories"},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[848,1808],"id":"2ff71772-fdce-42aa-b200-17fed45c083a","name":"zalo","credentials":{"postgres":{"id":"vDBK6XLC0TBpoMww","name":"Postgres account"}}},{"parameters":{"model":{"__rl":true,"value":"gemini-2.5-flash","mode":"list","cachedResultName":"gemini-2.5-flash"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[256,1840],"id":"bdad0c00-9889-4a3f-ac0d-f619bc31eecd","name":"gemeni_local","credentials":{"openAiApi":{"id":"0vhR5RV6RzHVkgzl","name":"OpenAi local gemeni"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[608,1776],"id":"e6c2a287-5680-42fc-82e7-fddae02f981f","name":"nguyenviet","credentials":{"googlePalmApi":{"id":"Noq5n0k4rwmKdMBk","name":"tritue"}}},{"parameters":{"jsCode":"// Lấy text dài từ node trước (ví dụ trường output)\nconst raw = $json.output || '';\nconst MAX = 1800; // an toàn dưới 2000\nconst blocks = raw.split(/\\n{2,}/);\nconst parts = [];\nlet buf = '';\n\n// Bỏ ký tự Markdown nhưng giữ nguyên xuống dòng\nfunction stripMarkdown(text) {\n  return text\n    .replace(/[*_~`>#\\[\\](){}.!\\\\-]/g, '')\n    .replace(/[ \\t]{2,}/g, ' '); // Chỉ replace space/tab liên tiếp, không touch \\n\n}\n\nfor (const b of blocks) {\n  const piece = b.trim();\n  if (!piece) continue;\n  \n  if ((buf ? buf + '\\n\\n' + piece : piece).length <= MAX) {\n    buf = buf ? buf + '\\n\\n' + piece : piece;\n    continue;\n  }\n  \n  if (buf) {\n    parts.push(buf);\n    buf = '';\n  }\n  \n  if (piece.length > MAX) {\n    for (let i = 0; i < piece.length; i += MAX) {\n      parts.push(piece.slice(i, i + MAX));\n    }\n  } else {\n    parts.push(piece);\n  }\n}\n\nif (buf) parts.push(buf);\n\nconst total = parts.length;\n\nreturn parts.map((t, i) => ({\n  json: {\n    text: stripMarkdown(t) // Bỏ stripMarkdown khỏi template literal để giữ nguyên format\n  }\n}));"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1088,1536],"id":"b4e04ab4-fa66-415c-b56d-d2dc0222d7c3","name":"chia_nho_phan_hoi"},{"parameters":{"method":"POST","url":"https://bot-api.zapps.me/bot3502200276161491057:pHBAXOPZITPobBuYjCxzkOnlwNzsgePgkoZXtBwSZOWhqhdcxDkXMSpttcGpKHaS/sendMessage","sendBody":true,"bodyParameters":{"parameters":[{"name":"chat_id","value":"={{ $('data').item.json.chatId }}"},{"name":"text","value":"={{ $json.text }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1552,1584],"id":"c1e2e7c7-3317-4417-ac98-0dbb6e358e72","name":"tin_nhan_zalo_bot"},{"parameters":{"method":"POST","url":"http://192.168.1.220:8000/generate","sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"name":"prompt","value":"={{ $json.rawData.body.message.text }}"}]},"options":{"response":{"response":{}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-512,1504],"id":"4fcbace2-c0b7-4218-9f6d-f893d941cd3d","name":"gemeni_anh","retryOnFail":false,"notesInFlow":true},{"parameters":{"method":"POST","url":"https://bot-api.zapps.me/bot3502200276161491057:pHBAXOPZITPobBuYjCxzkOnlwNzsgePgkoZXtBwSZOWhqhdcxDkXMSpttcGpKHaS/sendPhoto","sendBody":true,"bodyParameters":{"parameters":[{"name":"chat_id","value":"={{ $('data').item.json.chatId }}"},{"name":"caption","value":"=Ảnh cần tạo"},{"name":"photo","value":"=https://drive.google.com/uc?id={{ $json.id }}&export=download"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-160,1520],"id":"e98da0d2-1fd0-4e78-8cf7-94de46e18c3d","name":"anh_zalo_bot","notesInFlow":true},{"parameters":{"url":"={{ $json.rawData.body.message.photo_url }}","options":{"response":{"response":{"responseFormat":"file"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-416,1104],"id":"dccdbfb3-088d-44c3-a88f-9c2db3b63b32","name":"lay_data_anh","notesInFlow":true},{"parameters":{"method":"POST","url":"http://192.168.1.220:8000/analyze","sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"name":"prompt","value":"Hãy phân tích bức ảnh sau và mô tả chi tiết nội dung trong ảnh  (cảnh vật, con người, con vật, vật thể, hoạt động, bối cảnh, màu sắc, phong cách)."},{"parameterType":"formBinaryData","name":"file","inputDataFieldName":"data"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-256,1104],"id":"32033adc-dc6d-453c-9006-28c3f04ac56b","name":"phan_tich_anh","notesInFlow":true},{"parameters":{"promptType":"define","text":"=Thời gian hiện tại: {{ $now }}. \nSếp Ben Bắp hỏi: \n{{ $json.text }}","needsFallback":true,"options":{"systemMessage":"# INTELLIGENT AI ASSISTANT - OPERATING INSTRUCTIONS\n\n## Role and Processing Process\nYou are a smart AI assistant serving Boss Ben Bap. When users ask questions, prioritize the use of tools and follow the following process for each request:\n\n1. **ANALYZE REQUEST**: Carefully analyze the user's request\n2. **EVALUATE TOOL**: Determine the most suitable tool\n3. **CHECK DATA**: Verify if the input data is sufficient\n4. **EXECUTION**: Use the selected tool and process the results\n5. **RESPOND**: Create an answer according to the format instructions below\n\n## Answering rules\n- Always reply in the same language as the question. If in Vietnamese, reply in Vietnamese; If in English, respond in English. - State the source of the information\n- Focus on the main issues, keep the content short, clear and easy to read\n- Add the label [AI reasoning] when not using the tool\n- Do not answer questions related to politics, religion, race, region, gender, sexuality (except for image creation, management search)\n- For questions about the origin of AI, respond with \"Boss Ben Bap\"\n- Incorporate current trends and humor to keep the conversation comfortable but not distort the content\n- Maintain a friendly, fun and concise tone, appealing to a younger audience\n- Do not respond with URL tags or markdown because the user's device only supports plain text and emojis\n- After each answer, ask if the user needs anything else, unless they explicitly state that they have no other requests; in such cases, do not ask again. Always place this question at the end of the sentence, ending with a question mark, and do not add any text after it.\n\n## Instructions for Processing by Request Type\n\n### Traffic Fines\n- If you are requesting a traffic fine lookup, use the tool to search for results by vehicle type and license plate number.\n\n### News\n- If asking for information or news, query 15 articles from the database table named vnnew, including columns:\n- title (article title)\n- link (article URL)\n- excerpt (article summary)\n- isodate (timestamp, e.g. 2025-07-13T13:12:00.000Z)\n\n### Weather\n- **Current Weather**: look up weather by province or district and province location → only respond with temperature, feeling, humidity, wind, UV, air quality, current weather description.\n- **Weather Forecast**: look up weather forecast by province or district and province location → only respond with forecast for the next 3 hours and next 3 days.\n### Perpetual Calendar\n- **Look up Perpetual Calendar**: lunar calendar (from solar calendar to lunar calendar) or solar calendar (from lunar calendar to solar calendar), use the tool to look up results\n### Look up information or create images\n- **Look up information**: Search for information according to the search keyword request\n- **Create image**: Create images according to the image creation request"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.1,"position":[688,1536],"id":"75e006be-dbfb-4652-8b13-fa6d6acfaeb9","name":"zalo_bot","retryOnFail":true,"onError":"continueRegularOutput"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.rawData.body.event_name }}","rightValue":"=message.image.received","operator":{"type":"string","operation":"equals"},"id":"095dfe37-a092-4f15-bdb4-e91370baf458"}],"combinator":"and"},"renameOutput":true,"outputKey":"image"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"21406283-4b3f-40b9-86e2-bb5a55c7fbcf","leftValue":"={{ $json.rawData.body.event_name }}","rightValue":"=message.text.received","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"text"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-1264,1408],"id":"a53389a7-a861-4b71-a3e9-e44cfe1f580b","name":"anh_text","notesInFlow":true},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatDeepSeek","typeVersion":1,"position":[736,1792],"id":"a90af9ad-6bd2-45f6-a4b9-8781f2fd0bdf","name":"DeepSeek Chat Model","credentials":{"deepSeekApi":{"id":"nnHcWmUyC0Gmswgh","name":"DeepSeek account"}}},{"parameters":{"method":"POST","url":"https://bot-api.zapps.me/bot3502200276161491057:pHBAXOPZITPobBuYjCxzkOnlwNzsgePgkoZXtBwSZOWhqhdcxDkXMSpttcGpKHaS/sendMessage","sendBody":true,"bodyParameters":{"parameters":[{"name":"chat_id","value":"={{ $('data').item.json.chatId }}"},{"name":"text","value":"={{ $json.text }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-448,1360],"id":"e4f5ebd3-7ffe-40a5-8cf5-d2ed1b88a599","name":"tin_nhan_zalo_bot1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"3d63c89f-cac8-414b-8e17-cceec0250583","leftValue":"={{ $json.rawData.body.message.caption }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1056,1312],"id":"fa8fda6b-9e4a-46c7-a2b1-aa3706fc2fdd","name":"If"},{"parameters":{"assignments":{"assignments":[{"id":"aed72b0e-d959-40d6-b06f-f4688203a53f","name":"yeucau","value":"={{ $json.rawData.body.message.caption }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-240,1264],"id":"98b3b83f-5ea5-4f34-9ab6-5a8e90a8a46e","name":"Edit Fields"},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[-64,1184],"id":"5e3d604d-ef2f-448e-87ca-a692d751d63e","name":"Merge"},{"parameters":{"assignments":{"assignments":[{"id":"f3707980-0046-4a41-b394-765d7bedd38f","name":"text","value":"={{ $('Webhook').first().json.body.message.caption }} {{ $json.text }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[144,1184],"id":"ecf57ce2-44f9-401b-bcc0-95fc472dbbb7","name":"Edit Fields1"},{"parameters":{"url":"={{ $json.rawData.body.message.photo_url }}","options":{"response":{"response":{"responseFormat":"file"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-784,1360],"id":"7d8ca946-7721-491c-95c3-850a6bd07e37","name":"lay_data_anh1","notesInFlow":true},{"parameters":{"method":"POST","url":"http://192.168.1.220:8000/analyze","sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"name":"prompt","value":"Hãy phân tích bức ảnh sau và mô tả chi tiết nội dung trong ảnh  (cảnh vật, con người, con vật, vật thể, hoạt động, bối cảnh, màu sắc, phong cách)."},{"parameterType":"formBinaryData","name":"file","inputDataFieldName":"data"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-624,1360],"id":"bf681fd4-28c9-48ee-bf93-4a19a77aada4","name":"phan_tich_anh1","notesInFlow":true}],"connections":{"data":{"main":[[{"node":"anh_text","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"data","type":"main","index":0}]]},"DeepSeek1":{"ai_languageModel":[[]]},"Loop Over Items":{"main":[[],[{"node":"tin_nhan_zalo_bot","type":"main","index":0}]]},"Replace Me":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"If1":{"main":[[{"node":"gemeni_anh","type":"main","index":0}],[{"node":"zalo_bot","type":"main","index":0}]]},"Upload file":{"main":[[{"node":"anh_zalo_bot","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Delete a file","type":"main","index":0}]]},"Tra_cuu":{"ai_tool":[[{"node":"zalo_bot","type":"ai_tool","index":0}]]},"zalo":{"ai_memory":[[{"node":"zalo_bot","type":"ai_memory","index":0}]]},"gemeni_local":{"ai_languageModel":[[]]},"nguyenviet":{"ai_languageModel":[[{"node":"zalo_bot","type":"ai_languageModel","index":0}]]},"chia_nho_phan_hoi":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"tin_nhan_zalo_bot":{"main":[[{"node":"Replace Me","type":"main","index":0}]]},"gemeni_anh":{"main":[[{"node":"Upload file","type":"main","index":0}]]},"anh_zalo_bot":{"main":[[{"node":"Wait","type":"main","index":0}]]},"lay_data_anh":{"main":[[{"node":"phan_tich_anh","type":"main","index":0}]]},"phan_tich_anh":{"main":[[{"node":"Merge","type":"main","index":0}]]},"zalo_bot":{"main":[[{"node":"chia_nho_phan_hoi","type":"main","index":0}]]},"anh_text":{"main":[[{"node":"If","type":"main","index":0}],[{"node":"If1","type":"main","index":0}]]},"DeepSeek Chat Model":{"ai_languageModel":[[{"node":"zalo_bot","type":"ai_languageModel","index":1}]]},"If":{"main":[[{"node":"lay_data_anh","type":"main","index":0},{"node":"Edit Fields","type":"main","index":0}],[{"node":"lay_data_anh1","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Merge":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"zalo_bot","type":"main","index":0}]]},"lay_data_anh1":{"main":[[{"node":"phan_tich_anh1","type":"main","index":0}]]},"phan_tich_anh1":{"main":[[{"node":"tin_nhan_zalo_bot1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"9bb0138d-310f-4cd3-8d84-b938e18221d8","triggerCount":1,"shared":[{"createdAt":"2025-08-24T10:03:14.317Z","updatedAt":"2025-08-24T10:03:14.317Z","role":"workflow:owner","workflowId":"l5lBkVLVzC0OwWFe","projectId":"Bsx4kBdHQHZGGC5J"}],"tags":[]}