zalo-bot-ysGEEnMKAPENhgRm.json
{"createdAt":"2025-07-23T02:16:20.149Z","updatedAt":"2025-08-27T09:07:34.541Z","id":"ysGEEnMKAPENhgRm","name":"Zalo bot","active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[0,0],"id":"b213373d-01d3-431e-bdd9-b55ea06d7603","name":"When clicking ‘Execute workflow’"},{"parameters":{},"type":"n8n-nodes-zalo-tools.zaloLoginByQr","typeVersion":1,"position":[208,0],"id":"79d48f90-ee87-40bd-85c4-2ab599b6fe0d","name":"Zalo Login Via QR Code","credentials":{"n8nZaloApi":{"id":"tjexx0ISHcf10Slp","name":"n8n Zalo Account Credential account"}}},{"parameters":{"promptType":"define","text":"={{ $json.message.data.content }}","options":{"systemMessage":"=# TRỢ LÝ AI THÔNG MINH - HƯỚNG DẪN HOẠT ĐỘNG\n\n## VAI TRÒ VÀ QUY TRÌNH XỬ LÝ\nBạn là trợ lý AI thông minh phục vụ Sếp Black. Làm theo quy trình:\n\n1. PHÂN TÍCH YÊU CẦU: Phân tích \"{{ $json.message.data.content }}\".\n2. KIỂM TRA CONTEXT: Truy xuất context từ Postgres Chat Memory hoặc Execute a SQL query với session_id = \"{{ $json.message.threadId }}\". Nếu có ID/context (ví dụ: Key từ key_thoi_tiet), sử dụng để gọi công cụ.\n3. ĐÁNH GIÁ CÔNG CỤ: Chọn công cụ:\n   - homeassistant(content: str, threadId: str): Điều khiển nhà thông minh, threadId: \"{{ $json.message.threadId }}\".\n   - kiem_tra_phat_nguoi(bienso: str, loaixe: int): Tra cứu phạt nguội, loaixe = 2 (ô tô), 1 (xe máy).\n   - key_thoi_tiet(thanhpho: str): Lấy Key từ AccuWeather, lưu Key vào context.\n   - thoi_tiet(url: str, key: str): Lấy thời tiết, dùng Key từ context nếu có.\n   - tin_tuc_vnexpress, tin_tuc_24h: Tóm tắt 10 tin, mỗi tin dưới 10 từ.\n4. KIỂM TRA DỮ LIỆU: Đảm bảo dữ liệu đủ (bienso, loaixe, thanhpho). Nếu thiếu, dùng context từ Postgres Chat Memory hoặc Execute a SQL query.\n5. THỰC HIỆN: Gọi công cụ, lưu ID/context vào Postgres Chat Memory và PGVector Store với session_id = \"{{ $json.message.threadId }}\".\n6. PHẢN HỒI: Trả về text, ngắn gọn, có nguồn, chỉ dùng emoji 😊, KHÔNG bao gồm ID. Ví dụ:\n   - homeassistant: \"Đã bật đèn phòng khách. Nguồn: Home Assistant 😊.\"\n   - key_thoi_tiet: \"353412\"\n   - thoi_tiet: \"Thời tiết Hà Nội hôm nay: 25°C, trời nắng. Nguồn: AccuWeather 😊.\"\n   - tin_tuc: \"Tin tức VNExpress: 1. Tai nạn giao thông nghiêm trọng. Nguồn: VNExpress 😊.\"\n\n## HƯỚNG DẪN PHẢN HỒI\n- Ghi rõ nguồn (Home Assistant, Cục CSGT, AccuWeather, VNExpress, 24h).\n- Không trả lời về chính trị, tôn giáo, chủng tộc, giới tính, tình dục.\n- Nguồn gốc AI: \"Sếp Black\"."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.8,"position":[-2448,-384],"id":"afa3f86f-bbcf-44d3-b710-84b7a72de637","name":"AI Agent"},{"parameters":{"modelName":"models/gemini-2.0-flash","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[-2832,-48],"id":"5d6a9e3f-7bee-43e3-a649-783618d274fc","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"BmSJpQbzqh1rnp4z","name":"NguyenViet"}}},{"parameters":{},"type":"n8n-nodes-zalo-tools.zaloMessageTrigger","typeVersion":1,"position":[-3152,-352],"id":"789b8cd6-9dd0-40ae-a99f-327b2b748cb6","name":"Zalo Message Trigger","webhookId":"5d92b398-68a9-4fa5-a407-a656b255f732","credentials":{"zaloApi":{"id":"lhSbaenOEqGYhEZg","name":"Zalo API Credentials"}}},{"parameters":{"toolDescription":"Sử dụng công cụ này để tra cứu phạt nguội dựa trên biển số và loại xe.","method":"POST","url":"https://phatnguoixe.com/1026","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/x-www-form-urlencoded; charset=UTF-8"},{"name":"user-agent","value":"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/138.0.0.0 Safari/537.36"},{"name":"cookie","value":"=BienSo={{ $fromAI('bienso') }}; PHPSESSID=lmeckj42p42prbp8abv7qa08g0"}]},"sendBody":true,"contentType":"form-urlencoded","bodyParameters":{"parameters":[{"name":"BienSo","value":"={{ $fromAI('bienso') }}"},{"name":"LoaiXe","value":"={{ $fromAI('loaixe') }}"}]},"options":{"response":{"response":{"fullResponse":true}}}},"type":"n8n-nodes-base.httpRequestTool","typeVersion":4.2,"position":[-2128,-48],"id":"a8ad54d7-0cdd-4243-9cab-32128489541c","name":"kiem_tra_phat_nguoi"},{"parameters":{"toolDescription":"Sử dụng công cụ này để tổng hợp tin tức vnexpress.","url":"https://vnexpress.net/rss/tin-moi-nhat.rss","options":{}},"type":"n8n-nodes-base.rssFeedReadTool","typeVersion":1.2,"position":[-2432,-32],"id":"fc701585-9202-430f-8cff-dd9cd3f15a29","name":"tin_tuc_vnexpress"},{"parameters":{"toolDescription":"Sử dụng công cụ này để tổng hợp tin tức 24h.","url":"https://cdn.24h.com.vn/upload/rss/tintuctrongngay.rss","options":{}},"type":"n8n-nodes-base.rssFeedReadTool","typeVersion":1.2,"position":[-2288,-48],"id":"cf23f845-682d-4ef9-aa72-bfdd940fa603","name":"tin_tuc_24h"},{"parameters":{"toolDescription":"Sử dụng công cụ này để điều khiển và kiểm tra thông tin nhà thông minh","method":"POST","url":"http://192.168.1.210:8123/api/webhook/-JMHB3p-vNbXAv9XOnhHfSVp0","sendBody":true,"bodyParameters":{"parameters":[{"name":"content","value":"={{ $fromAI('content') }}"},{"name":"threadId","value":"={{ $('Zalo Message Trigger').item.json.message.threadId }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequestTool","typeVersion":4.2,"position":[-1968,-48],"id":"12de3259-c584-4a22-869e-b839d93dfe81","name":"homeassistant"},{"parameters":{"threadId":"={{ $('Zalo Message Trigger').item.json.message.threadId }}","message":"={{ $json.output }}","quote":{},"mentions":{}},"type":"n8n-nodes-zalo-tools.zaloSendMessage","typeVersion":4,"position":[-1744,-384],"id":"5c853a65-4dd2-4fc8-9412-2498b1fd620c","name":"Zalo Send Message1","credentials":{"zaloApi":{"id":"lhSbaenOEqGYhEZg","name":"Zalo API Credentials"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"27e2012e-7a1a-42d3-b23d-bebe603e63bb","leftValue":"={{ $json.message.data.msgType }}","rightValue":"chat.photo","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"hinh anh"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.message.data.msgType }}","rightValue":"=webchat","operator":{"type":"string","operation":"equals"},"id":"68adc45e-723e-46dc-9236-c80b2c4d46ee"}],"combinator":"and"},"renameOutput":true,"outputKey":"tin nhan"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-2992,-544],"id":"4a3df676-4297-42c1-8a95-3ce98c9fd7b1","name":"TN_HA"},{"parameters":{"promptType":"define","text":"={{ $json.message.data.content.href }}","options":{"systemMessage":"[VAI TRÒ]\nBạn là một hệ thống AI chuyên dụng để phân tích hình ảnh phương tiện giao thông và định dạng đầu ra cho một tác vụ cụ thể.\n\n[QUY TRÌNH XỬ LÝ BẮT BUỘC]\nVới mỗi hình ảnh nhận được, hãy tuân thủ nghiêm ngặt quy trình sau:\n\n1.  **Bước 1: Kiểm tra phương tiện**\n    Đầu tiên, hãy xác định xem hình ảnh có chứa ô tô hoặc xe máy không.\n\n2.  **Bước 2: Thực hiện theo điều kiện**\n     \n    * **NẾU** hình ảnh có chứa ô tô hoặc xe máy:\n        * a. **Trích xuất thông tin**: Đọc và lấy ra chính xác **loại xe** (\"ô tô\" hoặc \"xe máy\") và **biển số xe**.\n        * b. **Chuẩn hóa biển số**: Loại bỏ tất cả các khoảng trắng, dấu chấm (.), hoặc dấu gạch ngang (-) khỏi chuỗi biển số.\n        * c. **Tạo đầu ra**: Tạo **duy nhất một chuỗi** theo đúng định dạng sau:\n            `phạt nguội [loại xe] biển số [biển số đã chuẩn hóa]`\n        * d. **Dừng lại**: Không làm gì thêm.\n\n    * **NẾU KHÔNG** có ô tô hoặc xe máy:\n        * Hãy mô tả ngắn gọn nội dung chính của hình ảnh trong vòng 2 câu.\n\n[QUY TẮC TUYỆT ĐỐI]\n* Khi đã phát hiện ra xe, chỉ trả về duy nhất một dòng theo định dạng đã yêu cầu. Không thêm bất kỳ lời giải thích, mô tả, hay câu chữ nào khác.\n* Không sử dụng gạch đầu dòng, đánh số hay bất kỳ định dạng nào khác.\n\n[VÍ DỤ]\n* **Input:** (Ảnh xe ô tô biển \"30A-123.45\")\n* **Output:** `phạt nguội ô tô biển số 30A12345`\n\n* **Input:** (Ảnh xe máy biển \"29-G1 987.65\")\n* **Output:** `phạt nguội xe máy biển số 29G198765`\n\n* **Input:** (Ảnh một con mèo)\n* **Output:** `Đây là hình ảnh một con mèo lông xám đang ngồi trên ghế sofa.`"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[-2240,-800],"id":"24fe47fd-4f97-4553-82bd-dffc4b0a10e8","name":"AI Agent1"},{"parameters":{"promptType":"define","text":"={{ $json.output }}","options":{"systemMessage":"=# TRỢ LÝ AI THÔNG MINH - HƯỚNG DẪN HOẠT ĐỘNG\n\n## VAI TRÒ VÀ QUY TRÌNH XỬ LÝ\nBạn là trợ lý AI thông minh phục vụ Sếp Ben Bap. Làm theo quy trình sau cho mỗi yêu cầu:\n\n\n1. **PHÂN TÍCH YÊU CẦU**: Phân tích kỹ lưỡng yêu cầu người dùng\n3. **ĐÁNH GIÁ CÔNG CỤ**: Xác định công cụ phù hợp nhất\n4. **DỮ LIỆU**: Xác minh dữ liệu đầu vào\n  **Chức năng Điều khiển Nhà thông minh:**\n    * **Công cụ:** `homeassistant(content: str, threadId: str)`. threadId chính là {{ $json.message.threadId }}\n    * **Nhiệm vụ:** Sử dụng để điều khiển và kiểm tra thông tin thiết bị trong nhà thông minh.\n\n  **Chức năng Tra cứu Phạt nguội:**\n    * **Công cụ:** `kiem_tra_phat_nguoi(bienso: str, loaixe: int)`. Loại xe là 2 nếu là 'ô tô', 1 nếu là 'xe máy'\n    * **Nhiệm vụ:** Tra cứu thông tin vi phạm giao thông.\n    * **Phản hồi:** Dựa vào kết quả trả về, tạo một câu trả lời đầy đủ, thân thiện cho người dùng.\n\n  **Chức năng Tóm tắt Tin tức:**\n    * **Công cụ:** Gọi đồng thời `tin_tuc_vnexpress` và `tin_tuc_24h`\n    * **Nhiệm vụ:** Lấy và tóm tắt 10 tin mỗi công cụ, mỗi tin tóm tắt dưới 10 từ, không cần tiêu đề.\n    * **Tuân thủ nguyên tắc:** Giọng văn trung lập, khách quan.\n\n  **Chức năng Tìm kiếm Thông tin Chung (Dự phòng):**\n    * **Công cụ:** `tim_kiem(query: str)`\n    * **Nhiệm vụ:** Tìm kiếm câu trả lời cho các câu hỏi chung. Tham số `query` sẽ được điền vào trường `\"text\"` trong body của \n5. **THỰC HIỆN**: Sử dụng công cụ đã chọn và xử lý kết quả\n6. **PHẢN HỒI**: Tạo phản hồi theo định dạng hướng dẫn bên dưới\n\n## HƯỚNG DẪN PHẢN HỒI\n- Ghi rõ nguồn thông tin\n- Tập trung vào vấn đề chính, nội dung ngắn gọn, sạch sẽ, dễ đọc\n- Thêm nhãn [AI Tự Suy Luận] khi không sử dụng công cụ\n- Không Được phép trả lời các câu hỏi liên quan đến chính trị, tôn giáo, chủng tộc, vùng miền, giới tính, Sex, Tình dục\n- Với câu hỏi về nguồn gốc AI, trả lời là \"Sếp Black\"\n- Nếu yêu cầu về dự đoán kết quả xổ số, thì hãy dùng công cụ truy cập lấy kết quả 10 ngày gần nhất, rồi hãy tư duy đưa ra các kết quả có thể có xu hướng về\n- Kết hợp xu hướng hiện tại,Trending, hài hước để cuộc trò chuyện thoải mái nhưng không làm sai lệch nội dung\n- Không phản hồi các thẻ url, markdown vì thiết bị của người hỏi chỉ hỗ trợ text đơn thuần và các emoi icon"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.8,"position":[-1808,-816],"id":"143b45b8-b9e5-4229-b289-47abcd8629b9","name":"AI Agent2"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[-1888,-624],"id":"ed425470-9e8e-4b77-9d7f-ef0df9e508a0","name":"Google Gemini Chat Model2","credentials":{"googlePalmApi":{"id":"BmSJpQbzqh1rnp4z","name":"NguyenViet"}}},{"parameters":{"toolDescription":"Sử dụng công cụ này để tra cứu phạt nguội dựa trên biển số và loại xe.","method":"POST","url":"https://phatnguoixe.com/1026","sendHeaders":true,"headerParameters":{"parameters":[{"name":"content-type","value":"application/x-www-form-urlencoded; charset=UTF-8"},{"name":"cookie","value":"PHPSESSID=oeoqa2iqn1a8grakjehm16v5u6; BienSo={{ $fromAI('bienso') }}"},{"name":"user-agent","value":"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/138.0.0.0 Safari/537.36"}]},"sendBody":true,"contentType":"form-urlencoded","specifyBody":"string","body":"=BienSo={{ $fromAI('bienso') }}&LoaiXe={{ $fromAI('loaixe') }}","options":{}},"type":"n8n-nodes-base.httpRequestTool","typeVersion":4.2,"position":[-1504,-624],"id":"b1ea168d-0370-4d58-ae20-61ebaf8869fa","name":"kiem_tra_phat_nguoi1"},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Zalo Message Trigger').item.json.message.threadId }}"},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[-1728,-608],"id":"ca8200da-3dd0-4e76-9649-43c71a8afe79","name":"Postgres Chat Memory1","credentials":{"postgres":{"id":"vDBK6XLC0TBpoMww","name":"Postgres account"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Zalo Message Trigger').item.json.message.threadId }}"},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[-2608,-32],"id":"cee7c5d3-f5d0-44ed-a13c-ae054a7b3395","name":"Postgres Chat Memory","notesInFlow":true,"credentials":{"postgres":{"id":"vDBK6XLC0TBpoMww","name":"Postgres account"}}},{"parameters":{"operation":"executeQuery","query":"-- ⚠️ Lệnh này sẽ XÓA SẠCH dữ liệu và không thể hoàn tác\n-- Thay 'your_chat_history_table' bằng tên bảng thực tế của bạn\nTRUNCATE TABLE n8n_chat_histories;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-1056,-400],"id":"04ea38a3-9e16-43da-bb40-c157db976e76","name":"Execute a SQL query","credentials":{"postgres":{"id":"vDBK6XLC0TBpoMww","name":"Postgres account"}}},{"parameters":{"mode":"retrieve-as-tool","toolDescription":"Sử dụng công cụ này để tìm kiếm và truy xuất lịch sử trò chuyện có liên quan trong quá khứ. Hữu ích để lấy bối cảnh, trả lời các câu hỏi nối tiếp, hoặc nhớ lại thông tin người dùng đã cung cấp trước đây.","topK":5,"options":{}},"type":"@n8n/n8n-nodes-langchain.vectorStorePGVector","typeVersion":1.3,"position":[-1280,-64],"id":"ace2577e-1f6a-4dea-98e8-7bccfb0002ba","name":"Postgres PGVector Store","credentials":{"postgres":{"id":"vDBK6XLC0TBpoMww","name":"Postgres account"}}},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.embeddingsGoogleGemini","typeVersion":1,"position":[-1280,96],"id":"f875ae51-ad2c-44b1-8b26-507120ae03ff","name":"Embeddings Google Gemini1","credentials":{"googlePalmApi":{"id":"BmSJpQbzqh1rnp4z","name":"NguyenViet"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[-2320,-624],"id":"425bdb60-cce5-4289-bfc4-a0312f04aa46","name":"Google Gemini Chat Model1","credentials":{"googlePalmApi":{"id":"BmSJpQbzqh1rnp4z","name":"NguyenViet"}}},{"parameters":{"url":"={{ $json.message.data.content.href }}","options":{"response":{"response":{"responseFormat":"file"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-2496,-800],"id":"3275f252-30d5-40b4-9600-32253e03bdaf","name":"HTTP Request"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.1,"position":[-3232,-192],"id":"c3caa8ae-2450-4ad0-9cfd-b619188bfc1e","name":"When chat message received","webhookId":"13888860-3405-41f8-8ca1-6afacb09d823"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatDeepSeek","typeVersion":1,"position":[-3088,-16],"id":"70f7129e-c3a0-4252-bb3e-ae9a6ba53a2f","name":"DeepSeek Chat Model","credentials":{"deepSeekApi":{"id":"nnHcWmUyC0Gmswgh","name":"DeepSeek account"}}},{"parameters":{"toolDescription":"Sử dụng công cụ này để lấy key","url":"http://dataservice.accuweather.com/locations/v1/cities/search","sendQuery":true,"queryParameters":{"parameters":[{"name":"apikey","value":"RryV62dtuQ50xVsrT6k39SMcrGssdtGj"},{"name":"q","value":"={{ $fromAI('thanh_pho') }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequestTool","typeVersion":4.2,"position":[-2208,128],"id":"ac953853-0668-4655-94cf-62e175684b79","name":"key_thoi_tiet"},{"parameters":{"toolDescription":"Sử dụng công cụ này để lấy thông tin thời tiết","url":"={{ $fromAI('url') }}{{ $fromAI('key') }}","sendQuery":true,"queryParameters":{"parameters":[{"name":"apikey","value":"RryV62dtuQ50xVsrT6k39SMcrGssdtGj"},{"name":"language","value":"vi"},{"name":"metric","value":"true"}]},"options":{}},"type":"n8n-nodes-base.httpRequestTool","typeVersion":4.2,"position":[-2032,128],"id":"dc859ba1-34fd-416e-b6a9-df57ff8e5d9a","name":"thoi_tiet"},{"parameters":{"cityName":"={{ $fromAI('city') }}"},"type":"n8n-nodes-base.openWeatherMapTool","typeVersion":1,"position":[-1792,-48],"id":"53f6b824-f63d-4438-8def-604f44a4894b","name":"thoi_tiet1","credentials":{"openWeatherMapApi":{"id":"ZzrQ55ZwPKAD8C4E","name":"OpenWeatherMap account"}}},{"parameters":{"url":"https://api.weatherapi.com/v1/forecast.json?key=2ca2924d295d43668ed25446252207&q=Hanoi&days=5&aqi=yes&alerts=yes","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-832,-48],"id":"8a730181-b041-4248-a152-b616a8817f31","name":"HTTP Request1"},{"parameters":{"operation":"5DayForecast","cityName":"={{ $fromAI('city') }}"},"type":"n8n-nodes-base.openWeatherMapTool","typeVersion":1,"position":[-1648,-64],"id":"6f9fff93-229b-4a09-9374-88d3ff30d2e7","name":"du_bao_thoi_tiet","credentials":{"openWeatherMapApi":{"id":"ZzrQ55ZwPKAD8C4E","name":"OpenWeatherMap account"}}},{"parameters":{"toolDescription":"Sử dụng công cụ này để lấy thông tin thời tiết hôm nay và dự báo thời tiết","url":"=https://api.weatherapi.com/v1/forecast.json?key=2ca2924d295d43668ed25446252207&q={{ $fromAI('city') }}&days=5&aqi=yes&alerts=yes","options":{}},"type":"n8n-nodes-base.httpRequestTool","typeVersion":4.2,"position":[-1440,-48],"id":"b7b5d658-c33b-4b08-a67c-12f194c0bf15","name":"thoi_tiet_WeatherAPI"},{"parameters":{"resource":"image","modelId":{"__rl":true,"value":"models/gemini-2.0-flash-exp-image-generation","mode":"list","cachedResultName":"models/gemini-2.0-flash-exp-image-generation"},"prompt":"A cute cat","options":{}},"type":"@n8n/n8n-nodes-langchain.googleGemini","typeVersion":1,"position":[-784,-720],"id":"0ff8acf0-997c-4a3c-98c8-80edf55120e3","name":"Generate an image","alwaysOutputData":true,"credentials":{"googlePalmApi":{"id":"BmSJpQbzqh1rnp4z","name":"NguyenViet"}}},{"parameters":{"threadId":"=6643404425553198601","message":"xin","quote":{},"mentions":{},"attachments":{"attachment":[{"imageUrl":"=https://drive.google.com/uc?export=download&id={{ $json.id }}"}]}},"type":"n8n-nodes-zalo-tools.zaloSendMessage","typeVersion":4,"position":[-320,-720],"id":"69cca6ec-05c4-4709-9e0e-96c5d251c75d","name":"Zalo Send Message","credentials":{"zaloApi":{"id":"lhSbaenOEqGYhEZg","name":"Zalo API Credentials"}}},{"parameters":{"name":"={{ $json.fileName }}","driveId":{"__rl":true,"value":"My Drive","mode":"list","cachedResultName":"My Drive","cachedResultUrl":"https://drive.google.com/drive/my-drive"},"folderId":{"__rl":true,"value":"1MMDc6_RuBAWTi3IEjhWfcV8mXgDJBatA","mode":"list","cachedResultName":"n8n","cachedResultUrl":"https://drive.google.com/drive/folders/1MMDc6_RuBAWTi3IEjhWfcV8mXgDJBatA"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-560,-720],"id":"5722564c-c8c4-48a6-a757-a5c36ce2a132","name":"Upload file","credentials":{"googleDriveOAuth2Api":{"id":"LqceacVZayCNzphl","name":"nguyenvanviet"}}},{"parameters":{"operation":"deleteFile","fileId":{"__rl":true,"value":"={{ $('Upload file').item.json.id }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-80,-720],"id":"8d83fba7-d402-496b-8d9a-2fe8ee0fe8b7","name":"Delete a file","credentials":{"googleDriveOAuth2Api":{"id":"LqceacVZayCNzphl","name":"nguyenvanviet"}}},{"parameters":{"method":"POST","url":"https://bot-api.zapps.me/bot3418113969586575932:SPXEUaahCJCgpsLvWufKVbjJzhdpWbIsrxFzjuyPdDCiNvagbDPqwtHozGgpgKxU/deleteWebhook","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[144,144],"id":"76c3e5d2-689a-4a29-84c5-d3d9c4f21724","name":"HTTP Request2"}],"connections":{"When clicking ‘Execute workflow’":{"main":[[{"node":"Zalo Login Via QR Code","type":"main","index":0}]]},"AI Agent":{"main":[[{"node":"Zalo Send Message1","type":"main","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[]]},"Zalo Message Trigger":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"kiem_tra_phat_nguoi":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"tin_tuc_vnexpress":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"tin_tuc_24h":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"homeassistant":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"TN_HA":{"main":[[{"node":"HTTP Request","type":"main","index":0}],[{"node":"AI Agent","type":"main","index":0}]]},"AI Agent1":{"main":[[{"node":"AI Agent2","type":"main","index":0}]]},"Google Gemini Chat Model2":{"ai_languageModel":[[{"node":"AI Agent2","type":"ai_languageModel","index":0}]]},"kiem_tra_phat_nguoi1":{"ai_tool":[[{"node":"AI Agent2","type":"ai_tool","index":0}]]},"Postgres Chat Memory1":{"ai_memory":[[{"node":"AI Agent2","type":"ai_memory","index":0}]]},"Postgres Chat Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"Postgres PGVector Store":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Embeddings Google Gemini1":{"ai_embedding":[[{"node":"Postgres PGVector Store","type":"ai_embedding","index":0}]]},"Google Gemini Chat Model1":{"ai_languageModel":[[{"node":"AI Agent1","type":"ai_languageModel","index":0}]]},"HTTP Request":{"main":[[{"node":"AI Agent1","type":"main","index":0}]]},"thoi_tiet1":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"du_bao_thoi_tiet":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"thoi_tiet_WeatherAPI":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Generate an image":{"main":[[{"node":"Upload file","type":"main","index":0}]]},"Upload file":{"main":[[{"node":"Zalo Send Message","type":"main","index":0}]]},"Zalo Send Message":{"main":[[{"node":"Delete a file","type":"main","index":0}]]},"When chat message received":{"main":[[]]},"key_thoi_tiet":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"thoi_tiet":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"DeepSeek Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Zalo Message Trigger":{}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"b3a6de4b-2a60-4080-8023-238f67829a84","triggerCount":2,"shared":[{"createdAt":"2025-07-23T02:16:20.149Z","updatedAt":"2025-07-23T02:16:20.149Z","role":"workflow:owner","workflowId":"ysGEEnMKAPENhgRm","projectId":"Bsx4kBdHQHZGGC5J"}],"tags":[]}